[2018-05-29 12:06] #2360 closed

[2018-05-29 12:29] dietmarw commented on #2343
Reopening so that the case comments can be corrected.

[2018-05-29 12:37] casella commented on #2374
I am not aware such medium model was ever part of Modelica.Media. Maybe that was a reference to a local modified version of Modelica.Media that never went into the official repository and was consequently commented out from the plant model code. I removed that reference in #2559 to avoid confusion in the future.

Of course it would be possible to locally define a medium model with the properties o

[2018-05-29 12:37] #2374 closed

[2018-05-29 12:53] christiankral opened #2560 "Change units of potential quanities in connectors to potential units"
The electrical and magnetic potentials of some connector definition use a potential difference in the connector definitions. This seems
1. awkward, since it the potential quantities shall be defined using a potential definition,
2. not necessary, since potential and potential difference definitions are identical

The change is fully backwards compatible and shall be applied to the upcoming MSL 3.2

[2018-05-29 13:05] #2343 closed

[2018-05-29 13:06] casella commented on #2304
Conceptually, this is a trivial fix, but in practice it is quite tedious and it is easy to mess up. Furthermore, I don't see any test model in the MSL to check if the results are the same.

@wischhusen would you be available to take care of this issue (possibly also for the next minor release)?

[2018-05-29 13:14] casella commented on #1900
With the current tolerance setting (which is standardized), the model works both in Dymola and OpenModelica. I guess these models are numerically sensitive by their very nature, since distributed friction is quite low compared to absolute pressures.

I would attempt a structural fix (e.g. using delta-p as preferred states) if the issue was severe, but I reckon a tolerance of 1e-5 for this kind of

[2018-05-29 13:14] #1900 closed

[2018-05-29 13:17] beutlich commented on #2346
Reschudling milestone.

[2018-05-29 13:30] beutlich commented on #1898
@casella I retrieved the original attachment from https://trac.modelica.org/Modelica/attachment/ticket/1898 and attached it above.

[2018-05-29 15:56] casella commented on #1898
I ran the test case with Dymola and I can basically confirm my former diagnosis. The two iteration variables are
- pump.medium.T
- pump.port_a.m_flow

and the two residual equations are the pump head-mass flow relationship and the energy balance

      0 = pump.head-homotopy((pump.N/pump.N_nominal)^2*pump.flowCharacteristic_Unique'"pump"'
        (pump.V_flow_single*pump.N_nominal/pump.N, {1.36E-0

[2018-05-29 18:49] #2430 closed

[2018-05-29 19:27] #2560 closed

[2018-05-30 04:49] AHaumer opened #2565 "Release notes 3.2.3"
We shouldn't forget the release notes ...

[2018-05-30 06:33] AHaumer commented on #2565
Do you really mean "clean-up" with such a lot of improvements and new models (not big fixes)?

[2018-05-30 09:35] AHaumer commented on #2565
Dietmar suggested to use my PR #2566 to fill in all contributions to the release notes, and merge them when they're finished.

[2018-05-30 09:37] dietmarw commented on #2565
This issue can be closed since we have #2566  to deal with the release notes.

[2018-05-30 11:21] tobolar opened #2569 "Default component name for adaptors"
Flow to potential adaptors (and potential to flow) have different settings concerning default component name. In particular:
- `GeneralCurrentToVoltageAdaptor` and `GeneralVoltageToCurrentAdaptor` have no defaut names,
- `GeneralAngleToTorqueAdaptor` and `GeneralTorqueToAngleAdaptor` have default names omitting "general" prefix,
- `GeneralPositionToForceAdaptor` and `GeneralForceToPositionAdaptor`

[2018-05-30 11:57] HansOlsson commented on #1898
@casella  wrote "In principle, once flow reversal has been excluded, it should be possible to compute rho as a function of fixed variables, but apparently the tool cannot figure this out."

Note that rho and temperature cannot be directly computed but are part of a non-linear system of equations that depends on the pressure drop (which as default is zero).

For the default configuration (1.01325 b

[2018-05-30 12:57] AHaumer commented on #2569
see PR #2570

[2018-06-01 07:55] sjoelund opened #2572 "Add syntax checks for pull requests"
I think it would be useful to have syntax checking setup to verify that all pull requests are at least a little bit sane. We could do this using some free service like Travis, or I could offer to build using Jenkins on the openmodelica.org servers since a syntax checking job is quite low on resources (the only advantage is pulling docker images faster since we cache them; travis has the advantage

[2018-06-01 08:09] beutlich commented on #2572
I am all in and enabled https://travis-ci.org/modelica/ModelicaStandardLibrary. Can you send a PR adding the .travis.yml file (note the leading dot). Thanks.

@thorade FYI

[2018-06-01 10:09] perost opened #2574 "Potentially illegal conditional components in Fluid.Vessels"
`Modelica.Fluid.Vessels.BaseClasses.PartialLumpedVessel` contains the following conditional components (type names shortened for readability):
[code]
`portsData` is in turn declared as:
[code]
The issue with this is that when `use_portsData = false` then `portsData` will be an array with 0 elements while the conditional variables above will have `nPorts` elements, leading to a type mismatch betwee

[2018-06-01 11:09] perost commented on #2574
I guess a simple fix could be to just use the declare the conditional components to have the same dimensions as `portsData`, i.e. `if use_portsData then nPorts else 0`.

[2018-06-01 12:43] #2572 closed

[2018-06-02 01:02] dietmarw opened #2578 "Models and documentation link to non-existing "Plane" model"
There are references made to `Modelica.Mechanics.MultiBody.Visualizers.Plane` which does not seem to exist.

1. The obsolete model `Modelica.Mechanics.MultiBody.Visualizers.Ground` points to the non-existing Plane model as alternative.
2. The documentation of `Modelica.Mechanics.MultiBody.Visualizers.Advanced.SurfaceCharacteristics.rectangle` links to that non-existing Plane model

[2018-06-04 09:52] #2578 closed

[2018-06-05 07:15] christiankral commented on #2560
What is the better wording of a connector definition?

1. `Potential at the pin` (currently used)
2. `Potential of pin`
3. `Potential of the pin` (better grammar, possibly)

I think it makes sense to unify the wording of the electrical and magnetic connectors -- as they appear all so different...

[2018-06-05 07:28] dietmarw commented on #2560
My vote would be "3.".

[2018-06-05 07:40] harmanpa commented on #2560
My vote would be "1"

[2018-06-05 07:42] beutlich commented on #2565
It will be closed automatically once #2566 is merged. Otherwise it is just confusing to tell if this is fixed or not.

[2018-06-05 08:16] HansOlsson commented on #2560
I tried to look and "potential of the" can risk confusion with another use of this - e.g. "potential of the field generated by a point source" (which is quite different).

"potential at the pin" avoid that problem (proposal 1).

[2018-06-05 08:22] dietmarw commented on #2560
...but "1." would be also fine for me. :-)

[2018-06-05 09:06] christiankral commented on #2560
Thanks, I'll go for 1. :+1:

[2018-06-05 09:09] christiankral commented on #2560
What is the correct spelling of quasi-static?

1. quasistatic
2. quasi static
3. quasi-static (provided by http://www.electropedia.org/iev/iev.nsf/display?openform&ievref=113-04-08)

@harmanpa you please help here?

[2018-06-05 09:28] harmanpa commented on #2560
I've done a quick poll of those sat near me and we say "quasi-static"

[2018-06-05 10:57] christiankral commented on #2560
Thanks a lot. I will use quasi-static then.

[2018-06-05 13:45] dietmarw commented on #340
Is this issue now resolved. It looks like it to me?

[2018-06-05 14:05] tobolar commented on #340
I don't believe so. It is aimed for next major version at the earliest.

[2018-06-05 14:26] dietmarw commented on #340
Ah yes of course. I only saw the latest additions.

[2018-06-05 15:34] dietmarw opened #2590 "Remove obsolete parameter "limitsAtInit""
During work on #2561 it was noticed that some blocks still contain the obsolete parameter `limitsAtInit` which can be removed in the next MAJOR version. See also
153352f08676b88dd9c845fa02157a24a2bc5711 for some additional info on this.

[2018-06-05 16:00] MartinOtter commented on #2189
I changed label "bug" to "enhancement", because the model seems to be correct. The enhancement is to improve efficiency by selecting StateSelect.always.
I assigned also Toni, because he should analyze the motor model whether it could be improved.
I am a bit reluctant to use the suggested solution of StateSelect.always, because it is not completely obvious for me that the suggested state will work

[2018-06-05 16:14] HansOlsson commented on #1898
Part of the Jacobian issue is related to the pump-characteristics lacking derivative-information; but there is more to it.

However, there is more to the Jacobian-issue (have not fully analyzed it) - and I don't see that we should rush it for the coming release.

[2018-06-05 16:44] MartinOtter commented on #2243
I am analysing this model since some time and do not understand why initial conditions are missing. For example, Dymola reports missing initial condition for start.table.y. However, there are the continuous time equations:
[code]
This means start.table.y is well-defined also during initiatialization. This might be an issue with the tool. Therefore, I have added Hans as further Assignee.

[2018-06-05 16:45] HansOlsson commented on #2243
I have soon made the pull request.

[2018-06-05 19:32] #2569 closed

[2018-06-07 07:49] HansOlsson commented on #2574
If we assume that connect-equations are removed before checking the sizes/types it works. However, the adding then removing is done for both modifiers and connect-statements; and thus one could argue that there is no need for the other change either.

[2018-06-07 09:03] perost commented on #2574
Looking at the flattening section of the 3.4 spec it actually seems like connect-statements are not in fact added and removed. The last paragraph in 5.6.2 says:

For conditional components it says:

So with this in mind it seems like connect-statements can be removed before type checking them, in which case the fix I proposed earlier would be fine. Then the question is just what the specification

[2018-06-07 19:57] casella commented on #1898
In fact, if you take into account the enthalpy increase between the inlet and the outlet due to the pump work, it is not odd at all that there is a relationship between dp and T: the higher dp, the higher the fluid enthalpy, the higher the temperature

My 2 cts

[2018-06-07 21:18] eshmoylova opened #2595 "Version is not updated in ModelicaReference"
The version, versionDate, and dateModified annotations were not updated in ModelicaReference for 3.2.3 version:
[code]
They should be updated to 3.2.3 and the dates changed as well.

[2018-06-07 21:56] eshmoylova opened #2596 "Variable used in a dimension in Modelica.Electrical.MultiPhase.Functions.symmetricOrientationMatrix"
The function Modelica.Electrical.MultiPhase.Functions.symmetricOrientationMatrix has new protected variables **nBase** and **oBase**, introduced in 3.2.3:
https://github.com/modelica/ModelicaStandardLibrary/blob/eea74432d6006527b41676547ec2326d8bcbb8f2/Modelica/Electrical/MultiPhase.mo#L2693
https://github.com/modelica/ModelicaStandardLibrary/blob/eea74432d6006527b41676547ec2326d8bcbb8f2/Modelica/

[2018-06-08 05:52] beutlich commented on #2596
See a7f7cffe2dec9d3bacb0a9c8da8afa19819d4fc7 for #1997.

[2018-06-08 06:38] dietmarw commented on #2595
@eshmoylova Thanks for catching this. Once you accepted the member invitation I'd like to ask you to review #2597 and approve it.

[2018-06-08 07:46] HansOlsson commented on #2596
As far as I recall "input formal parameters" just means "inputs" to functions; see 12.1.1 - i.e. it is a "parameter" when calling the function - but not a "parameter" in Modelica. I believe that is an influence from computer science and other languages, and I agree that it is problematic.

So, `m `is an input and therefore "input formal parameter", but `nBase `isn't; using
`Modelica.SIunits.Angle

[2018-06-08 16:41] casella commented on #1898
If the working fluid is water, the temperature increase is negligible, so one could have a simplified model where Hb_flow is set to zero.

However, if the working fluid is air, then you get about 1 K for each 1000 Pa of dp. I'm not sure whether this is relevant or not for the typical applications of the library (cooling circuits), @AHaumer, @christiankral can you comment on that?

[2018-06-11 08:24] HansOlsson opened #2600 "Modelica.Electrical.Machines.Examples.DCMachines.DCPM_Cooling uses obsolete pipe model"
Dymola generates the warning:

Checking model Modelica.Electrical.Machines.Examples.DCMachines.DCPM_Cooling:
Warning: Component type specifier HeatedPipe specified an obsolete type: Obsolete model - use Modelica.Thermal.FluidHeatFlow.Components.Pipe(useHeatPort=true) instead.

I can understand that we test obsolete models, but not that we use them in non-obsolete-examples.

[2018-06-11 08:26] HansOlsson opened #2601 "Examples using obsolete ground visualization"
Several examples of this:

Checking model Modelica.Mechanics.MultiBody.Examples.Elementary.RollingWheel:
Warning: Component type specifier Ground specified an obsolete type: Obsolete model - use ground visualization feature in Modelica.Mechanics.MultiBody.World, or use model Modelica.Mechanics.MultiBody.Visualizers.Rectangle instead.

Checking model Modelica.Mechanics.MultiBody.Examples.Elementary

[2018-06-11 08:44] HansOlsson commented on #2376
This change needs to be propagated further.

After this change Dymola generates unit-warnings for Modelica.Electrical.Spice3.Examples.Inverter, Modelica.Electrical.Spice3.Examples.InvertersApartRecord, Modelica.Electrical.Spice3.Examples.InvertersExtendedModel, Modelica.Electrical.Spice3.Examples.Spice3BenchmarkFourBitBinaryAdder due to Modelica.Electrical.Spice3.Internal.Functions.junctionParamDe

[2018-06-11 09:00] tobolar commented on #2601
My impression was that examples should stay untouched for backward compatibility. Is there some general recommendation for such cases?

[2018-06-11 09:05] HansOlsson commented on #2601
If you look at the examples it doesn't look nice to have some components marked as being obsolete, with an icon clearly indicating that something is wrong.

If a user duplicates the examples to change it they will also get the warning for using obsolete models.

The downside with changing it is that a user-model extending the Example-model will no longer work. I hope people don't do that too often

[2018-06-11 09:05] beutlich commented on #2601
I guess we need to set these examples as obsolete and add new examples not containing the Ground class.

[2018-06-11 09:09] tobolar commented on #2601
Hope so as well.

@HansOlsson Do you agree? Is some effort but I could do it shortly.

[2018-06-11 09:15] HansOlsson commented on #2601
I can accept it, but would have preferred the simpler idea of just updating these examples.
However, if that would be seen as breaking backward compatibility we cannot do that.

[2018-06-11 09:19] dietmarw commented on #2601
I'm not 100% sure but I think to remember that backward-compatibility was not guaranteed for examples in the past. So users who extend from examples in the MSL were basically on their own and could not expect the models to still work after an upgrade of MSL. Personally I would have nothing against "breaking" example models. Especially since making now copies just adds a lot of unnecessary noise to

[2018-06-11 09:43] HansOlsson commented on #2270
There seems to be an issue with `v_out = smooth(0, if V0*v_in<vns then vns else if V0*v_in>vps then vps else V0*v_in);` specifically that it causes Modelica.Electrical.Analog.Examples.OpAmps.Multivibrator to fail to simulate when using events.

Basically if we have events then v_out can increase 15,000 fold (due to V0) and that seems even more problematic for integrators than stopping for an event

[2018-06-11 09:44] tobolar opened #2603 "New library for generation of images in documentation"
I have re-generated a couple of images (pictures) for version v3.2.3, especially regarding Modelica.Mechanics.MultiBody. For that reason, it was necessary to define new models in some cases in order to reconstruct the situation of the original images.
I think this can happen in the future again and again, and maybe also for another libraries. So it would be reasonable to my opinion to have a parti

[2018-06-11 09:49] beutlich opened #2604 "Modelica.Mechanics.Rotational.Examples.GenerationOfFMUs"
Whereas MSL v3.2.2 has nicely drawn connection lines to the springDamper component of Modelica.Mechanics.Rotational.Examples.GenerationOfFMUs

![2018-06-11 11_43_59-generationoffmus - modelica mechanics rotational examples generationoffmus rea](https://user-images.githubusercontent.com/14896695/41224451-cf1392b2-6d6c-11e8-9330-c1c9f8329906.png)

it is no longer the case in v3.2.3-beta.2

![2018-06

[2018-06-11 10:01] tobolar commented on #2604
Well this comes due to the adaption of icon and of connectors position of AngleToTorqueAdaptor on new GeneralAngleToTorqueAdaptor. Since both adaptors should be compatible to each other I think this is a drawback of it.
Not nice but necessary.

[2018-06-11 10:09] beutlich commented on #2604
Well, we still can adapt Modelica.Mechanics.Rotational.Examples.Utilities.SpringDamper to match the connector alignment.

But I prefer to have a wider connector distance in the new adaptors since it looks rather sqeezed (while still having vertical space available).

[2018-06-11 10:21] dietmarw commented on #2603
What about putting this single-file library under `Resource/Images/ImageCreation.mo` or similar?

[2018-06-11 10:27] beutlich commented on #2603
It is not only for the diagram view but also for the 3D view (see Resources/Documentation/Mechanics/Figure_PlanarLoopAnalytic.ppt) or plotted figures.

[2018-06-11 10:28] HansOlsson commented on #2603
I think I would prefer to have it as a new top-level library; so that people only using MSL will not see this library (but developers clearly see it so we everything is put in the same place).

[2018-06-11 10:34] beutlich commented on #2270
Checked again: Modelica.Electrical.Analog.Examples.OpAmps.Multivibrator both succeeds in OMC and SimulationX. Not sure, what to do here.

[2018-06-11 10:37] dietmarw commented on #2603
So top-level `ModelicaDocumentation.mo` perhaps?

[2018-06-11 10:37] beutlich opened #2607 "Messy descriptions in example models"
The component and parameter descriptions overlap in many example models, where the new icon convention was applied, e.g., have a look at Modelica.Electrical.Analog.Examples.OpAmps.Multivibrator.

MSL v3.2.2
![2018-06-11 12_32_30-multivibrator - modelica electrical analog examples opamps multivibrator read-](https://user-images.githubusercontent.com/14896695/41227070-dfc17028-6d73-11e8-9de0-bc912cb

[2018-06-11 10:41] HansOlsson commented on #2270
@beutlich Do OMC/SimulationX generate events in this case?
Since smooth allows a tool to skip events it isn't wrong to skip the events - even without noEvent. (A simple test would be to remove the smooth(0, -part.)

[2018-06-11 10:43] dietmarw commented on #2270
No events in OMC.

[2018-06-11 10:47] sjoelund commented on #2603
I would prefer to have it within some other library; otherwise there are so many small top-level names being used if one looks at the repository.

[2018-06-11 10:56] beutlich commented on #2270
With events for SimulationX. Succeeds with BDF solver (DAE solver), but failing to terminate with SimulationX CVODE solver (ODE solver) at time after first event.

[2018-06-11 11:23] tobolar commented on #2604
I have no preference.

[2018-06-11 11:32] beutlich commented on #2604
OK then, I propose to use the same connector alignment as the MultiplexN/DeMultiplexN blocks of Modelica.Blocks.Routing for the old and new adaptors.

[2018-06-11 11:47] beutlich commented on #2270
Does not seem to help: `ERROR: Finding consistent restart conditions failed at time:  0.03448226997836783`

[2018-06-11 11:52] HansOlsson commented on #2270
Leave a comment

I meant "test" to see if the model works with events; so it wasn't proposed as a solution.
So the solution for avoiding the regression is either to get back to the original min/max or use smooth(0, noEvent(if ...) - but then we haven't resolved the issue in this ticket.

[2018-06-11 11:57] beutlich commented on #2270
As already asked in #2017 and #2561. Why cannot be reuse the Modelica.Blocks.Nonlinear.Limiter class in IdealizedOpAmpLimted with the strict (and future homotipyKind) parameters and adopt the examples accordingly?

[2018-06-11 12:06] beutlich opened #2608 "Missing test or example model for Modelica.Electrical.Analog.Ideal.IdealOpAmpLimited"
There is neither a example model nor a test model utilizing the IdealOpAmpLimited class.

[2018-06-11 12:10] beutlich opened #2609 "Clarify purpose of protected top-level connectors"
What is the purpose of the protected top-level connectors in CauerLowPassOPV und CauerLowPassSC? CauerLowPassAnalog uses ordinary connects instead.

https://github.com/modelica/ModelicaStandardLibrary/blob/eea74432d6006527b41676547ec2326d8bcbb8f2/Modelica/Electrical/Analog/Examples/CauerLowPassSC.mo#L46-L109

![connectors](https://user-images.githubusercontent.com/14896695/41230706-1d1354a2-6d81-1

[2018-06-11 12:44] beutlich commented on #2608
Given the issues we found in IdealizedOpAmpLimted (#2017, #2270 and to some extend also in #2561) it is very likely, that IdealOpAmpLimited also has issues, which are currently not detected during a regression test.

[2018-06-11 13:37] #2595 closed

[2018-06-11 13:43] tobolar commented on #2604
1. Do you mean the particular model(s) Multiplex/DeMultiplex or rather MultiplexN/DeMultiplexN with N being 1..6?.
2. And do you really mean to apply it for both the old and new adaptors?

[2018-06-11 13:44] beutlich commented on #2604
I will work on a PR and let you review it.

[2018-06-11 13:46] eshmoylova commented on #2596
I second @HansOlsson's suggestion. It would solve the issue.

[2018-06-11 13:47] beutlich commented on #2596
What about `Modelica.SIunits.Angle oBase[:]=o[1:mBase:m];`?

[2018-06-11 13:59] tobolar opened #2611 "Diagram elements of Multiplex / DeMultiplex should be empty"
The icon conventions states that

see `Modelica.UsersGuide.Conventions.Icons`. Therefore, all diagrams of MultiplexN / DeMultiplexN models in `Modelica.Blocks.Routing` should be empty.

If this is not desired, there should be done at least the following corrections:
1. Color of the circle and all lines changed from {0,0,255} to {0,0,127}.
2. Lines ending right on the diagram border (missing e.g. i

[2018-06-11 14:51] HansOlsson commented on #2596
I think that is less good, since the size will depend on mBase - which has similar issue as nBase.

[2018-06-12 07:29] #2596 closed

[2018-06-12 08:37] beutlich opened #2616 "Inconsistent position function annotations LateInline vs. InlineAfterIndexReduction"
Modelica.Mechanics.Rotational.Components.AngleToTorqueAdaptor uses either
Modelica.Mechanics.Rotational.Sources.Move.position (if use_phi and use_w and use_a) or Modelica.Mechanics.Rotational.Components.AngleToTorqueAdaptor.Move_w.position (if use_phi and use_w and not use_a). However function Move.position sets the `LateInline` annotation (3432a2218e1a4ff83dc1bd67f799aac6f6644eb4), whereas Move_w

[2018-06-12 13:28] kristinmajetta commented on #2376
solved unit issues in functions Modelica.Electrical.Spice3.Internal.Function.junctionPotDepTemp, Modelica.Electrical.Spice3.Internal.Function.junctionParamDepTempSPICE3 and Modelica.Electrical.Spice3.Internal.Function.saturationCurDepTempSPICE3MOSFET
in SHA-1: 783b3c1dedd5708499162f30dce3a9c048b65655

[2018-06-12 15:27] eshmoylova opened #2620 "Broken icon for Modelica.Thermal.FluidHeatFlow.Sources.Ambient"
The icon for Modelica.Thermal.FluidHeatFlow.Sources.Ambient changed from 3.2.2 to 3.2.3. In 3.2.2 the text was on top of the circle:
![ambient3 2 2](https://user-images.githubusercontent.com/20460714/41299721-12ad651e-6e32-11e8-9a45-658a76bfc660.png)
In 3.2.3 the text got covered by the circle:
![ambient3 2 3](https://user-images.githubusercontent.com/20460714/41299727-15a44c06-6e32-11e8-93bf-e613

[2018-06-12 20:14] beutlich commented on #2604
After spending too much spare time on old/new adaptors I tend to leave it as is. OK for you?

[2018-06-13 07:10] #2600 closed

[2018-06-13 08:01] #2611 closed

[2018-06-13 10:04] tobolar commented on #2604
Fine for me as well.

[2018-06-13 10:04] #2604 closed

[2018-06-13 11:01] DagBruck opened #2626 "va_copy must call va_start on its source argument"
My reading of the C specification is that you must call va_start on the second argument of va_copy, before you can use it in va_copy. Then of course you must also call va_end on that argument. This also happens around line 5225.

https://github.com/modelica/ModelicaStandardLibrary/blob/060e29284c844ebd9dd52f341213b9ce5ea4dc7e/Modelica/Resources/C-Sources/ModelicaMatIO.c#L1468

Btw, it is unclear i

[2018-06-13 11:03] DagBruck commented on #2626
Note: things like this are found by CppCheck, http://cppcheck.net.

[2018-06-13 11:15] sjoelund commented on #2626
`va_copy` is also a macro (or builtin; or both)...

[2018-06-13 11:35] tobolar opened #2627 "Text position in icons of sensors"
Similar to #2621, the text in the sensor icons should be placed and sized properly. This concerns (at least some sensors of)
- [x] Modelica.Electrical.Analog.Sensors
- [x] Modelica.Electrical.MultiPhase.Sensors
- [x] Modelica.Electrical.MultiPhase.Sensors
- [x] Modelica.Electrical.QuasiStationary.SinglePhase.Sensors
- [x] Modelica.Fluid.Sensors
- [x] Modelica.Magnetic.FluxTubes.Sensors
- [x] Model

[2018-06-13 12:06] #2270 closed

[2018-06-13 12:07] tobolar opened #2628 "Text in icons of sensors"
It should be harmonised which text is used in sensors.
- quantity name, like _V_ in `Thermal.FluidHeatFlow.Sensors.VolumeFlowSensor`
- quantity unit, like _A_ in `Electrical.Analog.Sensors.CurrentSensor`
- quantity text, like _power_ in `Mechanics.Rotational.Sensors.PowerSensor`
- something else
- a combination of abovementioned

Refs #2627

[2018-06-13 12:37] tobolar opened #2629 "Proper location of adaptors"
As partial adaptors `FlowToPotentialAdaptor` and `PotentialToFlowAdaptor`are both placed in `Blocks.Interfaces.Adaptors`, I would expect that all adaptors which extend them are placed in corresponding packages as well, i.e. in `Interfaces`. But they are all placed in `Components` of particular domains instead.

This probably originates from location of "old" adaptors in `Mechanics.Rotational.Compo

[2018-06-13 12:56] tobolar commented on #2629
I could prepare a PR if there is a consent on this issue.

[2018-06-13 13:05] beutlich commented on #2629
I had the same thoughts when testing the new adaptors. But given that the old rotational adaptors are located in Components (and not in Interfaces), I stopped worrying as it is at least consistent with all the non-partial adaptors always located in Components.

Thus, I'd keep the adaptors as is for v3.2.3.

[2018-06-13 13:18] tobolar commented on #2629
I want to mention this before releasing v3.2.3. The location is consistent now but is it correct as well?

So we can
1. preservate current implementation as the proper one,
2. preservate current implementation keeping in mind this has to be fixed in the next major, or
3. fix it right now and keep in mind to convert old sensors' location in the next major.

And there is also this opposite case of `

[2018-06-13 14:47] svorkoetter commented on #2629
I don't think we can move them for 3.2.3 as this would break backward compatibility.

[2018-06-13 15:07] tobolar commented on #2629
Both partial adaptors and extended general adaptors are newly introduced in v3.2.3. So it should be no problem to fix it.

More important for me is whether the current location of general adaptors in `Components` is done on purpose or by mistake.

[2018-06-13 15:25] svorkoetter opened #2630 "Model with connectors having a zero-sized placement transformation extent"
The model `Modelica.Blocks.Examples.NoiseExamples.Utilities.Parts.MotorWithCurrentControl` has two connectors, `phi_motor` and `w`, which have the following declarations and annotations:

https://github.com/modelica/ModelicaStandardLibrary/blob/e935b645633bd0579a8281d99fe02ef15f9db096/Modelica/Blocks/package.mo#L2287-L2293

Notice that the `Placement.iconTransformation.extent` of both of these is

[2018-06-13 18:09] beutlich commented on #2630
According to 679eaff77cbb841ecf40234e9ff979e1cb0d6fa9 @tobolar should know.

[2018-06-13 18:13] JoeRiel opened #2632 "Space Phasor Blocks do not use SpacePhasor connection type"
The components in **Modelica.Electrical.Machines.SpacePhasors.Blocks** do not use the connector type **Modelica.Electrical.Machines.Interfaces.SpacePhasor**, as such they cannot be connected to the space phasor ports in **Modelica.Electrical.Machines.SpacePhasors.Components**.  Maybe that is by design, but it is unfortunate.

[2018-06-13 19:59] beutlich commented on #2626
The one on line 1468 is an upstream issue for http://matio.sf.net/.
The other one around line 5225 is an upstream issue for https://github.com/weiss/c99-snprintf.

[2018-06-13 21:37] #2243 closed

[2018-06-14 05:59] beutlich opened #2633 "Missing variable comments of Modelica.Electrical.Analog.Basic.OpAmpDetailed"
There are no descriptions for public variables of Modelica.Electrical.Analog.Basic.OpAmpDetailed (with exception of `x`).

![2018-06-14 07_57_09-properties - opamp](https://user-images.githubusercontent.com/14896695/41394053-b939c432-6fa8-11e8-8f28-34a73da1cea9.png)

[2018-06-14 07:38] beutlich commented on #2626
* line 1468: strdup_vprintf is only called from strdup_printf, which calls va_start just before strdup_vprintf.
* line 5222: rpl_vasprintf (or rather mat_vasprintf) is not called at all

I'd like to close this as non-issue then.

[2018-06-14 07:38] #2626 closed

[2018-06-14 11:13] tobolar commented on #2630
The two variables of noiseless _phi_motor_ and _w_ could be of interest for e.g. post-processing but should not be accessible/connected from outside when instantiated. That's why they are disabled in the motor's icon.

[2018-06-14 11:28] beutlich commented on #2630
Oops, duplicate of #2313.

[2018-06-14 11:28] #2630 closed

[2018-06-14 12:01] tobolar opened #2636 "Parameters' description string missing or not starting with upper case"
See below for other concerned libraries.
### The following components from `Modelica.Blocks` are affected.
- [x] Modelica.Blocks.Examples.Filter
    - order: Description string missing
    - f_cut: Description string missing
    - normalized: Description string missing
- [x] Modelica.Blocks.Examples.FilterWithDifferentiation
    - f_cut: Description string missing
- [x] Modelica.Blocks.Discrete.Tr

[2018-06-14 12:21] beutlich commented on #2636
Do you have a script that generates this list?

[2018-06-14 13:44] svorkoetter commented on #2313
Continuing the discussion from #2630 ... MapleSim currently renders it like this:
![motorwithcurrentcontrol](https://user-images.githubusercontent.com/25961958/41415660-12cbde0a-6fb7-11e8-9fb4-aeb6168b3b28.png)
Notice the tiny dot at the location of the two "invisible" connectors. Even though they have mathematical size zero, the thickness of the "pen" used to draw them is not zero, so they are st

[2018-06-14 13:57] svorkoetter commented on #2313
Note also that, at least in MapleSim, these connectors end up listed in the help as connectors of the component.

[2018-06-14 14:04] dietmarw commented on #2630
So why not simply remove all graphical annotations from that connector? That should work right?

[2018-06-14 14:06] svorkoetter commented on #2630
That was my thought too, but apparently the connector _is_ supposed to be displayed in the diagram layer.

[2018-06-14 14:19] dietmarw commented on #2630
But both are accessible:
 * `phi_motor` via `angleSensor.phi`
 * `w` via `speedSensor.w`
So I don't understand why one would need the additional connectors.

[2018-06-14 14:31] svorkoetter commented on #2630
Agreed. The connectors serve no purpose other than to expose corner cases of the specification and thus make the model non-portable between tools.

[2018-06-14 14:31] tobolar commented on #2630
Disabling graphical annotations has a drawbeck of mixing graphical and textual modelling.

I'm not the author but can imagine the motivation to have phi_motor and w was fast localization in a variable browser (post-processing). But apparently this is not utilized in the example `Modelica.Blocks.Examples.NoiseExamples.ActuatorWithNoise`, so could be deleted as well.

[2018-06-14 14:39] tobolar commented on #2313
Isn't this a Modelica Specification issue?

It is not unusual for me to use such constructs to graphically highlight some variables. Is there any other option?

[2018-06-14 14:43] HansOlsson commented on #2313
Yes, it is specification issue specifically: https://trac.modelica.org/Modelica/ticket/2200

However, that doesn't explain what to do for this release of MSL.

[2018-06-14 14:48] tobolar commented on #2313
The variables/connectors are apparently not used in the example `Blocks.Examples.NoiseExamples.ActuatorWithNoise`, so we could delete it without any concern.

[2018-06-15 05:44] #2620 closed

[2018-06-15 12:11] HansOlsson opened #2640 "Make reinit conditional in #2316"
I noticed some regressions - and found that this change, #2316 , caused them.
The actual models use some non-standard extensions, but it is possible to reproduce with:

[code]

[2018-06-15 12:13] HansOlsson commented on #2640
The issue is that the reinit-clause implies that `integrator.y` is a state.
That is the case even when the reinit-port is inactive.

The solution seems to be to move 'when local_reset then reinit(...)" inside the if-branch.

[2018-06-15 13:33] DagBruck commented on #2626
Well, we have customers that complain about such warnings in the C code. But it helps if we can blame MA or possibly some third party.

[2018-06-15 14:55] #2376 closed

[2018-06-15 14:59] #2640 closed

[2018-06-15 18:11] beutlich commented on #2620
Note the ambient icon in https://github.com/modelica/ModelicaStandardLibrary/blob/master/Modelica/Resources/Images/UsersGuide/ModelicaLibraries.png

[2018-06-17 16:53] AHaumer commented on #2632
This is by design. The blcoks are intended to be used in control. The space phasors of a machine cannot be accessed in real world, they are calculated by measureing e.g. currents and using the transformation block.

[2018-06-17 16:53] #2632 closed

[2018-06-18 08:12] HansOlsson commented on #2432
This change causes regressions in a commercial library (FlightDynamics); and in theory there could be other similar cases.

Basically if a library made their own world-object (by copying World from MSL and adding parts) and used it as "inner MyWorld world;" the "outer World world;" in MSL no longer matches the inner component.

I don't see that we have stated that making your own inner-objects is

[2018-06-18 08:13] HansOlsson commented on #2432
Oh, perhaps better to open new issue. Will do that.

[2018-06-18 08:13] #2432 closed

[2018-06-18 08:16] HansOlsson opened #2646 "Change in World-object causes regressions"
The correction for #2432 causes regressions in a commercial library (FlightDynamics); and in theory there could be other similar cases.

Basically if a library made their own world-object (by copying World from MSL and adding parts) and used it as "inner MyWorld world;" the "outer World world;" in MSL no longer matches the inner component due to the new parameter for animateGround.

I don't see th

[2018-06-18 08:29] tobolar commented on #2646
Focusing on

I suppose you don't mean *extending*.

seems then to be the simplest and reliable solution.

[2018-06-18 08:34] beutlich commented on #2646
Adding a new parameters always can lead to regressions, since existing user classes that extend from the this class might break. We have it stated in [Modelica.UsersGuide.ReleaseNotes.VersionManagement](https://doc.modelica.org/help/Modelica_UsersGuide_ReleaseNotes.html#Modelica.UsersGuide.ReleaseNotes.VersionManagement):

However, we haven't paid attention to the rule for years and somehow consid

[2018-06-18 09:09] HansOlsson commented on #2646
True, but this inner/outer mismatch is another failure mode (compared to partial models) that we had not considered earlier. I hope we are not adding too many new parameters to partial classes. (Clearly it is possible to extend a non-partial class as well.)

[2018-06-18 09:14] beutlich commented on #2646
Have a look at Modelica.Thermal.FluidHeatFlow.Interfaces.Partials.SinglePortLeft and 7f29c1ef3919dfcbe85558df5296585173993dfb (around line 2971+)? Acceptable or not?

[2018-06-18 09:19] HansOlsson opened #2647 "Unclear obsolete annotation"
Modelica.Mechanics.MultiBody.Sensors.TansformAbsoluteVector (and the next one) says:

obsolete="Obsolete model due to false class name - use Modelica.Mechanics.MultiBody.Sensors.TransformAbsoluteVector instead"

To me "false" is unclear; "misspelled" would be clearer in this case. It could also have been that it didn't transform an absolute vector or some other issue.

[2018-06-18 09:23] tobolar commented on #2646
Are we talking about extending the World or copying it? I think copying is always on users risk and he/she has to care about upgrade on his/her own.

[2018-06-18 09:35] HansOlsson commented on #2646
Copying World, and as far as I know we haven't stated that you aren't supposed to do this.

[2018-06-18 11:32] HansOlsson commented on #2646
For the longer term we could consider if we should split the "World" into two models: one that is used as "outer World"; and one (or several) models extending from that one used for the inner one - it can include optional effects like coordinate system and ground visualization that isn't needed for the outer world.

[2018-06-18 11:53] #2601 closed

[2018-06-18 12:42] #2647 closed

[2018-06-19 07:31] #2608 closed

[2018-06-19 09:40] tobolar opened #2653 "Delete superfluous prefix "wheel" from parameters' name"
Remove prefix "wheel" from parameters' name of `Mechanics.MultiBody.Parts.RollingWheel` since actually all parameters concern the wheel. In particular:
- wheelRadius -> radius
- wheelMass -> mass
- wheel_I_axis -> I_axis
- wheel_I_long -> I_long
- wheelColor -> color

[2018-06-19 14:30] eshmoylova opened #2654 "Changes to Electrical.Analog icons in 3.2.3"
The following commit made a lot of changes to icons in Electrical.Analog: https://github.com/modelica/ModelicaStandardLibrary/commit/232813ba512ea89e71a9f08d9b02c278b8c97756

There are a couple of changes that I am not sure whether they were intentional or not, and the description of the commit(s) does not provide many details. @christiankral (or anyone else who is familiar with the changes), can

[2018-06-19 15:09] eshmoylova opened #2655 "Extra line or missing port in Mechanics.MultiBody.Sensors.RelativeAngles icon"
In 3.2.3 the icon for Mechanics.MultiBody.Sensors.RelativeAngles has changed to include an extra line that does not connect to anything and may potentially indicate a missing port.
In 3.2.2:
![relativeangles](https://user-images.githubusercontent.com/20460714/41604803-1070a500-73ae-11e8-8221-812a9f565e21.png)
In 3.2.3:
![relativeangles](https://user-images.githubusercontent.com/20460714/41604811-1

[2018-06-19 20:11] AHaumer commented on #2629
Well, the "old" adaptors were located in components, so the "new" ones are located here, too.
If I were a user, I would search for the adaptors in components, not in interfaces.
The PartialAdaptors are loacted in Interfaces, just like many other Partials.

[2018-06-20 07:21] dietmarw commented on #2629
The adaptors are basically interfaces to a different sub-library. It is very important to differentiate between components of a sub-library and interfaces to other sub-libraries. I've already presented the importance and dangers of having deeply nested components that use classes from other domain sub-libraries ([84th Design Meeting](https://modelica.org/events/design_meetings/des84)).

So the use

[2018-06-20 08:35] tobolar commented on #2629
There is probably far more stuff concerned within the MSL, since there is e.g. `PlugToPin_p` located in `Electrical.QuasiStationary.MultiPhase.Basic` but 'FlangeWithBearingAdaptor' in `Mechanics.MultiBody.Interfaces` (I know I repeat myself).
So probably we have to collect all the stuff first and to clasify it somehow in order to decide what is the proper location.

[2018-06-20 09:33] tobolar commented on #2655
The RelativeAngles doesn't need this transformation since it doesn't deliver a physical vector. PR is in preparation...

[2018-06-20 11:18] christiankral commented on #2654
The Modelica.Electrical.Analog.Ideal.IdealIntermediateSwitch does not look as intended. For some reason the icon appears on the diagram instead of the icon layer. I will fix this. All other icons look OK.

[2018-06-20 13:28] #2607 closed

[2018-06-20 14:07] beutlich commented on #2654
@christiankral Please explicitly confirm that

- [ ] the removed arrow of the HeatingResistor
- [ ] the removed dotted line in the transformer
- [ ] the removed vertical lines to the top pin in the switches

are by purpose!

[2018-06-20 15:19] tobolar opened #2661 "Annotation "obsolete" in send/receive blocks"
In the following blocks there is an _obsolete_ annotation "Obsolete block - use expandable connectors instead":
- Modelica.Blocks.Interfaces.Adaptors.SendReal
- Modelica.Blocks.Interfaces.Adaptors.SendBoolean
- Modelica.Blocks.Interfaces.Adaptors.SendInteger
- Modelica.Blocks.Interfaces.Adaptors.ReceiveReal
- Modelica.Blocks.Interfaces.Adaptors.ReceiveBoolean
- Modelica.Blocks.Interfaces.Adaptors.

[2018-06-20 17:24] #2655 closed

[2018-06-20 18:43] christiankral commented on #2654
Agree: all these changes are made on purpose:
- The arrow is not required as the model is fully compatible to the regular resistor model which does NOT have an arrow
- The dotted line in the transformer model -> minimalistic approach
- The vertical lines to the switches are removed -> minimalistic approach, since it is clear from the symbol which connectors are triggering the switch

[2018-06-20 18:45] eshmoylova commented on #2654
@christiankral What about port labels on switches? Are they also removed as part of minimalistic approach?

[2018-06-20 18:49] christiankral commented on #2654
@eshmoylova Yes, this follows the same minimalistic approach: The port labels are removed, since tooltips (in Dymola and OpenModelica) show the instance names of the connectors. However, we do not use port labels in other electrical components, so it makes sense to have these obsolete port labels removed.

[2018-06-20 18:54] beutlich commented on #2654
Thanks. All questions clarified.

[2018-06-20 18:54] #2654 closed

[2018-06-20 19:02] beutlich commented on #2661
I used the text from the documentation when editing the obsolete message. Just go ahead, if you think it makes things clearer, but these adaptors are obsolete since c4609eca18ddf4efb261c73eb107a6dae1e8ab0a (for MSL v3.0.1).

[2018-06-20 19:18] beutlich opened #2662 "Clarify if broken backward compatibility is acceptable"
Commit 941e361c69eec73dc60ef118782d08189d913266 for #2364 adds a new constant (C_default) to a partial class (PartialMedium), which - strictly seen - breaks the desired backward compatibility of MSL v3.2.3. This is a discussion issue, if we accept it nevertheless and document it in the release notes or, should revert it to not break compatibility.

@MartinOtter @HansOlsson @hubertus65 Please comme

[2018-06-20 20:21] beutlich opened #2663 "Stop time of Modelica.Mechanics.MultiBody.Examples.Systems.RobotR3.fullRobot"
The stop time in the experiment annotation of Modelica.Mechanics.MultiBody.Examples.Systems.RobotR3.fullRobot is set to 2 s, but documentation states 3 s as default stop time.

[2018-06-21 08:53] tobolar commented on #2654
See also discussion in PR  #2471, which IMO is still open (the discussion, not the PR).

[2018-06-21 11:40] weiss commented on #2626
I [don't think][1] that's true.

[1]: https://github.com/weiss/c99-snprintf/issues/2#issuecomment-398369437

[2018-06-21 14:11] christiankral commented on #2628
In electrical engineering we use the unit within the circular sensor symbol to indicate which meter it is. Therefore, for a power meter we use "W" to indicate it as watt-meter. How do other engineers indicate their sensors? I do not know.

[2018-06-21 14:17] christiankral commented on #2628
This issue is actually also linked to https://github.com/modelica/ModelicaStandardLibrary/pull/2471#issuecomment-368490019, where I proposed color code (128,128,128) for descriptive text of an icon. The text of the unit / quantity / whatever should actually also use the proposed color code.

[2018-06-21 18:56] #2663 closed

[2018-06-25 08:09] HansOlsson commented on #2662
To me it is acceptable for 3.2.3 (but would not be ok for a maintenance release), and should document it.

Regardless of whether it is a partial or not a new constant can break other classes, and I don't see that we have made any special rules for partial classes (or partial packages).

However, when documenting this we should consider both of the following failure modes:

- The obvious one is tha

[2018-06-25 08:28] HansOlsson commented on #2646
Note that this is only stated under the "maintenance branch", e.g. 3.2.2 versionbuild 4 - and thus does not apply to this release. (I realized this when commenting on #2662 )

[2018-06-25 09:00] beutlich commented on #2662
@HansOlsson Thanks for the comment. I will document in the release notes (and leave this open now as a reminder).

[2018-06-25 09:01] beutlich commented on #2646
There seems to be agreement to leave the MultiBody.World as is and document the change. I will document it in the release notes (and leave this issue open as a reminder).

[2018-06-25 15:22] tobolar opened #2669 "Smoothen blue line in icon of EddyCurrentForce"
Concerns `Translational.Sources.EddyCurrentForce`. For reference see `Rotational.Sources.EddyCurrentTorque`.

[2018-06-26 06:21] beutlich commented on #2669
Forgotten in #2605.

[2018-06-26 09:09] #2669 closed

[2018-06-26 15:24] Claytex opened #2672 "Abrupt adaptor"
Hi, this was sent to DS but they asked me to present the issue here hoping it can be resolved please.

Hi, we are unable to get this simple model to run and I was wondering if you could suggest what the user is doing wrong please.

[Test_MSL_Abrupt_adaptorTotal.zip](https://github.com/modelica/ModelicaStandardLibrary/files/2137776/Test_MSL_Abrupt_adaptorTotal.zip)

[2018-06-26 21:06] eshmoylova opened #2673 "Inconsistent initial conditions in fullRobot"
The example model Modelica.Mechanics.MultiBody.Examples.Systems.RobotR3.fullRobot was already mentioned in #1741 as problematic for initialization. But it was considered only as a problem for regression testing, and, as far as I can see, no changes were made. The model is still used as an example. The inconsistency in initialization appears to be significant but is ignored in Dymola and OpenModeli

[2018-06-27 07:41] tobolar commented on #2673
Apparently an issue with units: 0.274151 = 15.7077 * PI / 180
I will check it.

[2018-06-27 09:13] beutlich commented on #1855
@ceraolo As far as I figured out, there are three kinds of start parameter modelling utilized in current MSL.

[code]

Variants B and C are to be preferred since the start parameter can be directly set in the GUI and is visible in the auto-generated documentation.

[2018-06-27 09:30] tobolar opened #2674 "Clean up MultiBody.Examples.Systems.RobotR3.Components"
There are couple of issues with components in Mechanics.MultiBody.Examples.Systems.RobotR3.Components:
- [x] improve icons of GearType1, GearType1, AxisType1, AxisType2: elasticity makes the difference and should be shown
- [x] use unit definitions from Modelica.SIunits for Spring and damper constants (e.g. in GearType1)
- [x] delete units from parameter description strings, e.g. for `Rv1` in Gear

[2018-06-27 09:37] HansOlsson commented on #2672
To clarify:
The Adrupt_adaptor states that it handles both flow directions and allowFlowReversal is true; but here it fails to simulate since the pressure is higher at the left.

If you change the ramp to have offset=1.0e5 and startTime 0.5s the simulation will stop at 0.527s when the boundary.p exceeds boundary1.p.

The problem can also be reproduced with Modelica.Fluid.Examples.Explanatory.Momen

[2018-06-27 09:58] HansOlsson commented on #2673
I don't see that there is an error on the tool-side either for Dymola.

Dymola shows phi_rel as 15.7077 deg in plots - which as noted above is 0.27 rad; and thus consistent with the model.

I don't know if OpenModelica presents initialization results and simulation results in different units.

If there were actual differences:
One possibility for Dymola would be that we first get some values durin

[2018-06-27 11:30] max-privato commented on #1855
_Variants B and C are to be preferred since the start parameter can be directly set in the GUI and is visible in the auto-generated documentation._

I agree.

What's your opinion about the difference in prompting (through GUI) for initial acceleration in inertia and not prompting for initial voltage (or derivative or current) on inductors, as I discussed in the ticket's body?
My ticket questioned

[2018-06-27 13:40] eshmoylova commented on #2673
Thank you, @tobolar  and @HansOlsson for clarifying.

[2018-06-27 17:49] #2673 closed

[2018-06-28 09:01] markusandres3DS opened #2675 "Temperature jumping to 0K with V_flow = 0"
Using Dymola 2019 FD01 Dev1 with the model [CoolingCircuit.zip](https://github.com/modelica/ModelicaStandardLibrary/files/2144475/CoolingCircuit.zip) the temperature exhibits discontinuities when the volume flow is set to 0 (temperature jumps to 0K).

Notes:
- I used MSL Version: 3.2.3, 2018-08-01, build 1 (2018-08-01 12:00:00Z) - that comes with Dymola 2019 FD01 Dev1
- The problem was not existan

[2018-06-28 09:09] beutlich commented on #2675
Which v3.2.3 is it exactly - beta.1, beta.2 or beta.3?

[2018-06-28 09:17] markusandres3DS commented on #2675
Should be beta.2 from the information I got with a mail. Can I verify that in the MSL itself? The package annotation states `revisionId="eea74432d` 2018-06-06 08:20:09 +0200",`

[2018-06-28 09:22] markusandres3DS commented on #2675
Same problem exists in Dymola 2019 with MSL 3.2.3 version from above.

[2018-06-28 09:30] beutlich commented on #2675
Yes, eea74432d is [beta.2](https://github.com/modelica/ModelicaStandardLibrary/releases/tag/v3.2.3-beta.2).

[2018-06-28 10:17] HansOlsson commented on #2672
As far as I can tell the reason is that Modelica.Fluid.Fittings.BaseClasses.QuadraticTurbulent.pressureLoss_m_flow_totalPressure always return a negative value for cases like this; regardless of mass-flow.

E.g. in Dymola I could plot:
[code]
And it is always negative.

I don't know if the inputs are wrong, it is not applicable, or the underlying function has some error.

[2018-06-28 15:37] PhilHui opened #2677 "No more delay memory available - What does this mean?"
I get the following message while simulating a large number of district heating consumers and thought someone here might have an idea or experience with this error?
I am using the operator spatialDistribution()-Operator and get the following error message (nothing else):
[code]
What i know so far:

- It doesnt seem to be linked to the amount of consumers i try to simulate. I got this error message

[2018-06-28 21:04] beutlich commented on #2675
Caused by ff158961f91c61ba081dbfb6325badd139151f1a (for #2571) where RelativeSensor was updated to extend from TwoPort.

[2018-06-29 07:46] tobolar opened #2679 "Duplicity in Blocks.MathBoolean and Blocks.Logical"
The two blocks `Modelica.Blocks.MathBoolean.RisingEdge` and `Modelica.Blocks.Logical.Edge` seem to have the same functionality.
I understand the application area of the blocks could be different, but shouldn't it be better to e.g. extend `Logical.Edge` from `MathBoolean.RisingEdge`?

Silimar holds for other boolean blocks as well:
- Modelica.Blocks.Logical.And
- Modelica.Blocks.Logical.Or
- Modeli

[2018-06-29 07:52] beutlich commented on #2679
Did you have a look at #2164? `MathBoolean` was added to supersede `Logical` but still is incomplete.

[2018-06-29 09:04] beutlich opened #2680 "Missing test / example models for relative sensors of FluidHeatFlow"
There are no test or example models for the relative sensors Modelica.Thermal.FluidHeatFlow.Sensors.RelPressureSensor and Modelica.Thermal.FluidHeatFlow.Sensors.RelTemperatureSensor in the MSL, which is one reason for late and accidental detection of the regression error #2675 in v3.2.3-beta.2.

[2018-06-29 09:11] beutlich opened #2681 "Missing test / example models for RelTemperatureSensor, HeatFlowSensor and ConditionalFixedHeatFlowSensor of HeatTransfer"
There are no test or example models for the relative sensors Modelica.Thermal.HeatTransfer.Sensors.RelTemperatureSensor, Modelica.Thermal.HeatTransfer.Sensors.HeatFlowSensor and Modelica.Thermal.HeatTransfer.Sensors.ConditionalFixedHeatFlowSensor in the MSL.

[2018-06-30 21:45] christiankral opened #2683 "Remove redundant connect in DCPM_CurrentControlled"
Remove one of the redundant connections in Modelica.Electrical.Machines.Examples.DCMachines:

`dcpm.pin_an.v = ground.p.v = signalVoltage.n.v`

[2018-07-01 11:04] christiankral commented on #2636
@ThomasBoedrich I updated the documentation string of `sigma` in `Modelica.Magnetic.FluxTubes.Material.HysteresisTableData.BaseData` to:

`parameter SI.Conductivity sigma = 1 "Electric conductivity";`

I suppose this is OK as simply took the explanation from the HTML documentation.

[2018-07-01 11:08] christiankral commented on #2636
@tobolar
The protected parameter arrays

[code]
in `Modelica.Magnetic.FundamentalWave.Examples.BasicMachines.AIMC_withLosses` and `Modelica.Magnetic.QuasiStatic.FundamentalWave.Examples.BasicMachines.InductionMachines.IMC_withLosses` are NOT included in your list; however, I do not know if this a consequence of the array type or the protected section...

[2018-07-02 12:49] tobolar commented on #2636
@christiankral Protected parameters are excluded in the list. But you are of course free to add the parameter decription to them.

[2018-07-02 12:53] tobolar commented on #2636
@kristinmajetta, @christiankral Would you also mark proceeded classes in the check list of this issue?
If you mean it's too much effort (well there are really a lot of classes concerned), I would change the check list to simple bullet list.

[2018-07-03 05:17] kristinmajetta commented on #2636
marked the proceeded classes from Modelica.Electrical.Analog, Modelica.Electrical.Digital and Modelica.Electrical.Spice3

[2018-07-09 15:31] HansOlsson opened #2686 "Incorrect flow direction in Modelica.Fluid.Examples.AST_BatchPlant.BatchPlant_StandardWater?"
In this model I noticed that B2 has a few drops of water flowing out of the port at the top of the tank, which is plain weird!  I don't think it is any error in symbolic processing in Dymola.

Specifically B2.top_ports[1].m_flow (same as V6.port_a.m_flow) has a negative dip at 741.5878891772804s (followed by a larger positive flow. note: there is a also  a positive "dip" at 3262.7830640209s).
Phys

[2018-07-09 16:17] AHaumer opened #2687 "IdealPump has an erroneous equation"
FluidHeatFlow.Sources.IdealPump has an erroneous equation. In many cases, this won't be detected but it should be fixed.

Additionally, I'll revoke the PumpTurbine model (new in 3.2.3-beta.1, see 0ade4359bd76c44cfd6d20e3102f606fd6283708), since it is the same as IdealPump (with that fix). Enhancing the new PumpTurbine would cause backwards compatibility issues, it is better to bring it into the ne

[2018-07-10 07:18] bilderbuchi commented on #2370
@casella is my above analysis/interpretation correct?

[2018-07-11 13:52] tobolar opened #2689 "checkbox versus checkBox"
`ModelicaReference.Annotations.choices` documents the usage of a _checkbox_ annotation. But there are used two variants of it in the text:
- checkbox and check**B**ox.

What is the correct one? I have checked Modelica Specification as well but there is the same ambiguity.
Dymola uses the upper case variant.

[2018-07-11 13:57] tobolar commented on #2679
Ok, so it's reasonable to reduce any effort on Logical. Thanks.

[2018-07-11 13:57] #2679 closed

[2018-07-11 14:10] HansOlsson commented on #2689
In Modelica 3.4 Specification that should be clear so that it is only checkBox spelling for the annotation; note that the text says "For a Boolean variable, a choices annotation may contain the definition checkBox = true, meaning to display a checkbox to input the values false or true in the graphical user interface."

The "checkbox" refers to the graphical element - https://en.wikipedia.org/wiki/

[2018-07-11 14:47] tobolar commented on #2689
... so it should be updated in ModelicaReference as well.

[2018-07-12 15:41] #2689 closed

[2018-07-17 13:12] HansOlsson opened #2692 "Further improvements of toUpperHessenberg"
So that we don't miss the items detected in #2691 (these also apply to the related functions).

- Missing test-cases for non-default ilo, ihi.

- Documentation of ilo and ihi is unclear; basically the matrix is in supposed to be in BLT-form where the parts before and after ilo:ihi are already upper triangular and we only have to transform that sub-matrix.

In retrospect not exposing ilo and ihi ha

[2018-07-28 15:40] christiankral opened #2693 "Rename instance variableResistor to variableConductor"
This issue applies to `Modelica.Electrical.QuasiStationary.MultiPhase.Basic.VariableConductor`. The variable conductor `variableResistor[m]` shall be renamed to `variableConductor[m]`, whenever a conversion script is available. See https://github.com/modelica/ModelicaStandardLibrary/blob/3e1a5d1f6a387e7ee59c2dde9d55b006565f64a7/Modelica/Electrical/QuasiStationary/MultiPhase.mo#L1671

[2018-07-31 09:07] christiankral opened #2694 "Add more spelling termes used in Electrical domain"
In the Modelica documentation of `Modelica.UsersGuide.Conventions.Terms.Electrical` the spelling of terms are collected. This is a cumulative ticket to collect additional terms to be implemented in the future.

[2018-07-31 09:10] christiankral commented on #2694
Add

    <tr>
      <td><a href="http://www.electropedia.org/iev/iev.nsf/display?openform&amp;ievref=351-47-17">set-point</a></td>
      <td>set point, setpoint</td>
    </tr>

[2018-07-31 09:18] christiankral commented on #2694
<tr>
  <td><a href="http://www.electropedia.org/iev/iev.nsf/display?openform&amp;ievref=151-15-21">no-load</a></td>
  <td>noload, no load</td>
</tr>

[2018-08-01 09:26] tobolar opened #2695 "Storage of PNG files (figures)"
There is a convention concerning figures' storage which states that

(see also Modelica.UsersGuide.Conventions.Documentation.Format.Figures).

According to this, the figures collected in `Modelica/Resources/Images/UsersGuide` should be stored appropriately. This is already the case for figures used in Modelica.UsersGuide.Conventions, i.e. there is a directory `Modelica/Resources/Images/UsersGuide/

[2018-08-01 11:20] tobolar opened #2696 "Icon of models with states"
There are defined models in MSL dealing with states:
- Magnetic.FundamentalWave.Interfaces.StateSelector
- Mechanics.Rotational.Components.RelativeStates
- Mechanics.Translational.Components.RelativeStates

They all use similar icon design but differ in the color of the background circle element.
I wonder whether this is done on purpose or by mistake. If the latter applies, one color should be def

[2018-08-02 13:41] max-privato commented on #2239
From time to time I re-read this ticket.

What about relying for the inversion to Fortran Lapack routines, since it is what is currently used in MSL?

I mean using the Modelica-Fortran interface and the two wrappers I mentioned at the end of this ticket's description to allow transferring the matrix to be inverted as two real matrices.
This would have the advantage of rather closely following what

[2018-08-02 15:08] max-privato commented on #2239
In the last row of my last message I referred to "Standard C language APIs for LAPACK",  as in
http://www.netlib.org/lapack/#_presentation

[2018-08-04 21:42] beutlich commented on #2677
There is no spatialDistribution called in MSL.

[2018-08-04 21:42] #2677 closed

[2018-08-04 21:44] beutlich commented on #2672
@casella Can you please have a look at this.

[2018-08-04 21:46] beutlich commented on #2661
OK, no more issue then.

[2018-08-04 21:46] #2661 closed

[2018-08-05 06:57] #2675 closed

[2018-08-05 18:00] beutlich commented on #2549
Reopen, since the fix in b7a64818aba4bf6375ba013b18b5afa2daa439d1was later reverted by dfa793f45a695f8e409d08a08b4f047d068566ec. Issue will be closed automatically once #2688 gets merged.

[2018-08-05 18:14] beutlich commented on #2549
Removed the `V: 3.2.2` label since the issue is present since 60f640b170704a713dfb1d05137f3894e03def43 (MSL v2.2.1) where IdealPump was added.

[2018-08-05 19:34] #2565 closed

[2018-08-05 19:34] #2646 closed

[2018-08-05 19:34] #2662 closed

[2018-08-06 06:18] AHaumer opened #2699 "FluidHeatFlow: PumpTurbine"
FluidHeatFlow: newly introduced PumpTurbine has to be removed before releasing 3.2.3, otherwise correcting the equations is not possible in a backwards compatible way, better introdue later

[2018-08-06 06:38] beutlich commented on #2699
PumpTurbine was introduced by 0ade4359bd76c44cfd6d20e3102f606fd6283708, thus v3.2.3-beta.1.

[2018-08-06 08:05] #2699 closed

[2018-08-06 08:11] #2549 closed

[2018-08-06 08:11] #2687 closed

[2018-08-06 08:38] beutlich commented on #2477
#2486 is fixed for MSL 3.2.3.

[2018-08-07 10:00] beutlich commented on #1954
rescheduling milestone

[2018-08-18 22:38] casella commented on #2370
I guess the issue is just delta_head_init being of type SI.Height, which has  min = 0, a restriction that wasn't actually meant to be there. Based on the discussion in #2639, the problem should be solved by just changing SI.Height to SI.Length, I'll take care of that ASAP.

[2018-08-19 05:39] bilderbuchi commented on #2370
I'm not so sure, as for a positive initial volume flow you get a negative initial delta head, which sounds like a sign error to me. (Where) is my previous analysis wrong?

[2018-08-20 08:28] HansOlsson commented on #2239
Apart from the problem with link with Lapack etc there are two additional comments related to this:

Inverting a matrix is often not a good idea, and solving linear systems of equations is often better. Obviously we can still make inversion available - but only having inversion without factoring and solving linear systems is not a good idea. Thus it is not a matter of just adding one function, but

[2018-08-20 11:56] max-privato commented on #2239
reply to HansOlsson

_Inverting a matrix is often not a good idea, and solving linear systems of equations is often better._

I agree. there are however cases in which inversion is the best solution. In my ticket's description I mentioned that I could supply details, and I try to do this now.
Consider a case in which pre-processing of user's data requires the inversion of complex matrices. This ca

[2018-08-22 09:31] henrikt-ma opened #2705 "Initialization of ModelicaTest.MultiBody.Joints.SphericalSpherical2"
I'd like to apologize in advance in case I have missed something obvious in this model, but I don't understand why the model is expected to initialize with a the positive solution for the _x_ coordinate of the `bodyBox`.  All I can see is that the other two coordinates are supposed to initialize to 0 due to the `freeMotionScalarInit`, but I don't see any initialization at all for the _x_ coordinat

[2018-08-22 09:37] henrikt-ma commented on #2705
Similar initialization is found in {{ModelicaTest.MultiBody.Joints.UniversalSpherical}}.

[2018-08-24 08:14] tobolar commented on #2239
There is a possible candidate for implementation realized in the [Modelica_LinearSystems2](https://github.com/modelica/Modelica_LinearSystems2) library: [Modelica_LinearSystems2.WorkInProgress.Math.Complex.Matrices.inv](https://github.com/modelica/Modelica_LinearSystems2/blob/master/Modelica_LinearSystems2/WorkInProgress/Math/Complex/Matrices/inv.mo)

[2018-08-24 10:01] max-privato commented on #2239
Sounds good. I'll look at this soon.

Wisely enough, the function comment says: ` "Inverse of a comlex matrix (try to avoid, use function solve(..) instead)" ` So users are warned that inv() usage must be taken with care. Still, there are cases in which this function results useful.

[2018-08-27 06:12] GallLeo commented on #2405
Removed requested signals from list of comparison signals. Ticket can be closed after upload of new reference results.

[2018-08-27 08:17] GallLeo commented on #2407
I now emptied the list of comparison signals. As there are no public variables, I don't think result comparison does make a lot of sense for these test cases.

Ticket can be closed after upload of new reference results.

[2018-08-27 08:48] GallLeo commented on #2350
Removed aD_Converter.y, dA_Converter.vout and dA_Converter.y from the list of comparison signals.

Would be better to be able to define a specific tolerance _per variable_  for comparison.

Possible workaround: Add a low-pass-filter, so that we have a continuous variable for comparison.
This should also be able to check if the AD-DA chain works as expected.

Model:
![grafik](https://user-images.gi

[2018-08-27 08:59] GallLeo commented on #1741
I follow @henrikt-ma's  arguments, but for automatic cross-tool comparison, it would be nice to have a documentation "how to get the same results, most likely".

We could also discuss switching to Cvode instead of Dassl for creating the reference results.
This might be a better basis for reproducing the results.

At least, we should go through this ticket at a MAP-LIB meeting.
Especially, regardin

[2018-08-27 15:40] tobolar commented on #2705
To my understanding, the following holds for `sphericalSpherical`:

    (1) `rRod_0 * rRod_0 - rodLength * rodLength = 0; // by constraintResidue`
    (2) `rRod_0 = frame_b.r_0 - frame_a.r_0;                 // by equation`
    (3) `rodLength = 1; // by parameter`

Additionally, there is a limitation due to the `freeMotionScalarInit`:

     (4) `sphericalSpherical.frame_b.r_0.start[2] = freeMotion

[2018-08-27 20:53] christiankral commented on #2239
The solution of complex equations is usually related with of initial conditions. So we have some options, as I understand the discussion:

1. Solve of a linear system of complex equations by writing complex Modelica equations in matrix form; this is what we can already do today; this is basically the way, how @max-privato solves his issue currently; similar to option 2. we may run into accuracy pr

[2018-08-27 20:54] christiankral commented on #2239
@tobolar As of [Modelica_LinearSystems2](https://github.com/modelica/ModelicaStandardLibrary/issues/2239#issuecomment-415687178) I do not understand if it is planned to include this library to the MSL or not. Having a solution in the MSL looks quite beneficial to me.

[2018-08-28 05:48] henrikt-ma commented on #2705
Thanks for a good summary of the equations involved.  It shows that we are on the same page.

Once you've reached (with `x` = `sphericalSpherical.frame_b[1]`),
{{{
x * x - 1 = 0;
}}}
you're left with a non-linear equation, and it is in their nature that there can be multiple distinct solutions.  Sometimes, one is only interested in the positive solution, sometimes only in the negative solution, an

[2018-08-28 07:39] HansOlsson commented on #2239
@christiankral  Regarding 1: If we write a complex matrix equation and have tools solve this (using linear algebra with real matrices) that should not cause any accuracy problems. However, as I understand it might be slightly less convenient to write it in this form.

Regarding the other two options: If we use a complex inverse function it will usually internally factor the matrix first and then s

[2018-08-28 09:48] henrikt-ma commented on #2350
Setting comparison tolerances seems like a completely separate question.  In our tests, we do have this possibility, allowing us to work around problems like this without having to exclude the variable, but I doubt that it would be worth the effort to standardize a system for specifying this.

Instead, I want the reference results to be as accurate and reliable as possible, so that we can leave it

[2018-08-28 18:02] max-privato commented on #2239
@tobolar
I tried a simple example with Dymola (which is declared to be the tool under which the library is tested) but I got:
`dymosim started
... "dsin.txt" loading (dymosim input file)
(j>=1)&&(j<=dim)
The following error was detected at time: 0
Index out of bounds
The stack of functions is:
Modelica_LinearSystems2.WorkInProgress.Math.Complex.Matrices.inv(
ZrInv)
Error: Failed to start model.`

[2018-08-31 07:45] tobolar commented on #2239
@christiankral

I guess there is a wish to include the libraray into the MSL, but no plan on how to proceed.
So moving reasonable functionalities into the MSL step-by-step could be a feasible way.

[2018-08-31 10:09] tobolar commented on #2705
It means in this particular case that e.g. `freeMotionScalarInit.r_rel_a_1(start = -1)` should lead to the negative start position of `bodyBox`, shouldn't it? But there is a conflict with guess values set by `bodyBox` itself, which obviously has a priority due to the state selection (at least in Dymola). Trying `bodyBox.r_0(start={-1,0,0})`, the negative start position of `bodyBox` is indeed selec

[2018-09-03 08:04] henrikt-ma commented on #2705
It's the same with SystemModeler; initialization needs to be on `bodyBox.r_0`.  Thus, it seems that both Dymola and SystemModeler would get the desired result for this model if `bodyBox.r_0` had a `start` value of `{1, 0, 0}`.  (Here, 1 is coincidentally both just a positive number that makes the non-linear local solver find the desired solution, and the actual value at solution.)

I suggest that

[2018-09-03 15:08] tobolar commented on #2696
I have changed (in #2710)
- Mechanics.Rotational.Components.RelativeStates
- Mechanics.Translational.Components.RelativeStates

to have similar look.

In contrast, no changes have been made to `Magnetic.FundamentalWave.Interfaces.StateSelector` since the model's purpose is indeed different.

Suggestion: close this issue when #2710 is merged.

[2018-09-04 12:16] beutlich commented on #2696
Closinf as proposed by @tobolar .

[2018-09-04 12:16] #2696 closed

[2018-09-17 12:12] hyumo opened #2712 "Use Modelica.Constants.g_n instead of 9.81 in Modelica.Mechanics.MultiBody.World"
`Modelica.Constants.g_n` is probably more accurate.

[2018-09-17 12:18] HansOlsson commented on #2712
The actual gravity on earth varies from 9.78 to 9.83 depending on latitude and other factors. The value `Modelica.Constants.g_n` is a standardized value,

[2018-09-17 12:28] hyumo commented on #2712
Thanks, @HansOlsson @beutlich. I should have checked my MSL version first, Dymola 2019 is on 3.2.2, that's why I am not getting the change for #1944

[2018-09-25 09:43] tobolar opened #2716 "Where to save PNG files"
The convention on figures' format in the html documentation (`Modelica.UsersGuide.Conventions.Documentation.Format.Figures`) says:

Does this mean for a specific package that
1. figures used in components have to be saved in particular directories having the same names as components itself, or
2. figures of all package's components are saved in one directory which is called according to the packag

[2018-09-25 12:56] ErikHenningsson opened #2717 "Poor scaling of curve parameter s in Modelica.Fluid.Interfaces.PartialLumpedVolume"
Poor scaling of the curve parameter _s_ in Modelica.Fluid.Interfaces.PartialLumpedVolume when portsData_height[i] = 0 causes problems for mode switch detection. Especially, when switching from the mode
_// ports[i] is above fluidLevel, preventing outflow_

The curve parameter _s_ is very small when in this mode but rather large when in other modes. This makes detection of zero-crossings difficult.

[2018-09-25 13:12] beutlich commented on #2717
-10m?

[2018-09-25 13:18] ErikHenningsson commented on #2717
No, indeed +10 m. This will cause the other two tanks to fill up. However, the fill up of tank2 sometimes starts later than expected due to difficulties locating the zero-crossing.

[2018-09-27 00:48] finback-at opened #2719 "Bug in the modified Eucken method of Modelica.Media.IdealGases.Common.Functions.thermalConductivityEstimate"
I don’t have the original paper, but 3 linked documents below show that
the modified Eucken correlation is

        (Lambda * M)/(eta * Cv) = 1.32 + 177 * (R/Cv).

R is the universal gas constant and Cv is heat capacity at mol.  Units of them are  “J/(mol.K)” and this equation is a dimensionless factor.

Last term is rewritten to,

        1.77*(R/Cv) = 1.77/(Cv/R) = 1.77/((Cp-R)/R) = 1.77/(Cp/R -

[2018-09-27 05:43] beutlich commented on #2719
Thank you for the issue report with concrete analysis. Can you please check, if this is already solved in MSL [v3.2.3-rc.1](https://github.com/modelica/ModelicaStandardLibrary/releases/tag/v3.2.3-rc.1), particularily by ef8359f75cf9ad6fdd071e3559023ebeffaacdf3 for #2377?

[2018-09-27 05:52] henrikt-ma commented on #2705
Yes, just as guess values.

[2018-09-27 07:06] henrikt-ma opened #2720 "Initialization of ModelicaTest.MultiBody.Joints.UniversalSpherical"
For the reference system in `ModelicaTest.MultiBody.Joints.UniversalSpherical`, there is a problem with the initialization of `universal.phi_a`.  In order for the `universal` component to do the pendulum motion in the correct plane, `universal.phi_a` must be 90°+-n*180°, but it is initialized to 0°.

I don't know why, but with SystemModeler, I find that -90° is a stable solution, while 90° is unst

[2018-09-27 07:10] tobolar commented on #2720
Please correct which angle is stable:

[2018-09-27 07:37] thorade commented on #2719
In the function Modelica.Media.IdealGases.Common.Functions.thermalConductivityEstimate variables have following units:
Cp has unit J/kg.K
data.R has unit J/kg.K
Modelica.Constants.R has unit J/mol.K
lambda has W/m.K
eta has unit Pa/s

So, I think your analysis is correct, and the same equation can correctly be written in mass-based or mol-based units. Here, both are mixed incorrectly, and that hap

[2018-10-01 08:37] HansOlsson commented on #2719
With default settings it will not be caught.

The problem is that it is inside a function and you have the two constants 1.32 and 1.77 messing up the unit-checking (they are unit-less, but in general we are relaxed for such constants).

The tickets #2376 #2377 #2379 were created by being less strict, but not in functions.

If we also are less strict for functions it would be detected but so will a

[2018-10-02 17:21] svorkoetter opened #2721 "ModelicaReference.Annotations.Documentation contains unresolvable URIs"
The documentation in `ModelicaReference.Annotations.Dialog` contains two instances of `modelica://Multibody...`. I believe these should be `modelica://Modelica/Multibody/...` to resolve correctly.

[2018-10-02 17:23] svorkoetter opened #2722 "ModelicaReference.Annotations.Dialog contains an unresolvable URI"
The documentation in `ModelicaReference.Annotations.Dialog` contains `modelica://MyPackage/Resources/Images/image.png`. I realize this is an example, but there is no indication that this URI is not to be resolved, so a tool that is generating the documentation will try to do so.

[2018-10-03 05:13] sjoelund commented on #2721
https://github.com/modelica/ModelicaStandardLibrary/blob/467a0b68f7f3fb455cda84583d6f6b20db9f45a8/ModelicaReference/package.mo#L760
is not a link though. It could refer to anything, and I suppose in this instance it referred to the old MultiBody library. I suppose this link should be `modelica://Modelica.Mechanics.MultiBody.UsersGuide.Tutorial` to resolve correctly (didn't check MSL to see the new

[2018-10-03 06:09] usn-student commented on #2722
I agree with @sjoelund that this is a non-issue.

[2018-10-03 06:10] dietmarw commented on #2722
I agree with @sjoelund that this is a non-issue.

[2018-10-03 06:11] #2722 closed, assigned to nobody

[2018-10-03 06:15] dietmarw commented on #2721
Yes that location is correct. But it does not have to be an existing Package in this **example* snippet. I will supply a PR which changes this to a URI that does not indicate an existing package.

[2018-10-04 12:50] HansOlsson opened #2724 "Broken table-interpolation?"
Consider the following:
[code]

[2018-10-04 12:53] HansOlsson commented on #2724
As far as I can see combiTimeTable.y generates 11, 10 as signals, and combiTimeTable1.y is 11, a short dip and then 11, followed by 12 and then linear interpolation.

Setting extrapolation=Modelica.Blocks.Types.Extrapolation.HoldLastPoint gives correct result for combiTimeTable1 - but combiTimeTable is stuck at 10.

[2018-10-04 21:20] beutlich opened #2728 "Remove comparison signal from regression test"
The nextTimeEvent variable is a protected, discrete state variable, that should not be used as comparison signal of the ModelicaTest.Tables.CombiTimeTable tests, since it depends on Modelica.Constants.inf = ModelicaServices.Machine.inf, i.e., is tool-dependent (see #2435).

[2018-10-05 12:59] GallLeo commented on #2728
Removed nextTimeEvent for all test cases in `ModelicaTest.Tables.*`

Ticket can be closed after upload of new reference results.

[2018-10-06 07:19] max-privato opened #2729 "Field %name written twice on several models"
Several MSL models have an icon containing %name twice because %name is in defined both in their icon and inside Blocks.Icons.Block they inherit from.

This issue is hardly noted, since the two texts are written exactly in the same location.
I discovered it for a strange coincidence. However, I think it should be corrected.
A partial list of models having this issue is the following:
Add, Atan2, D

[2018-10-08 06:40] #2724 closed

[2018-10-09 13:42] henrikt-ma commented on #2705
Please note that this issue shouldn't be closed without also fixing `ModelicaTest.MultiBody.Joints.UniversalSpherical`.

[2018-10-09 15:30] tobolar commented on #2705
I think there is no problem with it as you've opened a separate issue for UniversalSpherical: #2720
So there is actually no conflict and the issues can be solved separately.

[2018-10-10 05:29] henrikt-ma commented on #2705
My bad.  I'm sorry.

[2018-10-10 05:39] henrikt-ma commented on #2720
I've corrected the original comment to say that 90° is unstable.

[2018-10-11 01:01] adangert commented on #2001
I got this error today.

[2018-10-11 06:36] beutlich commented on #2001
Already fixed.

[2018-10-12 06:07] kristinmajetta opened #2735 "Modelica.Electrical.Analog.Basic.M_Transformer missing dotted line"
In the Icon of Modelica.Electrical.Analog.Basic.M_Transformer the dotted line between the second and the third inductor symbol is missing. It was there in MSL.3.2.2 and should be added again.
It is not clear why it is gone

[2018-10-13 18:43] #2729 closed

[2018-10-14 19:04] beutlich opened #2741 "Regression in ModelicaTest.Tables.CombiTimeTable.Test6 ?"
The t_new.y[1] signal of ModelicaTest.Tables.CombiTimeTable.Test6 misses the time event at 0.61 (+ period), if MSL v3.2.3-rc.1 (/w or w/o table fix of #2725 and Dymola 2019) is compared against MSL v3.2.2 (and Dymola 2014?). See http://www.ltx.de/download/MA/Compare_MSL_v3.2.3-rc.1/2018-10-06_202102_ModelicaTest_v3.2.3-rc.1_2019/compare/2018-10-06T21-28-00-Test6_report.html and in detail:

![grafi

[2018-10-15 05:40] #2719 closed

[2018-10-15 09:58] beutlich commented on #2741
This is a tool regression in Dymola 2019 that can be resolved if Advanced.EfficientMinorEvents=false is set.

@GallLeo We need to decide if we
1. set this option in newer regression runs,
1. rerun MSL v3.2.2 regression in Dymola 2019 to get update reference results, or
1. simply accept all the false positives

to overcome the tool regression.

[2018-10-15 20:17] beutlich opened #2743 "No medium2 in Modelica.Media.Examples.MoistAir"
Documentation of Modelica.Media.Examples.MoistAir mentions medium2, but there is no such second medium in the example model.

https://github.com/modelica/ModelicaStandardLibrary/blob/d053d332d61fd754e44bf680a8f80bde76d24315/Modelica/Media/package.mo#L2424-L2430

[2018-10-15 20:38] beutlich commented on #2728
Please also remove ModelicaTest.MultiBody.PlanarLoopWithMove.PlanarLoopWithMove.combiTimeTable.nextTimeEvent.

[2018-10-16 07:54] HansOlsson commented on #2741
Since I'm assigned to this issue I will clarify as much as possible: this will be corrected in the next release; setting Advanced.EfficientMinorEvents=false is a work-around, the time-event isn't fully missed but it isn't stored in the result file. I believe that either option 1 or 3 above would be good.

[2018-10-18 06:31] bilderbuchi commented on #2370
cross-referencing the equivalent OM issue: https://trac.openmodelica.org/OpenModelica/ticket/2958

[2018-10-19 07:26] tobolar opened #2749 "Use ellipses in documentation"
Relying on @kristinmajetta's comment https://github.com/modelica/ModelicaStandardLibrary/pull/2748#issuecomment-431257338 and on https://en.wikipedia.org/wiki/Ellipsis#In_mathematical_notation, a row of **three** points (ellipsis) should be used for lists (or ranges) of numbers within the MSL's documentation. At the moment, mostly just two points are used.

To perform this properly, a HTML entity

[2018-10-19 09:04] beutlich commented on #2534
@HansOlsson How to proceed exactly for the next major release?

1. Move Modelica.Mechanics.MultiBody.Interfaces.PartialAbsoluteSensor to some Obselete-library
1. Move Modelica.Mechanics.MultiBody.Sensors.Internal.PartialAbsoluteSensor to Modelica.Mechanics.MultiBody.Interfaces.PartialAbsoluteSensor
1. Add conversion script to rename class Modelica.Mechanics.MultiBody.Interfaces.PartialAbsoluteSens

[2018-10-19 11:39] tobolar commented on #2534
I have checked #609 again and there is still the (unfortunately undecided) question on the usage of `BasesPackage` package collecting base classes. A possible solution would be then

2. Move Modelica.Mechanics.MultiBody.Sensors.Internal.PartialAbsoluteSensor to Modelica.Mechanics.MultiBody.BaseClasses.AbsoluteSensor (similarly named as Modelica.Electrical.Analog.Interfaces.AbsoluteSensor)

I perso

[2018-10-23 08:09] tobolar opened #2750 "American vs. British English"
Is there any decission on whether to use American or British English in the documentation? https://github.com/modelica/ModelicaStandardLibrary/issues/940#issuecomment-272622449 somehow refers to this topic as well.

[2018-10-23 08:19] beutlich commented on #2750
Indeed, currently it is neither defined nor consistently typed. I have no strong opinion here which flavour ehm flavor to use.

[2018-10-23 09:21] tobolar opened #2751 "Use non-breaking space in documentation"
I would lobby for more often usage of non-breaking space character, in HTML `&nbsp;`, in the documentation. At least the following cases should be covered:
- a variable quantity is given by a number and an unit, as required in https://www.bipm.org/en/publications/si-brochure/section5-3.html, i.e. 132.7&nbsp;kg shall be written by `132.7&nbsp;kg`,
- around mathematical symbols in inline equations,

[2018-10-23 09:32] tobolar opened #2752 "Use quoted section for preformated text"
I suggest to quote sections of preformated text in the documentation, in HTML by `<blockquote> ... </blockquote>`. This is already established in plenty of classes, but not consequently in all classes.
If agreed, this should especially be documented in `Modelica.UsersGuide.Conventions.Documentation.Format.Code`.

[2018-10-23 09:51] HansOlsson commented on #2750
As I recall the difference between American and British English spelling (and grammar) is not always as clear-cut; and there are also other variations - like Canadian English.

Thus we might view enforcing this as being over-pedantic - or we might view it as marketing intended to make e.g. Americans welcome; or send some other message.

[2018-10-23 15:05] HansOlsson commented on #2749
The decimal variant `&#8230;` is confusing for me, and `&hellip;` seems easiest to understand.

[2018-10-24 08:19] tobolar commented on #2749
@HansOlsson You are absolutely right. This is just for completeness.

[2018-10-24 09:01] beutlich commented on #2749
I do not mind which HTML entity to use. Just go ahead with it. Thanks.

[2018-10-24 09:06] beutlich commented on #2750
Even MLS 3.4 or FMI 2.0 specifications are not consistent (only checked spelling of behavior vs. behaviour).

I agree and would like to close this as non-issue.

[2018-10-24 09:14] dietmarw commented on #2749
`&hellip` would be my preference since actually recognisable without having to search for the meaning.

[2018-10-24 09:38] tobolar commented on #2750
I would appreciate to have some decission because a good work is marked by both the content and the form - imagine simply a scientific paper. But since I have no preference I agree to close this issue.

[2018-10-24 09:38] #2750 closed

[2018-10-24 09:59] HansOlsson commented on #2750
If you trust google it's complicated, and inconsistent.
The trends for behavior and colour are downward, and behaviour and color are steady/gaining ground (in both British and American English)!

https://books.google.com/ngrams/graph?content=behavior%3Aeng_gb_2012%2Cbehaviour%3Aeng_gb_2012%2Cbehavior%3Aeng_us_2012%2C%2Cbehaviour%3Aeng_us_2012&year_start=1800&year_end=2000&corpus=15&smoothing=3&sha

[2018-10-24 11:36] tobolar commented on #2750
Seems the number of US books dealing with behavior decreases. :-)
Ok, you convinced me.

[2018-10-25 10:13] christiankral commented on #2694
[code]

[2018-10-26 06:50] beutlich commented on #2477
@tobolar Can you prepare a PR on this one? Thanks.

[2018-10-26 06:55] beutlich commented on #2590
Duplicate of #2226.

[2018-10-26 06:55] #2590 closed

[2018-10-26 07:29] dietmarw commented on #2743
I looked at this and it seems the documentation of `MoistAir` belongs actually into `MixtureGases`. Then also the reference to `medium2` makes sense. I could have simply moved the documentation over but then I'm not sure what the documentation for `MoistAir` should look like. @hubertus65 any suggestions?

PS: Duplicates of these models also exist in ModelicaTest and should probably be updated at t

[2018-10-26 07:49] HansOlsson commented on #2743
Hmm.. That made me realize something:

Why do we have duplicates?
If we only want to test ModelicaTest, and not examples in MSL why duplicate it instead of just making a model in ModelicaTest that extends from the example?

[2018-10-26 07:51] dietmarw commented on #2743
Yes that would make much more sense.

[2018-10-26 07:51] beutlich commented on #2743
These duplicates should be sorted out by #1053, #2542 and #2745.

[2018-10-26 16:33] max-privato opened #2757 "Icons for Blocks.Logical (LessThreshold, LessEqualThreshold, GreaterThreshold and GreaterEqualThreshold) misleading when flipped"
The icon of LessThreshold is a sign "<". When the component is used as is, it is meaningful.
If the component flipped horizontally, the same icon "<" is displayed, which indicates greater instead of less!

Also GreaterThreshold is affected by this issue. The issue can be solved using a drawing for the less or greater symbol instead of a character.

Less, Greater, LessEqual and GreaterEqual are una

[2018-10-28 12:01] beutlich commented on #2757
Left over from #745. Will prepare a pull request.

[2018-10-28 20:09] beutlich commented on #291
To summarize: Proposal is to rename Mechanics to Mechanical and keep Electrical and Magnetic as is.

[2018-10-28 20:14] beutlich commented on #107
Thanks to @filip-jezek https://newsletter.modelica.org was revived again in 2018.

[2018-10-28 20:14] #107 closed

[2018-10-29 08:45] beutlich opened #2760 "Wrong medium description for N2AsMix"
Seems, the description of Modelica.Media.Examples.TestOnly.N2AsMix and ModelicaTest.Media.TestOnly.N2AsMix was copied from Modelica.Media.IdealGases.MixtureGases.AirSteam:

https://github.com/modelica/ModelicaStandardLibrary/blob/d1486049243bc164df193eb93910f555477378a6/Modelica/Media/package.mo#L3824

https://github.com/modelica/ModelicaStandardLibrary/blob/d1486049243bc164df193eb93910f555477378a

[2018-10-29 10:17] beutlich opened #2761 "Missing component descriptions in example ShowTransferFunction"
Parameters a, b, d, wMax, wMin and variables dB, lg_w and phi miss a descriptive string.

See also #2166 and #1850.

[2018-10-29 15:48] tobolar commented on #291
To be really consequent, what about
- Fluid -> Hydraulical and
- Math -> Mathematical?

... and we should also think about Blocks...

[2018-10-29 15:51] tobolar commented on #2477
Will go for it.

[2018-10-29 15:55] dietmarw commented on #291
- Block -> Signals
perhaps?

[2018-10-29 16:08] svorkoetter commented on #291
I think the Blocks one is orthogonal. It's called Blocks because it contains Modelica blocks (i.e. causal components).

For the others, we need to decide what type of name we want to use? The name of the field? The adjective describing objects used in the field? Something else?

If we wanted to use the former, we'd have Mechanics, Magnetics, Electrics (awkward, but I think technically correct), Ma

[2018-10-29 16:14] svorkoetter commented on #291
PS. "Math" is a common abbreviation for "Mathematics" in North American English (orders of magnitude more common than the full word). I believe the British call it "Maths".

[2018-10-30 09:50] tobolar commented on #2752
I found out there is right opposite definition in `Modelica.UsersGuide.Conventions.Documentation.Format.Code`:

But I still believe the text in the second figure below is better readable than the text in the first figure and vote for changing this rule.
<hr>

**Figure 1** - snapshot of the current "Code" document:

**Figure 2** - the same document, code lines formated using blockquote:

[2018-10-30 10:00] beutlich commented on #2752
Are the blockquote tags missing in the 2nd example of the 2nd figure? Otherwise I wonder why it is indented w.r.t. the 1st figure.

[2018-10-30 10:04] tobolar commented on #2716
No feedback so far. I would personally vote for 1. and am going to force this in #2695 when there will be no opposite reaction.

[2018-10-30 10:05] HansOlsson commented on #291
Agreed, but we should also be careful since Math(s) is also a school subject and it seems some unrelated to that (e.g. plus, minus, division aren't in that library).

It might be that something other than 'Math' more clearly captures the contents.

However, I'm also a bit hesitant about all of these changes, since there is a risk we change some of them for the sake of change.

[2018-10-30 10:09] beutlich commented on #291
I'd actually only go for the renaming Mechanics -> Mechanical and nothing else - for the sake of consistency.

[2018-10-30 10:11] HansOlsson commented on #2716
To me it seems as if most of the leaf-directories will just contain one or two images.

If that is the case I would prefer ~/Modelica/Resources/Images/Blocks/Continuous/ButterWorth.png instead of ~/Modelica/Resources/Images/Blocks/Continuous/LowpassButterworth/ButterWorth.png
(basically I don't like repetitions).

Or possibly ~/Modelica/Resources/Images/Blocks/Continuous/LowPassButterWorth.png

[2018-10-30 10:36] beutlich commented on #2716
I am fine with any of the three proposals. Just go ahead.

[2018-10-30 12:46] christiankral commented on #2716
I am also in favor `~/Modelica/Resources/Images/Blocks/Continuous/ButterWorth.png` as we then have no more than ten files in the directory `~/Modelica/Resources/Images/Blocks/Continuous/`. I personally also think that it makes no sense have the same name in a directory and file.

[2018-10-30 14:15] dietmarw commented on #2716
For the organisation of the image you should also take a possible future modularisation into account. So each possible stand-alone sub-library should have its own Image folder with no further detailed structure required.

[2018-10-30 19:46] JoeRiel opened #2762 "Output port for Multiphase sensors has wrong orientation"
The output port for the Current, Power, and Voltage sensors in Modelica.Electrical.MultiPhase.Sensors  has orientation 90 rather than -90.  As such it appears to be an input rather than an output.

[2018-10-30 20:42] christiankral commented on #2762
Example: For the current sensor the real output is:
[code]

The `rotation` being `90` instead of `-90` is due to the `extent` being `{{10,-10},{-10,10}}` instead of `{{-10,-10},{10,10}}`. Both in OpenModelica and Dymola the output connector looks correct:

![image](https://user-images.githubusercontent.com/4184218/47748838-07d91700-dc8c-11e8-8ad3-10f5752c69e5.png)

I do, however, not know if the M

[2018-10-30 21:42] JoeRiel commented on #2762
Thanks for the response. I didn't notice the flipped extent, which should correct the orientation.

[2018-10-31 07:47] tobolar commented on #2752
@beutlich Fixed 2nd figure.

[2018-10-31 08:39] tobolar commented on #2716
I think the motivation for that rule in `Modelica.UsersGuide.Conventions.Documentation.Format.Figures` is to omit hundreds of images within one `~/Resources/Images/` directory. The other exterme would be to have hundreds of directories with just one image.
Regarding comments above there is clear preference for option 2.

[2018-10-31 08:39] #2716 closed

[2018-10-31 19:43] Mathadon opened #2763 "Read combiTimeTable using column header names"
The `CombiTimeTable` currently supports indexing using indices through the parameter `columns`. It would be useful if it were possible to index a header using header names, e.g. through parameter

[code]
When a table structure/order changes, the `CombiTimeTable` then automatically adjusts as long as some header in the file is consistent with the data. I can propose an implementation if this propos

[2018-10-31 19:51] beutlich commented on #2763
What do you mean by header?

[2018-10-31 20:00] Mathadon commented on #2763
I propose to add an optional line to the data file that contains a name for each column. E.g:

[code]

[2018-10-31 20:21] beutlich commented on #2763
You can already do now:
[code]

[2018-10-31 21:08] Mathadon commented on #2763
That is indeed a possible implementation. Just to make sure I understand this correctly: the function `TODO` is not implemented yet in the code above? And it would make sense to actually integrate that code snippet into the MSL?

[2018-11-01 01:58] finback-at opened #2764 "Unit conversion bug in Media.IdealGases.Common.MixtureGasNasa.mixtureViscosityChung"
The output value of mixtureViscosityChung for CombustionAir is in the order of 1e+9. Too large!
I checked the original document.
The unit of calculated value of etam is

    (micro Poise) = 1e-7 (Pa.s)

Current output value is

`
   etaMixture := etam*1e7;
`

It should be corrected to,

`
etaMixture := etam*1e-7;
`

[2018-11-01 07:32] beutlich commented on #2763
Have a look at https://github.com/modelica/ModelicaStandardLibrary/blob/71590c7e658a6fbbe037364f52b82589b01a1003/Modelica/Resources/C-Sources/ModelicaIO.c#L653-L654

Also, column names are not available for MAT files. So, headers would only be valid for text based files and we would require a specialized class TxtTimeTable then.

[2018-11-01 07:36] Mathadon commented on #2763
Good point, forgot about that. I better skip this for now then. Thanks for the feedback!

[2018-11-01 07:36] #2763 closed

[2018-11-01 07:37] sjoelund commented on #2763
Why would you need the function to be an external function? If you can get the columns from the file, you can calculate the indexes by a lookup function.
[code]

[2018-11-01 07:39] beutlich commented on #2763
Not possible to swap columns then: {"col2", "col1"}

[2018-11-01 09:03] beutlich commented on #2762
Flipped extents are legal.

[2018-11-01 09:03] #2762 closed

[2018-11-01 09:08] beutlich commented on #2764
@thorade Are you familar with https://github.com/modelica/ModelicaStandardLibrary/blob/71590c7e658a6fbbe037364f52b82589b01a1003/Modelica/Media/IdealGases/Common/package.mo#L1061 ?

[2018-11-01 09:55] thorade commented on #2764
Sorry, I have not used that correlation myself. The three references given are:
Chung 1988 https://doi.org/10.1021/ie00076a024
Chung 1984 https://doi.org/10.1021/i100013a002
general reference, book by Poling https://scholar.google.com/scholar?cluster=5190098174187723396

The unit used by default in MSL is Pa.s which is inconvenient for viscosity, a displayUnit µPa·s would be nice, also see #545.
h

[2018-11-02 17:22] max-privato commented on #2757
Thank you for implementing my suggestion.
After some usage, and getting other people involved, I came to the conclusion that the icon is still confusing. The issue is that when we use the symbol "<" we want to have two terms In Greater and Less somehow we have them, in GreaterThreshold, and LessThreshold, even with the modification i suggested we still don't have.

I made some tests with both Dymo

[2018-11-02 17:28] max-privato opened #2765 "ComplexInput and ComplexOutput icons have strange greyed boxes"
ComplexBlocks.Interfaces.ComplexInput and ComplexBlocks.Interfaces.ComplexOutput icons have a strange greyed background (a rounded box below the arrow).

I don't know whether this is done on purpose, but it seems to me rather confusing.
I propose to remove those greyed boxes.

[2018-11-02 20:50] beutlich commented on #2757
Forwarding to library officers @AHaumer and @MartinOtter .

[2018-11-02 22:09] max-privato commented on #2765
I see. Thank you for the explanation.
So I understand that we must live with those grey boxes, for an unpredictable (probably very long) time.
I posted the ticket just in case it was an easy fix, which resulted not to be the case.

[2018-11-03 09:31] max-privato commented on #2765
A fallback option is just adding an intermediate rectangle between the grey and the triangle as follows. Does not solve the issue in its roots, but hides it, I suppose satisfactorily.

connector ComplexOutput = output Complex "'output Complex' as connector"
  annotation (
  defaultComponentName="y",
  Icon(coordinateSystem(preserveAspectRatio=true, extent={{-100,-100},{100,
          100}}),

[2018-11-03 09:36] beutlich commented on #2765
Possible. But not good enough for a _standard_ library.

[2018-11-03 09:42] max-privato commented on #2765
Yes it is tricky. In addition, it works well with Dymola, but is unreliable in OM.

[2018-11-03 11:40] max-privato commented on #2765
I clarify a little.
In case it turns out that because of a hole in Modelica specification no cleaner solutions exist, maybe a tricky -one is acceptable also in MSL?
That's why I called it "a fallback option".

But such a choice should be painless for users. If does not work in OM it is unacceptable.
I will try to understand why. In case there is an easy-to-solve issue OpenModelica code I can open

[2018-11-05 06:18] max-privato opened #2766 "Issues regarding DC machines"
Consider in Modelica.Electrical.Machines.BasicMachines
DC_ElectricalExcited and DC_SeriesExcited.

The documentation says that DC_SeriesExcited must be used for series connected machines, but the model allows different types of excitation connection.
In principle models allow exciting DC_SeriesExcited  shunt and DC_ElectricalExcited in series.

So the following question arises: if DC_SeriesExcited

[2018-11-05 16:08] AHaumer commented on #2766
The ElectricalExcited can be used for separate excitation or parallel excitation.
The SerialExcited shall be used onyl for serial excitation.
The difference between both models is the calculation of parameter ViNominal (induced voltage) and psi_eNominal (magnetic flux) from nominal parameters (like resistances and nominal currents):
ElectricalExcited:
  ViNominal=VaNominal - Ra*IaNominal
  psi_eNo

[2018-11-05 16:16] AHaumer commented on #2761
d: damping coefficient
b: numerator polynomial coefficients of transfer function
a: denominator polynomial coefficients of transfer function
wMin: lower bound for frequency sweep
wMax: upper bound for frequency sweep
lg_w: logarithm of frequency
dB: absolute of transfer function in decibel
phi: argument of transfer function

[2018-11-05 16:18] AHaumer commented on #2681
You're right. Sorry I don't have the time to invent meaningful test example right now.

[2018-11-05 16:18] AHaumer commented on #2680
You're right.
Sorry I don't have the time to invent meaningful test example right now.

[2018-11-05 16:19] max-privato commented on #2766
@AHaumer,
thank you for your fast answer.
Your explanation is so clear now. Indeed it answers both proposal 1 (the last phrase of it) and proposal 2.
I myself could have envisaged the answer but I did not dig into code, since I wanted to put myself in the final user position, such as my student's.
Thanks again.
I suppose it is a good idea to keep this ticket open until the documentation enhancemen

[2018-11-05 18:11] beutlich commented on #2761
Thanks.

Modified to magnitude in #2767. Please review.

[2018-11-07 08:36] HansOlsson commented on #2765
To me the simplest way of specifying it would be:
`connector ComplexOutput=output Complex annotation(IconMap(primitivesVisible=false),Icon(...));`

As far as I can understand that should work according to 18.6:
"The allowed annotations for a short class definition is the union of the allowed annotations in classes and on extends-clauses."
But we could likely clarify that further, and e.g. show it

[2018-11-07 08:39] beutlich commented on #2765
Ok.

The other option would be to allow base-prefix for long-class definitions., which opens the general question if every short-class defintion must always be possible to be defined as long-class equivalent.

[2018-11-07 08:41] beutlich commented on #2765
Afaik, SimulationX, OMEdit and MapleSim support the IconMap. It's just that it is not yet used in the MSL and that there are some open clarification issues to be dealt with.

[2018-11-07 08:45] HansOlsson commented on #2765
Since you cannot combine the base-prefixed class with any other contents that seems like something that is easy to use incorrectly.

I specifically meant IconMap on short class.

[2018-11-07 13:56] beutlich commented on #2765
Right, got it. Will open a specification issue with your clarification proposal and a new MSL PR making it a tool issue then.

[2018-11-07 21:29] GallLeo commented on #2741
Advanced.EfficientMinorEvents=false is now the default setting for further release tests in Dymola 2019.

[2018-11-08 09:20] #2735 closed

[2018-11-08 19:13] #2761 closed

[2018-11-08 19:13] beutlich commented on #2761
Done.

[2018-11-09 09:55] joergu opened #2770 "Wrong mass flow rate calculation in Modelica.Fluid.Fittings.GenericResistances.VolumeFlowRate"
The mass flow rate of volumeFlowRate is always zero if the pressure drop is a linear function of volume flow rate.

The volume flow of is calculated by solving the quadric equation dp=a*V_flow^2+b*V_flow. This fails if a is zero. The actual problem is in Modelica.Fluid.Dissipation.PressureLoss.General.dp_volumeFlowRate_MFLOW:

1) a is silently replaced by max(a,Modelica.Constants.eps) (the same fo

[2018-11-09 21:03] #2340 closed

[2018-11-12 18:40] beutlich commented on #2330
@christiankral Is there anything left to do here or can we close this issue as wontfix?

[2018-11-12 19:06] beutlich commented on #2006
@HansOlsson Is it generally possible?

[2018-11-12 19:15] beutlich commented on #1861
@MartinOtter Is this still planned?

[2018-11-12 19:33] beutlich commented on #1855
In my opinion the Dialog.showStartAttribute annotation should be removed for non ODE state variables. I believe that Modelica.Mechanics.Rotational.Components.Inertia.a is the only such case. @tobolar Do you agree?

https://github.com/modelica/ModelicaStandardLibrary/blob/bf7185414962b490700c96c160632c625ef52e4f/Modelica/Mechanics/Rotational.mo#L2481-L2483

[2018-11-12 20:36] beutlich commented on #1539
Resolved by c0262ce96d4832a64d48358f382219b48e613908 and 6173925548cad2f94f07e6c338597307d5e921a2 (for MSL v3.2.2).

[2018-11-13 08:46] HansOlsson commented on #2006
Yes, convertClass should convert function calls as well (the specification just discusses converting classes so it should be covered, and Dymola has implemented it). I don't know if there is a specific issue in this case.

[2018-11-13 10:01] wischhusen commented on #2006
We can give it a try.

[2018-11-14 10:06] casella commented on #2770
@wischhusen can you take care of this?

Thanks!

[2018-11-16 11:30] christiankral commented on #2330
I created a variables list on May 15, 2018 and sent to to @GallLeo. Reference cases should therefore exist.

[2018-11-16 11:30] #2330 closed

[2018-11-16 16:49] JoeRiel opened #2775 "Spice3.Basic.K_CoupledInductors should allow k=1"
The assertions specify that 0 <= k < 1.  That should be extended to 0 <= k <= 1.  The equality (k=1) allows easily modeling ideal coupling.

[2018-11-19 11:21] GarronFish opened #2776 "Modelica.Mechanics.MultiBody.Frames.from_nxz calculation of w"
Modelica.Mechanics.MultiBody.Frames.from_nxz sets R.w={0,0,0}
this seems incorrect.  Shouldn't R.w be calculated?

R.w can be calculated with der(T) and T.

[2018-11-19 11:29] GarronFish commented on #2776
Thanks, for pointing that out.

A non-fixed version would be helpful.

[2018-11-19 11:39] beutlich commented on #2776
Yes, can even be done in a backward-compatible way.

[2018-11-19 14:22] christiankral commented on #2628
Even the electrical sensors icons are not designed in the same way:

![image](https://user-images.githubusercontent.com/4184218/48712391-ed9cb400-ec0d-11e8-9b72-998ecc7e7e83.png)

Thermal sensor of `Modelica.Thermal.FluidHeatFlow` and `Modelica.Thermal.HeatTransfer` shall also be harmonized:

![image](https://user-images.githubusercontent.com/4184218/48712714-bd094a00-ec0e-11e8-9ea4-980f95fcefd4.p

[2018-11-19 14:35] dietmarw commented on #2628
This probably could be solved elegantly by having a proper base sensor icon class which allows for the label (*e.g.,* P, I, V, dp, H, M) and maybe the optional `m=...`  parameter.

[2018-11-19 14:39] dietmarw commented on #2628
As for unit vs. quantity. Maybe the display of `[A]` would make it more obvious that it is a quantity. Also since the senors give a signal out it might help to actually have the unit and not quantity displayed. Since that is what the signal is "attached" to.

[2018-11-19 16:35] HansOlsson commented on #2628
I agree that case of unit ≠ displayUnit is important, but I am unsure about the implication - consider Modelica.Fluid.Examples.DrumBoiler.DrumBoiler

[2018-11-21 08:36] henrikt-ma commented on #1966
Hans, do you mean that the `for`­ equation
[code]
is expected to be treated as a single multi-dimensional equation where a lot of intelligence is applied to figure out that `pin_n.i` is actually always present in the equation's `m`-dimensional residual, where the number `m` isn't even known during translation?

I would find it much more natural if the intention was to handle `m` and `k` as constan

[2018-11-21 08:49] beutlich opened #2781 "Missing test for Modelica.Media.IdealGases.Common.MixtureGasNasa.mixtureViscosityChung"
@finback-at Can you please create a pull request to add a new test model comparing mixtureViscosityChung and dynamicViscosity for CombustionAir to ModelicaTest.Media.TestOnly. Thanks a lot!

[2018-11-21 13:35] wischhusen commented on #2770
Thanks for reporting this issue! I resolved the problem by allowing positive (incl. zero) numbers for a and b. One factor has to be greater zero to allow a proper inversion of the function.

[2018-11-21 15:21] joergu commented on #2770
Hi,
in Line 4606 I think it should be for the linear case  M_FLOW = rho * dp/b
in Line 4602ff we have still the issue of -b/(2*a) has opposite sign as the square root which might lead to cancellation. Using Vietas formula would avoid that:

V_FLOW = c/a * 1/(b/(2*a) + sqrt(...))

[2018-11-21 18:58] beutlich opened #2783 "Analysis of the MSL v3.2.3-rc.1+71590c7 regressions vs. v3.2.2+build.0-beta.3"
This is the public [report](https://beutlich.github.io/MSL323FAILED/) of the 7 failed examples models for (untagged) MSL v3.2.3-rc.1+[71590c7](https://github.com/modelica/ModelicaStandardLibrary/commit/71590c7e658a6fbbe037364f52b82589b01a1003)  vs. v3.2.2+build.0-beta.3 with my analysis, leaving 3 models open for further analysis.

### Modelica\Blocks\Examples\NoiseExamples\ActuatorWithNoise\Actua

[2018-11-21 20:00] beutlich opened #2784 "Analysis of ModelicaTest v3.2.3-rc.1+71590c7 regressions vs. v3.2.2+build.0-beta.3"
This is the public [report](https://beutlich.github.io/MSLTEST323FAILED/) of the 16 failed test models for (untagged) MSL v3.2.3-rc.1+[71590c7](https://github.com/modelica/ModelicaStandardLibrary/commit/71590c7e658a6fbbe037364f52b82589b01a1003)  vs. v3.2.2+build.0-beta.3 with my analysis.

### ModelicaTest\Media\TestAllProperties\IncompleteMedia\ReferenceMoistAir\ReferenceMoistAir.csv
### Modelica

[2018-11-22 06:46] #2407 closed

[2018-11-22 06:47] #2405 closed

[2018-11-22 06:49] beutlich commented on #2350
Reassigning and rescheduling milestone.

[2018-11-22 14:00] kristinmajetta commented on #2350
yes, let's do so

[2018-11-22 16:30] hubertus65 commented on #2784
The difference in the MEdia result is ok and due to a bug fix.

[2018-11-23 10:48] HansOlsson commented on #1966
My point was that it is possible to handle that case without evaluating k - and it was unclear why we need this. The statement "helpful for Modelica tools" wasn't a clear problem description.

In particular there are two main considerations:

- Are we doing it to improve performance and not just to be helpful for the Modelica tools? (Similarly as evaluating rotational axis in MBS.) If so we should

[2018-11-23 13:37] henrikt-ma commented on #1966
The {{Evaluate = true}} annotation is definitely not more clear than making it a constant.

[2018-11-23 14:35] HansOlsson commented on #1966
It is intended to be changed - and as indicated above it could even be changed after translation, so it should be a parameter - not a constant.

[2018-11-24 09:38] AHaumer commented on #2783
Modelica\Electrical\MultiPhase\Examples\Rectifier\Rectifier.csv

Besides adding power sensors (this is a good chance to compare and test different power sensors), the parameters of the model have been changed to more realistic values. Additionally, the initialization has been improved significantly starting nearly in steady state.
Therefore the old reference results cannot match the new results.
I

[2018-11-26 06:48] henrikt-ma commented on #1966
I can see that you indicate that `k` _could_ be handled in such a way that it can be changed after translation.  My points are:
- It seems relatively difficult for tools to verify that `pin_n.i` is actually present in the equations, so if we don't want to make assumptions about causality when defining `PlugToPin_n`, some tools may have to resort to guessing that `pin_n.i` can be solved for, depend

[2018-11-26 08:05] HansOlsson commented on #1966
Adding `annotation(Evaluate=true)` to k can be done, but I don't see that we can change more since:

The value of 'k' is bounded by 'm', and in most (all?) tools you cannot change 'm' after translation (since 'm' gives the size for an array of components).
In general if 'k' is bounded by 'm' then 'k' should be at least as variable as 'm'. However, 'm' is just a parameter - it doesn't even have `an

[2018-11-26 13:06] HansOlsson commented on #2783
For ExecutionPaths I cannot reproduce the problem, but since transition{1,2}.enableFire does change at 15s if simulating longer I don't see a problem with having that change - or not having it.

For TanksWithOverflow it seems to be caused by changes of height_ab (and one additional height) due to https://github.com/modelica/ModelicaStandardLibrary/pull/2539 (at least the main variation). This was

[2018-11-26 13:13] HansOlsson commented on #2784
The Test6 difference is due to whether time events are handled at the final point or not. Both variants are acceptable.

[2018-11-26 13:14] beutlich commented on #2784
Thank you @tobolar @hubertus65  @HansOlsson

[2018-11-26 13:14] #2784 closed

[2018-11-26 13:21] henrikt-ma commented on #1966
Yes, and for this reason both `k` and `m` should have constant variability.

[2018-11-28 09:23] rfranke opened #2785 "Excessive link dependencies of ModelicaStandardTables"
MSL 3.2.2 introduced additional link dependencies for HDF5 and further dependencies on Z and SZ. This means that even the simplest model using a table needs this library now. This can hardly be considered backwards compatible with MSL 3.2.1 and should be cleaned up in MSL3.2.3.

Take this example:
[code]
Please organize the external libs such that dependecies on HDF5 and recursive dependencies on

[2018-11-28 10:47] beutlich commented on #2785
This is not the case.

[2018-11-28 11:11] rfranke commented on #2785
And the solution is?

[2018-11-28 11:15] dietmarw commented on #2785
@rfranke 	Since this is not a problem of the MSL but a problem of the tool utilising the MSL (OMC in your case I guess) you need to take it up with the tool not with the MSL.

[2018-11-28 12:03] beutlich commented on #2785
We explicitly do not force HDF5 dependency in MSL. See https://doc.modelica.org/Modelica%203.2.3/Resources/helpOM/Modelica.Blocks.Sources.CombiTimeTable.html:

Optional means, it is tool-specific if v7.3 MAT-files are supported by the tool.

[2018-11-28 12:11] HansOlsson commented on #2785
But one could also consider the case that it is optional based on whether the specific model need them or not. I assume that was the proposal here - but I don't know how to easily achieve that.

[2018-11-28 12:32] beutlich commented on #2785
It is too late for enhancements on MSL 3.2.3. Furthermore, it is not an issue of the C-Sources, but of Modelica.Blocks then.

[2018-11-28 12:55] beutlich commented on #2785
OK, ModelicaStandardTables always links to ModelicaIO, which in turn links to ModelicaMatIO. We would need two different flavours of ModelicaStandardTables then, one that enables reading from file and one that doesn't. Basically, it all already is prepared by means of the macro `NO_FILE_SYSTEM`. Thus, if you build ModelicaStandardTables with `NO_FILE_SYSTEM` you can get rid of the linker dependenc

[2018-11-28 13:33] HansOlsson commented on #2785
Ok, it seems that would work - and I could possibly see some similar alternatives.

[2018-11-28 15:06] #2783 closed

[2018-11-28 15:37] beutlich commented on #2785
HDF5 was considered as a heavy dependency (in terms of number of files, compile time, object size etc.) compared to zlib considered as light-weight dependency.

[2018-11-28 16:14] beutlich commented on #2785
For your TableTest model this should not matter since ModelicaIO is not necessary here.

[2018-11-28 16:19] beutlich commented on #2785
Reset labels, milestone and issue title.

[2018-11-28 17:03] HansOlsson opened #2786 "Unify Gyrator"
Currently we have both Modelica.Electrical.Analog.Basic.Gyrator and Modelica.Electrical.Analog.Ideal.IdealGyrator. (I don't see any use of them in MSL.)

To me it would make more sense to unify into the Basic one along the lines of:
[code]
Similarly as Resistor where we have the advanced possibilities in the model, but it as default behaves in the ideal way without any special settings.

(Might be

[2018-11-29 12:54] beutlich opened #2787 "Set copyright holder to Modelica Association everywhere"
@GallLeo Can you please clarify the MSL copyright holders once the CLAs have been signed.

@hubertus65 @MartinOtter FYI

[2018-11-29 12:55] beutlich opened #2788 "Have CLA assistant available for external contributors"
@GallLeo We need to decide if and when we should setup CLA assistant (or similar service) for external contributors.

[2018-11-29 12:56] beutlich commented on #2788
@hubertus65 @dietmarw This requires a clean markdown version of the CLA.

[2018-11-30 18:50] JoeRiel opened #2789 "Spice3 Capacitance documentation states capacitance can be negative"
While a negative value may be handled by the engine, the Modelica type Modelica.SIunits.Capacitance has min=0, so using a negative value may result in a warning (which isn't unreasonable).

[2018-11-30 21:21] JoeRiel opened #2790 "Missing parameters in Spice3.Sources.I_pwl and V_pwl"
The html documentation for the Spice3 current and voltage pwl sources mention startTime and offset parameters; they do not exist in the models.

[2018-12-01 20:59] beutlich commented on #2790
#2791 fixes only the documentation.

Could be also possible to add the parameters timeScale, startTime, offset and shiftTime from Modelica.Blocks.Sources.TimeTable to I_pwl/V_pwl.

[2018-12-01 21:29] JoeRiel opened #2792 "Spice3 Constant Current source has no arrow"
The symbol for Modelica.Electrical.Spice3.Sources.I_constant has no arrow, unlike the other current sources.  One has to use the solid/open ports to determine the prescribed flow direction, which is less clear and less convenient.

[2018-12-02 18:50] beutlich commented on #2792
In fact, every icon looks slightly different w.r.t. to the blue circle and the position of the instance name.

[2018-12-03 23:00] JoeRiel opened #2794 "Spice3 poly source"
The Electrical.Spice3.Additionals.poly function has
[code]
Am thinking that the condition should be `(na==1 and n==1)`. Neither is particularly useful when n>1, but the original has an asymmetry that is strange and which does not exist in SPICE, I think.

[2018-12-04 04:38] JoeRiel opened #2795 "Spice3: documentation for MOSFET seems wrong"
The html string for Modelica.Electrical.Spice3.Semiconductors.ModelcardMOS2 states that the record is for a level 1: Shichman-Hodges model.  Should that be level 2?

[2018-12-05 10:48] GallLeo commented on #2787
After discussion with @MartinOtter and @beutlich: Workflow seems not be clarified until now. Needs to be fixed within MAP-LIB.

Solution needs to display contributions on Github (LICENSE) as well as within Modelica code and Info Layer of MSL.

[2018-12-05 11:52] #2790 closed

[2018-12-05 11:53] beutlich commented on #2790
@JoeRiel Please open new issue if this should rather be fixed as proposed above.

[2018-12-05 11:53] kristinmajetta commented on #2789
So maybe the documentation should be changed.

[2018-12-05 12:01] beutlich commented on #2789
* or remove `min=0` from Modelica.SIunits.Capacitance
* or introduce a new Capacitance quantity type w/o the min restriction
* or simply accept the warning (which rather sounds like tool-specific beahviour)

[2018-12-05 12:04] beutlich commented on #2789
Similarily. quantity type Mass also has `min=0`, but negative masses might be acceptable (to model holes).

[2018-12-05 12:35] kristinmajetta commented on #2789
My favourite way would be the last suggested by Thomas Beutlich: "accept the warning". But I thought thats would not be possible concerning the rules of MSL?

[2018-12-05 12:36] HansOlsson commented on #2789
Another alternative (I thought we had used it - but couldn't find any example) would be to modify the min-attribute for this parameter, so in Modelica.Electrical.Spice3.Basic.C_Capacitor have:
`parameter SI.Capacitance C(start=0, min=-Modelica.Constants.inf);`

However, considering that we have Resistance, Inductance and Capacitance (both as types and as somewhat similarly named models) I think th

[2018-12-05 12:40] HansOlsson opened #2796 "Use min/max for k in Modelica.Electrical.Spice3.Basic.K_CoupledInductors"
Looking at #2789 I found that we have:
[code]
I would propose to change the definition to:
`  parameter Real k( start=0, min=0, max=1) "Coupling Factor";`
To detect issues earlier. (And keep the assertions just in case.)

Note that this is different from #2775 that says that k=1 should be allowed, but they can be resolved together.

[2018-12-05 12:44] beutlich commented on #2789
That is even possible (since the minimum attribute is not final) and sounds like the least intrusive fix. But we will likely miss some other similar cases.

Agreed. We should remove the minimum attribut for Capacitance and Mass generally.

Note, this is not for MSL v3.2.3, but the later one.

[2018-12-05 12:46] beutlich commented on #2796
Confirmed. The maximum attribute set to 1 only is a clean fix, if we allow k=1 by #2775.

[2018-12-05 12:53] HansOlsson commented on #2789
For Mass it might be a more complicated - since there are so many uses of it where negative values would be a problem. I'm not fully against it, I just think we need to consider it more carefully.

[2018-12-05 15:56] JoeRiel commented on #2789
The modification of min in the declaration in the Spice3 Capacitor seems the safest, particularly as the model itself doesn't really use the negative value other than as a flag to indicate that the user has not assigned a value.

[2018-12-06 07:45] beutlich opened #2798 "Incomplete class table for extends in ModelicaReference"
The [class table](https://github.com/modelica/ModelicaStandardLibrary/blob/master/ModelicaReference/package.mo#L5543-L5612) on allowed inheritance misses the classes `operator function`, `operator record` and `expandable connector` of [MLS 3.2r2 page 68](https://modelica.org/documents/ModelicaSpec32Revision2.pdf#page=68).

[2018-12-06 10:11] beutlich commented on #2792
And, while working on the Spice3.Sources, we should also fix the assignment of instance name and primary parameter:

![2018-12-06 11_10_26-dymola - dynamic modeling laboratory - diagram](https://user-images.githubusercontent.com/14896695/49577442-ad487000-f947-11e8-8dd7-fefde8a36ff2.png)

[2018-12-06 11:42] #2792 closed

[2018-12-07 23:20] milicag opened #2802 "Error in parameter comments in Hysteresis"
The comments that require fixing:
[code]
Suggested correction (please note the change to the inequality sign):
[code]
This change would be in line with the existing info section and the code implementation (y = not pre(y) and u > uHigh or pre(y) and u >= uLow):

<li> When the output was <b>false</b> and the input becomes
     <b>greater</b> than parameter <b>uHigh</b>, the output
     switches to

[2018-12-07 23:31] dietmarw commented on #2802
Looks like you got the wrong issue tracker. You probably want to report this here:
https://github.com/lbl-srg/modelica-buildings

[2018-12-08 00:49] milicag commented on #2802
@dietmarw Sorry, there was an error in the title, I do want to report an error in the MSL hysteresis block.

[2018-12-10 17:06] #2764 closed

[2018-12-10 21:35] beutlich opened #2804 "Add interaction to RadioButtonSource"
Modelica.StateGraph.Temporary.RadioButton was set to obsolete by 94143015905d8bd7dddb7c97e55a576f57001060 (for #2740). As proposed, it should be added to Modelica.Blocks.Interaction and also replace the block Modelica.Fluid.Examples.ControlledTankSystem.Utilities.RadioButton.

[2018-12-11 14:43] #2757 closed

[2018-12-11 15:54] #2543 closed

[2018-12-11 15:59] #2721 closed

[2018-12-12 08:10] #2787 closed

[2018-12-14 14:11] HansOlsson opened #2807 "Problem with k2=0 in Modelica.Fluid.Utilities.regRoot2"
The model `ModelicaTest.Fluid.TestUtilities.TestRegRoot2ZeroDerivative` can fail to simulate if `regRoot2` is differentiated keeping all inputs and `k2=0` as in this test.
Note: if the function is first inlined and then differentiated there is no issue.

The reason is that if `x<=-x_small` the function simplifies to `-sqrt(k2*abs(x))`, which has the derivative `-(0.5/sqrt(k2*abs(x)))*...` and if `

[2018-12-17 09:36] beutlich opened #2808 "Clarify removal of example model Modelica.Magnetic.QuasiStatic.FundamentalWave.Examples.BasicMachines.InductionMachines.IMC_Inverter"
Commit https://github.com/modelica/ModelicaStandardLibrary/commit/fa63e566a8c38e10a66a28b1f9e31565141d9e90 removed the example model Modelica.Magnetic.QuasiStatic.FundamentalWave.Examples.BasicMachines.InductionMachines.IMC_Inverter where the commit message reads:

However, Modelica.Magnetic.QuasiStatic.FundamentalWave.Examples.BasicMachines.InductionMachines.IMC_Inverter was not introduced by #22

[2018-12-17 21:10] christiankral commented on #2808
Yes, the removal was performed on purpose, since the example is not really meaningful as a quasi static model. I certainly kept the transient model `Modelica.Magnetic.FundamentalWave.Examples.BasicMachines.AIMC_Inverter`.

[2018-12-17 21:14] beutlich commented on #2808
Thanks for clarification.

[2018-12-17 21:14] #2808 closed

[2018-12-18 13:15] beutlich opened #2809 "Analysis of the MSL v3.2.3-rc.2 regressions vs. v3.2.2+build.0-beta.3"
This is the public [report](https://beutlich.github.io/MSL323FAILED-2/) of the 27 failed examples models for [MSL v3.2.3-rc.2](https://github.com/modelica/ModelicaStandardLibrary/releases/tag/v3.2.3-rc.2) vs. v3.2.2+build.0-beta.3 with the previous analysis results from #2783, leaving 20 models open for further analysis. Please note, that the 20 failing example models are no new regressions of MSL

[2018-12-18 13:34] beutlich opened #2810 "Analysis of ModelicaTest v3.2.3-rc.2 regressions vs. v3.2.2+build.0-beta.3"
This is the public [report](https://beutlich.github.io/MSLTEST323FAILED-2/) of the 19 failed test models for [MSL v3.2.3-rc.2](https://github.com/modelica/ModelicaStandardLibrary/releases/tag/v3.2.3-rc.2) vs. v3.2.2+build.0-beta.3 with the previous analysis results from #2784, leaving 3 models open for further analysis. Please note, that the 3 failing example models are no new regressions of MSL v

[2018-12-21 19:31] AHaumer commented on #2809
Modelica\Magnetic\QuasiStatic\FundamentalWave\Examples\BasicMachines\InductionMachines\IMC_DOL\IMC_DOL.csv
Modelica\Magnetic\QuasiStatic\FundamentalWave\Examples\BasicMachines\SynchronousMachines\SMEE_Generator\SMEE_Generator.csv

All of these: the differences are small, due to changed output interval (we unified that for all examples).
These are ok. New reference results (with new output interval

[2018-12-21 19:36] AHaumer commented on #2809
Modelica\Magnetic\FundamentalWave\Examples\BasicMachines\AIMC_DOL\AIMC_DOL.csv
Modelica\Magnetic\FundamentalWave\Examples\BasicMachines\AIMS_Start\AIMS_Start.csv
Modelica\Magnetic\FundamentalWave\Examples\BasicMachines\AIMS_Start_MultiPhase\AIMS_Start_MultiPhase.csv
Modelica\Magnetic\FundamentalWave\Examples\BasicMachines\SMEE_Generator\SMEE_Generator.csv
Modelica\Magnetic\FundamentalWave\Examples

[2019-01-04 07:17] beutlich commented on #2810
Thank you @wischhusen for your comment above.

[2019-01-04 07:17] #2810 closed

[2019-01-04 09:01] beutlich commented on #2809
Modelica\Mechanics\MultiBody\Examples\Elementary\DoublePendulumInitTip\DoublePendulumInitTip.csv
This is due to #2568 and acceptable.

@tobolar Can you please analyze the other 5 MultiBody example models with regressions.

[2019-01-10 14:34] tobolar commented on #2809
I've analysed the differences and they **all are acceptable**, see details below.

- Modelica.Mechanics.MultiBody.Examples.Elementary.**DoublePendulumInitTip**
  - Different start values, therefore offset in rotational angles; rotational velocities are identical

- Modelica.Mechanics.MultiBody.Examples.Elementary.**PointGravityWithPointMasses2**
  - Differences about 1e-13

- Modelica.Mechanics.Mu

[2019-01-10 19:05] beutlich commented on #2809
Thanks, perfect.

[2019-01-10 19:05] #2809 closed

[2019-01-11 10:42] MartinOtter commented on #1855
Modelica.Fluid has a complete different initialization and it would not be useful to take the simplistic approach from the proposal above. It is therefore not possible to make initialization uniform in MSL.
I agree that it would be useful to have a uniform handling of initialiization. However, this is a very hard topic.

For reasons of backwards compatibility, I would not remove GUI initialization

[2019-01-11 10:51] MartinOtter commented on #1861
I would suggest to first have tools with MSL 3.2.3 support and only then improve this

[2019-01-11 10:59] dietmarw commented on #1861
@MartinOtter I guess you mean MLS 3.3 support, correct?

[2019-01-11 11:05] MartinOtter commented on #1861
Yes (sorry).

[2019-01-11 12:17] beutlich commented on #1855
@MartinOtter What do you think about removing the Dialog.showStartAttribute annotation from Modelica.Mechanics.Rotational.Components.Inertia.a as I porposed above?

[2019-01-11 14:41] max-privato commented on #1855
I cannot envisage how eliminating the annotation containing "showStartAttribute=true" from rotational inertia can create compatibility problems, since it regards just the GUI.
However, if this GUI-control of starting acceleration is eliminated from inertia, the corresponding starting acceleration dialog on translational mass should also be eliminated. The corresponding code is slightly different f

[2019-01-11 15:06] HansOlsson commented on #1855
It cannot not break models, but it can confuse users, i.e. break the user experience.
If they were used to the current parameters; and suddenly some parameters disappear. Additionally (at least in Dymola) existing models using the start-attribute will still show the parameters, which will add to the confusion.

I'm not arguing that setting a.start=0 is a good idea, just that we need to consider us

[2019-01-13 01:33] max-privato commented on #1855
From my viewpoint, today the user that sees the option of setting start value of acceleration just wonders why it is there (since acceleration it is not a state variable)., and just ignores it.
If that acceleration  control disappears, the user either notes the change or not. In both cases, if it is true that setting acceleration start value through that control is useless, and I think it is, the

[2019-01-14 08:55] GallLeo commented on #2728
1. Removed ModelicaTest.MultiBody.PlanarLoopWithMove.PlanarLoopWithMove.combiTimeTable.nextTimeEvent
from my test setup, as requested.
2. I searched through all comparison signals and could not find string "nextTimeEvent" anymore.

This will be publiclty available, as soon as we create the final reference results based on v3.2.3.

[2019-01-14 08:55] #2728 closed

[2019-01-14 10:33] HansOlsson commented on #1855
That parenthesis indicates a fundamental misunderstanding on the parts of those users, and we need to be better at educating users.

The start-value semantics in Modelica is deliberately decoupled from selection of state-values; that is especially important for Modelica.Media where we might use different variables - but it also applies for the rotational library (e.g. in combination with gears).
T

[2019-01-15 08:59] max-privato commented on #1855
OK. there are some hypotheses behind the implication non-state variable => non intitial condition needed.

When I wrote that parenthesis I was in the mental framework of linear lumped-component systems, and a very broad range class of  non-linear mechanical systems. I also added that my consideration was not universal, since I added that there might well be problems for which the initial value of

[2019-01-15 09:33] HansOlsson commented on #1855
That is an over-simplification, and we changed MSL a few years back in the other direction.

Obviously the initial values of states must be determined based on the the initial conditions.
One possibility would be to give initial values directly for states, x, and the most general that we give any initial conditions h(x, y)=0 and compute x from those (together with the dynamics equations der(x)=f(x

[2019-01-23 20:55] christiankral opened #2813 "Fix documentation of Translational User's Guide"
Some documentation issue apply to:

- `Modelica.Mechanics.Translational.UsersGuide.Overview`
- `Modelica.Mechanics.Translational.UsersGuide.SignConventions`
- `Modelica.Mechanics.Translational.UsersGuide.UserDefinedComponents`

The documentation text refers to:

- component `m1`
- component `m2`

Example:
![image](https://user-images.githubusercontent.com/4184218/51635749-d6ed4300-1f57-11e9-8bff-a

[2019-01-23 21:44] christiankral opened #2814 "Misleading doc string of force and torque sources"
### Translational

In the model

- `Modelica.Mechanics.Translational.Sources.ConstantForce`

the parameter

[code]

is used. This is somehow misleading as the negative force of the model only acts as load if the velocity is positive. For negative velocities, a negative force `f_constant` causes the model to generate power. Therefore, it is actually a matter of the quadrant in which the model opera

[2019-01-24 10:38] beutlich commented on #1860
We have two use cases here.
1. Documentation only class
1. Parameter class with initial equation

@HansOlsson Can you please make specification issues out of this. Thanks.

[2019-01-24 10:47] beutlich commented on #2813
I removed the V: 3.2.3-beta.2 label since the issue also is present in earlier MSL versions and did not originate in V: 3.2.3-beta.2.

[2019-01-24 11:13] beutlich commented on #2814
I changed the milestone for MSL4.0.0 since this is not a servere issue that needs back-porting for MSL 3.2.3.

[2019-01-24 11:13] beutlich commented on #2813
I changed the milestone for MSL4.0.0 since this is not a servere issue that needs back-porting for MSL 3.2.3.

[2019-01-24 11:44] HansOlsson commented on #1860
I have opened the specification ticket, but there are parts that are not clear.

There are a number of issues hidden here. When you have a data-class with equations each such component will have initial equations as well. Thus for
[code]
We will for `Intention.Test` have the following:
[code]
That is 5 equations for 4 parameters, which doesn't work well.

Relatedly we don't want to be presented wi

[2019-01-24 14:57] #2401 closed

[2019-02-05 12:34] thorade opened #2815 "moist air at very low temperatures"
The nonlinear solver sometimes uses very low or even negative temperatures in function calls to `h_pTX`, resulting in errors, because of the `log(T)` in the `h_Tlow` function.
I suggest to catch negative temperatures and return h=-inf for T<=0, will send a PR.

The following model was used to investigate and it revealed another problem:
[code]
After simulation, plot h with T as independent variabl

[2019-02-05 12:51] dietmarw commented on #2815
Next time, no need to create the issue. Just send the PR :-)

[2019-02-05 12:56] beutlich commented on #2815
Did I miss something?

[2019-02-05 12:58] dietmarw commented on #2815
The PR is basically an issue in itself. If somebody like @thorade is so nice to offer a PR they can simply save the effort of creating a separate issue.

[2019-02-05 13:01] beutlich commented on #2815
Ah, I missed it.

[2019-02-05 13:09] thorade commented on #2815
The PR will only address the safeguard for log(T) but not the little bump.
Ah, and forgive the crappy commit message, only thought about it after pushing

[2019-02-05 13:11] beutlich commented on #2815
You still can git commit -ammend and git push --force, but otherwise, if we squash merge ...

[2019-02-06 16:24] hhammondscott opened #2817 "Correct obsolete annotations for models in Modelica.Media.Examples.Tests.Components"
Correct obsolete annotations for the models in Modelica.Media.Examples.Tests.Components to reference Modelica.Media.Examples.Utilities.* rather than Modelica.Examples.Utilities.* which doesn't exist.

[2019-02-06 19:10] beutlich opened #2820 "Update ModelicaReference to latest Modelica specification 3.4"
ModelicaReference is based on MLS 3.2 (not even sure which revision), but should be updated to MLS 3.4.

[2019-02-07 09:20] #2802 closed

[2019-02-10 13:42] christiankral commented on #671
In the Modelica Standard Library (MSL) we have even cases of different sizes of input and output connectors:

![image](https://user-images.githubusercontent.com/4184218/52534386-31044b80-2d41-11e9-8a7d-d2f2cff71d2c.png)

- `integerPassThrough` connector size of most block in the MSL
- `triggeredAdd` one Integer input has a different size than the other Interger input and the Boolean inputs
- `risi

[2019-02-10 14:29] christiankral commented on #2478
I think it may make sense to unify the appearance of Modelica blocks.

Comparing some different models and blocks shows:

![image](https://user-images.githubusercontent.com/4184218/52534504-8ee56300-2d42-11e9-88ff-890b16a3ff4f.png)

The icons of components have the same color as specified in the "domain color", see `Modelica.UsersGuide.Conventions.Icons`. The different blocks, however, have a diff

[2019-02-13 13:17] HansOlsson opened #2831 "Equal-block missing in Modelica.Blocks.Logical"
As far as I can tell there is no block that can be used to check if two Boolean signals are equal and generate true iff that is the case. (I can add a pull-request for it later.) There might also be other similar blocks that are missing.

Obviously one could use Xor->Not, but some might find that non-intuitive.

[2019-02-13 13:22] beutlich commented on #2831
We should answer #2164 first to see if it should go to new Modelica.Blocks.MathBoolean or legacy Modelica.Blocks.Logical.

[2019-02-13 13:42] HansOlsson commented on #2164
I agree that we shouldn't have two such similar packages.
As I see it there are three parts of this:

- Different package name. MathBoolean instead of Logical. I agree that it MathBoolean works better alongside MathInteger, but Logical seems more logical.
- Smaller size. Ok I guess.
- Multiple inputs. Overall I find that it works, but for Xor it is not obvious - as there is another way of generali

[2019-02-13 13:47] beutlich commented on #2164
@MartinOtter What is the current state of replacing Modelica.Blocks.Logical by Modelica.Blocks.MathBoolean? Given the comparison table, only the Modelica.Blocks.MathBoolean.OnDelay block is not represented in Modelica.Blocks.Logical.

|Logical | MathBoolean|
|--------|------------|
|And |And |
|Or |Or |
|Xor |Xor |
|Nor |Nor |
|Nand |Nand |
|Not |Not |
|Pre | |
|Edge |RisingEdge |
|FallingEdge |Fa

[2019-02-13 13:54] HansOlsson commented on #2164
I tried to verify the table. I believe that MultiSwitch isn't the obvious generalization of LogicalSwitch - but something completely different. For the future I believe it might be good if we have vector-variants of both LogicalSwitch and Switch - with integer input.

[2019-02-13 14:01] beutlich commented on #2164
Thanks. Edited above.

[2019-02-13 14:09] beutlich commented on #2164
See also #2679 and the proposal/question from @tobolar

[2019-02-14 12:44] HansOlsson commented on #2820
Makes sense, will see when I get time, and I assume it is best to ensure that the version on maint/3.2.3 uses MLS 3.2r2 as the rest.
I realized that we should also update https://github.com/modelica/Modelica-Compliance to MLS 3.4; and it may make sense to update both together (in the sense that changes are both described and tested).

[2019-02-14 13:38] HansOlsson opened #2832 "Clean up release page?"
The main page links to: https://github.com/modelica/ModelicaStandardLibrary/releases

That seems useful to access older released versions when needed, but would it be possible to not list (or in some other hide) pre-release versions superseded by other releases (both actual releases and later pre-releases)? That would make it easier to find the relevant ones.

The "tags"-tab can be left as it is.

[2019-02-14 13:45] dietmarw commented on #2832
I guess simply removing the pre-releases once the final release is done should be safe to do. As @HansOlsson says, the tags will still be there.

[2019-02-18 10:35] beutlich commented on #2832
I agree with you desire to exclude pre-releases from visibility. That should be a general GitHub option in my opinion. I will not touch the pre-releases as they are the only source for downloading the appropriate assets.

[2019-02-18 10:35] #2832 closed

[2019-02-18 12:51] HansOlsson commented on #2832
I agree that this should be ideal, but I haven't found it.
So, I will just open a support request.

Ok, that makes sense. I noticed that they are also found clicking on the "notes" on the tags - but I assume that is just the internal format.

[2019-02-18 16:09] tobolar opened #2833 "Use "domain color" consequently in icons of ComplexMath"
Icons of the following components shall use proper color {85,170,255}
- ComplexBlocks.ComplexMath.Gain
- ComplexBlocks.ComplexMath.Feedback
- ComplexBlocks.ComplexMath.Add
- ComplexBlocks.ComplexMath.Product
- ComplexBlocks.ComplexMath.Division
- ComplexBlocks.Routing.Replicator
- ComplexBlocks.Routing.ComplexPassThrough

Optionally:
- ComplexBlocks.Routing.ExtractSignal
- ComplexBlocks.Routing.Ex

[2019-02-18 19:28] beutlich commented on #2636
@casella Can you please care for the Modelica.Fluid descriptions as stated above.

[2019-02-19 08:01] dietmarw commented on #814
@JoeRiel Could you take a look and tell if you agree?

[2019-02-19 09:30] beutlich commented on #1578
This has been discussed and decided, see [2018-12-05-Minutes-MAP-Lib-Next-Major-MSL.txt](https://trac.modelica.org/Modelica/browser/ModelicaDesign/trunk/MeetingMinutesMaterial/2018-12-05-Web-Meeting-MAP-Lib-Next-Major-MSL/2018-12-05-Minutes-MAP-Lib-Next-Major-MSL.txt).

[2019-02-19 09:30] #1578 closed

[2019-02-19 16:46] dietmarw commented on #712
Since we are now at a point where we can do proper clean-ups I like to bring the idea of reorganising the `SIUnits` package  to the surface again.

1. **Name**: I'm still pretty much in favour to make a rename from `SIunits` to simply `Units`. Reason being that:
   - having the nonSI unit conversions as part of the **SI**units package looks strange
   - it always bothered me that the camel-case co

[2019-02-19 17:07] HansOlsson commented on #712
Two additional comments:

- The Modelica.SIunits.* names do actually not seem to be clearly defined by the SI-standard as far as I know, and it is fact more complicated. The names correspond to the names of "Derived quantities" - but I can only see the SI-standard listing examples for that - and not a complete list; so we don't know if many of the units should be there or not.
- Regarding NonSI: t

[2019-02-19 18:41] #2477 closed

[2019-02-20 12:40] HansOlsson commented on #712
It might - or it might just cause confusion since many units are common for several domains; and thus the chapters might not be logical; and thus making it harder. I guess tool vendors could experiment with some advanced support for finding appropriate units - but assumedly after the conference.

[2019-02-20 12:56] dietmarw commented on #712
Nothing in this ticket is meant to be fixed by the conference ;-)

[2019-02-20 16:48] tobolar commented on #712
Not sure if  `Units` is sufficiently clear. [BIMP](https://www.bipm.org/en/measurement-units/) develops a __system of units of measurement__.

[2019-02-21 07:58] beutlich opened #2836 "Update PRNGs in ModelicaRandom.c?"
When ModelicaRandom.c was introduced with the Noise package for MSL v3.2.2 the **xorshift** PRNGs from http://xoshiro.di.unimi.it/xorshift.php were utilized. These PRNGs are now superseded by **xoshiro**, which according to the authors at http://xoshiro.di.unimi.it are faster and better.

@MartinOtter @tobolar @HansOlsson What do you think?

[2019-02-21 08:46] HansOlsson commented on #2836
It seems like an improvement.

But I don't think increasing the performance and those statistical properties is high priority.

A concern for _any_ change of PRNG is that we provide the possibility to select a seed to be able to reproduce simulations - and changing PRNG will break that. Hopefully it is sufficient to just document that it has changed - and anyone really concerned about reproducing

[2019-02-21 09:11] beutlich commented on #2836
Exactly.

Note that compatibility already is broken (and documented) in v3.2.3 w.r.t. v3.2.2 due to #2252.

[2019-02-22 08:35] dietmarw commented on #1118
Just noticed that there doesn't exist a spec ticket on this. So there is one now: [Spec #2321](https://github.com/modelica/ModelicaSpecification/issues/2321)

[2019-02-25 09:41] tobolar commented on #2836
Modelica counterparts of the C implementation are `Modelica.Math.Random.Generators.Xorshift...`. Changing PRNGs will require to rename those classes as well or to add new ones. So the user will be clearly informed about the change.
... and introducing MSL v4 will make it even easier (I guess) to get rid of xorshift-based generators.

[2019-02-26 13:09] perost opened #2839 "ModelicaTest.Electrical.MulitSensorTest misspelled?"
The ModelicaTest library contains a model `ModelicaTest.Electrical.MulitSensorTest`. Considering that it contains several instances of `MultiSensor` I'm guessing the name of this model is misspelled.

[2019-02-27 12:46] d94pn opened #2842 "Missing consts in ModelicaStandardTables_CombiTimeTable_init2 prototype"
In ModelicaStandardTables_CombiTimeTable_init2 the following arguments should be const according to:

-  **const** double* table
-  **const** int* columns

Note also that in the C file (implementation part) the "columns" argument is renamed to "cols".

The same applies to:

- ModelicaStandardTables_CombiTimeTable_init
- ModelicaStandardTables_CombiTable1D_init
- ModelicaStandardTables_CombiTable2D

[2019-03-01 09:30] d94pn opened #2843 "Mismatching function prototypes in ModelicaInternal.[ch]"
Several function implementations in ModelicaInternal.c hardcodes _Ret_z_:

_Ret_z_ const char* ModelicaInternal_fullPathName(_In_z_ const char* name)
_Ret_z_ const char* ModelicaInternal_temporaryFileName(void)
_Ret_z_ const char* ModelicaInternal_readLine(_In_z_ const char* fileName,
                                      int lineNumber, _Out_ int* endOfFile)
_Ret_z_ const char* ModelicaInternal_g

[2019-03-02 18:17] #2839 closed

[2019-03-02 18:46] beutlich commented on #2842
No, this would be in violation to the Modelica Specification 3.x, see section [12.9.1.2](https://specification.modelica.org/master/Ch12.html#arrays-1).

Agreed. Declaration and definition should use identical argument names.

[2019-03-02 21:56] beutlich commented on #2843
This is by design since these four functions are the only functions returning a character pointer. As far as I figured it out, the `__attribute__((returns_nonnull))` must only be be present in the function declaration and not in the function definition, however the SAL annotations generally should be used in both declaration and definition.

[2019-03-05 10:39] HansOlsson opened #2845 "Should Modelica.StateGraph be obsolete in 3.2.3?"
In 3.2.3 the entire Modelica.StateGraph was marked as obsolete without extending from ObsoleteModel; and without having a clear replacement.

Having it obsolete seems a bit excessive - I thought we wanted to merge Modelica_StateGraph2 improvements into Modelica.StateGraph (and possible move Modelica.StateGraph).

Note: Modelica.StateGraph.Temporary is both marked as obsolete and extending from Obs

[2019-03-05 10:43] HansOlsson commented on #2845
Ah, mistake from me.

Note: Modelica.StateGraph.Temporary is extending from ObsoleteModel; but not marked as obsolete.

I believe this makes it even clearer that it is just a typo.

[2019-03-05 13:02] beutlich commented on #2845
Confirmed, 94143015905d8bd7dddb7c97e55a576f57001060 added the obsolete annotation on the wrong package.

[2019-03-06 10:48] #2845 closed

[2019-03-07 12:49] #2817 closed

[2019-03-07 13:03] #2006 closed

[2019-03-07 16:46] beutlich opened #2849 "Improve LAPack deployment with MSL"
As discussed with @hubertus65 at the Regensburg design meeting:

MSL is currently not self-contained to the LAPack sources and binaries. There only is a note in the readme, that each tool needs to support LAPack.

https://github.com/modelica/ModelicaStandardLibrary/blob/ea28ae3e29bf0ed9c68189100292a0001151143e/Modelica/Resources/C-Sources/readme.txt#L51-L54

[2019-03-09 10:37] #2843 closed

[2019-03-11 10:41] tobolar commented on #2814
Comparing the forces of the abovementioned translational components against speed:
![translForcesCompare](https://user-images.githubusercontent.com/9588978/54118103-9310a900-43f2-11e9-94d6-c37203040b0f.png)

[2019-03-18 07:23] #2842 closed

[2019-03-19 10:28] lyebra opened #2856 "Modelica.Media.Incompressible documentation question"
In the docu the specific enthalpy definition seems to be written with a typo error in the sign, that is positive (h = u + p/d).

[2019-03-19 12:17] beutlich commented on #2856
Do you mean https://github.com/modelica/ModelicaStandardLibrary/blob/ec70d1f10887371f11f14cb1abb696b60ee8cd6f/Modelica/Media/Incompressible.mo#L843?

[2019-03-19 13:14] lyebra commented on #2856
Yes, the typo error is in the minus sign in h = u - p/d. Actually it is
h = u + p/d.

Best regards,

Luis

--
--------------------------------------------------------------------------
  Dr. Luis José Yebra Muñoz
  CIEMAT - Plataforma Solar de Almería

  Crta. de Senés, s/n
  04200  TABERNAS
  ALMERÍA

  Tlf: +34 950 387800. Ext.:923
  Fax: +34 950 365015
  Web: www.psa.es

  E-mail: luis.yebra@ps

[2019-03-19 13:23] beutlich commented on #2856
@thorade Do you confirm?

[2019-03-19 13:25] HansOlsson commented on #2856
I agree that the minus sign is either a simply typo or someone intending to write "u=h-p/d".

But to me the conclusion doesn't really follow in this simple way: just because h=u+p/d doesn't mean that h necessarily depend on p. It could be that h is independent of p and it is the specific entropy u=h-p/d that must depend on pressure.

[2019-03-19 13:37] lyebra commented on #2856
Hi, All;

Hans, it is my pleasure to meet you again (by e-mail)...

Just a small comment by my side. The specific enthalpy is defined in the
form h=u+p/d. I understand that in Media library we can approximate the
dependence of the enthalpy with the pressure for incompressible media as
explained in the text in the docu. I think that it would be enough, and
convenient, just to change the sign.

Best

[2019-03-19 14:11] HansOlsson commented on #2856
My point was that the conclusion only follows if u is necessarily independent of p.

If we look at the flags we see that enthalpyOfT decides whether h depends on T or p, T.
And singleState decides whether we use u=h-p/d or u=h-p0/d.

By setting enthalphyOfT=true and singleState=false we have h independent of p and u dependent on p - i.e. exactly the case where the conclusion doesn't hold.

Obvious

[2019-03-19 14:56] beutlich commented on #343
@wischhusen @casella Almost 9 years later, is this still desirable for MSL 4.0.0?

[2019-03-19 14:58] beutlich commented on #2370
@bilderbuchi Can you please check if #2834 fixes this issue? Thank you.

[2019-03-19 19:22] thorade commented on #2856
For real fluids, all state properties are connected to each other, and you can only have two independent variables for a single phase.
For liquids (almost incompressible), and with p,T as independent variables, enthalpy changes very little with pressure, and almost linear with temperature (with heat capacity as factor).
In other words: (dh/dp)_T << (dh/dT)_p.

After reading that section of the doc

[2019-03-20 07:22] bilderbuchi commented on #2370
Actually, I have never gotten confirmation either way of my [hunch/analysis](https://github.com/modelica/ModelicaStandardLibrary/issues/2370#issuecomment-358218010) that this is actually caused by a sign error in the delta_head_init calculation. If that is correct, the proposed change in #2834 from Height to Length will just mask/hide the error by not warning about the incorrect sign.

I can't che

[2019-03-20 07:32] beutlich commented on #2370
Thanks for the update.

Seeing, that https://trac.openmodelica.org/OpenModelica/ticket/2958 still is unresolved, can someone from the OMC developers give a clue please if this is a tool issue or a library issue? @adeas31 @adrpo @casella @perost @sjoelund Thank you.

[2019-03-20 09:42] bilderbuchi commented on #2370
That issue was reported by me, and after some time I concluded that it looks like an MSL issue, which is why I looked for the issue in the MSL tracker and found the present one.

[2019-03-20 10:31] HansOlsson commented on #682
Regarding the function in conversion scripts:

- The only current solution for conversion scripts is to move current one to ObsoleteModelica4 - and introduce a new one. That works, but in case the argument is never zero-sized that is excessive - and in case they mistakenly thought it would work the other way it is problematic.
- Automatically detecting if the function argument may be zero-sized is

[2019-03-20 10:36] HansOlsson opened #2860 "Modelica.Blocks.MathBoolean.Nand has wrong documentation for empty input"
When looking at #682 I found that Nand-block documentation says that no inputs gives the output "false" - but the result is "true". It should likely be corrected together with #682.

[2019-03-20 11:18] HansOlsson commented on #2370
I agree and that issue is tool-independent - it is just that Dymola as default does not generate assertions for such values.

But what I find even more suspicious in Dymola is that:
pump.delta_head_init is -2.04m, pump.head_op is 2.04m and pump.head is 1.93 to 1.94m.

That looks very suspiciously as if pump.delta_head_init has the wrong sign.

[2019-03-20 11:28] #2856 closed

[2019-03-20 12:34] casella commented on #665
Adding homotopy may require some new parameters, e.g. for nominal mass flow rate, which were not originally present in the model. We could give a start value to them, with a warning like "This parameter was introduced in v. 4.0.0, please put an appropriate value to it to ensure proper operation of the model". In most cases the model will work anyway, and in all cases there's proper diagnostics to

[2019-03-20 13:49] bernhard-thiele opened #2862 "Integrate Modelica_Synchronous into MSL 4.0.0"
Add the [Modelica_Synchronous](https://github.com/modelica/Modelica_Synchronous) library to the MSL 4.0.0.

Some thoughts how the integrated structure could look like:

[code]

[2019-03-20 14:32] bernhard-thiele commented on #2862
@HansOlsson @MartinOtter @christoff-buerger @tbeu @tobolar  Just mentioning you so that you are aware that I have created a ticket for discussing the Modelica_Synchronous integration

[2019-03-20 20:39] beutlich commented on #2302
@christophclauss See again https://github.com/modelica/ModelicaStandardLibrary/issues/414#issuecomment-272599220 by @casella. Do you think adding proper units is feasible for MSL v4.0.0?

[2019-03-22 08:10] christophclauss commented on #2302
Dear Thomas,

it is still an extensive part of work, but it should be feasible for MSL
v4.0.0.

Best regards

Christoph

Thomas Beutlich schrieb:

[2019-03-25 11:14] HansOlsson commented on #2862
I think I prefer the Modelica.Blocks.Clocked

Having it split just adds a complication (finding all of them together - and accidentaly mixing with non-clocked), and I think we already have too packages directly under Modelica.

[2019-03-25 13:42] casella commented on #2370
Ok folks, sorry for the delay in the analysis, here it is.

The parameter `delta_head_init` is used to parameterize the simplified head-flow curve in the homotopy operator [here](https://github.com/modelica/ModelicaStandardLibrary/blob/8f65f621a388379e9de663fc15990bfc9ee9b540/Modelica/Fluid/Machines.mo#L437).

For stable operating points, this value is actually expected to be negative, so the mode

[2019-03-25 13:46] beutlich commented on #2370
That is one of the changes in #2834 (and I asked @bilderbuchi to verify it in OMC).

[2019-03-25 13:48] HansOlsson commented on #2370
That doesn't answer one implicit question: are pump.head_op and pump.head and pump.delta_head_init expected to have similar magnitude?

If so it seems odd that one of them has negative sign; even if the formulas are correct.
It may follow from conventions - but then it should (IMO) be explained in the model; and if it doesn't follow from usual conventions it would be better if they all had the sam

[2019-03-25 16:32] beutlich commented on #2694
@christiankral Do you want to keep this issue open after #2854 got merged?

[2019-03-25 16:46] christiankral commented on #2694
Yes, that's a good idea. Let's keep it open, as there will come more terms along...

[2019-03-25 20:32] beutlich commented on #2862
I have no strong opinion here if we should aim for first or second alternative here. But since we have ComplexBlocks already next to Blocks (and ComplexMath next to Math), and also Modelica_DeviceDrivers has ClockecBocks next to Blocks, it might look naturals to add ClockedBlocks too. It also seems to feature least effort for migration and a potential later modularization of domains.

[2019-03-26 06:51] beutlich commented on #2788
@GallLeo What is the current state regarding signed CLAs? Can we setup CLA assistant now?

[2019-03-26 10:02] tobolar opened #2863 "Rename parameter tau_constant"
In `Modelica.Mechanics.Rotational.Sources.SignTorque`, the parameter `tau_constant` shall be renamed to `tau_nominal`, similarly to e.g. `LinearSpeedDependentTorque` class.

[2019-03-26 10:08] #2814 closed

[2019-03-26 13:04] #2425 closed

[2019-03-26 13:13] beutlich commented on #1410
@HansOlsson Can you confirm that we are able to convert Modelica.Mechanics.MultiBody.Forces.{LineForceWithMass, LineForceWithTwoMasses} as you proposed above?

[2019-03-27 08:54] wischhusen commented on #343
Honestly, the integration concept of the Heat´Transfer components (not functions) seems to be too complicated for regular users. So I would not insist to keep this issue open.

[2019-03-27 09:03] beutlich commented on #343
Closing then.

[2019-03-27 09:03] #343 closed

[2019-03-27 09:22] #2720 closed

[2019-03-27 10:18] HansOlsson commented on #2720
I'm not convinced that the problem was start-value of universal.phi_a, and think that it might be a modeling issue - in particular that the axis of the universal joint shouldn't be in the same direction as the following rod.

Consider the silly change of setting world.n={-0.1,-1,-0.1}; after that change universal.phi_a will then flip half-way through the simulation.

To me it more seems that unive

[2019-03-27 13:00] tobolar commented on #2720
@HansOlsson I would agree, but I actually don't know the initial aim of the test model. Possible that `universal.n_a` is set in that way on purpose?

[2019-03-27 13:37] henrikt-ma commented on #2720
That's a good analysis.  If the model is intentionally setting strange axes, one might wonder if it really makes sense to have a regression test for it.  This results in three alternatives to choose from:
- Model is intentionally setting strange axes, and is not well suited for regression testing; just delete the model.
- The strange axes is a modeling error; just fix the model.
- Model has bad in

[2019-03-27 14:37] tobolar commented on #2720
@HansOlsson

@henrikt-ma

I agree.

[2019-03-27 14:40] HansOlsson opened #2866 "Axis for ModelicaTest.MultiBody.Joints.UniversalSpherical"
Based on https://github.com/modelica/ModelicaStandardLibrary/issues/2720#issuecomment-477157967
as far as I can tell there are three variants in ModelicaTest.MultiBody.Joints.UniversalSpherical of universal+rod+spherical, and it is checked they generate the same result.

However, the middle one seems to have strange axis, a different n1 ({1,0,0}) that is co-linear with the rod-axis. I would propos

[2019-03-27 18:46] casella commented on #2370
Yes.

Why, one is a the delta of the function (f(x) - f(0)), which happens to be negative if the function is monotonically decreasing. In fact, I could update the model to compute the delta on a smaller interval, since the idea is to approximate the derivative by a finite difference, which I currently do by taking (f(x) - f(0))/x. This won't affect the final result, only the homotopy transformatio

[2019-03-27 19:14] casella commented on #2370
Done, see #2834

[2019-03-29 09:44] finback-at opened #2868 "Modelica.Media.Air.MoistAir.density_derX is not right"
I think that the current algorithms of Modelica.Media.Air.MoistAir.density_derX,
[code]
are not right.

**Unit check**

Mass fraction X [kg/kg] is unitless.
The unit of density_derX should be same as density.
But the unit of abouve equations are,
`pressure*R/(R*temperature)^2 = pressure/(R*temperature^2) = density/temperature.
`
     where, `density = pressure/(R*temperature)`   is equation of sta

[2019-03-29 10:07] beutlich commented on #2868
That code is in there since MoMoLib was integrated more than 7 years ago: https://github.com/modelica/ModelicaStandardLibrary/blob/ba2f041349fe1333d2124bef5ccdcf68a033faa3/Modelica/Media/Air.mo#L3734-L3745

@wischhusen  Can you please have a look at this.

@HansOlsson You once told (maybe for a similar fix of molarMass), that unit checks in function are tricky. Can you please cross-check.

[2019-03-29 10:13] finback-at opened #2869 "Input variable of Modelica.Media.MoistAir.enthalpyOfGas"
MoistAir.enthalpyOfGas is extended from
PartialCondensingGases.enthalpyOfGas(state)
It's input variable is state.

PartialCondensingGases.enthalpyOfGas
[code]

But MoistAir.enthalpyOfGas doesn't use state.
I think that T and X[Water] in MoistAir.enthalpyOfGas
should be replaced to state.T and state.X[Water].

[2019-03-29 10:13] joedenlys commented on #575
It's a hazard which you must want to solve, [itunes error 0xe80000a](https://itunessupport.org/blog/fix-itunes-error-0xe80000a/) helped me to solve this issue so far.

[2019-03-29 10:53] finback-at opened #2870 "Algorithm of Modelica.Media.IdealGases.Common.Functions.s0_Tlow_der"
Current algorithm of s0_Tlow_der is
[code]
It is just as same as s0_Tlow.

From the relation
   (ds/dT)_p = Cp/T,
I think it should be changed to
[code]

[2019-03-29 11:05] beutlich commented on #2870
@thorade Even though I assigned to @hubertus65 can you please have a look at it.

[2019-03-29 11:27] wischhusen commented on #2868
Looks reasonable. Have to revisit the code later.

[2019-03-30 19:23] thorade commented on #2870
Will have a look next week when I am back from travelling.
Obviously, any property and its derivative cannot have the identical algorithm.

[2019-03-31 00:19] finback-at opened #2872 "Mistake of the sign of a term in Modelica.Media.Air.MoistAir.s_pTX"
Algorithm of s_pTX

[code]

I think that the 8th line of above,
[code]
should be replaced to
[code]

I modified the format of above algorithm. This is the sign of the 14th line of bellow.
-R is already multiplied in the 6th line.
[code]

[2019-03-31 14:36] beutlich commented on #2872
@thorade Even though I assigned to @hubertus65 can you please have a look at it. Thanks again.

[2019-04-02 17:12] svorkoetter opened #2873 "Incorrect parameter in Modelica.Mechanics.MultiBody.Parts.Body?"
`Modelica.Mechanics.MultiBody.Parts` contains the following model (edited for clarity):

    model Body
        ...
        final parameter SI.AngularAcceleration z_a_start[3] = Frames.resolve2(R_start, z_0_start);
        ...
        SI.AngularAcceleration z_a[3](start = Frames.resolve2(R_start, z_0_start), fixed = fill(z_0_fixed, 3));
        ...
    end Body

Shouldn't that second declaration b

[2019-04-02 21:14] finback-at opened #2874 "Modelia.Media.Air.MoistAir.s_pTX_der is not right"
[s_pTX_der.pdf](https://github.com/modelica/ModelicaStandardLibrary/files/3035944/s_pTX_der.pdf)

I think MoistAir.s_pTX_der is not right.
Please see above PDF.

[2019-04-03 05:43] beutlich commented on #2874
Related to #2872.

[2019-04-03 14:55] tobolar commented on #2873
I'm not absolutely sure since I haven't found any corresponding commit, but I suppose `z_a_start` is leftover from some previous library version in order to not brake backward compatibility (therefore with prefix "final"). So that parameter can be deleted from v4.0.0.

The transformation `Frames.resolve2` shall be correct since vector `z_0_start` is given in world frame whereas `z_a` is in frame_a

[2019-04-03 21:36] christoff-buerger commented on #2862
I think I would prefer `Modelica.Synchronous`.

Are there specific reasons to use `ClockedBlocks` -- to talk about blocks? I somehow miss the context with blocks here. Of course, it is very likely that in most use-cases sampled subsystems are simple block diagrams. But for me this tastes to much Simulink like. I mean, there is no need to only use blocks within clocked partitions. You can use any M

[2019-04-04 06:42] beutlich commented on #2873
git/svn blame is your friend here. When MultiBody was added to MSL 2.1 by ee9a1a29568c2815a0e568719f25482a50d388c7 it already was final: https://github.com/modelica/ModelicaStandardLibrary/blob/ee9a1a29568c2815a0e568719f25482a50d388c7/Mechanics/MultiBody/parts.mo#L625-L628 and both `w_a_start` and `z_a_start` were assigned depending on `initType`: https://github.com/modelica/ModelicaStandardLibrar

[2019-04-04 08:39] bernhard-thiele commented on #2862
At the moment all drag'n'drop components from the library are blocks and use the directed data-flow connectors from `Modelica.Blocks.Interfaces` and/or the directed Clock connectors. From that perspective I think it is okay to classify them as blocks, but I kind of get your preference for `Modelica.Synchronous`.

What I don't like  with the name `Synchronous` is that we have the "synchronous data

[2019-04-04 15:54] beutlich commented on #194
Also nue should be renamed to nu then. Will also update #2170 for the conversion.

[2019-04-04 16:01] beutlich commented on #2370
Should be resolved after merging #2834.

[2019-04-04 16:01] #2370 closed

[2019-04-04 16:48] #2873 closed

[2019-04-05 06:51] bilderbuchi commented on #2370
Thank you!

[2019-04-05 12:38] thorade commented on #1153
Sorry for posting on this already very long thread, I did not follow all discussion, so I am unsure about the current status for bicubic interpolation in 2 dimensions. This is something that would be very helpful for me, and I would be happy to assist with testing etc. With some help and quickstart I could also try to contribute to implementation.

[2019-04-05 18:34] beutlich commented on #2804
We can use the existing block Modelica.Blocks.Sources.RadioButtonSource for that.

[2019-04-06 22:01] finback-at commented on #2869
I'm sorry for create this issue.
This is my mistake.
PartialCondensingGases.enthalpyOfGases in current Master is all right.

[code]

[2019-04-06 22:01] #2869 closed

[2019-04-08 10:48] #2804 closed

[2019-04-08 18:15] beutlich commented on #814
@JoeRiel Friendly reminder.

[2019-04-09 19:25] beutlich opened #2892 "Is InitPID.DoNotUse_InitialIntegratorState still needed?"
For MSL 4.0.0, can we remove the PID initialization type [InitPID](https://doc.modelica.org/Modelica%203.2.3/Resources/helpDymola/Modelica_Blocks_Types.html#Modelica.Blocks.Types.InitPID) with the Modelica 2.2 compatible initialization alternative `DoNotUse_InitialIntegratorState`? Or is it still needed?

[2019-04-09 19:28] beutlich commented on #2892
See also #1215. Seems we never can get rid of our legacy.

[2019-04-09 20:35] beutlich commented on #2860
With #2888 applied, it is MathBoolean.And that needs to be updated, while Nand will be correct then:
[code]

[2019-04-10 06:41] dietmarw commented on #2892
I'd argue that if there is a broken issue that can not be solved neither in a backward compatible way nor by conversion then we simply need to decide to either live with it forever or fix it in a breaking way. For the latter the MSL 4.0.0 would be the right time. Otherwise it will have to live in the MSL for another 10 years at least which seems not appropriate.

[2019-04-10 07:00] MartinOtter commented on #2892
Fine for me to remove option DoNotUse_InitialIntegratorState for MSL 4.0.0, even if it is not possible to provide a conversion script.

[2019-04-10 07:32] MartinOtter commented on #1855
How to initialize an inertia in steady state? Currently, the user can set w.start=0 and a.start=0. If a.start=0 is removed, it is no longer possible to initialize in steady state from the GUI.

Other models have an explicite selection "initialize state" or "initialize in steady state".

Again, I would only make a change here and at other other places of MSL if there is a uniform concept for initia

[2019-04-10 12:27] beutlich commented on #1855
I wonder why you closed this. Especially I am confused if this means a closed as wontfix. If there is something to be improved we should keep the issue open.

See at least #2896 for some minimal improvement to have a consistent initialization dialog of translational Mass and rotational Inertia. In both components, steady-state initialization is possible.

[2019-04-10 13:04] HansOlsson commented on #1855
I agree with @Beutlich and would like to add some notes:

And I still believe the entire concept of "steady-state initialization" needs to be reconsidered (as already indicated in previous replies).

I am working on analyzing this for the future as part of working on implementing better steady-state initialization (we are talking months not minutes (1) ), but the result so far show that steady-sta

[2019-04-10 13:16] beutlich commented on #1855
Yes, my intention was and still is to remove the Dialog.showStartAttribute annotation from Modelica.Mechanics.Rotational.Components.Inertia.a, though I now added it for Mass.a in #2896 just for the sake of consistency and being confused. As far as I figured out, Inertia.a is the only such case in MSL of being not an ODE state variable and having this annotation.

[2019-04-10 15:39] max-privato commented on #1855
Exactly so.
Obviously I did not analyse in depth things as is done in this discussion, but as a final user perspective considering initial acceleration as an initial condition of a translating mass or rotating inertia appeared tricky. I did envisage that there might be possible complicated situations in which setting acceleration at t=0 could play some role, but was not sure whether this should be

[2019-04-10 18:57] #758 closed

[2019-04-10 19:04] #385 closed

[2019-04-10 19:10] #197 closed

[2019-04-10 19:17] #978 closed

[2019-04-10 19:26] #2361 closed

[2019-04-10 19:48] beutlich commented on #1855
I updated #2896 and created #2897 to consistently consider Mass and Inertia start parameter dialogs and to remove Dialog.showStartAttribute annotation from the highest derivatives.

[2019-04-13 18:02] christiankral opened #2899 "Remove components having "Heating" in their name"
Having components with `Heating` in their name are usually a leftover from the time when components were designed without heat port. Afterwards, the `Heating` components were add to the MSL. Later, step by step, the heat ports were added in a backwards compatible way. Therefore, all these `Heating` components shall be removed from the MSL:

### Components

- [x] `Modelica.Electrical.Analog.Basic.H

[2019-04-13 21:54] dietmarw commented on #2899
Just be aware that some of those components don't just have heatports but also have different (heat dependent) characteristics. So the original non-Heating components might need to get extended, as in some features might need to get merged back into the normal components.

[2019-04-16 10:53] fhgd commented on #2018
I have the same question. Any progress?

[2019-04-16 11:03] chrbertsch commented on #2018
Isn't FMI the solution for this?

See, e.g.,
https://flumes.iei.liu.se/modprod/modprod2017_proceedings/modprod2017-day1-talk02b-Ruediger_Kampfmann_FMI_for_P
https://www.beckhoff.de/TE1420/
https://www.beckhoff.de/TE1420/LC.pdf

[2019-04-16 11:20] beutlich commented on #2018
AFAIK, there is no development here.

Did you see https://github.com/TechnicalBuildingSystems/ModelicaADS?

[2019-04-18 15:01] hyumo opened #2901 "Provide higher order derivatives for CombiTables"
It would be appreciated if higher order derivatives are provided in the standard tables.

[2019-04-23 09:17] thorade commented on #2901
To my understanding, MSL tables are C1 smooth, so you can only get first derivatives really. What order would you need?

[2019-04-23 12:39] hyumo commented on #2901
In my case, I need at least C2, and fundamentally it should be possible to provide up till C3 with the current spline type, it is just not implemented in standard tables.
I am not sure if there's any historical reason why C2 and C3 derivative functions are not provided (they are available in Dymola dymtable before ModelicaStandardTable was introduced), if there are, please point me to the related

[2019-04-24 15:42] svorkoetter opened #2903 "Off-by-one Error Seg Fault in ModelicaStandardTables.c"
Line 26 of `Modelica/Blocks/Tables.mo` has:

    parameter Integer columns[:]=2:size(table, 2);

Line 44 initializes an external object, as defined on lines 179-213 of `Modelica/Blocks/Types.mo`. The `columns` parameter, as well as `size(columns,1)`, is passed to the constructor.

The code on line 1868 of `Modelica/Resources/C-Sources/ModelicaStandardTables.c` allocates space for the columns based

[2019-04-24 16:28] Maplesoft-fmigroup commented on #2901
Seconded!
For our MapleSim product we convert to use our own implementation
of interpolation, for which the differential order is an argument
to the interpolation function.
Any non-negative integer is valid for the diff. order, where high
enough values (i.e. larger than the degree of the underlying
polynomial used for the interpolant) simply give a function that
always returns zero.

[2019-04-24 16:33] hyumo commented on #2901
Same here, I added the higher order derivatives myself in ModelicaStandardTables.c and recompiled it as a new static lib, which is really just a hack... and if I could do this, I believe ModelicaStandardTables could do this in a much better way.

[2019-04-24 16:42] Maplesoft-fmigroup commented on #2901
We had our own implementation of interpolation that included the
differential order and a number of options for extrapolation that were
not present in the original MSL implementation (I think they have added
these extrapolation options since).

Computing the derivative of an interpolant is a fundamentally simpler
operation than the interpolant itself, and far less error prone than
attempting numer

[2019-04-25 11:06] MartinOtter commented on #1855
I am the library officer of the Rotational library and it is my decidion to not make this change (only make a change in the future if a better concept for initialization is available)

[2019-04-25 11:33] MartinOtter commented on #2862
I am strongly to include it in parallel to Blocks due to practical reasons (and since Modelica.Synchronous are discrete-time blocks, whereas Modelica.Blocks are continouous-time blocks): Subpackages are structured into Examples and Interfaces and it would be very awkward if the many examples and interfaces in Modelica_Synchronous would be spread in many locations of Modelica.Blocks. Including ever

[2019-04-25 11:48] MartinOtter commented on #2866
There is no "n1" defined. Can you give a more detailed description based on oject names (e.g. universal.n_a should be changed from xxx to yyy).

[2019-04-25 12:00] HansOlsson commented on #2866
That was correct in the linked comment:
https://github.com/modelica/ModelicaStandardLibrary/issues/2720#issuecomment-477080461

I meant that both `universalSpherical.n1_a={0,0,1}` and `universalSpherical1.n1_a={0,0,1}` but `universal.n_a={1,0,0}` which is both different and co-linear with `fixedTranslation.r`.

Thus I propose to change `universal.n_a={0,0,1}`, and reverting the change of `universa

[2019-04-25 12:36] Maplesoft-fmigroup commented on #2903
Same issue appears in`ModelicaStandardTables_CombiTable1D_getDerValue`, `ModelicaStandardTables_CombiTimeTable_getValue`, and `ModelicaStandardTables_CombiTimeTable_getDerValue`.

[2019-04-25 13:10] MartinOtter commented on #2866
Yes, you are right (so to change to universal.n_a={0,0,1}, and reverting the change of universal.phi_a back to zero).

[2019-04-25 13:11] MartinOtter commented on #2866
@tobolar: Please, can you perform this change.

[2019-04-25 13:25] MartinOtter commented on #2836
You are right, xoshiro should be used at some point in the future. However, I would wait and not do it now, because making this change in a correct way might be difficile and requires thorough testing (e.g. as I recall, one low order random number generator is used to initialize a high order random generator and one would have to dig in all these codes to figure out that all this still works with

[2019-04-25 16:49] HansOlsson commented on #2862
Modelica.Sampled would be confusing for many as the non-clocked sample-operator also leads to sampled systems.

I know that we have stated that for a long time, and synchronous data flow was part of the original inspiration for Modelica (as described in "Hybrid Modeling in Modelica based on the Synchronous Data Flow Principle"). However, looking at https://en.wikipedia.org/wiki/Dataflow_architectu

[2019-04-26 03:41] alirezamasoom opened #2904 "Eigenvector of complex matrix"
I am user of Modelica. I want to know is there any function for computation of eigenvalues and eigenvectors of complex matrix?
Alireza

[2019-04-26 04:25] dietmarw commented on #2904
This is an issue tracker for reporting issues with the library and not meant as a support plattform. For support you might be better off asking your question on https://stackoverflow.com/questions/tagged/modelica

[2019-04-26 04:25] #2904 closed

[2019-04-26 07:31] GarronFish opened #2905 "ModelicaMatIO.c conversion warnings"
When compiling a model that makes use of ModelicaMatIO.c I get the following warnings:
C:\Program Files\Dymola 2020 Beta 3\Source\ModelicaMatIO.c(6615): warning C4244: '=': conversion from 'size_t' to 'double', possible loss of data
C:\Program Files\Dymola 2020 Beta 3\Source\ModelicaMatIO.c(6624): warning C4244: '=': conversion from 'size_t' to 'double', possible loss of data

These warnings are d

[2019-04-29 15:45] tobolar commented on #2866
Will do it.

[2019-04-30 06:13] MartinOtter commented on #2862
What about **Modelica.Clocked**: Isnt't this exactly describing the core feature? Yes, there is also a block Modelica.Blocks.Sources.Clock, but I think it is fine to have a continuous-time clock and call it **Clock**. **Clocked** on the other hand means that the models/blocks inside this package are executed under control of a clock.

I think the underlying principle of Modelica is usually stated

[2019-04-30 07:19] HansOlsson commented on #2862
I have no problem with Modelica.Clocked.
However, I prefer Modelica.Blocks.Clocked since I think we are adding too many packages directly under Modelica, but it might be that the problem isn't Clocked but some of the other packages (e.g. ComplexMath and ComplexBlock).

I opened a separate ticket on that https://github.com/modelica/ModelicaSpecification/issues/2348

[2019-04-30 08:54] bernhard-thiele commented on #2862
From the discussion so far there seems a majority preference to have it as a top level package, despite the drawback of increasing the package count below Modelica.

*Modelica.Sampled* fits, but as Hans mentioned, it might be more confusing than the other options.

**Modelica.Clocked** is short, intuitive, less ambiguous for the the uninitiated and I like it, too.

I have no strong feelings agains

[2019-04-30 09:06] tobolar opened #2906 "Minor issues in UsersGuide.Conventions"
I have reviewed `Modelica.UsersGuide.Conventions` and found following minor issues to be corrected. I'm going to fix them in subsequent commits of one PR only.

## Modelica.UsersGuide.Conventions.Documentation

1. General comments:
    - [x] Examples of documentation format shall be collected within "Examples" section, see e.g. ...Conventions.Documentation.Format.Figures.
    - [x] Use `&quot;` in

[2019-04-30 09:28] tobolar opened #2907 "Clarification of some rules within UsersGuide.Conventions"
Reviewing `Modelica.UsersGuide.Conventions` I have found some issues to be discussed/clarified.

## Modelica.UsersGuide.Conventions.Documentation

1. ...Documentation.Format
    1. Section "Paragraphs" shall be moved into a separate class for better referencing.
    2. Section "Emphasis" shall be moved into a separate class called e.g. "Common text format" for better referencing.
    3. Section "C

[2019-04-30 14:43] max-privato opened #2908 "Starpoint in Electrical.Machines.Utilities.TerminalBox"
If I hover with mouse on starpoint connector in TerminalBox I see as tooltip,

_in Dymola:_    [...] startpoint if (terminalConnection "D")

_in OpenModelica:_ starpoint

in both cases I miss the real information which, IMO should be "starpoint, used only if connection is "Y" (default)".

This occurs because starpoint has not a descriptive text. What I propose is to substitute, in TerminalBox:
[co

[2019-04-30 18:23] #2903 closed

[2019-04-30 18:24] svorkoetter commented on #2903
It seems to have been an error on our part in understanding the code.

[2019-04-30 18:53] #2441 closed

[2019-04-30 19:12] #2674 closed

[2019-04-30 19:30] beutlich commented on #2905
This is an upstream issue of [matio](https://github.com/tbeu/matio). It will be fixed once a new version of matio is released and and merged into ModelicaMatIO.

[2019-05-02 21:47] max-privato opened #2911 "Issue with SM_PermanentMagnet?"
I'm not totally sure, but I think there is an issue with the management of Lssigma in Modelica.Electrical.Machines.SynchronousInductionMachines.SM_PermanentMagnet model.

I expect that at equal terminal currents, the terminal voltage is influenced by the Lssigma value.
The built-in start value is 0.1 ohm (318 uH), as large as one third of Lmd=Lmq. The voltage drop across it should be significant.

[2019-05-03 08:04] #2911 closed

[2019-05-03 08:05] max-privato commented on #2911
Need to think more about it...

[2019-05-03 08:57] christiankral commented on #2911
If you compare the terminal voltages of the machine with different values of `Lssigma`, you are comparing RMS or peak values, respectively. But there exists a phase shift of the voltage drop across `Lssigma` compared to the terminal voltage depending on the operating conditions. Whenever you plot the voltage drops of the phasor `smpm.lssigma.v_[..]` you can observe the expected voltage drop across

[2019-05-03 09:02] max-privato commented on #2911
Thank you.
I closed the ticket just to probe the effects of Id more .
In fact, the effects on terminal voltage of presence or absence of Lsigma might be evanesent if voltages created by PMs and by stator currents are in quadrature (what happens exactly if I have just Iq). Using my model with some Id (e.g. 50 A), shoes reasonable voltage difference upon changing Lssigma by an order of magnitude.
Th

[2019-05-03 13:05] christophclauss opened #2913 "Electrical.Spice3 - Complete model compatibility to Berkeley Spice3"
Compared with the Berkeley SPICE3 (see e.g. bwrcs.eecs.berkeley.edu/Classes/IcBook/SPICE) the model supply of Modelica.Electrical.Spice3 is not complete.
The following models are missing (in brackets the SPICE typical Capital):
  Transmission lines lossless (T)
  Lossy transmission lines (O)
  Uniform distributed RC-lines (U)
  MESFETs (Z)
  Higher level MOSFETs (Level 3, 4, 5, 6) (M)
  Switches (

[2019-05-03 20:45] beutlich commented on #2870
Did you find some time?

[2019-05-03 21:32] beutlich commented on #2901
Can you share your diff please. Thanks.

Currently, only C1 is guaranteed (due to the cubic Hermite spline interpolation). See my example where the second derivative no longer is continuous (either due to the extrapolation or to the data itself). In your implementation you should be able to replace the approximated second derivative by the symbolic second derivative.

[code]

Nevertheless, the sec

[2019-05-05 20:25] thorade commented on #2870
Sorry for answering so late.

@finback-at you can create permanent links to code snippets:
https://help.github.com/en/articles/creating-a-permanent-link-to-a-code-snippet
Makes it a few seconds faster to find the code and 100% unambigous

So this is referring to these lines:
https://github.com/modelica/ModelicaStandardLibrary/blob/30e08efd288786e34a2adabd64e50a38a5ac7490/Modelica/Media/IdealGases/

[2019-05-06 14:22] christiankral commented on #2907
I fully agree to all items which are not commented. Some additional comments are added, however:

Code shall be displayed as
[code]
not
[code]

No blanks / tab before the first code character = not indented. So this comment may be obsolete, as you proposed `blockquote`

I guess point 4 refers refers to code snippets embedded in a text paragraph. It may thus make sense to re-phrase point 4.

I thin

[2019-05-06 18:16] #2863 closed

[2019-05-06 20:24] beutlich commented on #2870
Probably not. Could you invent one test model?

[2019-05-07 02:19] finback-at commented on #2870
Originally, s0(T) is obtained from
https://www.grc.nasa.gov/WWW/CEAWeb/TP-2002-211556.pdf, p.2, eq.(3).
It is written  below eq.(1) of this document,
"Enthalpy and entropy are obtained by integrating Cpo (T ) and Cpo(T )/ T , respectively, with respect to T:",
 and it is easy to check the equation by hand.

I think it is simple to write,
  s0_Tlow_der = Cp_Tlow(data,T) / T,
just like as,
  h_Tlow_

[2019-05-07 03:03] finback-at commented on #2870
I checked the code in Fix algorithm of s0_Tlow_der #2919 is same as Cp_Tlow(data.T)/T.
Thank you!.
Thank you to let me know about how to create pull request. I will try.

[2019-05-07 06:39] finback-at commented on #2870
Sorry, I dropped T_der in may comments

s0_Tlow_der =T_der* Cp_Tlow(data,T) / T,
h_Tlow_der = dT*Cp_Tlow(data.T),
And I checked the Fix algorithm is same as T_der*Cp_Tlow(data,T)/T.

[2019-05-07 09:46] beutlich commented on #2870
Already done by #2919.

[2019-05-07 09:46] #2521 closed

[2019-05-07 12:43] christoff-buerger commented on #2862
I like both, `Modelica.Clocked` and `Modelica.Synchronous`.

I slightly prefer `Modelica.Synchronous` simply for the reason that we speak of synchronous language features since their introduction in the specification quite some time ago. Thus, the papers documenting the foundations and how to use clocks etc use the term _synchronous_; and the specification speaks of _Synchronous Language Elements_

[2019-05-07 18:03] thorade commented on #2870
This seems to be related to #1909 also.
As s0_Tlow uses smooth annotation and not derivaitve annotation, tools will differentiate themselves as required.
The only place I could find where this function is actually called is from here:
https://github.com/modelica/ModelicaStandardLibrary/blob/d338e4d603f2f5872f0f32098ae68adbcec41191/Modelica/Media/Air/MoistAir.mo#L1409

[2019-05-07 18:11] thorade commented on #2870
@phjordan Isn't this the function you investigated two years ago also?
What was your conclusion back then?

[2019-05-07 18:48] beutlich commented on #1909
As again pointed here by @thorade the derivative or smoothOrder, respectively annotation is missing for s0_Tlow.

[2019-05-08 04:30] henrikt-ma commented on #2705
I'm double sorry.  My comment regarding `ModelicaTest.MultiBody.Joints.UniversalSpherical` was correct.  Issue #2720 doesn't address the initialization of `bodyBox.r0`.  Setting the same guess values as in `SphericalSpherical2` does the job.  Reopening.

[2019-05-08 05:16] beutlich commented on #2705
@henrikt-ma Could you please create a PR. Thanks.

[2019-05-08 08:17] henrikt-ma opened #2921 "Missing derivative annotation pointing to MixtureGasNasa.h_TX_der?"
I looks to me as if `Modelica.Media.IdealGases.Common.MixtureGasNasa.h_TX_der` is unused, but that it was meant to be used as the derivative of `Modelica.Media.IdealGases.Common.MixtureGasNasa.h_TX`.

I've tried adding the `derivative(zeroDerivative = h_off) = h_TX_der` annotation, and that seems to be working fine with the regression test for `Modelica.Media.Examples.MixtureGases`.

[2019-05-08 18:03] beutlich commented on #2921
See #1909 for the motivation of smoothOrder (that is set for h_TX_der).

[2019-05-08 22:02] henrikt-ma commented on #2921
OK, that's a good reason to not use `h_TX_der`.  Then I'm just not able to see the point of still having it in the library.

[2019-05-09 05:38] beutlich commented on #2921
Good question, sincer there also is s_TX but no s_TX_der.

[2019-05-09 10:45] christoff-buerger opened #2923 "Oddly located name and connector of Modelica.Electrical.Analog.Sources.SignalVoltage icon"
Compared to MSL 3.2.2, the Icon of `Modelica.Electrical.Analog.Sources.SignalVoltage` changed in MSL 3.2.3. There are two changes that seem unnecessary and result in odd looking diagrams:
 1. The `v` input connector is hanging in the air, not close and above the rest of the icon. In MSL 3.2.2 it was next to the ellipse/rest of the icon.
 2. The name is moved in-between the `v` input connector and

[2019-05-09 16:04] thorade commented on #2870
Here is a test model. After simulation, s and s_from_der should be identical.
Only problem: the test does not pass, and I am unsure whether my model is wrong or the PR.
If I run the identical test for enthalpy, it works just fine.

[code]

[2019-05-10 01:45] finback-at commented on #2870
For MoistAir.s_pTX and MoistAir.s_pTX_der, there are other issues #2872 and #2874.
I think It's not better to use for the test.

[2019-05-10 07:11] thorade commented on #2870
But it seems MoistAir is the only place where s0_Tlow and s0_Tlow_der are actually called.
https://github.com/modelica/ModelicaStandardLibrary/search?q=s0_Tlow&unscoped_q=s0_Tlow
All other gases use s0_T (without the low). So, in addition to all other issues, it seems that the names and description strings are misleading.

[2019-05-11 07:50] beutlich commented on #2923
Since a picture says more than words:

![grafik](https://user-images.githubusercontent.com/14896695/57566879-9cf26080-73d1-11e9-9c04-f952d31d1a0b.png)

The changes are due to the clarified icon conventions and performed in #2215.

[2019-05-13 11:16] tobolar commented on #2720
Similarly to SphericalSpherical2 (see https://github.com/modelica/ModelicaStandardLibrary/issues/2705#issuecomment-418034621), the initial guess value shall be also set for `bodyBox.r_0.start`. This is resolved with #2922.

[2019-05-13 14:26] #2693 closed

[2019-05-13 14:32] #1202 closed

[2019-05-13 17:20] dietmarw commented on #733
Just to make sure we are on the same page, for the MSL4.0.0 conversion the structure of the machines should be(as discussed earlier):
[code]

But it turns out in the meantime we now also got now `Modelica.Electrical.QuasiStatic`. So the structure should probably be
[code]

Looks a bit strange tough. Any suggestions to make the structure cleaner and more systematic @christiankral @AHaumer?

[2019-05-13 17:21] #1189 closed

[2019-05-13 19:39] beutlich commented on #2304
@wischhusen Please let me know if you can manage for MSL 4.0.0?

[2019-05-13 20:18] beutlich commented on #2870
@thorade Can you please provide a PR for it.

[2019-05-14 03:02] christiankral opened #2931 "Proposal: Styling Guidelines of Modelica Code"
# Proposal: Styling Guidelines of Modelica Code

Some programming languages have styling guidelines which recommend how code shall be written and formatted. These styling guidelines help to make the code appear in a uniform way.

For Modelica such styling guidelines do not yet exist. Introducing such guidelines would have some advantages on my opinion. This includes the following aspects:

## Code

[2019-05-14 12:04] tobolar commented on #2931
Guidelines: I remember we doveloped some rules within the [EuroSysLib](http://www.eurosyslib.com/) project years ago. But it definitely didn't contain code indention or similar things.

[2019-05-14 13:29] wischhusen commented on #2874
Corrected the code accordingly. @finback-at Many thanks for the calculations!

[2019-05-14 14:07] thorade commented on #2931
The interesting part is probably rules that can be enforced by a tool.
Python users for example have PEP8 with rules, and then tools like autopep8.
https://www.python.org/dev/peps/pep-0008/
https://github.com/hhatto/autopep8

So, I am interested in whitespace before/after operators, line breaks for arguments of function calls, and similar. Also, tools should NEVER modify my code, unless I tell it

[2019-05-14 16:50] HansOlsson opened #2934 "Why PowerLoss in LossyGearDemos"
Modelica.Mechanics.Rotational.Examples.LossyGearDemo{1,2} contain

[code]
This is already computed as `gear.lossPower` so it seems unnecessary to duplicate the computation, and it is even not clear if it should be at the top-level, i.e. whether we could remove the top-level variable and just keep `gear.lossPower`.

In addition for Modelica.Mechanics.Rotational.Examples.LossyGearDemo2 it is mislead

[2019-05-14 18:05] AHaumer commented on #733
There are no plans for other QuasiStatic Machines besides the exisiting DCMachines.
QuasiStatic ACMachines are covered by Magnetic.QuasiStatic.FundamentalWave, that's sufficient.

[2019-05-14 18:20] beutlich commented on #2870
@finback-at You are right. If both #2919 and #2932 are merged then @thorade's test model sder_test gives similar results for s and s_from_der.

![grafik](https://user-images.githubusercontent.com/14896695/57721778-57f65480-7685-11e9-8dd2-2274a7651ad7.png)

[2019-05-15 06:09] AHaumer opened #2935 "Friction model in Modelica.Thermal.FluidHeatFlow"
It would be usefull to implementen the friction model in Modelica.Thermal.FluidHeatFlow in an exchangeable way (i.e. not by extending from the friction model) and implement friction of pipes based on geometry (and Reynolds number).

[2019-05-15 11:42] perost opened #2936 "Illegal usage of conditional component in Modelica.Magnetic.FundamentalWave.Examples.BasicMachines.SMEE_DOL"
The `Modelica.Magnetic.FundamentalWave.Examples.BasicMachines.SMEE_DOL` model contains the declaration:
[code]
`ir` inside `smee` is a conditional component though, so using it in this context is not allowed since conditional components may only be modified and/or used in connections.

[2019-05-15 13:50] tobolar commented on #2934
I don't know the backgroud of implementing that variable. I can imagine this is some leftover from times before having `gear.lossPower`. So to me it is fine to delete it. The documentation must be changed accordingly.

Btw: The decription of `PowerLoss` in `LossyGearDemo2` says "Power lost in the gear". But the interpretation of "gear" is ambivalent.

@MartinOtter Any comment?

[2019-05-16 18:13] christiankral commented on #2936
In this example it makes only sense to have the damper cage present. Otherwise the machine cannot start. So the parameter `useDamperCage` will be fixed so that the cage cannot be disabled.

[2019-05-17 18:58] casella commented on #2856
For the record, this statement is not true. Consider ideal gases, where p/d = R*T, so that both h = h(T) and u = u(T) without any approximation.

However, this doesn't change the conclusions of the ticket.

[2019-05-17 18:59] #2491 closed

[2019-05-17 21:17] casella opened #2938 "Add flexible beam component to the MultiBody library"
Back in 2005, our PhD students Francesco Schiavo and Luca Viganò, under the supervision of my colleague prof. Gianni Ferretti, developed the model of an Euler-Bernoulli thin beam component compatible with the MultiBody library, using the formulation by Shabana et al. The results were published in this [Modelica Conference 2005 paper](https://modelica.org/events/Conference2005/online_proceedings/Se

[2019-05-19 09:19] AHaumer opened #2940 "Translational driving resistance"
It would be nice to have a translational driving resistance at hand, containing drag resistance (dependent on square of speed), rolling resistance and gravitational resistance (depending on inclination).

[2019-05-20 05:35] beutlich commented on #2940
See also #1873.

[2019-05-20 07:22] henrikt-ma opened #2941 "Initialization of bearingFriction.sa in RobotR3.oneAxis"
In #1741, the first example of models that are problematic for regression testing pointed to the initialization of `axis.gear.bearingFriction.sa`.  This has always been a bit worrying, but so far SystemModeler hasn't really been aware of the problem, just carrying out the fixed point iteration and being happy to find a solution.

Now, we'd like to do better, and when doing our refined analysis of

[2019-05-20 07:24] henrikt-ma commented on #1741
For the problem with `RobotR3.oneAxis` and `fullRobot`, I've opened a separate issue to get a more focused discussion: #2941

[2019-05-20 07:53] tobolar commented on #2940
As such component is applicable especially for ground vehicles, maybe you can explain the background of necessity to implement it within a standard library.
Actually, there are yet some components facilitating the assembly of such part: `QuadraticSpeedDependentForce` for drag and `SignForce` for the rolling resistance:
![ClipboardXX](https://user-images.githubusercontent.com/9588978/58004776-49c09

[2019-05-20 08:31] HansOlsson commented on #2940
@tobolar Good point, and I would only like to add that forceRolling could also be modelled as a Brake, which both allows for locking at small speeds - and allows for variable normal force due to the slope (for large slopes).

[2019-05-20 08:40] AHaumer commented on #2940
First, sorry for mixing um #2935 and #2940. This one corresponds with #2940!
@beutlich How is that correlated to #1873?
@tobolar forceDrag and forceSlope are correct, forceRolling is not since normal force varies with inclination (see comment of @HansOlsson).
Yes this component is needed for vehicles. I do a lot of modeling of such vehicles with students in my courses and I'm tired of implementing

[2019-05-20 08:47] AHaumer commented on #2940
@HansOlsson
If rolling resistance coefficient cR varies due to varying road condition, it is much easer to take care of that using equations than using the brake component.

[2019-05-20 08:54] dietmarw commented on #2940
Wouldn't be the VehicleInterfaces be the better place to have such components? If we start adding all components that are nice to have because of domain specific applications then we we get a problem. Of course it is convenient to have everything inside the MSL but with that reasoning I could start putting Power Systems components into MSL instead of using a application library (that uses MSL). An

[2019-05-20 08:57] AHaumer commented on #2940
@dietmarw
For simple examples, I don't need VehicleInterfaces - so why put it there and open VehicleInterfaces for just one component? Driving resistance is a rather basic effect for translational movement.

[2019-05-20 09:38] HansOlsson commented on #2940
Minor note: I believe it should be in another library as I thought VechicleInterfaces was for the interfaces, not the actual implementations.

However, I agree that there is a risk of feature creep of MSL - but then we a clear guideline and use it e.g., also for #2938

[2019-05-20 10:50] tobolar commented on #2940
@dietmarw That's exactly what I want to point out. Where are the (self defined) limits for MSL?
@AHaumer For forceRolling you are right.

[2019-05-20 15:23] AHaumer commented on #2940
@tobolar Equation based or built from components - depends which implemntation is easier to understand and easier to maintain
@HansOlsson "feature creep" - do you think we should NOT implement new features?
Offering more useful models will attract more users ...