[2019-11-13 22:19] beutlich commented on #2795
I tried to figure out, but found more questions than answers the last hour. Seems hard to tell, if it is by design, a copy+paste error, why LEVEL is set fixed to 1 in ModelcardMOS2, why mos2RenameParametersDev requires LEVEL=1, why m_nLevel is obsolete etc. Then I gave up.

[2019-11-18 21:13] #2972 closed

[2019-11-19 09:54] #2789 closed

[2019-11-21 15:39] tobolar commented on #3056
I also agree to https://github.com/modelica/ModelicaStandardLibrary/issues/3056#issuecomment-520421647 from @HansOlsson .
What in that case would be with e.g. `Modelica.Blocks.Math.MatrixGain`? It seems to me to brake the "do not make the diagram layer a copy of the icon layer" rule.

[2019-11-21 20:34] lvanfretti opened #3236 "Modelica.Fluid.Examples.HeatingSystem fails to simulate"
Hi,
I am using Dymola 2020 with MSL v 3.2.3.

I have found that when simulating the example Modelica.Fluid.Examples.HeatingSystem, several errors are issued that are due to the medium.

I have done the following, I modified the line:
`replaceable package Medium = Modelica.Media.Water.StandardWater
`
To the following medium:
`replaceable package Medium = Modelica.Media.Water.ConstantPropertyLiquidW

[2019-11-22 07:15] dietmarw commented on #3236
I can confirm this also for the current master version. A possible fix should also got into maintenence. @hubertus65 and @casella the proposed fix sounds reasonable, do you agree?

I've found several other occurrences where the medium is redefined using the package containing medium variants instead of the explicit medium. These should probably be fixed at the same time, right?

[2019-11-22 07:53] dietmarw commented on #3056
Just noticed that the majority of math blocks use duplicate diagram layers.

[2019-11-22 12:55] tobolar commented on #3177
The description is fine. We can even use:
- ri: Major radius: distance from the center of the tube to the center of the torus,
- ro: Minor radius: radius of the tube.

Unfortunately, the parameter names `ri`and `ro`are confusing then since they imply thinking of inner and outer radii which is definitely false. Following [Wikipedia](https://en.wikipedia.org/wiki/Torus#Geometry), we could use
- R: M

[2019-11-22 15:52] lvanfretti commented on #3236
@dietmarw the issue that I had is that I was not reproduce the same results when making the change.

I tested using Dymola 2018 with MSL 3.2.3, and I figured out that the correct change we would need to do to keep things consistent is the one in "StandardWater=WaterIF97_ph".

Then, I tested in Dymola 2019 and Dymola 2020, and I found that to make the correct change then we need the following:
`rep

[2019-11-22 15:56] dietmarw commented on #3236
I leave that to the library officers since not really my domain. :-)

[2019-11-23 20:06] beutlich commented on #3236
See also #2515 for some previous analyses.

[2019-11-23 20:45] beutlich commented on #3177
I am in favour to follow Wikipedia and go for:

* R: Major radius (distance from the center of the tube to the center of the torus)
* r: Minor radius (radius of the tube)

[2019-11-24 10:11] beutlich commented on #3236
Hm, cannot confirm. Also in Dymola 2020 I get the same "Error in region computation" when using WaterIF97_ph instead of StandardWater.

[2019-11-25 16:41] hubertus65 commented on #3236
From the point of view of "adequate" water model for a heating system, ConstantPropertyLiquidWater is  probably better than WaterIF97_ph. But that would change results and is in principle not "backwards compatible", even if one could argue that it does not matter (that much) in an example. WaterIF97_pT is another option, also probably better than WaterIF97_ph with probably almost non-measureable d

[2019-11-25 19:44] beutlich commented on #2788
It was decided among MAP-Lib members to install CLA Assistant by 2020-01-01 (though we probably will go for it in the second week of January).

@GallLeo It would be very helpful if we can figure out a list of all GitHub accounts that already signed the paper CLA (variants) by that time.

[2019-11-25 22:25] hubertus65 commented on #3236
Ok, I looked at this in more detail (but with Dymola 2019FD1, not Dymola 2020, which I don't have on this computer. Here are my findings so far:

- The fastest, and probably most appropriate Medium is Modelica.Media.Water.ConstantPropertyLiquidWater. Since the density is constant, the mass balance vanished through index reduction, and only temperature states remain. That makes sense for a water he

[2019-11-25 22:26] hubertus65 commented on #3236
@lvanfretti: your pull request is fine for MSL 4.0.0, which this ticket is filed under.

[2019-11-26 11:27] GallLeo commented on #2788
We are currently doing two things:
1. Add Github IDs to the list of MA members (Google Spreadsheet)
2. Move the list of signed CLAs from Microsoft Excel to Google Spreadsheet

So, using/linking those two Google Spreadsheets, it should be trivial to extract the Github IDs which are covered by CLA.

[2019-11-26 19:35] casella commented on #3236
The HeatingSystem model has a serious issue, which is extensively discussed in OpenModelica ticket [#5452](https://trac.openmodelica.org/OpenModelica/ticket/5452).

To summarize, the pump model is algebraic, but for some reason the parameters of that component were set to have `stateSelect = StateSelect.prefer`. This apparently makes the problem of choosing a good (static!) state selection very di

[2019-11-26 20:59] lvanfretti commented on #3236
@beutlich @casella @hubertus65
Thank you all for putting your energy in such a small system!
Since I am not really a domain expert here, I can't really pitch in anymore than what I have already.
So, I will let you guys come to a conclusion, and I think either of the three of you should to the PR for the final choice.

I'd like to remind you of the issue that @dietmarw mentioned above, which would

[2019-11-27 07:06] beutlich commented on #3236
@casella Please only provide a PR for master branch. I can care for the back-porting to maint/3.2.3 once it got merged.

@casella @hubertus65 Please also have a look why variants packages are assigned as medium packages.

Thank you all!

[2019-11-27 08:59] HansOlsson commented on #3236
Regarding the stateSelect flag Dymola (since some versions, at least since Dymola 2019 I think) gives the following warning for the model:

--
As far as I recall previous Dymola versions did something similar - but without the warning, and at least pump.medium.h is time-varying.
--
However, I also realize that several of the statements above regarding Dymola are unclear, and as far as I can tell:

[2019-11-27 19:59] casella commented on #3236
I agree with @HansOlsson that the model _sort of_ works in Dymola as it is now.

My point is that this is really a simple model of an elementary illustrative system, so there is really no reason why it should end up being difficult to solve by any tool. Since the model was created using Dymola (I did it myself, if I'm not mistaken), it works with that tool by definition, but we should try to inclu

[2019-11-27 21:04] dietmarw commented on #3236
You can ignore this. I misread the example. As I pointed out earlier not really my domain. :man_shrugging:

[2019-11-28 00:13] casella commented on #3236
OK. I was almost going to ask to explain what you meant with your comment, but you got there first 😄

[2019-11-28 08:27] casella commented on #3236
@hubertus65 I need your advice not to screw things up, because the fix may have side effects on other models.

The pump model extends `PartialLumpedVolume`, which instantiates a `BaseProperties medium` model with `preferredMediumStates = true` in all cases. This is the root cause of the issue with the pump, but potentially with other models that use the same class, so I am inclined at fixing the b

[2019-11-28 14:51] dietmarw commented on #3184
I'm closing this as "wontfix" for now.

[2019-11-28 14:51] #3184 closed

[2019-11-28 16:15] tobolar commented on #2556
I will look at it again.

[2019-11-28 16:17] beutlich commented on #2556
Thanks. Just want to make sure that "high" issues are not forgotten.

[2019-11-28 16:45] dietmarw commented on #712
So I started working on the ticket and finished already the structure of `Modelica.Units` itself. When then updating the references in MSL itself it became clear that I **really** need to wait with this until all currently outstanding PRs for 4.0.0 are merged. Otherwise the references need to be updated twice. So I hope we can get the open PRs done by Jan 2020 and then announce a kind of "week(s)

[2019-11-29 11:45] dietmarw commented on #1339
@HansOlsson probably good to add this to the list for specification related tickets

[2019-11-29 19:01] AHaumer opened #3241 "Reference angle of Magnetic.QuasiStatic.FundamentalWave"
Machine models of Magnetic.QuasiStatic.FundamentalWave use the system of reference angles from Modelica.Electrical.QuasiStatic.
Reference angle is passed between electrical and magnetic domain by Components.MultiPhaseElectroMagneticConverter,
Reference angles of stator, rotor are mechanical rotor angle are linked by BasicMachines.Components.RotorSaliencyAirGap.
A doubly-fed induction machine with

[2019-12-01 09:51] #2775 closed

[2019-12-01 09:51] #2796 closed

[2019-12-01 10:52] AHaumer commented on #3179
@christiankral
Maybe we have to clarify this on the phone, I don't remember fully how we planned the auxiliary records.

[2019-12-01 15:36] balodja commented on #883
Nice  suggestion. Any progress on that? :)

[2019-12-01 16:20] beutlich commented on #883
It's addressed in #3047. So you might want to follow that pull request.

[2019-12-02 12:51] HansOlsson commented on #1299
To me there are two parts here:

1. The general need for renaming resources: I agree that this will need something more for conversion scripts.
2. This specific case: Since the resources are test-resources, I would argue that they can be changed without the need for conversion scripts - similarly as modifying the examples without conversions.

[2019-12-02 18:33] #2794 closed

[2019-12-02 18:35] #1039 closed

[2019-12-02 20:18] beutlich commented on #3143
This is addressed by #3247.

[2019-12-02 22:08] #2862 closed

[2019-12-03 15:46] tobolar opened #3248 "Relocate UsersGuide.ParameterDefaults"
`Modelica.UsersGuide.ParameterDefaults` (Parameter defaults) summarises the convention how to handle default parameters. IMO this shall be a part of `Modelica.UsersGuide.Conventions` or even of `Modelica.UsersGuide.Conventions.ModelicaCode` instead. I.e. the class shall be moved to either of the packages.

[2019-12-03 16:14] tobolar commented on #3158
@HansOlsson

I guess the parameters' names (`angle`, `angles`) are fine. Would the conversion also work if we don't rename it? E.g. in case of something like:

[code]

[2019-12-04 19:07] #3173 closed

[2019-12-04 20:04] beutlich commented on #3248
Either is fine for me.

[2019-12-04 20:06] beutlich commented on #3177
I believe that this also was resolved by #3176.

[2019-12-04 20:06] #3177 closed

[2019-12-04 20:08] beutlich commented on #3163
@casella Maybe you can help out here. Thanks.

[2019-12-04 20:09] beutlich commented on #3162
Closing after silent acceptance.

[2019-12-04 20:09] #3162 closed

[2019-12-04 20:12] beutlich commented on #3124
@casella Can you help out here? Do you have the cited 3rd edition of Idelchick available?

[2019-12-04 22:44] casella commented on #3163
@beutlich this model was implemented by @wischhusen, if I am not mistaken, I hope he or someone from his company can have a look and decide whether this is a quick fix or not. I don't think I can manage to do this unless I take three days off to study the problem thoroughly, which is unlikely to happen for a while.

[2019-12-04 22:53] casella commented on #3124
I checked my library, we have the 2nd edition, 1986, the 3dr edition, 1996, and the 4th edition, 2007. I'm not sure which one @wischhusen referred to when he wrote the Fluid_Dissipation library. AFAIK there is no 3rd edition 2006.

Some input from @wischhusen would be helpful, I guess they used the same source for the whole library but I don't know what that was.

[2019-12-05 08:53] wischhusen commented on #3124
Hi all,
have to check. The factors are used here. It could be, that the reference for the factors is Source_2 instead.

  //SOURCE_2: p.208, diag. 9.3: Correction w.r.t effect of Reynolds number
  Real CF_Re=SMOOTH(
      Re_turb_min,
      Re_turb_max,
      Re)*B/Re^exp + SMOOTH(
      Re_turb_max,
      Re_turb_min,
      Re) "Correction factor for Reynolds number";

[2019-12-05 09:18] #2952 closed

[2019-12-05 10:47] casella commented on #3124
Thank you @wischhusen! I would gladly help, but getting up to speed with the inner details of the library would take a lot of time to me - I guess it's much easier to you that know the thing from the inside out.

[2019-12-05 15:53] jdrechse1 opened #3252 "Request to add data label headers to CombiTable components"
It appears that there is no way to add data labels or units to the header of data entered directly into CombiTable component. Am I correct? If so, can this be fixed in future release?

[2019-12-05 16:13] beutlich commented on #3252
Thanks for your report. Some quick thoughts:

* I guess you mean the external text files of the combi tables. You can add any comments there, but this simply will be ignored during file reading. Combi tables also support MAT files and tables given by Modelica arrays, where there is no chance to add comments.
* The existing text file format was invented for Dymola.
* SimulationX supports tables wit

[2019-12-06 23:29] mestinso opened #3254 "Utilize absoluteValue=false annotation for relative sensors"
Given the existence of the absoluteValue=false annotation, I think this Modelica feature should be utilized for relative sensors. Notably the MSL Modelica.Thermal.HeatTransfer.Sensors.RelTemperatureSensor component could directly benefit, since non-absolute scales (Celsius and Fahrenheit scales) are frequently preferred for display units.

A idea for implementation could be:
[code]

Alternatively,

[2019-12-07 16:04] christiankral commented on #3254
I prefer temperature differences in K as Celsius (and Fahrenheit) units are misleading.

### Example

Temperatures

- `T1 = 283.15 K = 10 degC`
- `T2 = 263.15 K = -10 degC`

Temperature differences

- `dT1 = T1 - T2 = 20 K` are not equal to `20 degC = 293.15 K`
- `dT2 = T2 - T1 = -20 K` are not equal to `-20 degC = 253.15 K`

[2019-12-07 19:10] mestinso commented on #3254
While I agree with your point, I don't think your comments are incompatible with my proposal: which is simply to use the annotation for its intended purpose. This way, the user/tool will have improved flexibility if other display units are preferred. This annotation is already being used elsewhere in this library as applicable (via the TemperatureDifference type), so making this change would argua

[2019-12-07 19:50] christiankral commented on #3254
@HansOlsson is it OK from your side to use `annotation(absoluteValue=false)` in the relative temperature sensor?

[2019-12-08 16:03] AHaumer commented on #1493
@tobolar
There's a rather old ticket regarding the issue with w_small.
I seems to be a wrong parameter description and incorrect or missing documentation.
Would you please talk to Martin Otter and take care of that?

[2019-12-09 08:23] HansOlsson commented on #3254
Yes, as that is the intended use.

I had to check, and since the annotation is on the connector-type it works already in released versions of Dymola.

[2019-12-09 15:07] tobolar commented on #1493
@AHaumer I can do this. But is there any new/particular update regarding https://github.com/modelica/ModelicaStandardLibrary/issues/1493#issuecomment-272661458?

[2019-12-09 22:02] #3236 closed

[2019-12-10 10:15] MartinOtter commented on #1493
Nothing has changed. Please, read my previous comment. Please, do not make a change because this might break existing models.

[2019-12-10 13:33] AHaumer commented on #1493
Then PLEASE adapt the documentation - w_small=1E10 is total misleading!

[2019-12-10 18:17] beutlich opened #3257 "Odd package description of Modelica.Magnetic.FundamentalWave.BasicMachines"
https://github.com/modelica/ModelicaStandardLibrary/blob/847e1294c2f69c968f13be63844076f1e2839bef/Modelica/Magnetic/FundamentalWave/BasicMachines/package.mo#L2

https://github.com/modelica/ModelicaStandardLibrary/blob/847e1294c2f69c968f13be63844076f1e2839bef/ObsoleteModelica4.mo#L2398

[2019-12-10 21:17] beutlich opened #3261 "Icon of Modelica.Electrical.Batteries.BatteryStacks.SuperCap"
The `%C` text and the heatPort square of th SuperCap Icon overlap:

![image](https://user-images.githubusercontent.com/14896695/70569720-c909d600-1b9a-11ea-8e93-08c74fe131c9.png)

Note, none of the three battery examples utilizes the heatPort.

[2019-12-11 09:25] MartinOtter commented on #1493
parameter w_small is in the Advanced tab and has the following description text:
[code]
Seems to me that this descriptiontext is fine. Alternatively, my longer description from above could be copied into the documentation of PartialFriction

[2019-12-13 10:19] tobolar commented on #1493
@MartinOtter

I would prepare a text proposal.

[2019-12-14 22:46] christiankral commented on #3261
Added parameter name in c8f4a89bd16730b3c55a87657bb02e16d8fc7ca6

![image](https://user-images.githubusercontent.com/4184218/70855493-da6d1e00-1ecb-11ea-9477-bd1343282482.png)

[2019-12-14 22:47] christiankral commented on #3261
@beutlich if you are OK with the change, you can close this ticket, as the changes are directly applied to #3243

[2019-12-15 09:54] #3257 closed

[2019-12-15 09:56] #3261 closed

[2019-12-15 11:00] Rahaf1975 commented on #1473
Could you please tell me how I can upload a *.mat file for weather data into Dymola 2018 exactly in details. I am new in using Dymola and I have the weather data for the location I want as mat file. I read that I can use CombiTable but could you please tell me how exactly.
your help is much appreciated

[2019-12-15 21:51] beutlich commented on #3218
I invited @jziske both to MA organizational acoount and MAP-Lib team years ago but he never accepted the invitations. That's the reason why he does not show up in the list of assignees or reviewers.

[2019-12-16 16:18] wischhusen commented on #3124
![miller_p142_diag93](https://user-images.githubusercontent.com/3704662/70922929-3ac4a280-2027-11ea-9703-ef8db797b62c.jpg)

Unfortunately, the page number was wrong. It is p. 142 in Miller's "Internal Flow Systems". Fig. 9.3 is correct. The factor B and exp is derived to fit the value of C_Re at Re=1e4 (see image). Probably these factors were chosen since the range is not limited to Re>=1e4 as in

[2019-12-16 20:28] #3179 closed

[2019-12-16 20:40] beutlich commented on #3124
@wischhusen Can you please create a pull request to correct both sources. Thanks.

[2019-12-17 10:20] wischhusen commented on #3163
I resolved the problem like this:
`redeclare function extends setState_dTX
  "Set state for density and temperature (X not used since single substance)"
protected
  Modelica.Media.Common.HelmholtzDerivs f "Helmholtz derivatives";
  Modelica.SIunits.SpecificHeatCapacity R "Specific gas constant";
  SaturationProperties sat "Saturation temperature and pressure";
  Modelica.SIunits.Density dl "Liquid

[2019-12-17 11:22] HansOlsson commented on #3163
When I managed to mess up my fork too much I found
http://stackoverflow.com/questions/42332769/how-do-i-reset-the-git-master-branch-to-the-upstream-branch-in-a-forked-reposito useful, i.e.:

[code]
**Obviously don't do it if your fork contains anything useful.**

[2019-12-17 14:20] #2752 closed

[2019-12-17 14:25] beutlich commented on #2975
#291 is not going to happen after the recent discussions.

[2019-12-18 20:23] beutlich commented on #3163
Done by #3275. Please note that R was renamed to R_s, thus your proposal was suited for maint/3.2.3 only.

[2019-12-18 20:35] beutlich opened #3276 "Possible Modelica.Media bug"
**Reported by CTG on 14 Dec 2019 19:53 UTC**

While checking my media models compatibility against ThermoPower, I observed a too high difference in the results obtained in the TestRefrigeranEvaporator test model, using the standard Modelica.Media.R134a.R134a_ph medium and my own medium. I arrived to the conclusion that it was due to the physical properties calculation and checked it. The result I

[2019-12-18 20:36] beutlich commented on #3276
**Reported by CTG on 15 Dec 2019 20:02 UTC**

Well, I think I have found the origin of the problem. The medium is giving negative values for  isothermal compressibility, when they should be possitive. Reviewing the code it seems that a term is missing inside the brackets of the kappa calculation.
I hope not to be wrong and that this can help.

---

Originally reported at https://openmodelica.org/f

[2019-12-18 20:42] beutlich commented on #3276
@wischhusen Can you please analyze? Thank you.

[2019-12-20 08:21] HansOlsson opened #3278 "The gh-pages branch cannot be checked out cleanly on Windows"
Merely **checking** out gh-pages on Windows leads to more than a dozen of "Changes not staged for commit". The reason is that there are multiple files that only differ by case, as can be seen by comparing:

https://doc.modelica.org/Modelica%203.2.3/Resources/helpWSM/Modelica/Modelica.Electrical.Spice3.Internal.BJT.html
https://doc.modelica.org/Modelica%203.2.3/Resources/helpWSM/Modelica/Modelica.E

[2019-12-20 08:25] dietmarw commented on #3278
I guess this can help you here: https://www.windowscentral.com/how-enable-ntfs-treat-folders-case-sensitive-windows-10

[2019-12-20 08:30] beutlich commented on #3278
You need to install WSL for that, see https://stackoverflow.com/questions/50839623/fsutil-the-request-is-not-supported-after-setcasesensitiveinfo

[2019-12-20 08:49] HansOlsson commented on #3278
Well, a simpler work-around was to just ignore it and not stage all changes.
But I expect that it will confuse others as well.

[2019-12-20 14:22] wischhusen commented on #3163
Implemented last line. Result is somehow unchanged for gas fraction but never mind.

Thanks @HansOlsson  for the tipp on GIT but the reset process got stuck again. I will try again next year.
Here is the solution by @casella and me:

redeclare function extends setState_dTX
  "Set state for density and temperature (X not used since single substance)"

protected
      Modelica.Media.Common.Helmholtz

[2019-12-20 14:40] HansOlsson commented on #3145
The loadResource is useful in tools (especially in 3D Experience platform, and also in Dymola) because it does more than merely giving a full path name/resolving the URI.

In particular we use it to project resources to the file-system (from the internal data-base) and also to copy references resources to FMIs. (Basically to create the file we return the path of.)

That's not an argument against c

[2019-12-20 15:14] casella commented on #3163
@wischhusen, I would suggest that we add some test to cross check that results with setState_ph and setState_dT are consistent. I can do that if you don't have time

[2019-12-20 15:25] casella commented on #3145
Could be a good idea, but then Modelica.Utilities.Files.fullPathName should call another ModelicaServices function. Isn't this a bit like ping-pong?

[2019-12-20 15:35] wischhusen commented on #3163
@casella many thanks! I am leaving for christmas vacation. I could do it from Jan. 6th. If you have time I would really appreciate!

[2019-12-20 15:40] HansOlsson commented on #3145
As indicated above those two functions have different purposes, and we shouldn't mix them.

[2019-12-20 15:45] casella commented on #3145
Thanks @HansOlsson for pointing this out, I missed it!

The comment of the function is "Return the absolute path name of a URI or local file name", which is incomplete and thus a bit misleading. However, the documentation explains it better:

So the point is that the resource pointed by the URI may not be necessarily a file on the local file system, in which case calling the function creates a loc

[2019-12-20 15:46] casella commented on #3163
I'll see what I can do.

[2019-12-20 15:47] casella commented on #3145
And possibly rename it `accessResource()`?

[2019-12-20 15:54] HansOlsson commented on #3145
That would be good.

I would be reluctant to do that; as it will imply a number of changes and it is not such an obvious improvement.

[2019-12-20 16:54] casella commented on #3145
Fine for me. If I get some more positive feedback, I can proceed with the commit.

[2019-12-21 13:42] beutlich commented on #3278
Seems to work once you have WSL installed on Win10.

![grafik](https://user-images.githubusercontent.com/14896695/71308710-18080480-2400-11ea-9eec-979514448dac.png)

[2019-12-21 13:42] #3278 closed

[2019-12-21 13:59] #3248 closed

[2019-12-21 14:06] beutlich commented on #3254
I believe we can't add absoluteValue=false to output y of Modelica.Thermal.FluidHeatFlow.Sensors.RelTemperatureSensor if we do not want to lose inheritance from RelativeSensor.

[code]

[2019-12-21 15:38] christiankral commented on #3254
I see, this would only work if `absoluteValue` were an attribute that we could modify in an inheritance. Frankly asked @HansOlsson: is this a language shortage?

So the question is what we prefer:
- Feature of `absoluteValue` in the relative temperature sensors by fully re-writing `Modelica.Thermal.FluidHeatFlow.Sensors.RelTemperatureSensor`
- Modular concept with full inheritance, but without imp

[2019-12-21 16:24] JoeRiel opened #3280 "Pythagoras block doesn't handle negative y2"
With u1IsHypotenuse = true, Math.Blocks.Pythagoras doesn't properly handle the case where y2 goes negative. The code should use an if-expression (rather than an if-equation) wrapped in a noEvent to prevent evaluating the square root with a negative value. As it is, an event is created when y2 goes negative, but that doesn't prevent the problem.

[2019-12-21 16:36] beutlich commented on #3254
It is. That's why we have https://github.com/modelica/ModelicaSpecification/pull/2459.

[2019-12-21 16:38] beutlich commented on #2636
I did so in #3281. Please review.

[2019-12-21 16:41] beutlich commented on #3254
Your proposed third option looks good to me.

[2019-12-21 16:43] beutlich commented on #3280
@JoeRiel Thanks for reporting. Can you please create a pull request.

[2019-12-21 17:29] #3252 closed

[2019-12-21 19:40] mestinso commented on #3254
@christiankral why the need to break up Modelica.Thermal.FluidHeatFlow.Interfaces.Partials.RelativeSensor into 3 models? The absoluteValue annotation won't hurt anything for non-temperature cases. Seems like it should be generally applicable (even though the temperature use case is the only one likely to benefit).

[2019-12-21 21:44] beutlich commented on #1778
Can use MassWithStopAndFriction where Coulomb friction can be modelled.

[2019-12-21 21:44] #1778 closed

[2019-12-21 21:54] henrikt-ma commented on #3145
Still, on all systems where the resource is already present in the file system, the _load_ part of the name doesn't make much sense.  The name would make a whole lot more sense if the function returned some kind of file handle instead of just a plain string…

[2019-12-21 23:55] JoeRiel opened #3283 "Modelica.Electrical.Analog.Examples.SimpleTriacCircuit flawed"
The test circuit, as is, fails in MapleSim. It also fails in Dymola if R1 is changed. The problem is pulseCurrent, used to trigger the gate. When the sine wave load is negative, the trigger current must flow through the load, which is inductive. Pushing a pulse current, with a rise-time of 0, through an inductive load is a non-physical action.
The simplest fix I could come up with is to replace th

[2019-12-22 17:06] christiankral commented on #3283
Alternatively we could replace the `PulseCurrent` by the `TrapezoidCurrent` source.

[2019-12-22 19:37] christiankral commented on #3056
Yes, correct, but it is basically just an alternative icon and it is indeed not required to better understand the model.

[2019-12-22 19:59] christiankral commented on #3056
I wonder if we have a compromise on how we proceed

1. Keep augmented drawings of the Diagram layer
2. Remove duplicates of the the Icon layer
3. Add `preferredView="text"` for regular models and `preferredView="icon"` for icons

[2019-12-22 20:03] AHaumer commented on #3283
@JoeRiel please check whether PR #3284 works

[2019-12-23 06:54] #3280 closed

[2019-12-23 10:07] beutlich commented on #3145
That would be my preference.

[2019-12-23 13:35] beutlich commented on #2554
@AHaumer The cylinder mass is still to do, right?

[2019-12-23 13:56] beutlich opened #3287 "Improve doc.modelica.org"
The web page [doc.modelica.org](https://doc.modelica.org/) is the welcome page for the generated Modelica HTML documentation.

Currently it contains the generated documentation for MSL v3.2.3 from four different tools:
* [Dymola](http://www.3ds.com/products-services/catia/products/dymola/latest-release/)
* [MapleSim](https://de.maplesoft.com/products/maplesim/)
* [OpenModelica](https://openmodelic

[2019-12-23 18:56] #3283 closed

[2020-01-02 18:21] #2492 closed

[2020-01-02 18:21] #2488 closed

[2020-01-04 20:25] beutlich commented on #3254
@HansOlsson Could we also add the absolute value directly to the component, e.g.,

[code]

? This way we could avoid the dummy type `RealOutput_TemperatureDifference`.

[2020-01-07 08:52] HansOlsson commented on #3056
Those two make sense.

I would prefer if we don't use preferredView unless really needed, and especially not have preferredView="icon". If you want to understand a model the text, diagram or documentation layers are the most useful, and switching to a different layer often feels a bit odd.

And you often (at least in many tools) click on the icon to get to the model - so you already know what the

[2020-01-07 10:06] atrosinenko commented on #3060
I have [recently implemented](https://github.com/pmd/pmd/pull/2041) an initial support of Modelica in [PMD](https://github.com/pmd/pmd/) static code analyzer. For now, it is _experimental_ (but already merged into `master`) and has only demo rules, but:
* PMD has language-agnostic "XPath rule" built-in, so you can write some XPath queries that mark matched nodes as violations - without any Java co

[2020-01-07 10:33] HansOlsson commented on #3254
It is standard Modelica, but it not supported in currently released versions of Dymola and 3D Experience platform.

[2020-01-07 16:57] #2636 closed

[2020-01-07 19:16] beutlich commented on #3201
I created PR #3294 to directly fix the issue in Modelica.Mechanics.MultiBody.Frames.TransformationMatrices.{from_nxy, from_nxz}.

[2020-01-08 15:49] AHaumer commented on #2975
Alreay done (splitted to single files):
- Electrical.Machines
- Electrical.PolyPhase
- Electrical.PowerConverters
- Electrical.QuasiStatic
- Magnetic.FluxTubes
- Magnetic.FundamentalWave
- Magnetic.QuasiStatic.FluxTubes
- Magnetic.QuasiStatic.FundamentalWave
- Thermal.FluidHeatFlow
- Thermal.HeatTransfer

Still left to do:
- Mechanics.Rotational
- Mechanics.Translational

[2020-01-08 16:55] AHaumer opened #3295 "Unit of permeability"
- SIunits.Permeability is defined with unit "H/m".
- Constants.mu_0 is defined as real with unit "N/A2".
- Both units are correct, we could also use "V.s/(A.m)".

Two questions:

1. Do all tools figure out that N/A2 = H/m = V.s/(A.m) ?
2. Shouldn't Constants.mu_0 define `SIunits.Permeability mu_0` instead of `Real mu_0(unit="N/A2")`?

[2020-01-08 21:29] beutlich commented on #3060
@atrosinenko This is very good news and I will give PMD a try once the new version is available. (I already watched the PMD releases, so I will get notified when it is released.

I also addressed the [180-line](https://github.com/pmd/pmd/pull/2041#issuecomment-539368857) copy&paste by #3296. Thanks again for reporting.

[2020-01-09 07:36] dietmarw commented on #3295
1. My personal preference would be to use `V.s/(A.m)` as they are SI units and not derived.
2. Yes I agree.

[2020-01-09 07:54] dietmarw commented on #712
Some more thoughts on how I'm going to proceed. Currently we have a mixture of absolute class name use (i.e., `Modelica.SUunits.`) and making use of named imports (i.e., `SI.`). Now thanks to the new structure the later usage will no longer depend on named imports but can use the simple import:

[code]

So in order to keep the *changes* due to the restructure of the SIunits package within the MSL

[2020-01-09 08:22] HansOlsson commented on #3295
Yes, if tools are able to do any reasonable unit-checking (which I believe most are) that is trivial.

https://en.wikipedia.org/wiki/Vacuum_permeability uses both H/m and N/A2, and give reasonable explanations for both, and also indicates a larger issue - the constant no longer has a fixed simple value, but now seems to be 4π × 1.000 000 000 82 (20) 1e-7.

I can make a PR. (Just changing the value

[2020-01-09 08:43] HansOlsson commented on #712
Three notes:

- Remember that this procedure will not work in encapsulated classes, as the import isn't found.
- Stylistically I'm not too keen on relying on such imports.
- Remember: if you want to copy an example for use outside of MSL use "New>Duplicate class" in Dymola (and something corresponding in other tools); don't just copy the text.

[2020-01-09 08:48] #3163 closed

[2020-01-09 08:52] dietmarw commented on #712
Yes I'll look out for those.

I understand but since these kinds are already in place it makes more sense to keep those (i.e., no change) and just update the others to have one consistent way within the MSL.

I know but I think this is something that we can live with.

[2020-01-09 09:21] HansOlsson commented on #3295
Have made PR with the correct value, now it is just a matter of fixing the bad value on Wikipedia!

[2020-01-09 09:27] beutlich commented on #3295
I guess you mean:

![grafik](https://user-images.githubusercontent.com/14896695/72055196-aae2e300-32ca-11ea-8792-cf167a5595ee.png)

[2020-01-09 09:31] HansOlsson commented on #3295
I meantchanging it from 4π × 1.000 000 000 82 (20) 1e-7 to 4π × 1.000 000 000 55 (15) 1e-7; as given in https://physics.nist.gov/cuu/pdf/all.pdf

https://en.wikipedia.org/w/index.php?title=Vacuum_permeability&type=revision&diff=934922863&oldid=921057044

[2020-01-09 10:31] HansOlsson commented on #3295
Reading more I'm not sure if we should change the type of the constant, as there are some indications that mu_0 isn't seen as "permeability of vacuum" anymore, but as a "magnetic constant".

https://en.wikipedia.org/wiki/Vacuum_permeability

I don't know if there is a deep reason for that (and if so what it is), but assuming there is it seems odd to use the type "Permeability". On the other hand h

[2020-01-09 11:33] atrosinenko commented on #3060
I have published a [preview build](https://github.com/atrosinenko/pmd/releases/tag/modelica-preview) in my fork. But it is quite simple to build it on Linux (at least, on a fresh Ubuntu) provided you have OpenJDK installed: you just have to clone [pmd/pmd](https://github.com/pmd/pmd) and run `./mvnw clean verify` - you will get `pmd-bin-<...>.zip` in the `pmd-dist/target` directory.

It may be wor

[2020-01-09 21:37] christiankral commented on #712
Alternatively we could use

[code]

in each model where SI units are used. I know this implementation requires a lot more changes, but it is then more obvious to new Modelica users, what, e.g.,  `SI.Voltage` means. It also solves the problem of the missing `import Modelica.Units.SI` when duplicating a model.

[2020-01-09 21:50] dietmarw commented on #712
That would be the exact opposite than what I would consider a clean implementation. Having unnecessary code duplication goes against the whole idea of Modelica with its object oriented features. Taking care of the class rename is basically a tool issue.

[2020-01-09 22:22] christiankral commented on #712
The problem is that there are currently no tool features (recommended by the Modelica Specification) which allow the user to understand what imports are used in a specific model. This is the reason why I somehow dislike package specific imports, which I can never understand without knowing where the import is implemented in the code.

However, I yet agree with your point of view, that it makes sen

[2020-01-10 13:57] dietmarw commented on #712
I perfectly get your point but need to decide to either:
 1. make the change of the unit structure as least invasive (least changes) as possible. This would mean leave all `SI.` type references as they are and only change the current `SIunits` references.
 2. use absolute class references everywhere. This would basically change almost every single model.

What I don't want is a mixture of both ins

[2020-01-10 14:43] tobolar commented on #1873
No chance to do this by the feature freeze of MSL v4.0.0 development.

[2020-01-10 16:27] JoeRiel opened #3300 "LeakageWithCoefficient should have a port for reluctance input"
The model Modelica.Magnetic.FluxTubes.Basic.LeakageWithCoefficient has an input signal, R_mUsefulTot, that provides the total reluctance of the path in which it is connected. To make this part usable in a GUI, that input should be a port to which a real signal can be connected.

Actually, it's not clear to me why this quantity is an input and not a parameter. Are there examples of a model where it

[2020-01-11 17:47] MartinOtter commented on #1873
I agree that we should provide a simpler model for a Gearbox with efficiency. The problem with your proposal is that you use a constant efficiency: When inspecting a gearbox catalogue, then there are diagrams of the efficiency over speed, and for low speed the (catalogue) efficiency goes to zero, so a typical efficiency from a gearbox catalogue is far from constant. Can we phone us next week to di

[2020-01-12 11:48] christiankral commented on #3056
No `preferredView` was added in #3033 as there was no need for it.

[2020-01-12 11:50] christiankral commented on #3056
I removed redundant diagram layers and partially moved some images to the info layer. Many packages I am familiar with are covered by #3303.

However, the following packages I am definitely not familiar with:

- Modelica.Clocked
- Modelica.StateGraph
- Modelica.Mechanics.MultiBody
- Modelica.Fluid
- Modelica.Media

I kindly invite the library officers of these libraries to go through possibly affe

[2020-01-12 11:56] christiankral opened #3304 "Add library officers of Clocked in Modelica.UsersGuide.Contact"
The package `Clocked` is currently not listed in `Modelica.UsersGuide.Contact` and therefore no library officers are listed as well.

[2020-01-12 11:58] beutlich commented on #3304
I was planning to to this aong with th upcoming change in FluxTubes library officers.

[2020-01-12 12:06] christiankral opened #3305 "Naming of analog sources"
The package `Modelica.Electrical.Analog.Sources` contains models which naming we may want to re-consider:

- `ExpSineVoltage`
- `ExponentialsVoltage`
- `ExpSineCurrent`
- `ExponentialsCurrent`

Two questions arise to me (certainly the same questions for voltage and current sources):

1. Is `ExponentialsVoltage` correct (which sounds plural to me) or shall it be ``ExponentialVoltage`?
2. Shall we c

[2020-01-12 12:33] beutlich commented on #2788
* I installed the CLA Assistant using the [ModelicaAssociationCLA 1.1.1](https://github.com/modelica/ModelicaAssociationCLA/releases/tag/1.1.1) as [gist](https://gist.github.com/beutlich/0e7ff700866d7f52797145089c0eea9c).
* I also added all MAP-LIB members and MSL contributors that I know have signed the CLA.

[2020-01-12 13:10] christiankral commented on #3304
Alright, thanks!

[2020-01-12 13:58] AHaumer commented on #3305
IMHO `ExponentialSineVoltage` is correct since the amplitude of the sine is exponentially damped, and yes it is a good idea to get rid of these abbreviations. `ExponentialVoltage`  is misleading, I'd expect a voltage varyimg exponentially with respect to time. `ExponentialsSineVoltage` (plural) is wrong since we have one exponential (i.e. the variation of amplitude). We shouln't forget `Modelica.B

[2020-01-12 14:02] AHaumer commented on #3295
In fact mu_0 is a permeability ...

[2020-01-12 14:27] AHaumer commented on #3300
I'm not sure whether `input` should be a `parameter`, I'll ask the authors about their intentions.
"... not for dynamic simulation of actuators": Please read the full doc, the authors wrote:
" ...This would generate a reluctance force in the leakage element that is not accounted for properly."
I interpret this thay way that if you don'ct care about the reluctance force you can use this leakage ele

[2020-01-12 15:16] AHaumer commented on #3300
I've created a PR, showing the usage in the Example `BasicExamples.QuadraticCoreAirgap`

[2020-01-12 20:22] beutlich commented on #2934
@MartinOtter I am not sure why you removed your assignment. On 2019-10-18 I assigned you (https://github.com/modelica/ModelicaStandardLibrary/issues/2934#issuecomment-543565484) after it somehow was decided that only the documentation needs to be updated. Afterwards, a lot of models have been posted w/o any feedback.

@MartinOtter @HansOlsson What is the state of this issue after all?

[2020-01-13 08:36] #2788 closed

[2020-01-13 09:20] HansOlsson commented on #2934
I don't know.

To me the current model is unclear and at least the documentation needs to be updated (if it takes a specialist days to understand why some variables exist that is a clear sign), but I'm not an officer for this library and I don't want to step on any toes by doing that.

[2020-01-13 18:28] casella commented on #3056
I quickly scanned Modelica.Fluid, if I understood what this issue is (which I'm not 100% sure) I only found two examples, namely `Fittings.SharpEdgedOrifice` and `Fittings.AbruptAdaptor`. I'm not aware of any such cases in Modelica.Media, since there are no components to be used with drag 'n drop there, only replaceable base classes and records.

I don't think this is very high priority, I'll see

[2020-01-13 18:34] #2940 closed

[2020-01-13 21:44] beutlich commented on #3276
@thorade Can you please have a look. I guess he is referring to https://github.com/modelica/ModelicaStandardLibrary/blob/4b560e50519d7b80036550fbbe380f6e1396a00f/Modelica/Media/R134a.mo#L1629-L1630 in Modelica.Media.R134a.R134a_ph.isothermalCompressibility, which even is repeated at https://github.com/modelica/ModelicaStandardLibrary/blob/4b560e50519d7b80036550fbbe380f6e1396a00f/Modelica/Media/R13

[2020-01-14 08:43] thorade commented on #3276
I believe the analysis is correct and the kappa formula should be:
[code]
or equivalent
[code]

[2020-01-14 10:02] dietmarw commented on #712
I discussed this with @beutlich and will wait to create the PR until after feature freeze. Since this is not a new feature but a reorganisation and would otherwise disturb the current surge in feature PRs.

[2020-01-14 11:02] beutlich commented on #3276
I can confirm that - for the provided test model - `kappa` is now positive. However, `rho` and `cp` are almost) not changed. Thus, it must be something else.

Using `setState_phX(30e5, 245775.707704615)` instead of `setState_pTX(30e5, 298.15)` for `state` changes `rho` and `cp` in similar regions as the expections.

[2020-01-14 12:13] thorade commented on #3276
It might also be that my previous comment was wrong, and the formula is correct. It depends on whether HelmholtzDerivs are split into ideal and residual contribution, or not.
I would assum the issue is somewhere here:
https://github.com/modelica/ModelicaStandardLibrary/blob/af7a2dc8d083ccf7b724c392a0607bdfe84c39b2/Modelica/Media/R134a.mo#L2480-L2552

[2020-01-14 12:55] tobolar commented on #3056
I will proceed with Mechanics when PR #3312 is merged in order to omit conflicts.

[2020-01-14 13:18] thorade commented on #3276
New idea: It seems the density found is inside the two-phase region, but dofpt iteration does not protect against solutions in the two-phase region, and the equation of state is evaluated directly.

![image](https://user-images.githubusercontent.com/314571/72347439-7f9c3180-36d8-11ea-87fd-5ef72c07fc99.png)

[2020-01-14 14:18] beutlich commented on #3276
I guess this is the root cause of the problem. I can confirm that rho converges to 969.xxx (6th row) instead of 1190.xxx (4th row).

[2020-01-14 15:54] thorade commented on #3276
I just plotted the residual nderivs.p-p over density and can confirm that it has two roots, at d=969 and at d=1220.

One assert to add could be that nDerivs.pd should never change sign, always be positive, because with increasing pressure density will increase, always. This could help to detect crossing of the spinodal point, but there are possibly more roots inside the two-phase region.

[2020-01-14 16:24] #3201 closed

[2020-01-14 16:45] beutlich opened #3316 "Messed up section numbers in MoMoLib_VerificationResults_XRG.pdf"
When trying to understand the R134a verification of [MoMoLib](http://www.xrg-simulation.de/de/forschung/momolib) vs. RefProp for #3276 by reading [MoMoLib_VerificationResults_XRG.pdf](https://github.com/modelica/ModelicaStandardLibrary/blob/8f3bf84ba216c03f0f1e099e8b8fa24961591957/Modelica/Resources/Documentation/Media/MoMoLib_VerificationResults_XRG.pdf), I noticed that the heading numbers are me

[2020-01-14 18:46] beutlich commented on #3276
Here are the same property tables created by [T3276.mo](https://gist.github.com/beutlich/ccd3505920466e99d0446b1f6d6f2b78):

**setState_phX()** (ref props in parentheses)

| row | T | p | d | h |
|---|---|---|---|---|
| 1 | 374.21 | 4.05911e+06 | 511.899<br>(511.9) | 389639<br>(389639) |
| 2 | 169.85 | 389.563 | 1517.14<br>(1591.11) | 71455.2<br>(71455.2) |
| 3 | 298.15 | 3e+06 | 1220.13<br>(1220.

[2020-01-14 21:29] beutlich opened #3320 "Erroneous two-phase calculation of function setState_psX for R134a medium"
I am afraid the issue reported in #3163 for Modelica.Media.R134a.R134a_ph.setState_dTX (which was fixed in #3275) also is apparent with Modelica.Media.R134a.R134a_ph.setState_psX in two-phase region.

Check the setState_psX table generated by [T3320.mo](https://gist.github.com/beutlich/fd5aaea3a770aa7668c3ebb96592ad19):

**setState_phX()** (ref props in parentheses)

| row | T | p | d | h |
|---|-

[2020-01-15 07:06] beutlich commented on #3320
I marked the incorrect values by :small_red_triangle: in the above table for better visualibility.

[2020-01-15 07:08] beutlich commented on #3276
I marked the incorrect values by :small_red_triangle: in the above table for better visualibility.

[2020-01-15 08:39] tobolar commented on #2975
@AHaumer Are you going to also proceed with Mechanics.MultiBody? Then I would wait with fixing of some issues concerning this package.

[2020-01-15 08:54] tobolar commented on #2695
@AHaumer @christiankral I'm going to proceed here with Electrical and Magnetic in the next days. In order to omit conflicts please let me know when I could start. Or you can of course fix this issue for those two packages on your own.

[2020-01-15 16:36] AHaumer commented on #2975
@tobolar Since I'm not library officer for MultiBody, and I'm not a power user of MultiBody, I'd prefer to leave it up to you ...

[2020-01-15 18:12] AHaumer opened #3323 "Conversion from Boolean parameter to enumeration"
Background:
In FluxTubes, I'd like to change `parameter Boolean nonLinearPermeability` to an enumeration (let's call it `matericalCharacteristic` with choices `{Linear, Approximation}` . This enables us in future to implement other types of approximation or interpolation functions.

Nevertheless, for this change a conversion is needed - and I've no idea how to tackle this:
Parameter propagation:
r

[2020-01-15 19:38] christiankral commented on #2975
I will prepare PRs to split the following libraries:
- `ComplexMath` once #3047 is merged
- `ComplexBlocks` once #3303 is merged
- `Electrical.Analog` once #3303 and #3291 are merged

@tobolar If you're still ready, I can prepare a PR so that @tobolar and @MartinOtter (and others) can review the changes

[2020-01-16 09:56] dietmarw commented on #2975
Translational and Rotational have be done again since there was a conflict with a different PR (which is now merged.

[2020-01-16 13:15] tobolar commented on #2975
@christiankral For MultiBody, there are still two PR open: #3113 and #2501.

[2020-01-16 17:31] AHaumer commented on #2975
@tobolar we won't touch MultiBody, only Rotational and Translational

[2020-01-16 18:38] beutlich commented on #3056
#3312 was merged.

[2020-01-16 20:34] #883 closed

[2020-01-16 20:53] beutlich opened #3335 "Modelica.Electrical.QuasiStatic.Polyphase.Blocks.ToSpacePhasor fails Dymola check"
@christiankral Can you please check why Modelica.Electrical.QuasiStatic.Polyphase.Blocks.ToSpacePhasor does no longer check in Dymola 2020? I noticed that you tried some alternative implementations to please OpenModelica.

[code]

[2020-01-16 21:21] beutlich commented on #3335
The original implementation still works

[code]

[2020-01-16 21:33] #3335 closed

[2020-01-16 21:46] beutlich opened #3336 "ModelicaTestConversion4.Magnetic.FundamentalWave.Issue3075"
Checking the converted ModelicaTestConversion4.Magnetic.FundamentalWave.Issue3075 in Dymola 2020 fails with

[code]

See #3075 with corresponding PR #3161.

[2020-01-16 22:23] beutlich commented on #3336
This is a tool issue and already was reported in https://github.com/modelica/ModelicaStandardLibrary/pull/3161#issuecomment-547956037.

[2020-01-16 22:23] #3336 closed

[2020-01-17 10:58] #3127 closed

[2020-01-17 16:28] #3254 closed

[2020-01-17 16:43] tobolar opened #3339 "Not used images"
There are image files in the following directories not used elsewhere.
- Modelica\Resources\Images\Fluid\Components
- Modelica\Resources\Images\Fluid\Dissipation\heatTransfer
- Modelica\Resources\Images\Fluid\Dissipation\pressureLoss

Note: Some of the images are used for Fluid icons. See also https://github.com/modelica/ModelicaStandardLibrary/pull/3322#issuecomment-575591955

[2020-01-17 16:55] dietmarw opened #3341 "Broken class links in documentation need fixing."
By running the OM document generator I found a couple of missing class links in the documentation which need to be handled manually (and could not be fixed by #3340). Often classes were renamed or relocated and it was forgotten to update the links in the documentation. Here the error report from the OM documentation generator:

[code]

[2020-01-17 17:23] svorkoetter opened #3342 "Bug in Modelica.Electrical.QuasiStationary.Multiphase.Basic.MutualInductor?"
The model `Modelica.Electrical.QuasiStationary.Multiphase.Basic.MutualInductor` is as follows:

    model MutualInductor "Linear mutual inductor"
      extends Modelica.Electrical.QuasiStationary.MultiPhase.Interfaces.OnePort;
      import Modelica.ComplexMath.j;
      parameter Real epsilon=1e-9 "Relative accuracy tolerance of matrix symmetr
      parameter Modelica.SIunits.Inductance L[m, m] "Mu

[2020-01-17 17:26] svorkoetter commented on #3342
Actually, reading the documentation annotation, it's clear that the first `j` is meant to be the imaginary unit. Thus, this model is definitely broken.

[2020-01-17 17:40] beutlich commented on #3342
I changed the milestone to v4.0.0. If it is a bug, I'll care for the back-port to v3.2.3 afterwards.

[2020-01-17 20:01] #3342 closed

[2020-01-19 09:21] christiankral commented on #3022
I am working on a PR to fix this issue

[2020-01-19 12:37] beutlich commented on #2968
Will be resolved by #3348.

[2020-01-19 15:43] beutlich opened #3349 "Immoderate size of simulation result data for Rectifier6pulseFFT and Rectifier12pulseFFT"
Dymola simulation of Rectifier6pulseFFT creates a MAT file of size 3.75 GB. This is for 5662 variables of dimension 101802. I am not sure if this is the desired purpose of the example model.

Similar for Rectifier12pulseFFT where the size of the simulation result data even is greater than 4 GB.

Maybe we could spend some HideResult=true annotations to reduce the size of the simulation result data.

[2020-01-20 08:57] HansOlsson commented on #3349
As far as I understand that simulation result isn't important at all.

The primary output is the file "rectifier6pulseFFTresult.mat" (and similarly for the other example), which is about 29kB.

However, you only get the really large result when storing protected variables, as far as I know so I don't see it as a major issue for users. (It would be fairly simple to reduce the simulation size by a f

[2020-01-20 10:16] maltelenz commented on #2968
Will #3348 also be merged into the 3.2.3 branch? If it is only for master/4.0.0, I don't agree that it resolved this issue, which is for 3.2.3.

[2020-01-20 10:57] beutlich commented on #2968
I do not think that anyone is going to repeat the MSL v3.2.3 regression run. My focus is MSL v4.0.0 now. Since #3348 is pretty time-consuming (with all the new models, renamed models, renamed signals or even non-transient simulation results (see e.g. #3349)) and since this issue it is not a real bug of MSL v3.2.3 (just a shortcoming of the previous regression runs), it will be good enough if we fi

[2020-01-20 11:19] maltelenz commented on #2968
Missing the reference results means no tools can verify they correctly handle these models.

Focusing on 4.0.0 is certainly a valid way to prioritize, but it still doesn't fix this problem for 3.2.3, and therefore doesn't fix this issue.

[2020-01-20 11:23] AHaumer commented on #3349
Those two examples are derived from `Electrical.Machines.Examples.Transformers.Rectifier6pulse` (resp. 12 pulse). To see the trajectory of currents, a rather short simulation time is neeeded, but with a high resolution (Interval length).
Using the FFT-block, we have to ensure that "that enough points can be sampled before the simulation ends: startTime + (ns - 1)*samplePeriod". I have to re-check

[2020-01-20 11:28] beutlich commented on #2968
This is a process issue since previously the introduced new example models were somehow forgotten. For example, I reminded @GallLeo to update the correspondig reference signals in case of new models (see https://github.com/modelica/ModelicaStandardLibrary/pull/2738#issuecomment-429625984 for an example) but it never happened. With #3348 all reference signals are part of the repository and also in

[2020-01-20 12:36] AHaumer commented on #3349
We can reduce the simulation time, this reduces the size of the result file.
I wouldn't increase the interval, otherwise we get trajectories with aliasing.
I'll create a PR.

[2020-01-20 14:01] christiankral opened #3354 "Update icons of QuasiStatic.SinglePhase and QuasiStatic.Polyphase"
Some of the icons of `QuasiStatic.SinglePhase` and `QuasiStatic.Polyphase` are not in line with guidelines and shall be updated. In order to perform such update properly, #3351 has to be merged prior to a PR.

[2020-01-20 17:57] #3349 closed

[2020-01-20 18:09] beutlich commented on #3022
Is this a MSL-wide issue or does it only apply to Electrical.QuasiStatic?

[2020-01-20 20:26] #3304 closed

[2020-01-20 20:28] christiankral commented on #3022
This issue only applies to `Electrical.QuasiStatic` -- to my knowledge. Mechanical, Magnetic, Thermal,... they do not use `y`, but the respective physical quantity instead.

[2020-01-21 07:25] #1478 closed

[2020-01-21 09:02] dietmarw commented on #3218
@AHaumer Can you check if the last two open points are already fixed or can be fixed until tomorrow. Otherwise we should move them to a new ticket for the next version.

[2020-01-21 15:52] #3022 closed

[2020-01-22 07:41] AHaumer commented on #3218
Let's shift the last points to the next version ...

[2020-01-22 07:45] dietmarw commented on #3218
@Ahaumer Please make a new ticket with the remaining parts. That way we can include this ticket in the release notes for MSL 4.0.0. Thanks

[2020-01-22 07:46] AHaumer commented on #3323
It seems that fully automatic conversion  from Boolean to enumeration is not possbile (now).

[2020-01-22 07:46] #3323 closed

[2020-01-22 07:48] AHaumer opened #3359 "Further improvements of FluxTubes"
Using FluxTubes to prepare examples of magnetic cricuits for teaching the basics of electrical engineering, I found some improvements:

- [ ] annotation defaultComponentPrefixes = parameter for parameter records
- [ ] New electric-magnetic-mechanical element, representing a moving coil in an airgap, i.e. a combination of converter and force
- [ ] Find a backwards compatible solution for replacing

[2020-01-22 07:51] dietmarw commented on #3218
Further improvements are dealt with by #3359. Thanks @AHaumer

[2020-01-22 07:51] #3218 closed

[2020-01-22 14:58] tobolar commented on #3056
- Modelica.Mechanics.Rotational
- Modelica.Mechanics.Translational

Both done with 2f6ae65f30d4f3c18a945b2f517032a6d72df8b1

[2020-01-22 14:59] beutlich commented on #3056
Is this issue resolved?

[2020-01-22 15:51] christiankral commented on #3056
I guess this ticket is resolved for now.

[2020-01-23 14:22] tobolar opened #3362 "Rename base classes with support flange"
Due to similar model background, the following clases in `Modelica.Mechanics.Rotational.Interfaces` should be renamed:
- `PartialElementaryOneFlangeAndSupport2` to `PartialOneFlangeAndSupportElementary` (i.e. a counterpart of `PartialOneFlangeAndSupport`)
- `PartialElementaryTwoFlangesAndSupport2` to `PartialTwoFlangesAndSupportElementary` (i.e. a counterpart of `PartialTwoFlangesAndSupport`)

May

[2020-01-23 18:39] beutlich commented on #3362
We could rename it to PartialElementaryOneFlangeAndSupport/PartialElementaryTwoFlangesAndSupport (by simply removing the trailing "2"), but then there is some risk that someone using PartialElementaryOneFlangeAndSupport/PartialElementaryTwoFlangesAndSupport from MSL v3.2.3, who uses MSL v4.0.0 **without** conversion suddenly uses the wrong interface model.

[2020-01-23 18:44] beutlich commented on #3362
Here's the commit were the "2" models have been introduced: 68c3c517d1e344ba06ce10d00fbb7c7bc11ed787

[2020-01-23 19:17] dietmarw commented on #3362
Why not move non-2 ones to ObsoleteModelica4 and rename the 2-models? That way it should not break the interfaces.

[2020-01-23 20:13] beutlich commented on #3362
That's what already happened by 5b13d04eac91bbe56950b6fa2545b8e3388f8933. If we now introduce new models with that same name we might risk some name conflicts if conversion is either missed or run twice.

[2020-01-23 20:51] dietmarw commented on #3362
If we assume a conversion does not take correctly place then we have a whole lot of other problems. It would be strange to workaround that in this case. I'm sure if you look at this like that then we have a number of other cases that also need to be considered. I think it is safe to say that if conversion fails or is not done when using MSL 4.0.0 then user models will break.

[2020-01-24 08:07] tobolar commented on #3362
My intension is to give similar names to similar classes. Thus, the package content would be:
[code]
I'm aware of the risk by leaving "2" only. This is not what I'm addressing here.

[2020-01-24 08:14] beutlich commented on #3362
But tthere still is Partial**Elementary**RotationalToTranslational, making it inconsistent.

[2020-01-24 08:52] dietmarw commented on #2695
As far as I can tell there are no more open PRs left that would conflict with changes to be done in Electrical and Magnetic

[2020-01-24 09:03] tobolar commented on #2695
You are right. But working on this issue is really time consuming and I will not find time to fix this till MSL 4.0.0 fix.

[2020-01-24 09:19] tobolar commented on #3362
Hmm. This is true.
Actually, this is even more confusing as `PartialElementaryRotationalToTranslational` has the same structure like `PartialOneFlangeAndSupport` or `PartialTwoFlangesAndSupport`. But it is documented to be intended for "equations in the text layer" and so it is really used e.g. in `IdealGearR2T`.
This additonally means:
1. `PartialElementaryRotationalToTranslational` shall be rena

[2020-01-24 09:39] dietmarw commented on #3354
#3351 is merged.

[2020-01-24 09:50] dietmarw commented on #2695
Yes. Hopefully @christiankral and @AHaumer can take care of those.

[2020-01-24 10:13] #3056 closed

[2020-01-24 15:49] dietmarw commented on #2628
Can this be closed?

[2020-01-24 16:18] beutlich commented on #2627
@christiankral @tobolar Can this be closed or this there anything left to do?

[2020-01-24 16:19] #2628 closed

[2020-01-24 16:56] #3157 closed

[2020-01-24 17:30] dietmarw commented on #1808
Somone with a background in electronics should have a look at this. The only rough value for microeleectronic lines I could find is that they typically have a [sheet resistance](https://en.wikipedia.org/wiki/Sheet_resistance)  of about 0.5 mOhm/sq. But there are more issues with that model. In the documentation a principal picture is shown with values but those are displayed a absolute values in t

[2020-01-24 17:43] dietmarw commented on #1859
Having worked actively with the Chemical library I can say that it is far from finished and really not in the shape to be included in the MSL (principle discussion aside). So I'm closing this. Should this become relevant again and MAP-LIB has the resources a new ticket should be opened.

[2020-01-24 17:43] #1859 closed

[2020-01-24 17:46] #1340 closed

[2020-01-24 17:48] #1277 closed

[2020-01-24 17:55] #2923 closed

[2020-01-24 18:04] JoeRiel commented on #1808
0.5 mOhm/sq is the nominal value for 1 ounce copper, a typical thickness.  For PCB construction in the US, copper thickness is specified in ounces,  K ounce copper is equivalent to the thickness achieved by a copper sheet 1 foot square weighing K ounces.

[2020-01-25 15:39] beutlich opened #3367 "Missing documentation for Modelica.Magnetic.QuasiStatic.FundamentalWave.Examples.Components.PolyphaseInductance"
Modelica.Magnetic.QuasiStatic.FundamentalWave was added by 1be57503786a7743b7375c54fde1a12bc1482345 for MSL v3.2.2.

[2020-01-26 11:38] christiankral commented on #2627
Yes, it can be closed from my side.

[2020-01-26 11:42] beutlich commented on #2627
Thanks a lot!

[2020-01-26 11:42] #2627 closed

[2020-01-26 12:03] beutlich commented on #2946
This issue was not considered (important enough) by the library issues. At least #3369 updates the outdated documentation.

[2020-01-26 14:02] christiankral commented on #2695
OK then. @AHaumer I guess we should always indicate in advance what packages we are working on to avoid redundant work.

[2020-01-27 15:41] #3115 closed

[2020-01-27 23:27] casella commented on #322
Sorry, no way I can handle this in time for MSL 4.0.0.

[2020-01-28 07:48] dietmarw commented on #322
I didn't schedule it for MSL 4.0.0 but just assigned it to the LOs so they don't forget about it like they obviously have done for the past 11 years :smirk:

[2020-01-28 10:25] MartinOtter opened #3374 "Replace StateGraph by StateGraph2?"
@HansOlsson what is your opinion:

It would be useful to move the by far outdated Modelica.StateGraph to ObsoleteModelica4 and include Modelica_StateGraph2 instead into Modelica. I just checked and it seems to be not much work to adapt Modelica_StateGraph2 so that it can be included in MSL:
- Changing Modelica_StateGraph2 to Modelica.StateGraph2
- Moving statements with the Modelica extensions uni

[2020-01-28 10:28] dietmarw commented on #322
I didn't schedule it for MSL 4.0.0 but just assigned it to the LOs so they don't forget about it like they obviously have done for the past 11 years :smirk:

[2020-01-28 13:34] tobolar commented on #2934
Following good practice, the PowerLoss should be better generated graphically by means of two power sensors (`Modelica.Mechanics.Rotational.Sensors.PowerSensor`) on gear input and output, and an Add block for subtraction of those two power signals.

[2020-01-28 15:18] tobolar commented on #2460
Due to missing further discussion we'll not be able to fix this by feature freeze.

[2020-01-29 11:06] AHaumer commented on #3374
I'm strongly in favour although you are rather late looking at the Feature freeze. Makes sense and seems to be no big project.
@beutlich @dietmarw what's your opinion?

[2020-01-29 11:31] HansOlsson commented on #3374
Even if not very big we have to consider that feature freeze was planned for last week.

[2020-01-29 11:48] dietmarw commented on #3374
So yes this is simply to late to add at this stage. But also the library itself is not yet standard compliant. Something that I would actually consider a **very** big obstacle. And the proper sequence should be to make a new library first standard compliant (and there exists an open issue on this https://github.com/HansOlsson/Modelica_StateGraph2/issues/1 ) to even be considered to be added.
An ad

[2020-01-29 11:50] #2786 closed

[2020-01-29 16:17] beutlich commented on #3374
I'd even claim it is too late to mark StateGraph as obsolete for v4.0.0. This would be required to properly discontinue StateGraph for a new major release.

By the way, there have been a few improvements on StateGraph for v4.0.0, which will increase usability.

[2020-01-29 17:33] #3367 closed

[2020-01-29 19:23] beutlich commented on #1891
@HansOlsson Can this be closed after merging #2501?

[2020-01-29 20:25] beutlich commented on #3287
The tasks will be performed by an external contributor based on a paid contract.

[2020-01-30 08:05] HansOlsson commented on #1891
Yes!

[2020-01-30 08:05] #1891 closed

[2020-01-30 15:01] MartinOtter commented on #3374
I understand it is too late. Just in case:
- My sketch included of course to make it Modelica compliant (before including it in MSL; second item in my list, by removing checks that give error diagnostics) and then the library should work with every Modelica tool.
- As I wrote in the beginning, StateGraph could be moved to  ObsoleteModelica4. This means that existing models would still work  (via c

[2020-01-30 17:03] dietmarw opened #3378 "TestWallFriction fails with pedantic check"
Whilst testing the major SI unit PR I checked the MSL (4.0.0-alpha.1 (almost)) in Dymola in pedantic mode and got the following error on `Modelica.Fluid.Fittings.BaseClasses.QuadraticTurbulent.TestWallFriction`:

[code]

[2020-01-30 17:59] dietmarw opened #3380 "Broken class refrence in conversion test model Magnetic.FundamentalWave.Issue3075"
When working on #3379 I found a broken reference.
@christiankral  Once #3379 is merged I suggest you have a look on how to fix that.

Error message:
[code]

[2020-01-30 18:19] beutlich commented on #3380
Duplicate of #3336.

[2020-01-30 18:19] #3380 closed

[2020-01-30 18:23] beutlich commented on #3378
This issue is independent of #3379 and already can observed with MSL v3.2.3 in dymola 2020.

[2020-01-31 08:45] HansOlsson commented on #3378
That error message when checking the specific model is a bit excessive (and not exclusive to this model as far as I can tell). It does not occur when checking the entire package.

It should say "It must be redeclared before being used." (as similar messages do); and the underlying problem is that the types are in the partial package Medium that must be redeclared.

(Note: Just so that no-one tries

[2020-01-31 11:25] wischhusen commented on #3378
I do not understand the purpose of the model. What kind of tests were intended? Even if a suitable fluid model is chosen failures will remain due to the missing inner System model. I would rather say let us remove the model ...

[2020-01-31 11:52] beutlich commented on #3378
It is not used anywhere inside MSL or ModelicaTest.

[2020-01-31 12:03] HansOlsson commented on #3378
It is used in `ModelicaTest.Fluid.TestComponents.Fittings.TestWallFriction` - that compares different pipes and also this one. Thus one possibility would be to move it to ModelicaTest, as it seems it isn't intended for actual use (according to description).

[2020-01-31 12:27] beutlich commented on #3378
Ah, sorry. I mixed it up with Modelica.Fluid.Fittings.BaseClasses.QuadraticTurbulent.BaseModel which is nowhere used.

[2020-01-31 13:33] thorade commented on #2377
Just a note: https://github.com/usnistgov/REFPROP-issues/issues/239

[2020-01-31 14:28] tobolar commented on #712
Regarding comment https://github.com/modelica/ModelicaStandardLibrary/issues/712#issuecomment-519014269

`Temperature_degF` actually belongs to Imperial / US customary measurement systems. So we already do mix different unit systems.

(Siehe also comment on "Celsius temperature" in https://github.com/modelica/ModelicaStandardLibrary/issues/712#issuecomment-465222355.)

[2020-01-31 16:46] casella commented on #2377
Interesting to hear that now R is fixed, as the Avogadro number and the Boltmann constants have also been fixed. I wasn't aware of that.

[2020-02-01 10:49] #712 closed

[2020-02-01 11:30] #2934 closed

[2020-02-02 09:41] beutlich opened #3384 "Failed conversion of convertElement from R to R_s"
The following test package was extracted from the medium Buildings.Media.Air of the [Buildings library](https://github.com/lbl-srg/modelica-buildings):

[code]

It successfully checks with MSL v3.2.3, but the conversion fails if updated to MSL v4.0.0.

I added the missing lines in ConvertModelica_from_3.2.3_to_4.0.0.mos

[code]

but still the conversion does not work out.

@HansOlsson Is this a co

[2020-02-02 19:30] #1966 closed

[2020-02-03 09:13] #2313 closed

[2020-02-03 09:21] HansOlsson opened #3387 "Use real enumeration in e.g. Modelica.Mechanics.Rotational.Interfaces.PartialFriction!"
The following constants and their use could be replaced by an enumeration:

[code]
The constants seem to occur in
Modelica.Mechanics.Rotational.Components.LossyGear
Modelica.Mechanics.Rotational.Interfaces.PartialFriction
Modelica.Mechanics.Translational.Interfaces.PartialFriction
Modelica.Mechanics.Translational.Components.PartialFrictionWithStop
Modelica.Mechanics.Translational.Components.MassWi

[2020-02-03 09:58] #3378 closed

[2020-02-04 06:05] AHaumer commented on #3374
So why close this issue? It's still a good idea. Keep it open and shift the milestone.

[2020-02-04 08:07] christiankral opened #3389 "Split Electrical.Analog into single files"
Once #3291 is merged the Analog package shall be split into single files before releasing MSL 4.0.0. This ticket serves as reminder to not forget about it.

[2020-02-04 11:03] carlj-w opened #3390 "Strange use of Modelica.Constants.inf in Modelica.Fluid.Examples.Explanatory.MomentumBalanceFittings"
`Modelica.Fluid.Examples.Explanatory.MomentumBalanceFittings` and `ModelicaTest.Fluid.TestComponents.Fittings.TestSuddenExpansion` (these two seem to be the same model) use `Modelica.Constants.inf` for the parameter `diameter_b` in the components `leftAdapter` and `rightAdapter`.

From what I can see, the only way this could work is if you are running with a mis-configured `ModelicaServices.Machin

[2020-02-04 11:18] HansOlsson commented on #3390
I agree, and I think this is the best solution.

And to clarify - the problem is that formulas contain `diameter_b^2` and also multiplications with some minor factors. Thus if we want to use `Modelica.Constants.inf` we would need to use `sqrt(Modelica.Constants.inf)/...` or `Modelica.Constants.inf^(1/3)`, both of which seem messier.

Problems due to the bad "default" values for these numeric const

[2020-02-05 12:50] wischhusen commented on #3320
Resolved as far as I can see. Outputs for d and T were missing in setState_psX in two-phase mode.

[2020-02-05 12:53] beutlich commented on #3320
What do you mean by "Resolved"? Do you have a patch for it?

[2020-02-05 12:59] wischhusen commented on #3320
Yes I pushed into my fork

[2020-02-05 14:51] wischhusen commented on #3316
Resolved. Pushed a new pdf to my fork.

[2020-02-05 19:48] beutlich commented on #3316
The PDF you added by https://github.com/wischhusen/Modelica-1/commit/e33c605ffd6d98780cca4fb91022e6833dcd5700 only contains 17 pages whereas the previous version contained 24 pages. Can you please create a full PDF that still contains the sections 3 and 4.

[2020-02-06 11:35] wischhusen commented on #3316
Sorry, I added the missing parts.

[2020-02-06 19:44] #3390 closed

[2020-02-07 08:00] #3316 closed

[2020-02-07 08:01] #3320 closed

[2020-02-07 16:44] beutlich commented on #3384
Same issue arises when converting the [TRANSFORM-Library](https://github.com/ORNL-Modelica/TRANSFORM-Library).

[2020-02-07 17:03] beutlich commented on #3374
Done: Created new milestones [MSL4.1.0](https://github.com/modelica/ModelicaStandardLibrary/milestone/61) (the next minor version according to semver.org) and [MSL5.0.0](https://github.com/modelica/ModelicaStandardLibrary/milestone/60) (the next major).

[2020-02-09 09:18] beutlich commented on #2686
Still present with MSL 4.0.0 Alpha.1 and Dymola 2020.

![grafik](https://user-images.githubusercontent.com/14896695/74099513-07812a00-4b25-11ea-8c88-61c017d3063a.png)

SimulationX 4.0 does not show the negativ flow, but also the positive flow region around t=740s.

![grafik](https://user-images.githubusercontent.com/14896695/74099534-297aac80-4b25-11ea-8452-71ec585df04d.png)

SimulationX simulatio

[2020-02-09 10:25] beutlich commented on #2053
I believe (after fixing the incorrect value of G<sub>13</sub> by 6148f5343550b0707729d010e6a56cba7e67e9cc)  the remaining issues are documentation issues only. E.g., the matrix images for C and G need to be updated, since they contain errors

![grafik](https://user-images.githubusercontent.com/14896695/74100356-58e1e700-4b2e-11ea-83b3-27ec88fdbb7e.png)

[2020-02-09 20:18] max-privato commented on #2053
In my "Ticket,docx" I suggested to use a multiplier outside the matrices to make them clearer. E.g. 1.e-7 outside L and 1.e-12 outside C. I still believe it would be better.
More important, I highlighted that the C matrix in the model *does not*  contain the C matrix comparing in the vector equation Ia-Ir=(G+jwC)Vr but the components of a network of (positive) capacitances. To make this clear I pr

[2020-02-09 20:42] beutlich commented on #2053
See #3398.

[2020-02-10 10:32] thorade commented on #1910
Here is direct link to the code:
https://github.com/modelica/ModelicaStandardLibrary/blob/master/Modelica/Media/Water/IF97_Utilities.mo#L894-L966

[2020-02-10 13:54] HansOlsson commented on #3384
That one seems impossible to handle automatically without any changes of the library, since
TRANSFORM.Media.Interfaces.Fluids.PartialMedium.BaseProperties
contains a duplicate of the entire class including "R", and there is no real direct link to the MSL-variant.

[2020-02-10 15:43] HansOlsson commented on #3384
It seems like it is only a tool-issue for this case, and it will be improved for Dymola 2021.
However, as previously noted I don't see how we could handle the TRANSFORM-library.

[2020-02-10 18:11] beutlich commented on #3384
Thanks for the feeedback. Do we need to add the missing conversion rules

[code]

assuming it was not correctly detected previously by your Dymola dev version for PR #3195?

[2020-02-10 20:18] beutlich commented on #2968
Meanwhile, CSV files for

* Modelica.Magnetic.FluxTubes.Examples.Hysteresis.HysteresisModelComparison
* Modelica.Magnetic.FluxTubes.Examples.Hysteresis.InductorWithHysteresis
* Modelica.Magnetic.FluxTubes.Examples.Hysteresis.SinglePhaseTransformerWithHysteresis1
* Modelica.Magnetic.FluxTubes.Examples.Hysteresis.SinglePhaseTransformerWithHysteresis2

are available by https://github.com/modelica/MAP

[2020-02-11 08:40] HansOlsson commented on #3384
Yes. They need to be added.

[2020-02-11 08:57] atrosinenko commented on #3060
Modelica support for PMD was released as part of version 6.21.0. Meanwhile, it may be worth adding to https://modelica.org/tools (with the `experimantal` note).

[2020-02-11 11:36] HansOlsson opened #3399 "Issues with Modelica.Media.Incompressible.TableBased.T_ph"
In Modelica.Media.Incompressible.TableBased.BaseProperties we have:
`h = if enthalpyOfT then h_T(T) else  h_pT(p,T,densityOfT);`
assumedly that implies that if enthalphyOfT is true we should ignore the pressure-part of the enthalphy.

If we now look at T_ph we find:
[code]
Which has the following issues:
- When computing T_ph we ignore the pressure-dependency on enthalphy when a different constant

[2020-02-11 12:19] HansOlsson opened #3400 "Issues with Modelica.Media.IdealGases.Common.MixtureGasNasa.T_hX"
It seems that these implicit functions are problematic, see also #3399

The function:
[code]
Has the following issues:

- The inverse-annotation uses the extra arguments, `exclEnthForm`, `refChoice`, `h_off`, but the actual solution ignores them. I believe it is simplest to just remove them completely.
- Creating `Xfull `is unnecessary since the input `X `is declared with the size `nX`. The invers

[2020-02-11 13:45] HansOlsson opened #3401 "Duplicated code in Modelica.Media.IdealGases.Common.MixtureGasNasa"
The package contains two functions that contain the same computations: T_psX.f_nonlinear and specificEntropy.

That should ideally be made clearer; or perhaps both should call a common function - in the latter case T_psX could specify that as inverse.

Note that this implies that the issue in #1913 apply to both of them.

[2020-02-11 14:41] tobolar commented on #2556
A possible solution is prepared in https://github.com/tobolar/ModelicaStandardLibrary/tree/issue2556_FreeMotionScalarInit. Will wait with a PR for merging of #3396.

[2020-02-11 18:18] #3384 closed

[2020-02-11 18:20] beutlich commented on #3060
@sjoelund Can you please add PMD to https://modelica.org/tools as suggested. Thanks.

[2020-02-11 20:24] beutlich commented on #2556
Done.

[2020-02-12 07:23] sjoelund commented on #3060
Pinging @adeas31 who does most of the webmaster tasks

[2020-02-12 09:40] casella commented on #3339
I'm sorry but I really have no time to worry about this. Anything you did is fine for me

[2020-02-12 10:00] dietmarw commented on #3339
@casella Could you please in your role as library officer take the time to come to a decision as to what to do with those. It is not critical for the MSL 4.0.0 release but simply saying it's somebody else's problem is not a solution :frowning:
At least come up with a plan on when and how to deal with this.

[2020-02-12 10:24] casella commented on #2686
I had a look at the issue. At time =781.588, a certain number of valves is opened instantaneously: V5, V6, V19, V20, V24, V25, and pump P2 is also turned on. Ideall, water should instantaneously flow from the pump through the valves. However, the pump P2 contains a volume of 100 ml of water, and the pipe has a volume of about 240 ml. Now, the water model used here is StandardWater, that takes into

[2020-02-12 13:47] #3401 closed

[2020-02-12 13:47] #3399 closed

[2020-02-12 13:47] #3400 closed

[2020-02-12 19:33] casella commented on #2717
I think the real problem is slightly different. In one branch of the equation we have
[code]
while in the other we have
[code]
In the first branch `s` has the dimension of a level difference in meters. In the second branch it has the dimension of a pressure difference divided by the default medium pressure times a level difference, so it's again a level difference. The scaling is dimensionally cor

[2020-02-12 21:10] casella commented on #2717
@ErikHenningsson, I also see a problem starting at level = 0, since the energy balance equations becomes singular in that case.

[2020-02-13 00:09] casella commented on #2717
I performed some more experiments. If you start with level1 = 10, level2 = 1, level3 = 0, you see that the level in tank2 first goes down a bit (because there's more water flowing out to tank3 than in from tank2), until level3 increases enough, without getting to zero. This behaviour persists until level2 = 0.12, approximately. If you go below that, e.g. level2 = 0.11, the level hits zero after so

[2020-02-13 00:37] casella commented on #3140
What I can say is that I have been using homotopy consistently in the context of thermal power plant modelling for more than 10 years, and I found it extremely successful in that area. As soon as I started using it, initializing complex plant models in steady-state became almost trivial (as long as you get the model right, with the proper parameter values, so that a solution actually existst), whi

[2020-02-13 06:45] dietmarw commented on #3140
I agree with your analysis but it is definitely too late to be included now for 4.0.0. There are just too many moving parts that can get broken by such a big change. In addition rushing exactly this now will definitely end in tears. So rather aim for the  4.0.1 bugfix release.

[2020-02-13 06:53] dietmarw commented on #3140
Just to clarify, I'm not against fixing this particular model as reported in this ticket for 4.0.0 if it can be fixed "locally" but would wait with the more general overhaul of the Fluid library until 4.0.1

[2020-02-13 13:10] modelonrobinandersson opened #3409 "Not fully specified initial system in Modelica.Magnetic.FluxTubes.Examples.Hysteresis.SinglePhaseTransformerWithHysteresis1"
In order to setup the initial equation system to Modelica.Magnetic.FluxTubes.Examples.Hysteresis.SinglePhaseTransformerWithHysteresis1 additional equations are needed in order to obtain a balanced system.

That the equations below are added is natural as a consequence of the start values and fixed=true for these states:
[code]
However, the fourth equation that is needed is not clearly defined, and

[2020-02-13 13:34] casella commented on #3339
IMHO this issue has a very, very low priority. I do not have time now to fully understand what the situation is, in order to take an informed decision on any action. I prefer to spend my limited time on more important issues, e.g. what to do with homotopy or how to fix models that produce non-physical results.

Hence, my decision is: defer this issue until the next release, unless anybody wants to

[2020-02-13 13:39] casella commented on #3140
I'm happy moving this to 4.0.1. @dietmarw, do we already have a tag for this milestone? Can you please create one, so I can move it there?

[2020-02-13 21:47] beutlich opened #3412 "Analysis of the MSL v4.0.0-beta.1 regressions vs. v3.2.3-rc.2"
This is the public [report](https://beutlich.github.io/MSL400BETA1FAILED/index.html) of the 32 failed examples models for MSL v4.0.0-beta.1 vs. v3.2.2-rc.2.

I believe many of the changes are false-positives due to updated examples. Please check, analyze and give feedback.

 - [x] Modelica.Blocks.Examples.NoiseExamples.ActuatorWithNoise.ActuatorWithNoise
 - [x] Modelica.Blocks.Examples.NoiseExampl

[2020-02-13 21:49] beutlich commented on #3412
The two StateGraph models FirstExample_Variant2 and FirstExample_Variant3 are false-positives due to an increased simulation time applied by #3386.

[2020-02-13 21:58] christiankral opened #3414 "Add label "icon""
In order to indicate icon issues it would make sense to add an "icon" label to the GitHub issue tracker. Even though we have labels to indicate documentations and code issue, there is no label to clearly indicate icon issues.

[2020-02-13 22:15] beutlich opened #3415 "Analysis of failing test models of ModelicaTest v4.0.0-beta.1"
The following test models fail during check, translation or simulation (with tolerance=1e-06).

Please analyze and provide feedback.

 - [x] ModelicaTest.Magnetic.FluxTubes.BasicComponents
[code]

- [x] ModelicaTest.MultiBody.Forces.EngineGasForce
[code]

 - [x] ModelicaTest.Fluid.TestComponents.Sensors.TestTemperature1
[code]

 - [ ] ModelicaTest.Fluid.TestComponents.Valves.TestValvesCompressible

[2020-02-13 22:27] beutlich commented on #3414
Should be available now.

[2020-02-13 22:27] #3414 closed

[2020-02-13 22:40] #3389 closed

[2020-02-14 06:56] thorade commented on #1913
Each steps seems to be correct, only the first step goes from /MMX to *MMX and I don't see why.
If MassFractions X are low, MoleFractions Y are also low, so using either one as switching criterion seems to be OK as well.

massToMoleFractions
https://github.com/modelica/ModelicaStandardLibrary/blob/cf26871eee2122b86641aed0c03bdd0c7ba8d6fa/Modelica/Media/package.mo#L5121-L5139

[2020-02-14 07:22] thorade commented on #1910
These records are to my understanding only used for some iterations, not to be used by end users (these functions are not part of the interface). Thetwo branches of the if-else are different, because in the two different regions different iterations are used. Calculating values that are not used later on, might be a waste of time, but we could of course do it.

If we just want to comply with the l

[2020-02-14 08:51] HansOlsson commented on #3415
@tobolar ModelicaTest.MultiBody.Forces.EngineGasForce was introduced when the test was introduced in
https://github.com/modelica/ModelicaStandardLibrary/commit/b47f08544bf782eb522563156c754af124976cf2
and I believe the fixed=true should just be removed.

[2020-02-14 09:27] HansOlsson commented on #3415
ModelicaTest.Fluid.TestComponents.Sensors.TestTemperature1 just has a slightly too sensitive test.

ModelicaTest.Fluid.TestComponents.Vessels.TestSimpleTank is a genuine problem when the tank is empty and starts filling up.

ModelicaTest.Media.TestAllProperties.MoistAir is related to an old issue with the interface of Modelica.Media.Air.MoistAir.s_pTX - which takes `X[:]`, but needs `X[nX]`, and f

[2020-02-14 10:03] modelonrobinandersson opened #3417 "Unnecessary event generation in Modelica.Electrical.Analog.Examples.OpAmps.SignalGenerator"
In the BTL of the model Modelica.Electrical.Analog.Examples.OpAmps.SignalGenerator we have the following equation block:
[code]
According to the Modelica language specification, there is no guarantee that the smooth-operator does not generate any events.
When this model is simulated with Optimica Compiler Toolkit, the event generation resulting from torn equation 3 with the smooth-operator causes

[2020-02-14 10:06] tobolar commented on #3415
@HansOlsson

Confirmed.
We could then add "annotation(Dialog(enable=not exact))" to `v`and `a` in `Modelica.Mechanics.Translational.Sources.Position`. Possibly also "showStartAttribute = not exact"?

[2020-02-14 10:36] HansOlsson commented on #3415
Yes, good idea to avoid this problem in the future.

Preferably not. At least Dymola does not handle non-literal values for this one at the moment, and it seems a bit messy in terms of user-experience.

[2020-02-14 14:25] tobolar commented on #3412
- Modelica.Mechanics.MultiBody.Examples.Elementary.PointGravityWithPointMasses2.PointGravityWithPointMasses2
   - Not really a problem since relative errors are about 1E-10.
- Modelica.Mechanics.MultiBody.Examples.Loops.Engine1b.Engine1b
   - Initial conditions were changed in c119e90a6642627e4f3131ec22388f10098958c9 (e.g. `inertia.w.start = 10` in `Modelica.Mechanics.MultiBody.Examples.Loops.Util

[2020-02-14 15:57] beutlich opened #3420 "Analysis of the ModelicaTest v4.0.0-beta.1 regressions vs. v3.2.3-rc.2"
This is the public [report](https://beutlich.github.io/MSLTEST400BETA1FAILED/index.html) of the 6 failed examples models for MSL v4.0.0-beta.1 vs. v3.2.2-rc.2.

Please check, analyze and give feedback.

- [x] ModelicaTest.Fluid.TestExamplesVariants.HeatingSystem_FixedInitial
- [x] ModelicaTest.Fluid.TestExamplesVariants.HeatingSystem_SteadyState
- [x] ModelicaTest.Media.TestAllProperties.FlueGasSi

[2020-02-14 16:34] tobolar commented on #3420
- ModelicaTest.MultiBody.InitializationConversion.Joints.Joints
   - Difference due to deletion of `s_offset` from `MultiBody.Joints.Prismatic` joint. Previously: prismatic.s_offset=0.1

[2020-02-14 16:34] beutlich commented on #3420
Shall we restore it?

[2020-02-14 16:45] tobolar commented on #3420
An option would be to convert s_offset to s(start = s.start<previousversion> + s_offset) but I don't know if this is possible. And a question is whether to also set `s.fixed=true` in order to retain the influence of `s_offset` on `s` then.

[2020-02-14 16:51] HansOlsson commented on #3420
That seems a bit too complicated:

It seems that you could set s_offset for a component, and then hierarchically modify s.start, and I don't see how we could update that hierarchical modifier for s.start in a straightforward way.

[2020-02-14 17:20] christiankral commented on #3341
OK, I will create a PR

[2020-02-14 19:30] #3354 closed

[2020-02-14 20:11] christiankral commented on #496
When going through #3341 I realized that we still have two different naming conventions in the magnetic domain: `TwoPort` vs `TwoPorts`. I suppose this shall be fixed before releasing v4.0.0. @dietmarw, @beutlich and @AHaumer do you agree?

The following list shows the difference w.r.t. the elementarty ports:

- `Modelica.Magnetic.FluxTubes.Interfaces.TwoPortsElementary`
- `Modelica.Magnetic.Funda

[2020-02-14 20:17] beutlich commented on #3415
@HansOlsson ModelicaTest.Utilities.TestStrings looks like a Dymola issue to me since both SimulationX and WSM report the expected hash values. Does Dymola 2020 use a different hash algorithm than the default one?

[2020-02-14 20:19] hubertus65 commented on #3409
I think that a complete specification of the initialization is necessary to achieve the same results across different tools. It would be awesome if CI could check for this in some way and flag this as a QA issue. A first step could be to make this a clearly formulated best practice. I think it is already, but I am not sure.

[2020-02-14 20:25] dietmarw commented on #496
A quick search lead me to https://en.wikipedia.org/wiki/Two-port_network
So I'm for `TwoPort`.

[2020-02-14 20:28] beutlich commented on #3415
Thanks for the analysis. I had a look myself but was not able to see it instantly.

Luckily I also created that test model by c0c48961e7429b3f371317a82cbc76bb009ab79a, which once again shows the importance of unit tests.

[2020-02-14 21:37] christiankral commented on #3415
Fix of ModelicaTest.Magnetic.FluxTubes.BasicComponents is provided by #3424

[2020-02-14 22:01] christiankral commented on #496
OK then. So I will create a PR to fix the names of

- `Modelica.Magnetic.FluxTubes`
- `Modelica.Magnetic.QuasiStatic.FluxTubes`

[2020-02-14 22:19] christiankral commented on #3412
Change of result in `Modelica.Magnetic.FundamentalWave.Examples.BasicMachines.InductionMachines.ComparisonPolyphase.IMS_Start_Polyphase.IMS_Start_Polyphase ` is not relevant, as the deviation is negligible low

[2020-02-15 06:46] christiankral commented on #3412
Same issue: The error of `Modelica.Electrical.Machines.Examples.InductionMachines.IMC_InverterDrive.IMC_InverterDrive` is in the zero sequence current only and thus not relevant to the simulation, as it is numeric noise.

[2020-02-15 06:55] christiankral commented on #3412
The models

- `Modelica.Electrical.PowerConverters.Examples.ACDC.RectifierCenterTap2mPulse.ThyristorCenterTap2mPulse_R.ThyristorCenterTap2mPulse_R`
- `Modelica.Electrical.PowerConverters.Examples.ACDC.RectifierCenterTap2mPulse.ThyristorCenterTap2mPulse_RL.ThyristorCenterTap2mPulse_RL`
- `Modelica.Electrical.PowerConverters.Examples.ACDC.RectifierCenterTap2mPulse.ThyristorCenterTap2mPulse_RLV.Thyri

[2020-02-15 07:16] christiankral commented on #3412
The models
- `Modelica.Electrical.PowerConverters.Examples.DCDC.ChopperStepDown.ChopperStepDown_R.ChopperStepDown_R`
- `Modelica.Electrical.PowerConverters.Examples.DCDC.ChopperStepDown.ChopperStepDown_RL.ChopperStepDown_RL`
- `Modelica.Electrical.PowerConverters.Examples.DCDC.ChopperStepUp.ChopperStepUp_R.ChopperStepUp_R`

have been modified and show a thus a different behavior.

[2020-02-15 07:36] christiankral commented on #3412
The same issue with zero sequence components applies to all other listed FundamentalWave machine models. This is not relevant to the machine behavior as all other states are not significantly affected.

[2020-02-15 07:40] christiankral commented on #3412
@ahaumer and @MartinOtter please check the following models:

- `Modelica.Blocks.Examples.NoiseExamples.ActuatorWithNoise.ActuatorWithNoise`
- `Modelica.Blocks.Examples.NoiseExamples.DrydenContinuousTurbulence.DrydenContinuousTurbulence`

@AHaumer please check the following models as you may have modified them:

- `Modelica.Electrical.Analog.Examples.OpAmps.Differentiator.Differentiator`
- `Modeli

[2020-02-15 07:45] christiankral opened #3425 "Proposal to split Modelica.Blocks into single files"
I am asking the library officers @AHaumer and @MartinOtter if they have any intentions to have the package `Modelica.Blocks` split into single files. In case you agree, it makes sense to have this done before MSL 4.0.0 gets released.

[2020-02-15 11:00] christiankral commented on #3164
I somehow missed this issue because of the focus on MSL 4.0.0.

From investigating `ModelicaTest.Fluid.TestComponents.Machines.TestSweptVolume`

![image](https://user-images.githubusercontent.com/4184218/74586550-f6369280-4fe8-11ea-8824-05da8a0baaf8.png)

![image](https://user-images.githubusercontent.com/4184218/74586291-62fc5d80-4fe6-11ea-8604-cdb9f98e7a77.png)

So I had a look at `Modelica.Flui

[2020-02-15 11:06] christiankral commented on #3034
As we already have the `Modelica.Electrical.Polyphase.Sensors.ReactivePowerSensor` for three-phase systems and the library [ElectricalSignalProcessing](https://gitlab.com/christiankral/ElectricalSignalProcessing) was provided, I am closing this ticket.

[2020-02-15 11:06] #3034 closed

[2020-02-15 11:11] christiankral commented on #2990
User Guides are still missing for:

- [ ] `Modelica.Blocks`
- [ ] `Modelica.Math`
- [ ] `Modelica.ComplexMath`

[2020-02-15 11:26] christiankral commented on #2964
I see the MSL 4.0.0 tag was removed some time ago.

Yet, @AHaumer how are we proceeding here? If were are not doing anything before MSL4.0.0 is released we will still have a non-ideal component named `IdealTriac`.

One simple solution could be:

- Rename `Modelica.Electrical.Analog.Ideal.IdealTriac` to `Modelica.Electrical.Analog.Ideal.TriacWithDisturbanceElimination`
- Make a note in this model t

[2020-02-15 11:28] christiankral commented on #2193
@agnesramle could you please possibly give us an update on this issue to let us know if you could already resolve this issue or not.

[2020-02-15 11:35] christiankral commented on #1855
@MartinOtter @beutlich shall we close this issue as wontfix now?

[2020-02-15 11:41] christiankral commented on #1752
For the component `Modelica.Magnetic.FluxTubes.Basic.LeakageWithCoefficient` the `input` was replaced by a signal input without loosing backwards compatibility, see #3300, #3307 and #3311.

@AHaumer we could still implement a similar solution this issue. Any comment?

[2020-02-15 11:58] christiankral commented on #3300
Re-open due to https://github.com/modelica/ModelicaStandardLibrary/pull/3424#issuecomment-586562266

[2020-02-15 16:30] AHaumer commented on #3425
It makes sense, but I'd ask for @MartinOtter 's opinion.

[2020-02-17 08:37] wischhusen commented on #3339
I will have a look. Please give me this week for checking.

[2020-02-17 11:08] dietmarw commented on #3164
fixed in #3428

[2020-02-17 11:08] #3164 closed

[2020-02-17 12:43] modelonrobinandersson commented on #2193
Hi @christiankral, this issue still exists with MSL 3.2.3 (build 3).

[2020-02-17 14:04] wischhusen commented on #3339
@beutlich I think I removed everything obsolete.

[2020-02-17 14:29] dietmarw commented on #3339
@wischhusen Where did you do that? You should send a PR so we can merge the changes.

[2020-02-17 14:34] wischhusen commented on #3339
in my fork

[2020-02-17 14:36] dietmarw commented on #3339
Could you please create a PR and reference this ticket (e.g., "ref: #3339") in the comment. Thanks.

[2020-02-17 14:36] wischhusen commented on #3339
no i can't.

[2020-02-17 14:37] dietmarw commented on #3339
Why not? What is the problem?

[2020-02-17 14:43] wischhusen commented on #3339
![Clipboard01](https://user-images.githubusercontent.com/3704662/74663542-3f7b1380-519c-11ea-9e96-cc9ba8b98542.png)

[2020-02-17 14:45] dietmarw commented on #3339
Try this link: https://github.com/wischhusen/Modelica-1/pull/new/master

[2020-02-17 16:24] dietmarw opened #3430 "Dissipation library contains Icon classes without icon definitions"
When looking into `Modelica.Fluid.Dissipation.Utilities.Icons.*` I found a number of icon classes that do not contain any icon definition but a graphic is only contained on the diagram layer. I'm unsure what use those "icons" would have.

Examples:
![image](https://user-images.githubusercontent.com/9332/74670755-1c576080-51aa-11ea-8602-5c1c20601d52.png)
and
![image](https://user-images.githubuserc

[2020-02-18 08:31] dietmarw commented on #3339
A cleaned up PR is available here: #3429

[2020-02-18 08:39] dietmarw commented on #3300
Fixed again by #3424

[2020-02-18 08:41] dietmarw commented on #3300
Probably wait for #3431 first...

[2020-02-18 10:27] maltelenz commented on #3412
In that case, should that variable be part of the comparison variables? If the differences in a variable are not relevant to the simulation, then I don't think it is a sensible comparison variable.

[2020-02-19 10:39] tobolar commented on #3420
Then, probably best to really restore `s_offset` as there is no possibility for a feasible conversion. See also #2465.

[2020-02-19 14:26] tobolar commented on #3420
ModelicaTest.MultiBody.Joints.UniversalSpherical: significant deviations only for system branch containing `bodyBox1`. It is caused by changed direction of rotation axes of joint `universal`:
- now:n_a={0,0,1}, n_b={0,1,0}
- previously: n_a={1,0,0}, n_b={0,1,0}

Also, initialization has changed.
So the results are fine.

[2020-02-20 13:01] #3300 closed

[2020-02-21 09:14] tobolar commented on #3420
To removement of `s_offset`:
1. In 68e893f5d163395bad946b24fa00fa156dc24468 the two original joints (Prismatic and Revolute) were copied into `ObsoleteModelica4.Mechanics.MultiBody.Joints`. So the conversion script shall be adapted accordingly to convert these elements into those from ObsoleteModelica4. At the moment, it only "eliminates" `s_offset`, commit b8a0658131936825df76a6f891c18366c4965542

[2020-02-22 19:57] beutlich commented on #3415
@HansOlsson Can you please cross-check?

[2020-02-22 20:14] beutlich commented on #3341
@dietmarw Is this issue resolved finally?

[2020-02-22 20:25] #3341 closed

[2020-02-22 20:32] beutlich commented on #3339
@dietmarw Can this be closed after merging #3429?

[2020-02-22 20:35] beutlich commented on #1855
No, the issue is still relevant after #2896 and #2897 got closed without merging. It truely is sad story and a lot of misunderstanding. 😞

[2020-02-22 20:42] dietmarw commented on #3339
Fixed by #3429

[2020-02-22 20:42] #3339 closed

[2020-02-22 20:54] beutlich commented on #3420
The previous discussion about removal of constants s_offset and phi_offset happened in #3048. I also asked if it is legal if a constant is modified and if we should adapt ModelicaTest.MultiBody to get reproducible results. Obviously we failed for one model. (It even looks like an earlier default when @MartinOtter changed the variability from parameter to constant.)

I see three possibilities:
1. W

[2020-02-22 21:03] beutlich commented on #496
Closing again after merge of #3426.

[2020-02-22 21:03] #496 closed

[2020-02-22 21:53] beutlich commented on #3412
This is due to #3224 and can be avoided by utilizing the very same fixed local seed that was computed in MSL v3.2.3. See #3434 for a possible resolution.

[2020-02-23 10:45] beutlich opened #3435 "Analysis of example models of MSL v4.0.0-beta.1 failing a pedantic translation"
The following models/blocks with StopTime annotation fail translation if pedantic=true:

- [x] Modelica.Blocks.Examples.PID_Controller
- [x] Modelica.Clocked.Examples.Systems.EngineThrottleControl
- [x] Modelica.Clocked.Examples.Elementary.ClockSignals.RotationalSample
- [x] Modelica.Clocked.Examples.Elementary.ClockSignals.LogicalSample
- [x] Modelica.Electrical.Spice3.Examples.Oscillator
- [x] M

[2020-02-23 13:23] beutlich commented on #3435
Hysterisis models are addressed by #3427.

[2020-02-23 13:51] beutlich commented on #3435
Spice3 models are addressed by #3438.

[2020-02-23 14:24] beutlich opened #3439 "Double display of component name in Modelica.Magnetic.QuasiStatic.FluxTubes.Shapes.FixedShape.HollowCylinderAxialFlux icon"
Modelica.Magnetic.QuasiStatic.FluxTubes.Shapes.FixedShape.HollowCylinderAxialFlux extends both from Modelica.Magnetic.QuasiStatic.FluxTubes.BaseClasses.FixedShape and Modelica.Magnetic.QuasiStatic.FluxTubes.Icons.HollowCylinderAxialFlux. Since both base classes define the `%name` text in the icon layer, it is displayed twice in the derived class.

There are more icons affected, probably.

[2020-02-24 07:14] beutlich commented on #3417
See https://github.com/modelica/ModelicaStandardLibrary/pull/3432#issuecomment-590191439.

[2020-02-24 08:17] maltelenz opened #3440 "NoiseExamples package has odd name"
The package `Modelica.Blocks.Examples.NoiseExamples` contains examples using the `Modelica.Blocks.Noise` components.

Since it is already placed inside the `Examples` package, would it make more sense to call it `Modelica.Blocks.Examples.Noise`? The extra `Examples` seems redundant. I could not find similar examples elsewhere either.

[2020-02-24 10:35] HansOlsson commented on #3415
Hmm... I'm trying to check, but there is something confusing:

[code]
Why define HASH_AP and then use HASH_VALUE (and it seems HASH_VALUE depends on uthash.h; which may use different algorithms).

[2020-02-24 10:44] beutlich commented on #3415
Yes, this this the whole idea:

https://github.com/modelica/ModelicaStandardLibrary/blob/69d20512b37dc304936852ca1df7f61e38e9274b/Modelica/Resources/C-Sources/ModelicaStrings.c#L90-L91

[2020-02-24 10:58] HansOlsson commented on #3415
Hmm.... So there are two possible issues:

- Some difference in uthash.h
- Dymola combine several C-files when compiling, and some other file include uthash.h first (the normal multiple inclusion guard will then make the new definition of HASH_FUNCTION meaningless).

[2020-02-24 11:14] HansOlsson commented on #3415
It's the latter. I would thus propose the following:
Don't include uthash.h in ModelicaStrings.c, and replace call of HASH_VALUE by HASH_AP.

I don't see how that can cause problems for other tools.

[2020-02-24 11:21] beutlich commented on #3415
Can you please try. In ModelicaStrings.c, instead of

[code]

have

[code]

[2020-02-24 11:28] beutlich commented on #3415
Otherwise, I'd rather consider it as a tool-issue.

[2020-02-24 11:38] HansOlsson commented on #3415
In testing that works as well, but I find it fragile (in similar scenarios with multiply included C-files). The reason is that we are using macros with multiple definitions in the sources, and I don't see what we try to achieve.

I would thus prefer to just remove uthash.h from ModelicaStrings.c (i.e. reverting #2262 ).

Or in more detail I see the following possibilities:

- Remove uthash.h from

[2020-02-24 11:42] beutlich commented on #3415
Yes, sounds possible. `HASH_JEN` will be the "new" hash function then.

[2020-02-24 12:30] HansOlsson commented on #3415
I'll make the PR for this change then.

[2020-02-24 20:48] beutlich commented on #3415
ModelicaTest.Fluid.TestPipesAndValves.DynamicPipeClosingValve simulates successfully if the tolerance is increased to e,g,. 2e-5.

[2020-02-24 22:49] dariomangoni opened #3445 "Wrong rotation direction in planarRotation functions"
`Modelica.Mechanics.MultiBody.Frames.planarRotation` and `Modelica.Mechanics.MultiBody.Frames.TransformationMatrices.planarRotation` either rotate in the opposite direction (respect to right-handed standard) or the documentation is quite unclear.

Given:
- rotation axis along +Z
- rotation angle of 90deg
- a starting vector `v1` along +X

I would expect to get a rotation matrix that rotates the ve

[2020-02-25 08:29] #2820 closed

[2020-02-25 12:44] henrikt-ma opened #3446 "External functions should specify 'Include' to make use of existing prototypes"
The external function `Modelica.Utilities.Files.fullPathName` seems to be typical in the sense that it doesn't use the `Include` annotation, meaning that the function call isn't checked against the existing prototype in [ModelicaInternal.h](https://github.com/modelica/ModelicaStandardLibrary/blob/master/Modelica/Resources/C-Sources/ModelicaInternal.h).

It would improve the quality of MSL if all e

[2020-02-25 17:24] beutlich commented on #3415
ModelicaTest.Fluid.TestComponents.Valves.TestValvesCompressibleReverse successfully simulates if the output interval is increased again.

[code]

Not sure, if this is a tool issue or not. But according to https://github.com/modelica/MAP-LIB_ReferenceResults/blob/v3.2.3/ModelicaTest/Fluid/TestComponents/Valves/TestValvesCompressibleReverse/creation.txt#L26 it is not a regression issue.

[2020-02-25 17:27] beutlich commented on #3415
Neither is ModelicaTest.Fluid.TestComponents.Vessels.TestSimpleTank an actual regression, see https://github.com/modelica/MAP-LIB_ReferenceResults/blob/v3.2.3/ModelicaTest/Fluid/TestComponents/Vessels/TestSimpleTank/creation.txt#L26.

[2020-02-25 17:27] #3415 closed

[2020-02-25 18:46] beutlich commented on #3446
I believe we discussed this topic already some time ago, but I cannot find the thread. Maybe it was a private mail discussion only or I my memory might even be wrong.

[2020-02-26 07:10] henrikt-ma commented on #3446
If not even you can find it, @beutlich, then it isn't in the archives. :)

[2020-02-26 11:47] #3439 closed

[2020-02-26 15:44] carlj-w commented on #1965
Coming back to the specific function _Modelica.Media.IdealGases.Common.Functions.h_T_: In the same package there is _Modelica.Media.IdealGases.Common.Functions.h_T_der_, which seems to be the derivative of the function, but _h_T_ does not have a derivative annotation pointing to _h_T_der_. This seems strange to me.

One can notice the same for other functions in the same package, e.g. _h_Tlow_ and

[2020-02-26 17:06] thorade commented on #1965
Related: https://github.com/modelica/ModelicaStandardLibrary/issues/1909
Especially, follow the links at the bottom to other issues where #1909 was mentioned.

[2020-02-26 19:59] beutlich commented on #3412
@AHaumer Please analyze.

[2020-02-26 20:40] hubertus65 commented on #3420
To the best of my analysis, the errors in Media are spurious errors in the csv-compare code.

When I open the detailed error reports, I find:

FlueGasSixComponents.err_h_is
5003 (relative error is 9,16569193376174E-10)
SimpleAir.s_is
5003 (relative error is 5,48431446405923E-12)
5003 (relative error is 5,48431446405923E-12)

Which is extremely small relative errors, that trigger an error report ev

[2020-02-27 16:32] HansOlsson opened #3455 "Check of conversions"
Continuing
https://github.com/modelica/ModelicaStandardLibrary/issues/3181#issuecomment-549259166

Old classes missing (note, I had https://github.com/modelica/ModelicaStandardLibrary/pull/3453 checked out, but I don't think that matters):
- [x] Modelica.Magnetic.FundamentalWave.BaseClasses.Machine
- [x] Modelica.Magnetic.FundamentalWave.BasicMachines.InductionMachines.{IM_SlipRing,IM_SquirrelCage

[2020-02-27 17:03] HansOlsson commented on #3455
**Including** the partially converted ones we find some more classes that are gone without conversions (as far as I see).
- Modelica.Electrical.QuasiStationary.SinglePhase.Interfaces.RelativeSensor
- Modelica.Electrical.QuasiStationary.MultiPhase.Blocks.SingleToMultiPhase
- Modelica.Electrical.QuasiStationary.MultiPhase.Interfaces.RelativeSensor

Except for the previously reported parameter there

[2020-02-28 13:28] #3446 closed

[2020-02-28 18:22] beutlich commented on #3455
Hm, I don't understand. There is

https://github.com/modelica/ModelicaStandardLibrary/blob/e40361763bdf818b9d6bbeaf8bf1f28212b3c80c/Modelica/Resources/Scripts/Conversion/ConvertModelica_from_3.2.3_to_4.0.0.mos#L224-L225

where Modelica.Magnetic.FundamentalWave.Interfaces.PartialBasicInductionMachine is available in MSL 3.2.3 and Modelica.Magnetic.FundamentalWave.BaseClasses.Machine is available in

[2020-02-28 18:25] beutlich commented on #3455
These removals are already documented as non-backward compatible changes in the edited release notes (Modelica.UsersGuide.ReleaseNotes.Version_4_0_0).

[2020-02-28 18:33] beutlich commented on #3455
Covered by https://github.com/modelica/ModelicaStandardLibrary/blob/e40361763bdf818b9d6bbeaf8bf1f28212b3c80c/Modelica/Resources/Scripts/Conversion/ConvertModelica_from_3.2.3_to_4.0.0.mos#L164-L167

Covered by https://github.com/modelica/ModelicaStandardLibrary/blob/e40361763bdf818b9d6bbeaf8bf1f28212b3c80c/Modelica/Resources/Scripts/Conversion/ConvertModelica_from_3.2.3_to_4.0.0.mos#L168-L169

[2020-02-29 00:06] casella opened #3460 "Delay blocks do not belong to Blocks.Nonlinear"
The Blocks.Nonlinear package contain three time delay implementations: `FixedDelay`, `PadeDelay`, and `VariableDelay`.

As everybody knows, pure time delay `y(t) = u(t - tau)` is a **linear** operator, linear as linear can be, since obviously the superposition principle applies to it 100%. It is in principle infinite-dimensional, but that doesn't make it less linear. Also its Padé approximation is

[2020-02-29 08:04] christiankral commented on #3455
@beutlich May I ask what part you do not understand here? I checked the conversion based on `ModelicaTestConversion4.Magnetic.FundamentalWave.Issue496.PartialBasicInductionMachine` and it works without issues.

[2020-02-29 08:08] beutlich commented on #3455
I do not understand what shall be fixed here. Or in other words: I do not understand, why @HansOlsson reported it as a potential conversion issue.

[2020-02-29 09:44] beutlich opened #3461 "Development process with git workflow, branches and semver in mind"
@dietmarw When writing https://github.com/modelica/ModelicaStandardLibrary/pull/3459#issuecomment-592926539, I noticed that we need to clarify the development process.

1. We should state that any changes requiring conversion got to MAJOR versions, here: MSL v5.0.0 wil be next. I noticed that you introduced the `conversion` label to mark/identify such issues
1. If we have a MINOR release scheduled

[2020-02-29 09:47] beutlich commented on #3460
Since we won't touch upcoming MSL 4.0.0 to introduce any new conversion rules, we have to postpone the proposed changes until MSL 4.0.0 is released and branched to maint/4.0.x.

Next opportunity already is for MSL v5.0.0 to be expected in spring 2021 (provided we decide on #3461, i.e., if we claim that changes requiring conversion imply a new MAJOR revision).

[2020-02-29 13:25] dietmarw commented on #3461
I think there is a misunderstanding probably also due to the [Recommendation for a Release Process for Libraries](https://github.com/modelica/MAP-LIB_ProjectRules/blob/master/MAP-LIB_ProjectRules.md#annex-6-recommendation-for-a-release-process-for-libraries) using a vocabulary than what SemVer would use.

Applying the SemVer vocabulary than a "maintenance" version is a new `BUGFIX` version. So Aut

[2020-02-29 17:20] christiankral commented on #3455
OK then. I came to the same conclusion as @beutlich

- [x] Modelica.Magnetic.FundamentalWave.BaseClasses.Machine
- [x] Modelica.Magnetic.FundamentalWave.BasicMachines.InductionMachines.{IM_SlipRing,IM_SquirrelCage}
- [x] Modelica.Magnetic.FundamentalWave.BasicMachines.SynchronousMachines.{SM_ElectricalExcited,SM_PermanentMagnet,SM_ReluctanceRotor}

convert all good and correctly.

[2020-02-29 17:56] christiankral commented on #3455
These issue shall be covered by 9d3a389edd5c55a52946df40cd6d307706f0ae99 and d9ecb20f4b2d4032bb516971f1c44f7459d32cb6

[2020-02-29 18:24] beutlich commented on #3455
PR would be welcome.

[2020-02-29 22:08] christiankral commented on #3455
These two issues is taken care of in 3fc099c829db57dc0fcf9d3459dd330ccaba1204 and #3467, respectively

[2020-02-29 22:29] beutlich commented on #3420
Accepting option 3.

[2020-02-29 22:35] beutlich commented on #3420
The two HeatingSystem test models extend from Modelica.Fluid.Examples.HeatingSystem where the medium Modelica.Media.Water.StandardWater was updated to Modelica.Media.CompressibleLiquids.LinearWater_pT_Ambient by #3260.

[2020-02-29 22:35] #3420 closed

[2020-03-01 15:55] christiankral opened #3468 "Update release notes of new/changed components/packages of MSL 4.0.0"
This ticket is created to summarize missing release notes for MSL 4.0.0 based on https://groups.google.com/forum/#!msg/map-lib/Bcur73rRXlU/MUUd2CQ-BwAJ

[2020-03-01 15:56] christiankral commented on #3468
Refs #3467: SwitchYD

[2020-03-01 17:16] christiankral commented on #3021
I am closing this ticket as I assume agreement from @AHaumer .

[2020-03-01 17:16] #3021 closed

[2020-03-01 20:24] christiankral commented on #3425
@MartinOtter If you agree, I can prepare a PR to get the package split into individual files. On my opinion the great advantage of single files is, that a GitHub history can directly be created for each Modelica class of the package. This way it is very easy to check what changes have been applied to each Modelica class.

[2020-03-01 20:32] christiankral opened #3472 "Remove reference signals of zero sequence currents of electric machine examples"
The zero sequence currents of the electric machine simulation models shall be zero in most cases. For these cases the zero sequence currents shall be removed from the list of reference signals. Otherwise we have to manually validate upcoming regressions as in #3412 over and over again.

[2020-03-02 12:48] HansOlsson commented on #3460
(Well, `VariableDelay` is non-linear in the delay argument.)
However, `NonLinear` is a bad name - especially as most non-linear blocks are in Math.

Since they all have internal states `Continuous` does seem like a better fit for the delays.
And the remaining ones in NonLinear are then limiters and deadzone, and we might be able to find a better name for them.

[2020-03-02 12:55] HansOlsson commented on #3455
Hmm...

I had to check more as well, and the issue is another line:
https://github.com/modelica/ModelicaStandardLibrary/blob/e40361763bdf818b9d6bbeaf8bf1f28212b3c80c/Modelica/Resources/Scripts/Conversion/ConvertModelica_from_3.2.3_to_4.0.0.mos#L1821-L1821
that tries to convert something in `Modelica.Magnetic.FundamentalWave.BaseClasses.Machine`; but as noted that class was introduced in 4.0.0.

[2020-03-02 13:05] HansOlsson commented on #3455
Ok, I guess I should have looked there first.
However, I noticed that this implies that something like convertMessage for components would be a good idea in the future.

[2020-03-02 14:34] casella commented on #3460
Just as a clarification, according to [SEMVER](https://semver.org/), a major revision is required if you change the API. In case we have a conversion script, would this change be considered as "not changing the API", so it could end up in 4.1.0?

[2020-03-02 14:37] dietmarw commented on #3460
No because the conversion script would change the user library so it can work with the new MAJOR version. It will no longer be able to work with the previous version. Conversion script is a one-off operation to the user library.

[2020-03-02 15:34] tobolar commented on #3445
`Modelica.Mechanics.MultiBody.Frames` defines functions to perform all common operations on (position, etc.) vectors and tensors needed for a multi-body models. Whatever you intend to do, please use consequently functions included in this package. The functions shall be sufficiently documented.
I suppose you intend to do something like:
[code]
This shall, actually, work. Please try.

[2020-03-02 16:05] dariomangoni commented on #3445
Exactly. Now, what do you expect from the rotation example that you gave me?
Do you expect `v2={0, 1, 0}` or `v2={0,-1,0}`?
Because I think you'll be surprised about the result.

[2020-03-02 16:44] tobolar commented on #3445
Well I would expect `v2={0,-1,0}`. And this is what actually I get.
[code]
Dymola: `//  = {6.123233995736766E-17, -1.0, 0.0}`

But maybe you can better specify what part of documentation is not clear to you. I could try to improve it.

[2020-03-02 18:15] christiankral opened #3474 "Improve doc strings and documentation of FluidHeatFlow"
The doc strings and the HTML documentation of the FluidHeatFlow library shall be improved.

Examples:

- improve the wording of strings containing the term `over`, e.g. `Source2 over Ambient`
- Use more precise explanations, e.g., `Temperature increase of coolant in pipe with respect to temperature of inflow connector`

[2020-03-02 19:26] #3276 closed

[2020-03-02 19:43] beutlich commented on #1575
Removing milestone.

[2020-03-02 19:45] beutlich commented on #3409
Resolved in master and maint/3.2.3 branches.

[2020-03-02 19:45] #3409 closed

[2020-03-02 19:46] beutlich commented on #2686
Removing milestone.

[2020-03-02 19:50] beutlich commented on #2695
Remvong milestone.

[2020-03-02 19:52] beutlich commented on #3305
Removing milestone.

[2020-03-02 19:54] beutlich commented on #3425
Since there is an open PRs for "Blocks" I am removing the milestone.

[2020-03-02 19:55] beutlich commented on #2975
I believe most of the sub-libraries are done.

[2020-03-02 19:55] #2975 closed

[2020-03-02 23:10] casella commented on #3412
Regarding `Modelica.Fluid.Examples.AST_BatchPlant.BatchPlant_StandardWater.BatchPlant_StandardWater`, in PR #2925 I changed the `dp_nominal` values of the valves by about 1000 Pa to improve the numerical conditioning of the system. As a consequence, discrepancies of up to 1000 Pa in the pressures are to be expected, and they are ok. I understand all other variables basically have the same values,

[2020-03-02 23:15] casella commented on #3412
Regarding `Modelica.Fluid.Examples.HeatingSystem.HeatingSystem`, in #3236 I changed the medium model to a much simpler fluid model with constant cp, that is appropriate for the temperature and pressure range of the system, and leads to faster and more robust simulation. The very small change in the enthalpies is the consequence of the slightly different value of cp, and is absolutely acceptable.

[2020-03-03 00:33] casella commented on #3412
@beutlich, @christiankral, @kristinmajetta, @christophclauss,  I also had a look at all the opamp example results. The opamp voltage output is completely different in all cases.

The examples have been restructured to use inheritance, I thought the intention was to end up with the same results, but apparently this is not the case.

I focused on one specifica case, namely LowPass. I tried to [blame

[2020-03-03 00:56] casella commented on #3435
@beutlich, I just checked all the Modelica.Fluid examples on branch v4.0.0-beta.1 using Dymola 2020x and pedantic mode, but I don't get any error or warning. Can you please report which errors do you get?

[2020-03-03 02:21] casella opened #3476 "Reference trajectories of some variables in MSL 3.2.3 reference files only contain numerical noise"
We are testing the results obtained on MSL 3.2.3 models with StopTime annotation in OpenModelica, comparing the results to the reference files produced by MAP-LIB using the CSV compare tool.

In a number of electrical machine tests, we get verification failures because of a individual variables, named either `zeroInductor.i0` or `i_0_s,` that should probably be zero if an exact solution of the DAE

[2020-03-03 02:29] casella opened #3477 "Reference trajectories of chaotic systems should be limited to a short interval"
We are testing the results obtained on MSL 3.2.3 models with StopTime annotation in OpenModelica, comparing the results to the reference files produced by MAP-LIB using the CSV compare tool.

Some models show chaotic motion, so as time increases, it is inevitable that the trajectories obtained by any two different solvers or tools diverge, because of their inherent instability.

It is of course OK

[2020-03-03 02:35] casella opened #3478 "Reference results of model with very high frequency oscillations cannot be reliably reproduced"
We are testing the results obtained on MSL 3.2.3 models with StopTime annotation in OpenModelica, comparing the results to the reference files produced by MAP-LIB using the CSV compare tool.

Two variables of the [Modelica.Magnetic.FundamentalWave.Examples.BasicMachines.SMEE_Generator_MultiPhase](https://libraries.openmodelica.org/branches/newInst/Modelica_3.2.3/files/Modelica_3.2.3_Modelica.Magne

[2020-03-03 05:51] christiankral commented on #3476
Refs  #3472

[2020-03-03 06:04] christiankral commented on #3412
I guess @ahaumer shall comment on this issue, as he updated the models

Refs https://trac.openmodelica.org/OpenModelica/ticket/5857

[2020-03-03 06:07] christiankral commented on #3412
Same here @AHaumer shall comment on this issue, as he changed the models

[2020-03-03 06:49] christiankral commented on #3476
I will take care of this issue later today

[2020-03-03 07:46] MartinOtter commented on #3425
This is fine from my side

[2020-03-03 07:49] #1855 closed

[2020-03-03 07:56] MartinOtter commented on #3460
Fine for me

[2020-03-03 08:42] HansOlsson commented on #3445
I believe that the issue is that "rotating a vector 90 degrees" as @dariomangoni wants is simply not the mind-set of MultiBody libraries.

Instead the mind-set is that vectors can be transformed between different reference frames.

The function resolve1 more closely corresponds to rotating a vector in that sense (it takes a vector in a rotated reference frame and returns it in the non-rotated refe

[2020-03-03 09:10] HansOlsson commented on #3476
Another possibility would be to redesign the comparison tool to have some "absolute tolerance" for these variables, as just removing them from comparison mean that we accept any value for them, even a linear trend going up to 1e10 or so. (Obviously that tolerance could be used to reduce the reference trajectory to basically 0 if that reduces storage requirements.)

[2020-03-03 09:54] dariomangoni commented on #3445
Yes, exactly what @HansOlsson said.
But I think it shouldn't be just a "mindset", but a proper description in the documentation.

From the documentation I read that planarRotation returns an
"orientation object R that describes the orientation to **rotate in the plane** along unit axis e from frame 1 into frame 2"
then by doing R*v1 I would expect that v1 is rotated as the planarRotation argument

[2020-03-03 10:21] christiankral commented on #3476
I fully agree with @HansOlsson that from a quality assurance point of view it makes more sense to specify an absolute tolerance for the zero sequence components of the electric machine simulation examples (and possibly some other variables of other models, too). If we delete the zero sequence components from the list of reference signals we are not able to catch drift errors of the zero sequence c

[2020-03-03 10:29] carlj-w opened #3479 "Modelica.Clocked.Examples.Systems.Utilities.ComponentsThrottleControl.Engine uses shiftSample with parametric resolution on an event clock"
_Modelica.Clocked.Examples.Systems.Utilities.ComponentsThrottleControl.Engine_ has an event clock (_engine.crankshaftPositionEvent_) defined in the component _engine_. This clock is used as input to _engine.inductionToPowerDelay_, where it defines the clock of _engine.inductionToPowerDelay.delay_, which is an instance of _Modelica.Clocked.RealSignals.NonPeriodic.FractionalDelay_.

Now, _Fractional

[2020-03-03 11:01] christiankral commented on #3476
After re-thinking this issue I see an alternative which does not require to check the zero sequence currents with an absolute tolerance:

- Remove the zero sequence current from the reference list
- Add at least one phase current, e.g. `aimc.is[1]`, to the reference list

Each phase current does include the zero sequence component. Therefore, checking at least one phase current should inherently r

[2020-03-03 12:48] sebi-n opened #3481 "Question concerning the triple point of water"
I have a question concerning `Modelica.Media.WaterIF97_ph`. I am using this package to model the evaporation of water in a plate heat exchanger at very low pressures. In reality it is also possible that freezing occurs on the plate heat exchanger if the triple point of water is reached (T = 0.01°C, p = 611.657 Pa). However, if I come near this triple point in my simulations, I receive the warning

[2020-03-03 12:54] thorade commented on #3481
IF97 only covers the fluid region, no solid/ice.
IAPWS has equations for ice also, see http://iapws.org/release.html
I am not aware of a Modelica implementation of that, not even any open-source implementation.

[2020-03-03 14:51] christiankral commented on #3476
@AHaumer do you agree?

[2020-03-03 15:34] christiankral commented on #3478
I am afraid I do not exactly understand this issue. When I simulate the MSL 3.2.3 with Dymola 2020 I get the following result:

![image](https://user-images.githubusercontent.com/4184218/75790381-683e0400-5d6b-11ea-8fc3-a039b5fc6922.png)

The period of these oscillations is exactly 0.02 s close to the stop time of the simulation.

If I simulate the same example with OpenModelica 1.16.0~dev-210-g53

[2020-03-03 15:37] christiankral commented on #3478
One more note: I noticed that you simulate this model with a tolerance of [1E-6](https://libraries.openmodelica.org/branches/newInst/Modelica_3.2.3/files/Modelica_3.2.3_Modelica.Magnetic.FundamentalWave.Examples.BasicMachines.SMEE_Generator_MultiPhase.diff.html) where the description of the simulation is based on [1E-7](https://github.com/modelica/MAP-LIB_ReferenceResults/blob/v3.2.3/Modelica/Magn

[2020-03-03 15:45] maltelenz commented on #3478
The model clearly states it should be simulated with 1E-6 in [the experiment annotation](https://github.com/modelica/ModelicaStandardLibrary/blob/maint/3.2.3/Modelica/Magnetic/FundamentalWave.mo#L4580). If the result cannot be reproduced with that experiment annotation, maybe the experiment annotation needs to be changed?

[2020-03-03 16:09] christiankral commented on #3478
@GallLeo I assume that the reference results are created with the tolerance [1E-7](https://github.com/modelica/MAP-LIB_ReferenceResults/blob/v3.2.3/Modelica/Magnetic/FundamentalWave/Examples/BasicMachines/SMEE_Generator_MultiPhase/creation.txt). When comparing a particular version of the library with the reference results, the default tolerance 1E-6 is used. Is the way how the comparison is suppos

[2020-03-03 16:22] maltelenz commented on #3478
The baseline generation uses more intervals and a tighter tolerance (as you can see in the creation.txt linked above). This is generally a good thing, I think. However, in my opinion, this has to be combined with an experiment setting in the model that makes it possible to reproduce the reference result accurately.

For this specific example, we (Wolfram SystemModeler) have to run the simulation w

[2020-03-03 16:31] HansOlsson commented on #3478
But (ideally) the trajectory with fewer output points should match the reference in these output points it generates, so for verifying the reference results it is more a matter of exactly how the verification is done.

For the experiment-annotation it is more a matter of whether the result "looks good". If there are high-frequency oscillations we should avoid obvious aliasing-effect that completel

[2020-03-03 16:47] maltelenz commented on #3478
If the output points are a multiple, comparing them only in the points the trial result has data may work, but this is not generally true.

This is the beginning of the simulation for the model in question:
![SMEE_MultiPhase](https://user-images.githubusercontent.com/329963/75798054-53b33900-5d76-11ea-9455-04fcf8443b09.png)

As you can see, we exactly match the baseline results if we have the exac

[2020-03-03 17:04] HansOlsson commented on #3478
Correct, I was only thinking of a multiple of the base-line - since I would assume that people usually do rather large changes of the interval.

And in this case the interval was multiplied by 0.5 according to creation.txt; so a clear multiple.

I don't see a major difference between our two positions, as one normally wants to evaluate something based on the trajectory - and whether that will be a

[2020-03-03 23:58] casella commented on #3460
I'm confused. @beutlich mentioned 4 days ago that this change could end up in 4.1.0, which is a MINOR version. Do I miss something?

[2020-03-04 00:07] casella commented on #3476
Sorry @christiankral, I remembered seeing some notification about this issue, but I couldn't figure out where it was. Thanks for reporting.

[2020-03-04 00:09] casella commented on #3476
I also agree that in principle we should check that the zero component is indeed close to zero. Unfortunately we can't do that with the current specification. @christiankral, feel free to open an issue about this on the ModelicaLanguage tracker.

[2020-03-04 01:16] casella commented on #3478
The fact that the models simulates in the CI (which runs on Linux) and fails in Windows is odd, we need to investigate that.

[2020-03-04 01:56] casella commented on #3478
I had a closer look at our CI report plots. In fact, I don't think the problem is that we don't have enough data points, the problem is that the reference signal and our signal are slightly different. In some intervals (e.g. around 0.1) they coincide at the minimum and maximum, in other intervals (e.g. around 6.7) they coincide around zero.

Also, if you switch off the high, low, and error signals

[2020-03-04 07:28] #2686 closed

[2020-03-04 07:32] dietmarw commented on #3460
He said " MSL v5.0.0 or v4.1.0" and it will depend what the exact nature of the change is.

[2020-03-04 11:58] christiankral commented on #3478
I confirm, using the simulation tolerance 1E-7 leads to a successful simulation result in OpenModelica 1.16.0~dev-211-g31c432b:

![image](https://user-images.githubusercontent.com/4184218/75877311-b27cbf00-5e17-11ea-8d32-933144861698.png)

[2020-03-04 13:01] HansOlsson commented on #3476
Can you please **stop spreading false statements** about things missing in the specification?

That is not a language issue, it is an issue for the tool checking the simulation results.

In the Modelica Language "close to zero" is already defined, using the nominal attribute for variables (since Modelica 1.2) and the unbounded attribute (since Modelica 3.4).

The following is already recommended f

[2020-03-04 14:49] christiankral commented on #3476
When investigating `Modelica.Electrical.Machines.Examples.InductionMachines.IMC_YD` I found that the peak value of the zero sequence current `aimc.i_0_s` becomes

- greater than 1E-6 A using the standard tolerance 1E-6 (in Dymola 2020)
- greater than 1E-7 A using the standard tolerance 1E-7 (in Dymola 2020)

I could unfortunately not create a simulation results with OpenModelica for comparison rea

[2020-03-04 14:57] Daiwen opened #3483 "Incompatible record argument used in a function call"
In `Modelica.Fluid.Dissipation.PressureLoss.StraightPipe.dp_twoPhaseOverall_DP` we define `DP_fric` as follow:

      SI.Pressure DP_fric = if IN_con.frictionalPressureLoss == TYP.Friedel then Modelica.Fluid.Dissipation.Utilities.Functions.PressureLoss.TwoPhase.dp_twoPhaseFriedel_DP(IN_con, IN_var, m_flow) else if IN_con.frictionalPressureLoss == TYP.Chisholm then Modelica.Fluid.Dissipation.Utilit

[2020-03-04 15:25] HansOlsson opened #3484 "No build project for ModelicaExternalC"
There is no VisualStudio project for ModelicaExternalC.

This is **not blocking** for MSL 4.0.0, since tool vendors are anyway responsible for those libraries.

For any tool that has existing build projects, note that they might need an update due to #2994 (for Dymola 2020x  see also https://github.com/modelica/ModelicaStandardLibrary/pull/3453#issuecomment-592506380_ ).

[2020-03-04 16:41] HansOlsson commented on #3483
TL:DR: Seems we have to use the old record constructor for this.

Full text:
Looking at the previous ticket it was originally about assignment and pointed to https://specification.modelica.org/v3.4/Ch10.html#equality-and-assignment and it isn't immediately clear that the same rules apply to function calls. However, https://specification.modelica.org/v3.4/Ch12.html#positional-or-named-input-argumen

[2020-03-04 17:30] beutlich commented on #3484
There cannot be a generic build project due to tool-specific implementations of ModelicaServices.ExternalReferences.loadResource and the ModelicaUtilities. Therefore, I believe, both build and distribution of ModelicaExternalC .{dll, lib, so, a, etc} is in the tool-vendor's repsonsibility.

[2020-03-05 12:15] HansOlsson commented on #3484
Ok, makes sense.

[2020-03-05 12:15] #3484 closed

[2020-03-05 12:34] sjoelund commented on #3484
The ModelicaUtilities is totally separate and of course the tool's responsibility. But ModelicaExternalC can be compiled in a mostly tool-neutral way (provided you use the same OS and/or compilers). There is nothing special in `../../C-Sources/ModelicaFFT.c ../../C-Sources/ModelicaInternal.c ../../C-Sources/ModelicaRandom.c ../../C-Sources/ModelicaStrings.c`; the tables is perhaps the trickiest on

[2020-03-05 18:37] beutlich commented on #3477
Duplicate of #1741.

Added also to #1741.

#1741 proposes different resolutions, also in Modelica language itself. The pragmatic solution for now and MSL v4.0.0 is to only compare the initial system and simply ignore these models from regression.

[2020-03-05 21:22] AHaumer opened #3486 "Modelica.Utilities.Files.loadResource has changed?"
I'm just testing a few of my libraries with MSL 4, and I found the following:
`    Modelica.Utilities.Files.loadResource("modelica://EMOTH/Resources/DrivingCycles/WLTC.txt"),`
worked previously fine. Now with MSL 4 the absolute path name is returned wrong:
C://work/modelica://EMOTH/Resources/DrivingCycles/WLTC.txt
i.e. withput removing modelica://

[2020-03-05 21:29] beutlich commented on #3486
From a mail sent by @HansOlsson previously to some members by mail:

Loading the correct ModelicaServices means:

* Load MSL

* Ensure that Tools>Options>Package Browser: Show protected classes is active (in Dymola 2020 that is Edit>Options> Package Browser: Show protected).

* ModelicaServices (if loaded), context menu>UnLoad (in rare cases you might have to do this twice)

* Open ModelicaService

[2020-03-05 21:38] christoff-buerger commented on #3486
@AHaumer: Like @beutlich said, the issue is likely that you loaded the default MSL Modelica Services, which is just a mockup/dummy each tool must implement itself.

Besides file handling etc (`Modelica.Utilities.*`) also animations are not implemented in the default services. Thus, when you simulate the robot (`ModelicaStandardLibrary.Modelica.Mechanics.MultiBody.Examples.Systems.RobotR3.FullRobot

[2020-03-05 21:42] christoff-buerger commented on #3486
Btw, we also have a new Modelica Services for MSL 4.0.0 because some things required changes (I think one is the SI unit handling!). @HansOlsson: I think we should organise how to distribute tool vendor specific `Modelica_Services` properly; this is not only a Dymola issue and we should somehow come up with a proper MAP-LIB solution such that its developers do not run into this stupid problem.

[2020-03-05 21:44] christoff-buerger commented on #3479
Just a short feedback: I have this on my radar and will look into it next Monday/Tuesday.

[2020-03-05 21:46] beutlich commented on #3486
There once was a decision to exclude all vendor-specific implementations of ModelicaServices from the MSL.

You could have the ModelicaServices in a separate repo instead.

[2020-03-05 22:05] AHaumer opened #3487 "Missing conversion for "airGapS"?"
I've to check once again:
In a model, I'm accessing `machine.airGapS.psi_ms` which should be converted to `machine.airGap.psi_ms` since the instance name has changed.

[2020-03-05 22:17] AHaumer commented on #3486
Thanks @beutlich now it works, but that's really annoying with Modelica_Services:
I you change Modelica_Services and ignore the warning, then open my lib, no conversion is done.
I have to open (and convert) my lib first, then change Modelica_Services.
Maybe that's a tool issue ...
Shall I close this issue?

[2020-03-06 07:01] dietmarw commented on #3487
@AHaumer Could you give some more details? In which model are you accessing it. Looking for `airGapS` we have currently this conversion rule:

https://github.com/modelica/ModelicaStandardLibrary/blob/master/Modelica/Resources/Scripts/Conversion/ConvertModelica_from_3.2.3_to_4.0.0.mos#L1754-L1756

[2020-03-06 09:08] beutlich commented on #3486
It is a similar tool issue as #3484 for ModelicaExternalC.

[2020-03-06 09:12] tobolar commented on #3486
Unfortunately, there is one more step needed. In ModelicaServices 4.0.0, there was added `ModelicaServices.Animation.Vector`. So it may be necessary for some models/examples to also add this empty model to vendor-specific implementation. (I.e. also for those 3.2.3 version from Dymola 2020x.)

[2020-03-06 10:01] tobolar commented on #3420
@beutlich , @MartinOtter

Independent of this, there are stil unresolved questions in https://github.com/modelica/ModelicaStandardLibrary/issues/3420#issuecomment-589566805.

So especially:
1. How to convert?
   1. Ignore s_offset, as does the current conversion or
   2. to convert to obsolete classes?
2. How/where to inform a user about this.

[2020-03-06 10:07] beutlich commented on #3420
I can only repeat myself:

[2020-03-06 11:12] AHaumer commented on #3487
I've tried to isolate a test model out of my lib and tested once more: conversion correct.
Sorry, closing ticket.

[2020-03-06 11:12] #3487 closed

[2020-03-06 15:27] beutlich commented on #3486
You can use this Dymola-specific [ModelicaServices](https://github.com/beutlich/ModelicaStandardLibrary/blob/add-Dymola-specific-ModelicaServices/ModelicaServices/package.mo) I needed myself for the creation of the simulation results. I also documented it in the [Wiki](https://github.com/modelica/ModelicaStandardLibrary/wiki/Regression-testing-of-Modelica-and-ModelicaTest#run-the-pedantic-check).

[2020-03-06 15:27] #3486 closed

[2020-03-06 15:30] tobolar commented on #3486
This is a possible but surely not optimal solution.

[2020-03-06 15:40] beutlich commented on #3486
Well, this question comes up with every new release. We simply need to be pragmatic now.

I'll leave it to the new project leaderboard to update the currently detected short-comings w.r.t. processes and the [release cycle](https://github.com/modelica/MAP-LIB_ProjectRules/blob/master/MAP-LIB_ProjectRules.md#annex-7-recommended-release-schedule).

[2020-03-06 15:44] HansOlsson commented on #3486
We will also try to be better in tools.
Checking that ModelicaServices.target is correct seems like a good idea; except that it isn't implemented yet.

[2020-03-07 08:27] beutlich commented on #3435
Here the warnings:

[code]

[code]

[code]

[code]

[code]

I can no longer reproduce Modelica.Fluid.Examples.InverseParameterization.

[2020-03-07 17:16] #3478 closed

[2020-03-07 18:27] AHaumer commented on #3412
I have to admit: It's hard to remember why, but I've changed the 4 OpAmp-examples.
There are 2 optons:

1. Just accept the changes of the examples and define new reference results.
2. I prepared a PR where these 4 OpAmp-examples have been changed to produce the same results as the old examples.

[2020-03-07 19:23] beutlich commented on #3412
OpAmp changes have been introduced by #2979. If we lack a proper motivation, I am in favour of option 2.

[2020-03-07 19:23] #3412 closed

[2020-03-09 14:21] wischhusen opened #3493 "Saturation properties record must be redeclared in WaterIF97_base package"
In order to allow a record constructor for SaturationProperties like in the example below it needs to be redeclared in the medium package Water.WaterIF97_base first.
   Modelica.Units.SI.SpecificEnthalpy h_dew=Medium.dewEnthalpy(Medium.SaturationProperties(Tsat=Medium.saturationTemperature(state.p), psat=Medium.pressure(state)));

See R134a.R134a_ph for example.

redeclare record extends Saturatio

[2020-03-09 17:02] #3483 closed

[2020-03-10 09:16] wischhusen commented on #1575
The following model can only be translated if I change R134a.R134a_ph.setState_phX in the following way:

redeclare function extends setState_phX
  "Set state for pressure and specific enthalpy (X not used since single substance)"
algorithm
  state := ThermodynamicState(phase=0, p=p, h=h, d=density_ph(p, h), T=temperature_ph(p, h));
end setState_phX;

model R134aTest
  package SI=Modelica.Units.SI

[2020-03-10 09:29] dietmarw commented on #1575
Just since I see this. Please do not use this construct:

The proper way is:
`import Modelica.Units.SI;`

[2020-03-10 10:25] henrikt-ma commented on #3476
Please don't remove signals from comparison just because they appear as numeric noise around zero (or some other constant).  These are still useful for our testing of SystemModeler, as we aren't affected by the shortcomings of the CSV compare tool.

Thanks,

Henrik

[2020-03-10 14:32] HansOlsson commented on #3455
(In addition to #3492) I found the following additional issues:

- [ ] Modelica.Electrical.QuasiStationary.SinglePhase.Sensors.CurrentSensor had arg_i instead of arg_v as new connector name in conversion script.
 -[ ] Modelica.Media.Air.MoistAir.specificInternalEnergy_pTX had conversion for R->R_s
 -[ ] Modelica.Media.Air.ReferenceAir.Air_Utilities.Basic, Modelica.Media.Air.ReferenceMoistAir.Utili

[2020-03-10 16:34] #3493 closed

[2020-03-10 21:07] #3455 closed

[2020-03-10 21:16] beutlich commented on #3479
@christoff-buerger Can you please estimate how severe this issue is w.r.t. the Beta.2 tag of the MSL v4.0.0?

[2020-03-10 21:18] christiankral commented on #3476
My investigations showed, that the actual zero sequence current components of different simulations models of the MSL vary by the factor 1E5. To pick the "correct" absolute tolerance is a non-deterministic and thus very empirical process. Additionally, different versions of different simulations tools may over and over again cause different results which may not be compared in a deterministic way.

[2020-03-11 10:58] AHaumer commented on #3472
I fully agree with @christiankral:
In most cases the zero sequence currents are zero, the results are numerical noise. They are no appropriate signals for reference results. It would be much better to compare one of the phase currents,

[2020-03-11 11:02] AHaumer commented on #3476
See #3472 full ack with @christiankral
IMHO zero sequence currents have to be removed frm the reference results, and compare phase currents instead.

[2020-03-11 11:37] HansOlsson commented on #3476
I agree @henrikt-ma that we shouldn't just remove reference results since the comparison cannot handle small changes around zero.

Since we cannot quickly redesign the comparison tool I could see two possible solutions:

- Keep the signals in the result file, but mark them as being ignored/zero in some way (that should be easy to implement in the comparison tool)
- If we really remove them, keep a

[2020-03-11 12:31] AHaumer commented on #3476
I'd remove the zero sequence currents permanently, except in rare cases where they aren't supposed to be zero or near zero. Otherwise we'll face the sane problems afain and again.

[2020-03-11 12:33] AHaumer commented on #3476
Is it allowed to include comments in comparisonSignals.txt?
We could comment out the zero sequence currents.

[2020-03-11 12:50] beutlich commented on #3476
File comparisonSignals.txt is meant to contain the comparison signals.

[2020-03-11 13:04] AHaumer commented on #3476
ok but comments // could be usefull ...

[2020-03-14 08:34] beutlich commented on #2969
@wischhusen There is a floating-point overflow at simulation start time for Nu[3] in Modelica.Fluid.Dissipation.HeatTransfer.HeatExchanger.kc_roundTube_KC which is not covered. Therefore, either the test model  ModelicaTest.Fluid.Dissipation.Verifications.HeatTransfer.HeatExchanger.kc_roundTube or the called function Modelica.Fluid.Dissipation.HeatTransfer.HeatExchanger.kc_roundTube_KC need to be

[2020-03-14 10:04] beutlich commented on #1539
@HansOlsson @sjoelund Can you please regenerate the class coverage based on MSL v4.0.0-beta.2? Thanks.

[2020-03-15 09:47] beutlich commented on #3476
Done, see https://github.com/modelica-tools/msl-release/pull/3.

[2020-03-16 11:18] beutlich commented on #3435
@AHaumer @christiankral Can you please have a look at Modelica.Blocks.Examples.PID_Controller. It is not a big deal to set this initial condition (somewhere hidden in the component), the actual trouble is, if PID is missing such an option generally.

[2020-03-16 12:41] christiankral commented on #3435
@beutlich So this means that we actually need a new ticket to consistently set the initial conditions in each case of controller configurations (P, PI, PD, PID).

[2020-03-16 12:51] beutlich commented on #3435
Yes, that is the question I was asking myself.

[2020-03-16 20:59] beutlich commented on #2968
Should all be fixed by the newly created reference results of upcoming MSL 3.2.3 Build.4: https://github.com/modelica/MAP-LIB_ReferenceResults/commits/v3.2.3%2Bbuild.4

[2020-03-16 20:59] #2968 closed

[2020-03-17 11:18] christoff-buerger commented on #3479
@carlj-w: I do not think that `Evalute = true` annotations are the way to go. The reason is simple: `RealSignals.NonPeriodic.FractionalDelay` components can be used also in non-event-clock based partitions, where the resolution very well can be different from 1.

Instead, I think the model can be made safe by _forceful_ preparation of the `Examples.Systems.Utilities.ComponentsThrottleControl.Induc

[2020-03-18 15:08] maltelenz opened #3510 "Vehicles ModelicaTest model without comparison signals"
The model `ModelicaTest.Translational.Vehicles` does not have any comparison signals defined:

https://github.com/modelica/ModelicaStandardLibrary/blob/master/ModelicaTest/Resources/Reference/ModelicaTest/Translational/Vehicles/comparisonSignals.txt

Is this an oversight? I don't immediately see why this model would be unsuitable/unnecessary for correctness testing.

[2020-03-18 15:15] HansOlsson commented on #1539
I reran `ModelManagement.Check.checkLibrary(false, condCov=false, styleCheck=false, name="Modelica", testFileDirectory="ModelicaTest", filter=true, localCoverage=true, translationStructure=false);` on trunk.
Which for our code required some conversions of additional libraries https://github.com/modelica/Modelica_LinearSystems2/pull/72

I have attached the log.

[Modelica_HTML_log.zip](https://gith

[2020-03-19 08:59] #3510 closed

[2020-03-19 12:45] maltelenz opened #3513 "Weird parameter description in Clocked mentions inferShift"
In https://github.com/modelica/ModelicaStandardLibrary/blob/master/Modelica/Clocked/BooleanSignals/Sampler/ShiftSample.mo#L7
The description says:

I can't figure out what `inferShift` is supposed to refer to. There is no such parameter, and I can't find a mention in the language specification either.

[2020-03-19 13:47] maltelenz opened #3516 "Questionable initialization in 4.0.0 beta 2 reference results for BackSample"
In the [reference results](https://github.com/modelica/MAP-LIB_ReferenceResults/blob/v4.0.0-beta.2/Modelica/Clocked/Examples/Elementary/BooleanSignals/BackSample/BackSample.csv#L2) for `Modelica_Synchronous.Examples.Elementary.BooleanSignals.BackSample` the initial value for `shiftSample1.y` is `0`.

In the model [we have](https://github.com/modelica/ModelicaStandardLibrary/blob/master/Modelica/Cl

[2020-03-19 13:58] #3513 closed

[2020-03-19 16:27] HansOlsson commented on #1539
I realized that I missed computing the simple statistics based on that.

The class coverage is now 83.3% up from 79.3%.
The number of classes increased from 2191 to 2431, i.e. 240 new classes.
The covered classes increased from 1739 to 2024, i.e. 285 more.

[2020-03-19 16:43] beutlich commented on #1539
Thanks a lot for the information.

[2020-03-20 07:49] beutlich commented on #1539
It's also available [here](https://gistpreview.github.io/?ef7741a7e8cc8949debbc684573d3086) directly in browser.

[2020-03-20 07:55] dietmarw commented on #1539
@HansOlsson I was wondering if Dymola is able to output the coverage in a slightly different format simply listing the full class name and the amount of usage all in one line.
E.g., instead of:
[code]
something like this:
[code]
That kind of format would make it much easier to grep and filter and create a reduced (working) list.

[2020-03-20 07:59] dietmarw commented on #1539
And simple text format would be sufficient for the post-processing application.

[2020-03-20 08:03] beutlich commented on #1539
Sorted by names or by number of occurences (as https://test.openmodelica.org/libraries/MSL_trunk/Coverage.txt does)? (By the way, that MSL_trunk in OpenModelica is not related to MSL v4.0.0.)

[2020-03-20 08:09] dietmarw commented on #1539
Yes that would be perfect. @sjoelund Is there a more up to date listing available?

[2020-03-20 08:43] dietmarw opened #3517 "Conversion of SI fails."
The following testmodel currently fails the conversion (tested with Dymola 2020 and 2021 beta):
[code]
The converted version looks like this:
[code]
So the conversion of `p1` fails.

It looks to me this is a tool issue, do you agree @HansOlsson ?

[2020-03-20 09:04] HansOlsson commented on #1539
Not at the moment as far as I know. I will see if we can prioritize it.

[2020-03-20 13:56] HansOlsson commented on #3517
Yes, and it is the same issue as in https://github.com/modelica/Modelica_LinearSystems2/pull/72

The tool-issue was specific to this combination of conversions and import-statements; and thus it hadn't been detected before.

[2020-03-20 14:37] #3517 closed

[2020-03-20 16:20] maltelenz opened #3518 "Questionable reference result for Modelica.Electrical.Analog.Examples.OpAmps.DifferentialAmplifier"
In the [reference results](https://github.com/modelica/MAP-LIB_ReferenceResults/blob/v4.0.0-beta.2/Modelica/Electrical/Analog/Examples/OpAmps/DifferentialAmplifier/DifferentialAmplifier.csv#L3769) for the `Modelica.Electrical.Analog.Examples.OpAmps.DifferentialAmplifier`, at time `0.18945` there is a really odd jump in the `opAmp.v_out` variable:

![DifferentialAmplifier](https://user-images.githu

[2020-03-20 18:40] AHaumer commented on #3518
I can't reproduce that odd jump with Dymola 2020 and tolerance 1e-6.
Maybe the reference result was taken before we changed the tolerance?

[2020-03-20 19:09] #3479 closed

[2020-03-20 19:29] beutlich commented on #3518
It is reproducible with tolerance=1e-7.

[code]

[2020-03-21 12:48] beutlich commented on #3518
I uploaded the new reference file by https://github.com/modelica/MAP-LIB_ReferenceResults/commit/432e32b53c612c5d8448c50516afab67312507b6

Still, I want to keep this issue open as a reminder for @HansOlsson to analyze the solver issue.

![grafik](https://user-images.githubusercontent.com/14896695/77226696-9c426300-6b7a-11ea-872d-cacb818c64fa.png)

[2020-03-23 08:35] maltelenz commented on #3518
SystemModeler passes correctness against the updated reference results, thank you @beutlich.

[2020-03-23 08:40] beutlich commented on #3518
Thanks for confirmatio. Still a workaround only, since those updated ref results have to created manually.

[2020-03-24 11:44] maltelenz opened #3520 "Insufficient reference result quality for Engine1b models"
Trying to verify correctness for the model `Modelica.Mechanics.MultiBody.Examples.Loops.Engine1b_analytic` in 4.0.0, I get the following results for `inertia.w`:

![engine1banalytic](https://user-images.githubusercontent.com/329963/77421262-ca6ab180-6dcb-11ea-86dc-13ef01fbbd75.png)

The plot contains the end of the simulation, plotting `inertia.w` for 4 simulations of the same model:

* Simulation

[2020-03-24 11:47] sjoelund commented on #3520
I believe @casella is collecting the regressions for OpenModelica https://libraries.openmodelica.org/branches/newInst/Modelica_trunk/files/Modelica_trunk_Modelica.Mechanics.MultiBody.Examples.Loops.Engine1b.diff.inertia.w.html fails with the 4.0.0 reference files, but it used to work with the 3.2.3 reference files and the model from the master branch.

[2020-03-24 11:56] maltelenz commented on #3520
@sjoelund Out of curiosity, what does "high" and "low" mean in the linked plot?

[2020-03-24 12:00] sjoelund commented on #3520
If the signal is within high and low, we consider it to be the same as the reference. In the case of this engine, the problem is that the period in this signal becomes shorter and shorter, but the reference files does not have tighter samples here. Having more samples should solve the problem.

[2020-03-24 13:50] maltelenz opened #3521 "Superfluous file in reference results"
Is there a reason for the presence of this file, or is it just an accident?

https://github.com/modelica/MAP-LIB_ReferenceResults/blob/v4.0.0-beta.2%2B412d17023/ModelicaTest/Media/TestOnly/R134a_setState_pTX/MoistAir.csv

[2020-03-24 13:57] beutlich commented on #3521
Can you please create a PR to remove that (and other) CSV file(s). Thanks.

[2020-03-24 14:20] maltelenz commented on #3521
I guess I should push my pull request branch directly to the modelica/MAP-LIB_ReferenceResults repo, since it is a private repository?

[2020-03-24 14:28] beutlich commented on #3521
Ah, wrong repo. Let me see if I can transfer the issue.

[2020-03-24 14:30] beutlich commented on #3521
Done directly in browser: https://github.com/modelica/MAP-LIB_ReferenceResults/commit/5b013acbeef53b432faccbdac8d7dbabe5c104b4

[2020-03-24 14:30] #3521 closed

[2020-03-24 14:32] maltelenz commented on #3521
For what it's worth, this was the only weird csv file I found.

[2020-03-24 14:34] beutlich commented on #3521
Probably some leftover when I tested locally. And CSV is not in gitignore for reasons 😄

[2020-03-24 15:13] maltelenz opened #3523 "Jumps in signal at very tiny time intervals in PolyphaseTwoLevel_RL reference results"
In the [reference results](https://github.com/modelica/MAP-LIB_ReferenceResults/blob/v4.0.0-beta.2/Modelica/Electrical/PowerConverters/Examples/DCAC/PolyphaseTwoLevel/PolyphaseTwoLevel_RL/PolyphaseTwoLevel_RL.csv) for `Modelica.Electrical.PowerConverters.Examples.DCAC.PolyphaseTwoLevel.PolyphaseTwoLevel_RL` there are two subsequent jumps at an extremely short distance from each other. You can see

[2020-03-25 11:00] AHaumer commented on #3523
I can't reproduce that with Dymola, I can't zoom in beyond a resolution of ~1e-7.
I can't say that this is expected, but IMHO it's possible - depending on tolerance and event handling.
There are time events (fundemantalWaveVoltage, fundemantalWaveCurrent, signalPWM) and state events (signalPWM, inverter). It could happen that a state event is iterated within a very short time span before or after

[2020-03-26 07:40] sjoelund commented on #1539
MSL_trunk in OpenModelica is the same as the latest master, but that particular file didn't get updates since 2018. I'll see how long it takes to regenerate these files...

[2020-03-26 12:10] sjoelund commented on #1539
[count.txt](https://github.com/modelica/ModelicaStandardLibrary/files/4386988/count.txt)
I believe I could create a Jenkins pipeline to run that on new commits to the branches. The file itself is based on an 11 day old MSL since apparently that's what I latest recompiled on my machine.

[2020-03-26 12:14] beutlich commented on #1539
Cannot believe it, since there no longer is Modelica.SIunits in MSL.

[2020-03-26 12:26] sjoelund commented on #1539
Oh yeah, I forgot to change to the trunk version. Silly me.

[2020-03-26 13:12] sjoelund commented on #1539
[CountClasses.txt](https://github.com/modelica/ModelicaStandardLibrary/files/4387278/CountClasses.txt)
from [Jenkins](https://test.openmodelica.org/jenkins/blue/organizations/jenkins/ModelicaAssociation%2FModelicaStandardLibrary/detail/PR-3524/2/artifacts/) for #3524 (link to the artifacts is removed when that PR closes). Merge that PR if you want this to be generated continuously (cherry-pick it

[2020-03-27 11:00] Satinelamp opened #3525 "connect multi-dimensional components with multi-dimensional connectors in Modelica?"
This is an idea of extending Modelica to support connecting "multi-dimensional components with the zero-dimensional connector" to "one component with multi-dimensional connectors".
The idea is from [a question on stackoverflow](https://stackoverflow.com/questions/60797630/how-to-connect-multi-dimensional-components-with-multi-dimensional-connectors-in)

When I try to connect a 2-dimensional compon

[2020-03-28 13:11] beutlich commented on #3520
@christoff-buerger In e6c7cca59cd829f67b4d3c575b9a663ab2b0a0c0 you increased the simulation time of the Engine1b models from 0.5 to 5 seconds (to match the simulation time of the Engine1a model) which no introduces the high-frequency oscillations. I propose to reduce the simulation time again. See #3527.

[2020-03-28 14:46] beutlich commented on #3516
@bernhard-thiele @christoff-buerger @HansOlsson Can you please analyze. Thanks.

[2020-03-28 14:47] beutlich commented on #3468
@christiankral Is there anything left to do?

[2020-03-30 08:10] #3520 closed

[2020-03-31 13:16] HansOlsson commented on #3516
The result reference has another fundamental issue: at some level there is no value for clocked variables like "shiftSample1.y" when the clock doesn't tick. Ignoring that the reference result is correct as far as I understand.

The assumption above is based on solving the initialization problem in the usual way - but https://specification.modelica.org/v3.4/Ch16.html#initialization-of-clocked-parti

[2020-03-31 15:00] carlj-w commented on #3516
Just a small remark; section 16.9 does not state that start values are only important for variables which has previous applied on them - it says that a variable has _fixed = true_ iff it has previous applied on them. Start values obviously also matters for variables which are used as first argument to _backSample_ (which is the case here.)

One can note that section 16.5.2 does not actually say th

[2020-03-31 15:03] HansOlsson commented on #3516
Yes, that is how I interpret it.

[2020-04-01 08:34] beutlich commented on #3516
Can we close this issue as "worksforme"?

[2020-04-01 12:12] otronarp opened #3529 "Shouldn't quantity in PartialVector be a parameter or constant?"
https://github.com/modelica/ModelicaStandardLibrary/blob/aaec4268d27b4677088ffa792b439b24f7981f78/Modelica/Utilities/Internal.mo#L61

Why is `quantity` in `PartialVector` an `input`? To me it really doesn't make any sense to allow it to be time dependent.

[2020-04-01 14:23] maltelenz opened #3530 "Clock variables in reference results"
There are cases where we have clock variables (note, not clock**ed** variables) in reference results. [One such example](https://github.com/modelica/ModelicaStandardLibrary/blob/master/Modelica/Resources/Reference/Modelica/Clocked/Examples/Elementary/ClockSignals/SubSample/comparisonSignals.txt#L3) is `subSample.y` in `Modelica.Clocked.Examples.Elementary.ClockSignals.SubSample`.

In the reference

[2020-04-01 14:55] HansOlsson commented on #3530
I would prefer to remove it - as I don't think we can agree on a representation now.
And technically clock variables aren't a good fit for our current comparisons, as they are only defined when the clock ticks - which means that they don't really exist for most of the trajectory. For clock**ed** variables we can circumvent that by saying that we don't store x but hold(x), but there is nothing simi

[2020-04-01 15:21] maltelenz commented on #3530
I suspected as much.

I should be in a good place to prepare a pull request tomorrow to remove all clock variables from the lists of comparison signals, if that is what we wish to do.

[2020-04-01 17:44] beutlich commented on #3530
I was not aware of this issue when I created the comparisonSignals.txt for Modelica.Clocked as part of https://github.com/modelica/ModelicaStandardLibrary/pull/3348#issuecomment-584614256 w/o feedback from the library officers.

Yes, please go ahead.

[2020-04-01 22:50] christoff-buerger commented on #3516
Sorry for my late reaction. In the ongoing EMPHYSIS project, where we have a lot of clocked models, we are running into similar problems for real practical applications. I hoped I could give at least a glimpse where this may be heading and procrastinated answering this issue for quiet some time hoping for a good answer; unfortunately, this is really a bummer and not thought through in the _specifi

[2020-04-01 22:51] christoff-buerger commented on #3516
We can close as "doesn't work in _practice_ but correct according to the specification". :)

[2020-04-02 08:31] #3530 closed

[2020-04-02 08:46] carlj-w commented on #3516
So, I was looking at _Modelica.Clocked.Examples.Elementary.RealSignals.HoldWithDAeffects1_ (and _HoldWithDAeffects1_). Here we have a start value (0.5) for _hold.u_, and the clock starts ticking for _hold.u_ at time = 0.04.

In the references results we don't have a _hold.u_ as a reference signal, but we do have _shiftSample.y_. When the clock ticks, we have _hold.u = shiftSample.y_. According to

[2020-04-02 10:35] beutlich commented on #3516
Can you prepare a PR to remove these signals. Thanks.

[2020-04-02 14:12] HansOlsson commented on #3516
I agree with PR for replacing/removing those signals.

To clarify the issue:
In Dymola we don't view clocked signals as existing before (or after) the clock ticks.

However, if you add calls of hold we see that `.hold(shiftSample.y)` is 0 before the first clock tick, whereas `.hold(hold.u)` is 0.5.

You might notice a slight issue above - I will make a separate PR for that.

[2020-04-06 07:39] MartinOtter commented on #3420
As I recall, I wanted to make the definition of the joints simpler and at one point in time (probably 2007) changed parameter to constant so that this data is no longer visible in parameter menus. Dymola supported at that time to modify constants (during compilation; not during run-time). This is probably Modelica semantics because this feature is heavily used in Modelica.Media.

I am unsure what

[2020-04-06 08:55] #3516 closed

[2020-04-06 14:08] sjoelund opened #3535 "Some tag names are not semantic versions"
We have for example tags:

[code]

But according to https://semver.org/spec/v2.0.0.html, they should have been:
[code]
Is there a good reason for this?

[2020-04-06 15:37] beutlich commented on #3535
No. Apologies for my ignorance. Shall we rename these tags?

[2020-04-06 15:42] beutlich commented on #3535
Hm, according to https://regex101.com/r/vkijKf/1/ and the mentioned RegEx they should be valid, too.

[2020-04-06 15:53] sjoelund commented on #3535
https://semver.org/#is-there-a-suggested-regular-expression-regex-to-check-a-semver-string says they shouldn't be used. This might have been what changed in semver 2.0.0 though...
I think it's probably good to at least add the correct tags; unsure if the other ones should remain or not...

[2020-04-06 15:59] beutlich commented on #3535
The second RegEx of https://semver.org/#is-there-a-suggested-regular-expression-regex-to-check-a-semver-string is the one that works for the current tags.

[2020-04-06 16:22] sjoelund commented on #3535
Hmmm... It seems to be a valid identifier, but the meaning is then not a prerelease. It's a single build information that happens to contain a hyphen...

[2020-04-06 16:44] dietmarw commented on #3535
I agree with @sjoelund  and it slipped my attention too. After all we are doing a new release of `v3.2.3+build.3` of which some beta versions are tagged.

[2020-04-06 17:17] #3529 closed

[2020-04-07 05:49] sjoelund commented on #3535
Thinking about it, I guess since the old, bad tags are wrong but no invalid and will sort higher than the actual release... they should probably be removed.

[2020-04-07 05:56] beutlich commented on #3535
I read `v3.2.3+build.3-beta.1` from right to left as first beta of the third build of the 3.2.3 release. That is also intended interpretation. For `v3.2.3-beta.1+build.3` it is harder to get that interpretation.

[2020-04-07 06:04] sjoelund commented on #3535
That's because builds aren't supposed to be new versions. But according to semver, `v3.2.3+build.3-beta.1` is a build of the release called `build.3-beta.1`. And `v3.2.3-beta.1+build.3` is the third build of `beta.1`; it also won't sort the way you want but will at least be treated as a pre-release.

[2020-04-07 06:05] beutlich commented on #3535
I edited my above post.

[2020-04-07 06:22] sjoelund commented on #3535
I think the problem is once you start saying the version number is according to semver (with 4.0.0), and people (like me) try to fetch all releases and figure out which are the latest stable releases.

[2020-04-07 07:05] beutlich commented on #3535
So what to do? Leave the invalid tags as now or update the tags and get the undesired sorting?

[2020-04-07 07:15] sjoelund commented on #3535
As far as I can tell, you have the undesired sorting anyway, because
`v3.2.3+build.0-beta.1` > `v3.2.3+build.0` (due to the rule that identifiers with only numbers are always sorted as lower than other identifiers):

[2020-04-07 07:27] henrikt-ma commented on #3535
Since semver.org is only mentioned as source of inspiration, shouldn't we be explicit and write out the form of the version numbers used by MSL, even if it happens to be the very same form used by semver.org?

[2020-04-07 07:54] sjoelund commented on #3535
Actually, I'm wrong again. The build information is ignored when comparing versions... So they would all sort to the same thing. Maybe it would be OK to say how to sort based on the build information in that case... Maybe.

[2020-04-07 08:10] dietmarw commented on #3535
We really starting to **use** semver (inspired) from v4.0.0 on. Everything before was kind of a hack since there build is actually a PATCH level release. But we tried to have a orderly sequence of version numbers anyway. So this is just something we have to live with.

[2020-04-07 08:51] beutlich commented on #3535
So closing as worksforme?

[2020-04-07 08:57] dietmarw commented on #3535
Yes since the `v3.2.3+build.3-beta.1` scheme is the one we adapted prior real semver compatibility but this scheme was applied consistently.

[2020-04-07 08:57] #3535 closed

[2020-04-07 11:15] maltelenz opened #3536 "Very long filenames in Modelica/Resources"
Long filenames and paths [are a problem on Windows](https://docs.microsoft.com/en-us/windows/win32/fileio/naming-a-file#maximum-path-length-limitation), with a practical limit in the region of 260 characters.

We have some very long path names in the library, which results in real problems when trying to work with, and distribute, the library.

Ignoring the new `comparisonSignals.txt`, which can b

[2020-04-07 14:07] beutlich commented on #3535
We already did so, see

https://github.com/modelica/ModelicaStandardLibrary/blob/7b0253071a017fc08ad323676a27f3c1f2dc2bc0/Modelica/package.mo#L2244-L2245

and

https://github.com/modelica/ModelicaStandardLibrary/blob/7b0253071a017fc08ad323676a27f3c1f2dc2bc0/Modelica/package.mo#L2365-L2367

[2020-04-07 14:34] henrikt-ma commented on #3535
None of those places define the use of pre-release versioning and build metadata, which is the whole problem of this issue.

[2020-04-07 14:38] sjoelund commented on #3535
Yes, I think the problem is nowhere is the `3.2.x` version of it described. For 4.0.0, it should be fine since the builds are not new versions.

[2020-04-07 15:06] henrikt-ma commented on #3535
By the way, in view of the long planned standardization of semantic versioning of Modelica libraries, this wouldn't have been considered an issue since library versions released before semantic versioning was introduced in the language wouldn't be treated semantically anyway. (At least not according to the Modelica specification; tools might still determine it helpful to users to guess version sem

[2020-04-07 15:10] maltelenz commented on #3536
After having dug around in history, this is a request to change the decision in #2716.

[2020-04-07 15:24] dietmarw commented on #3536
As Linux user I could not care less. Sorry ;-)

[2020-04-07 15:33] HansOlsson commented on #3536
I don't see how the decision #2716 can be the direct cause of this. On the contrary I would say that we should better implement the decision in #2716.

That ticket was an attempt of loosely interpreting "The PNG files should be placed in a folder which exactly represents the package structure." for #2695.

What I proposed in #2716 was to not have directories with just one file - but the total path

[2020-04-08 08:52] dietmarw commented on #3440
There are still some documentation links that were not updated. PR is following.

[2020-04-08 09:14] maltelenz commented on #3536
I mean, me too, but unfortunately we have customers who haven't realized what a broken heap of legacy Windows is :)

The mirroring of package structure already results in 110 characters for the longest case:
`Modelica/Resources/Images/Magnetic/FluxTubes/Examples/Hysteresis/Components/Transformer3PhaseYyWithHysteresis/`. Some leeway here, maybe not requiring all the pieces of the class path, maybe

[2020-04-08 09:40] maltelenz opened #3539 "Invalid connection line points in DirectCapacity"
There are some connection lines with three elements in a point in `Modelica.Thermal.HeatTransfer.Examples.Utilities.DirectCapacity`. I assume it's a typo?

https://github.com/modelica/ModelicaStandardLibrary/blob/7b0253071a017fc08ad323676a27f3c1f2dc2bc0/Modelica/Thermal/HeatTransfer/Examples/Utilities/DirectCapacity.mo#L25-L30

[2020-04-08 09:48] #3536 closed

[2020-04-08 09:49] HansOlsson commented on #3539
The line below the marked ones also have the same issue.

[2020-04-08 09:51] beutlich commented on #3539
@HansOlsson Could you please create a PR for it. Thank you.

[2020-04-08 14:13] HansOlsson commented on #3539
I'm looking into it.

So far I found that it was introduced by:
https://github.com/modelica/ModelicaStandardLibrary/commit/07da25fe6ba7c30539e4ec4c60a8336e071bffad
so I now know what the intent was.

[2020-04-08 14:28] beutlich commented on #3539
Ah, now I get it.

[2020-04-08 14:47] #3539 closed

[2020-04-09 07:00] #3440 closed

[2020-04-11 21:09] #3468 closed

[2020-04-22 10:09] henrikt-ma opened #3543 "Incorrect initialization of SinglePhaseTransformerWithHysteresis1"
The initialization of `Modelica.Magnetic.FluxTubes.Examples.Hysteresis.SinglePhaseTransformerWithHysteresis1` doesn't seem to agree with the [reference result](https://github.com/modelica/MAP-LIB_ReferenceResults/blob/v4.0.0-beta.2%2B412d17023/Modelica/Magnetic/FluxTubes/Examples/Hysteresis/SinglePhaseTransformerWithHysteresis1/SinglePhaseTransformerWithHysteresis1.csv).

In the reference result,

[2020-04-25 18:37] beutlich commented on #3543
There is an initial equation for B

https://github.com/modelica/ModelicaStandardLibrary/blob/cbc5092c9b0cf75d5a714028ad30c4c140fdfc18/Modelica/Magnetic/FluxTubes/BaseClasses/GenericHysteresisTellinen.mo#L19-L21

which initializes as follows

[code]

[2020-04-27 09:29] henrikt-ma commented on #3543
You are right.  Today, I have no idea where I got that reported structure of the initialization, and SystemModeler is mysteriously initializing the simulation in agreement with the reference result.  Closing as _Invalid_.

[2020-04-27 09:32] #3543 closed

[2020-04-27 11:21] henrikt-ma commented on #3543
For the record, the problem I reported here was (and it doesn't come as a surprise) due to #3409. I mixed up two seemingly similar versions of the same test that, but where the fix for #3409 isn't present in one of them.

[2020-04-27 14:19] beutlich commented on #3523
Clsoing as worksforme, finally.

[2020-04-27 14:21] beutlich commented on #3518
Closing as tool-issue, finally.

[2020-04-27 14:21] #3518 closed

[2020-04-27 14:22] beutlich commented on #3435
Removing milestone after discussion stopped.

[2020-04-28 13:54] d94pn opened #3544 "strtol_l only present if __USE_GNU defined"
In ModelicaIO.c the following logic decides which strtol-function to use:

[code]
However, for at least gcc 5.3 on OpenSuse (probably other targets as well), this results in the following kind of warnings:

[code]
The reason is that in stdlib.h, strtol_l are not declared unless __USE_GNU is defined.
Hence, the condition for using strtol_l should involve "defined(__USE_GNU)".

Then again, during li

[2020-04-28 15:07] beutlich commented on #3544
Hm, `_GNU_SOURCE` is defined at the very beginning of the file, i.e., before including stdlib.h.

https://github.com/modelica/ModelicaStandardLibrary/blob/cbc5092c9b0cf75d5a714028ad30c4c140fdfc18/Modelica/Resources/C-Sources/ModelicaIO.c#L78-L80

@HansOlsson told me some time ago, that you have special build process, where all C files are included in one meta C file. Could that be again the reason

[2020-04-29 06:20] d94pn commented on #3544
But I cannot find any connection from _GNU_SOURCE to __USE_GNU; the latter remains unset when entering stdlib.h.
Btw, it is not a linker trouble as the linking part succeeds.

[2020-04-29 06:48] beutlich commented on #3544
Isn't there in your featues.h?

[code]

[2020-04-29 09:56] d94pn commented on #3544
Aha, now I see the problem: Our main compilation units includes ModelicaIO.c, but have already included features.h prior to that, where _GNU_SOURCE is not set. Conclusion: The problem is one our side. Thanks for help in sorting this out.

[2020-04-29 09:56] #3544 closed

[2020-04-29 10:55] beutlich commented on #3544
Indeed, including all C files in one single compilation unit was causing the trouble again. And actually, it is not the proposed build process as you can see from the provided build projects where we provide make files etc.

[2020-04-29 18:11] mestinso opened #3545 "Use unbounded=true attribute in mechanical interfaces?"
It seems to me that the new (Modelica 3.4) unbounded attribute is applicable for mechanical interfaces. For example, in Modelica.Mechanics.Rotational.Interfaces.Flange, I would think unbounded=true should be added to phi:
[code]
Alternatively, it could be added to the Angle type itself, but that may be too presumptive.

Thoughts?

[2020-04-29 20:27] beutlich commented on #3545
Definitely. I also raised the topic in #2946 and even mentioned the Real.unbounded attribute at the [kick-off meeting](https://svn.modelica.org/projects/ModelicaDesign/trunk/MA-Projects/MAP-LIB/MeetingMinutes/20190320-MSL-v4.0.0-Kick-Off/190320_MSL_Kick-Off.pdf) 13 months ago. But, library officers of mechanical libraries (@MartinOtter or @tobolar) did not reply so far.

[2020-05-04 07:35] beutlich commented on #1480
Clsosing as discussion did not happen.

[2020-05-04 07:35] #1480 closed

[2020-05-04 07:54] MartinOtter commented on #3545
Please, do not introduce unbounded=true to MSL:

- There are two application areas: In one area the angle is controlled to follow a reference angle (e.g. robots, elevators, and in general positional drives) where unbounded must be false, and in other cases the shaft is permanently rotating and the angle is of no importance at all (e.g. drive train of a vehicle) and unbounded should be true here. S

[2020-05-04 16:18] R-M-F opened #3546 "default value for from_dp switch in PartialGenericPipeFlow (Modelica.Fluid)"
The default value for the switch from_dp in PartialGenericPipeFlow, which determines calculation direction for pressure drop, or respectively mass flow calculation, is
`from_dp = momentumDynamics >= Types.Dynamics.SteadyStateInitial`
In case of
`momentumDynamics == Types.Dynamics.SteadyStateInitial`
the calculation direction m_flow = f(dp) is chosen, although in all other cases with dynamic moment

[2020-05-06 17:05] mestinso commented on #3545
@MartinOtter: while I understand your point that the two different application areas mentioned have different needs and priorities, I don't understand why you say unbounded "must be false" for the case of positional drives? As far as I can tell, `unbounded=true` is more conservative since `tol*(abs(nominal)+(if x.unbounded then 0 else abs(x)))` is generally a tighter tolerance when `x.unbounded=tr

[2020-05-08 07:07] beutlich commented on #1365
Closing, since not sure what to do or if it can be considered a tool-issue.

[2020-05-08 07:07] #1365 closed

[2020-05-08 07:10] beutlich commented on #3060
Did not happen so far. See also https://github.com/modelica/BackOffice/issues/35.

[2020-05-08 09:36] HansOlsson opened #3548 "Avoid unnecessary discontinuities in sources (Cosine, Sinc)?"
Based on my comment in https://github.com/modelica/ModelicaStandardLibrary/pull/3547

Consider the blocks Modelica.Blocks.Sources.Cosine, and Modelica.Blocks.Sources.Sinc. (There might be other similar cases somewhere else.)

They have an _unnecessary_ discontinuity at `startTime` because the value before `startTime` is `offset `and not `offset+amplitude`, and I don't see why anyone would want thi

[2020-05-10 20:02] beutlich opened #3551 "Missing closing angle bracket for closing span tag in helpWSM"
Closing angle brackets are missing for `</span` in the WSM generated HTML documentation. See for example

https://github.com/modelica/ModelicaStandardLibrary/blob/51986aab94e4e841c58a3615db5b714139c82e4b/Modelica%203.2.3/Resources/helpWSM/Modelica/Modelica.Icons.Function.html#L44

[2020-05-10 20:21] beutlich commented on #3124
@wischhusen Any update on the pull request?

[2020-05-11 14:32] #3551 closed

[2020-05-15 16:21] beutlich commented on #3435
Modelica.Fluid.Examples.TraceSubstances.RoomCO2WithControls was fixed en passant by a0b60a045ba45bdf0bd6e11573a791cca958d3ac.

[2020-05-19 13:04] adeas31 commented on #3060
Added PMD to the tools page.

[2020-05-20 08:51] d94pn opened #3556 "MinGW possibly neglected in new safe.math.h"
Hi,
When testing the source code in MSL 4.0.0, rc 2, I got compiler errors on MinGW:

```safe-math.h: 100:23: fatal error: intsafe.h: No such file or directory```

Perhaps the MinGW platform has not yet been considered in the preprocessing?

[2020-05-20 09:30] beutlich commented on #3556
Strange. I build the binaries for the gcctdm510 directories and also build matio using MinGW on [Appveyor](https://ci.appveyor.com/project/tbeu/matio/branch/master) without issues. I guess I need some more information on your build environment than just the plain error.

[2020-05-20 09:56] goatchurchprime opened #3557 "Request for one-sided spring, which would act as wire"
I want to simulate the forces generated by a wire that exerts a force when it is under tension, but goes slack if the endpoints are closer than its length.

If a spring only gave positive forces, so there was an option for its force to be:

then it would seem to do this for me.

I've looked everywhere for this feature, but I can't find it anywhere as an option.  Is there a technical problem with h

[2020-05-20 09:59] d94pn commented on #3556
I actually tested with a quite old MinGW version. Findings:

1. gcc.exe (GCC) 4.8.1, MINGW32_NT-6.2 fails.
2. gcc.exe (MinGW.org GCC-6.3.0-1) 6.3.0 succeeds.

So the error is probably less critical. Also, I do not know how to check the version of MinGW gcc via preprocessor variable. If possible, the first of these lines in ModelicaMatIO.c:

[code]

is a candiate for such checking I assume.

[2020-05-20 10:16] beutlich commented on #3556
It is an GCC, so we can use `__GNUC__` (and variants) along with `__MINGW32__`.

[2020-05-20 10:44] beutlich commented on #3556
https://github.com/modelica/ModelicaStandardLibrary/blob/9821b66f09364c62c13fc349b5df5fb875bef148/Modelica/Resources/C-Sources/safe-math.h#L22-L28

The issue probably is, that old GCC has no `__has_include` why it then sets `PSNIP_SAFE_HAVE_INTSAFE_H` in the else branch.

Did it help to set `PSNIP_SAFE_FORCE_PORTABLE`?

[2020-05-20 11:29] mtiller commented on #3557
You could just use a prismatic joint and add a simple 1D element to implement this functionality.  I don't think your expression is right, it should be something like `f=c*max(0, s_rel-s_rel0)` if I understand what you are trying to accomplish.

Rather than waiting for this to be added to the standard library (which may never happen), I think you should just create a component of your own and use

[2020-05-20 12:00] d94pn commented on #3556
I can confirm that setting `PSNIP_SAFE_FORCE_PORTABLE` helped gcc 4.8.1.
Also, for gcc 5.3.0 it works without modifications. In this case, the macro `__has_include` was indeed set, but it was not for gcc 4.8.1.

[2020-05-20 15:34] trilbytim opened #3558 "Error: "Corrupt file. nvar 0" with simulation"
I'm getting a somewhat intermittent problem, but I've tried to recreate with a simple model here, a tube bouncing on two spring/dampers. When I simulate this with the default settings of start time 0, stop time 1 and Number of Intervals 500 it works, I have data I can plot and the visualisation works. However when I increase the Stop time to 10 and the Number of Intervals to 2000 it (usually, but

[2020-05-20 17:15] goatchurchprime commented on #3558
That crash is not reproducing for me now no matter how many times I try.  The more complex frame_model we started with is also not crashing.  You can make it "Save experiment annotation inside model" on the Simulation setup to set the Stop time and Number of Intervals.

[2020-05-20 18:55] dietmarw commented on #3558
This looks like a tool issue so you should report it at https://trac.openmodelica.org/OpenModelica/

[2020-05-20 18:55] #3558 closed

[2020-05-21 07:06] goatchurchprime commented on #3557
Wouldn't a prismatic joint then require spherical joints at each end to model the anchors?

I found it practically impossible to make a self-contained wire model based on the code in the standard model.  There are too many interlinking references, imports and packages from other parts of the library.  I gave up at the `parameter SI.TranslationalSpringConstant c(final min=0) "Spring constant";` lin

[2020-05-21 08:19] goatchurchprime commented on #3558
Oh man. It's on trac.  Really?

[2020-05-22 19:56] Satinelamp opened #3559 "Fix the mistakes in the help document of Modelica.Fluid"
In the `Modelica.Fluid.UsersGuide.ComponentDefinition.FluidConnectors`, there are two minor issues,
1. In the example code, `FluidPort port_a, port_b;` should be `FluidPort port_a(redeclare each package Medium = Medium), port_b(redeclare each package Medium = Medium);`
![000000000000000000000000](https://user-images.githubusercontent.com/62006565/82703641-e5ac4d00-9ca6-11ea-9c0c-8f66468a1a61.png)

[2020-05-23 14:30] beutlich commented on #3559
Since only documentation is affected, we still can fix it with the final release of v4.0.0. Can you please create a pull request. Thanks.

[2020-05-24 20:12] mtiller commented on #3557
As far as I can tell, you'd only need the spherical joints if you wanted to solve for the angular position of the wire.  Otherwise, you know exactly what position the spherical joint will be in when the wire is taut and it would be the angle of the prismatic joint.  So I don't see the issue.

I don't understand at all what you mean by having to clone the entire Modelica Standard Library.  Why?  Yo

[2020-05-24 20:36] AHaumer commented on #3557
I fully agree with Mike's comments about working with MSL, but I'd like to warn about pitfalls implementing the 1d one-sided spring - if it's ideal, it changes the system's equations drastically.
I remember that Alexandra Mehlhase did setup a formalism to switch between two different models.
I'd recommend to have a look at the implementation of Modelica.Electrical.Ideal.Diode which also switches b

[2020-05-25 07:24] tobolar commented on #3557
Depending on the problem, using `Modelica.Mechanics.MultiBody.Forces.LineForceWithMass` (with mass being 0 kg) could be better approach then to use prismatic (and spherical) joint. Implementing your own spring model and connecting it to that LineForceWithMass stays upon you.

[2020-05-25 08:21] tobolar opened #3561 "Keyword highlighting in code segments"
A convention for documenting code segments (in `Modelica.UsersGuide.Conventions.Documentation.Format.Code`) states

Does this really concerns only keywors as defined in "2.3.3 Modelica Keywords" of the Modelica Specification? In e.g. `Modelica.Fluid.UsersGuide.ComponentDefinition.UpstreamDiscretization`, there are also highlighted *inStream* operators.

[2020-05-25 12:24] #3559 closed

[2020-05-26 14:15] maltelenz opened #3562 "Error message for out of bounds column in tables is broken"
I think there might be an error around [here](https://github.com/modelica/ModelicaStandardLibrary/blob/master/Modelica/Resources/C-Sources/ModelicaStandardTables.c#L6288).

If I simulate this (incorrect) model in SystemModeler, I get this message, where the column number seems to print uninitialized memory:

[code]
I get this message (the long number is seemingly random):
[code]

[2020-05-26 14:38] beutlich commented on #3562
tableID must not be accessed after it has been destroyed. The bug was introduced in 35162f86f1832374ae780bb07bcc5c4f80918c48 for #1899.

[2020-05-27 11:38] d94pn opened #3564 "Unguarded clang pragmas in ModelicaStrings.c"
The guards for clang pragmas which is present in other C files:

[code]

[code]

are omitted in ModelicaStrings.c, which yields compiler warnings for e.g. Visual Studio.

[2020-05-27 11:47] maltelenz commented on #2969
@beutlich I think this can be closed after #3512 was merged?

[2020-05-27 12:08] beutlich commented on #2969
I am not sure if this should be closed, since we only removed the invalid test but not the actual cause. Would be good to get some feedback from @wischhusen after all.

[2020-05-27 12:13] beutlich commented on #3564
Confirmed. I missed it when I pushed 98a20c066f913e84704489030a8a2c1909a01886.

[2020-05-27 12:58] DagBruck opened #3566 "Is UTHASH overkill?"
Sorry to re-hash (pun intended) an old bit of code...

MSL current uses `uthash.h` for two reasons, if I understand correctly:

1. To provide a hash function for Modelica strings.
2. To implement shared tables, so if you reference the same table several times you just read it once.

The problem, in my view, is that UTHASH is really a terrible piece of code, it consists of 1238 lines of C macros. S

[2020-05-27 13:33] wischhusen commented on #2969
we are having a look at the underlying functions … sorry for the delay.

[2020-05-27 13:40] DagBruck opened #3567 "Modelica icon color"
The Modelica library icon layer has a red dot, but the red color was changed in the recent update of the official Modelica icons. The color of the icon is now RGB(200, 16, 46).

[2020-05-27 15:17] dietmarw commented on #3567
We had discussed the change of the icon in #3388 and decided to not change it.
So this would be a duplicate of that I guess.

[2020-05-27 15:54] DagBruck commented on #3567
Well, the discussion in #3388 (with regards to color) was primarily about the grey color of the "m", and people thought the black "m" was better. I don't think there was any decision about the red dot.

[2020-05-27 16:23] beutlich commented on #3566
Uthash actually also is used in ModelicaInternal.c to cache the opened files. Thus, it is utilized in three places. It was first added about 6 years ago by 01a172d6e29b762b897a29658ccdfd226a05135f for #1550 and released later by MSL v3.2.2.

I actually do like uthash.h as it is. It is well maintained, tested, documented, stable, easy to use, heavily used by many repositories, licensed under a perm

[2020-05-28 10:23] DagBruck commented on #3566
Your view, whether biased or not, is also correct. But it worries me if something relatively simple as this drags in 1238 lines of foreign macro code, then something else will too. And the end result is overall code bloat. Also, in this case the code is pretty fragile, some other external code can make a `#define` and then all sorts of bad things happen.

It was perhaps wrong of me to point the fi

[2020-05-28 11:34] sjoelund commented on #3566
But nothing pulls in the `uthash.h` in headers, right? We only use the system headers and each file is compiled separate so there should be no actual problems (unless someone tries to compile all the ModelicaExternalC and user's external code by `#include` them all into one compilation unit). If any other header included it, we would have a problem.

[code]

[2020-05-28 12:33] DagBruck commented on #3566
Hmm, we have bad control over the compilation process. For example, Dymola has the possibility to export source-code FMUs and code for real-time platforms.

[2020-05-28 12:42] sjoelund commented on #3566
Source-code FMUs are compiled unit by unit though. So it should still work in that case.

[2020-05-28 21:16] KarinHH opened #3569 "Pressure drop in Modelica.Fluid.Pipes.DynamicPipe when dynamic momentum balance is taken into account"
I'm have a problem in understanding the simulation results of a discretized Modelica.Fluid.Pipes.DynamicPipe when using a compressible gas as medium and taking the dynamic momentum balance into account.
To illustrate that I built up a very simple model: pressure source + pipe + pressure sink. The pressure in the pressure source is linearly increased over time. The parameterization of the pipe main

[2020-06-02 16:49] Satinelamp opened #3570 "More reference papers and examples about how to define the flow/volume model in Modelica.Fluid."
I am learning how to build a thermo-fluid model with Modelica, I notice that in order to reduce the nonlinearity, it is recommended to use two different models: flow model and volume model, here is the explanation I found in a commercial library, but I am not sure how to arrange the equation in the components to realize this idea. So I suggest there should be some papers and examples about how to

[2020-06-02 18:35] hyumo commented on #3570
This repo is mainly for Modelica Standard library development, I think your question is probably more appropriate for stackoverflow.

[2020-06-02 18:56] thorade commented on #3570
There already is a related question on SO:
https://stackoverflow.com/questions/62141433/how-to-define-the-flow-model-and-volume-model-in-modelica-components

[2020-06-02 18:59] #3570 closed

[2020-06-03 13:33] PMehrfeld opened #3571 "Modelica.Blocks.Logical.Hysteresis: Wrong descriptions of parameter uLow and uHigh"
The description of `uLow` says:

However, the following minimal example shows that `u` needs to be `<uLow`.

The same is valid for `uHigh`. It is not greater equal, but only greater. Change for example the amplitude of the `Pulse` to 0.5.

[code]

**Solution**
Either change parameter descriptions or code.

[2020-06-03 15:32] beutlich commented on #3571
Already fixed for v4.0.0. Duplicate of #2802. https://github.com/modelica/ModelicaStandardLibrary/blob/25cc814816b4d7b26e886894a053d5d8dfaf8656/Modelica/Blocks/Logical.mo#L511-L512

[2020-06-03 15:32] #3571 closed

[2020-06-04 18:55] #3556 closed

[2020-06-04 18:55] #3562 closed

[2020-06-04 19:34] #3564 closed

[2020-06-05 07:00] beutlich commented on #3461
Agreed.

* New "maintenance" = `BUGFIX` releases for MSL 4.0.0 happen from [maint/4.0.x](https://github.com/modelica/ModelicaStandardLibrary/tree/maint/4.0.x) branch.
* The master branch contains the new "main" version, either `MAJOR`or `MINOR`, depending if backward compatibility breaking changes are added or not.

[2020-06-05 07:00] #3461 closed

[2020-06-07 17:14] MartinOtter commented on #3545
"unbounded" is a fact that is stated for a variable v. If unbounded=false, v will stay within some bounds, say vmin <= v <= vmax. For a technical device, nearly all variables are bounded, since the device is designed for an operating region and the operating region is typically bounded. For example, the angle of a robot joint is bounded, e.g. -180 deg <= angle <= 180 deg. There are only some rare

[2020-06-07 18:22] beutlich commented on #1761
Resolved by #2996.

[2020-06-07 18:22] #1761 closed

[2020-06-11 12:14] thorade opened #3576 "minor: if Boolean == true then"
![image](https://user-images.githubusercontent.com/314571/84384091-bcb81180-abed-11ea-8651-38582fc7beb7.png)

These 3 lines use
`if Boolean == true then`
and should be replaced with the shorter version
`if Boolean then`

[2020-06-12 10:03] HansOlsson opened #3578 "Order Modelica.Math.Matrices.LAPACK!"
I simply don't understand the current order, and when searching for a known function that adds an unnecessary confusion.

I don't see any underlying logic for the current order, either it's in order of addition or the logic is to advanced.

I would thus propose an alphabetical order, which naturally group functions based on which type of matrix they operate on, due to the LAPACK-naming scheme. But

[2020-06-19 11:00] max-privato opened #3581 "kg symbol of SIunits package"
The icon of SIunits Package carries the text _kg_ as the unit of measure of mass.
However, it is written in Italic, while it should not.
I don't have here the text of ISO 31-1992 but the document "The International System of Units" from BIPM from which it derives. It says, in its 5.2 section:

**Unit names are normally printed in roman (upright) type**

Although they here use the word "normally",

[2020-06-19 16:05] tobolar commented on #3581
You are absolutely right concerning writing of units in a text.
I suppose the motivation for italic in that icon is to have similar look of icons there, see e.g. icon of `IconsPackage` or `TypesPackage` in MSL.Icons. In contrast, there is also `FunctionsPackage` having upright "f" - which definitely brakes the rule already.

[2020-06-22 08:08] henrikt-ma commented on #3581
I like the idea of letting the icon convey more clearly that this is a package for units, by using upright font.

[2020-06-22 21:43] AtiyahElsheikh opened #3582 "Modelica.Icons.TypeReal not employed within Units.SI"
I suppose that components within the Icons package imply that they are the community-recommended icons by MSL.

Is there any specific reason against employing Modelica.Icons.TypeReal for the physical units within the SIunits package?

Here is an example using Modelica.Icons.TypeReal:

`type Concentration = Modelica.Icons.TypeReal(final quantity="Concentration",final unit = "mol/l", min = 0);`

ins

[2020-06-23 07:26] maltelenz opened #3583 "Reference result missing for ModelicaTest FluxTubes FixedShape model in 3.2.3 build 4"
There is no csv file for the model `ModelicaTest.FluxTubes.Shapes.FixedShape` here, even though there are comparison signals defined and the logs indicate the simulation succeeded:
https://github.com/modelica/MAP-LIB_ReferenceResults/tree/v3.2.3%2Bbuild.4/ModelicaTest/FluxTubes/Shapes/FixedShape

[2020-06-23 11:15] HansOlsson commented on #3582
I don't see a strong reason against, but I don't see a clear benefit either, and I see some minor issues.

In general the icon for a class to me has two obvious use-cases:

- In package browser, but in the SIunits package there would be 100+ units with the same icon, and thus it doesn't help to separate them from each other. In Modelica.Mechanics.MultiBody.Types and Modelica.Fluid.Types it at leas

[2020-06-23 11:36] AtiyahElsheikh commented on #3582
My current use case is as follows:

The Biochem library have [some physical units]
(https://github.com/AtiyahElsheikh/BioChem/blob/develop/BioChem/Units/package.mo) some of which are already available in MSL. However they additionally have graphical annotation. My own library, GenKinetics, has also additional physical units.

I feel like directly re-defining the units I need in terms of MSL.SIunit

[2020-06-23 11:45] HansOlsson commented on #3581
I think we could deviate from the SI-standard, but I don't see a problem with having "kg" either.
And if we use italic in icons I think we should do it consistently (e.g. italic for packages, and upright text for non-packages; except for info-classes?), and I don't see that logic at the moment, and in MSL 4.0.0 I see:

- Modelica.Units: hand-drawn italic
- Modelica.Units.SI: italic text
- Modelica

[2020-06-23 13:43] maltelenz commented on #3581
Doesn't using actual text bring with it the problem of fonts, where not all environments and installations may have the font available (if it is even explicitly specified)? Hand drawing something avoids this problem altogether in cases where you really care about the exact look of something (like an icon).

[2020-06-23 13:48] HansOlsson commented on #3581
Possibly, but then "SI" and "f" has problems.

[2020-06-23 14:01] maltelenz commented on #3581
Yes, if we care this much about the look of our icons across tools and environments.

[2020-06-23 16:21] beutlich commented on #3583
Resolved by https://github.com/modelica/MAP-LIB_ReferenceResults/commit/4e8cf99d3384ca802bab80320ce7a5c0da2a2bd7. The comparisonSignals.txt contained a trailing blank which broke the process when extracting the trajectory variables.

[2020-06-23 16:21] #3583 closed

[2020-06-23 16:59] DagBruck commented on #3581
Rendering of small text can be sensitive if the alignment is not perfect or the anti-aliasing kicks in and becomes too visible. This is an issue for very small icons. I think there are historical reasons too, in some cases maybe dating back to the last millennium.

[2020-06-23 17:02] DagBruck commented on #3566
I will close this issue because nobody seems particularly interested in removing this code dependency. No point in burdening the system with dead issues.

[2020-06-23 17:02] #3566 closed

[2020-06-24 08:54] tobolar commented on #3581
Fine to me. But we shall define some basic rules (such as "font" height, inclination, etc.) to reach similar look of all letters used within icons. Esp. if the same letter apperas in various icons.

[2020-06-25 23:30] casella commented on #3476
Folks,

I'm afraid we still have the same problem in the following test cases:

`Modelica.Electrical.Machines.Examples.AsynchronousInductionMachines.AIMS_Start` [i_0_r](https://libraries.openmodelica.org/branches/newInst/Modelica_3.2.3/files/Modelica_3.2.3_Modelica.Electrical.Machines.Examples.AsynchronousInductionMachines.AIMS_Start.diff.aims.i_0_r.html)
`Modelica.Magnetic.FundamentalWave.Example

[2020-06-26 05:59] beutlich opened #3587 "Reference trajectories of some variables in MSL 3.2.3 reference files only contain numerical noise"
Folks,

I'm afraid we still have the problem from #3476 in MSL 3.2.3 for the following test cases:

`Modelica.Electrical.Machines.Examples.AsynchronousInductionMachines.AIMS_Start` [i_0_r](https://libraries.openmodelica.org/branches/newInst/Modelica_3.2.3/files/Modelica_3.2.3_Modelica.Electrical.Machines.Examples.AsynchronousInductionMachines.AIMS_Start.diff.aims.i_0_r.html)
`Modelica.Magnetic.Fun

[2020-06-26 05:59] beutlich commented on #3476
Created #3587 for it.

[2020-06-26 05:59] #3476 closed

[2020-06-26 14:40] tobolar opened #3588 "Quaternions.from_T returns error for valid matrix"
In some cases, `Modelica.Mechanics.MultiBody.Frames.Quaternions.from_T` returns error even for a valid matrix input, see the following code:

[code]

A possible solution is given here: https://d3cw3dd2w32x2b.cloudfront.net/wp-content/uploads/2015/01/matrix-to-quat.pdf

[2020-06-27 15:20] max-privato commented on #3581
Nice to see that discussion of this ticket has gone soo deep.
I didn't realize that when we discuss whether to change a single icon, it is better to evaluate a general rearrangement of all text-based icons. But obviously this is the right thing to do.
I'll stay tuned.  Thank you for the time given to this ticket.