[2019-05-20 15:33] HansOlsson commented on #2940
Clearly it is good to implement this new model.

The question is whether it should be in MSL or not - and I merely stated that we should have **clear guidelines** for that; nothing about this particular model.

I think the Buildings-library has shown us that good Modelica contents doesn't need to be in MSL (or even handled by MA).

[2019-05-20 15:38] AHaumer commented on #2940
If we're talking about a whole library for special applications, you're right. Could (should?) be a separate applications library, preferably maintained by MA.
What's about single models? Should we go through the whole MSL and pull out all models that are not "basic enough" into a collection of "application models"?
I'd prefer to have such basic models in the MSL at hand in every Modelica tool.

[2019-05-20 15:40] AHaumer commented on #2940
VehicleInterfaces is the wrong place. It's not "interfaces". Furthermore, VehicleInterfaces can be switched between 1d and 3d - this model is purely 1d.

[2019-05-20 16:09] beutlich commented on #2940
#1873 is on deired mechanical components and thus could serve as an umbrella ticket for #2940, since the driving resistance can be seen as a desired mechanical component.

On the other side, the Building library implements lots of core features (or features independent of the Buildings domain) which could go to MSL or a separate feature library.

I do not see a problem adding this model to the MSL

[2019-05-20 16:46] beutlich opened #2944 "Convert the obsolete types FirstOrderTemperaturCoefficient and SecondOrderTemperaturCoefficient"
Reminder to convert the obsolete types FirstOrderTemperaturCoefficient and SecondOrderTemperaturCoefficient

[2019-05-20 19:47] #2866 closed

[2019-05-21 06:41] beutlich commented on #2207
The 9th edition of the SI brochure is available at https://www.bipm.org/utils/common/pdf/si-brochure/SI-Brochure-9-EN.pdf

[2019-05-21 06:45] Daiwen opened #2945 "Removing usage of Clock as a class name and component name"
I would like to propose that we modify the MSL to not use `Clock` as a class name. This would resolve some ambiguities for the user, and make it possible for the language design group to make `Clock` a keyword of the Modelica language.

Conversion rules would make that change somewhat easier.

[2019-05-21 08:49] sjoelund commented on #2936
I think the following might work (didn't check it):
[code]

[2019-05-21 18:05] beutlich opened #2946 "Revise documentation on (and possibly implementation of) StateSelection"
Modelica.Mechanics.Translational.UsersGuide.StateSelection and Modelica.Mechanics.Rotational.UsersGuide.StateSelection speak about the error control of unbounded absolute state variables:

https://github.com/modelica/ModelicaStandardLibrary/blob/6aa5f8389058527a314c10fca5a310f3a8f69951/Modelica/Mechanics/Translational.mo#L380

and

https://github.com/modelica/ModelicaStandardLibrary/blob/6aa5f8389

[2019-05-22 10:05] tobolar commented on #2940
I fully agree.
If possible, it shall be clear (a) why we introduce a new component _which addresses just a particular application_ and (b) _what level of detail_ shall be implemented. It is of importance too, as demonstrated in the following.
1. There is a `Mechanics.Rotational.Components.LossyGear` modelling losses in a gearbox. In #1873, there is suggested to have a simpler model of a gearbox wi

[2019-05-22 19:48] beutlich commented on #2945
@Daiwen Should https://github.com/modelica/ModelicaSpecification/issues/2280 be reopened?

[2019-05-22 20:01] henrikt-ma commented on #2945
Before reopening https://github.com/modelica/ModelicaSpecification/issues/2280, I suggest a small scope creep of this issue to cover all introduced `Clock` identifiers in the MSL.  As long as the MSL has components called `Clock`, there's still nothing we can do about it's keyword status.

[2019-05-23 04:53] Daiwen commented on #2945
I hadn't seen the case of component names but Henrik is right we can't reopen  modelica/ModelicaSpecification#2280 until there are still occurrences of `Clock` whatever they maybe.
I can open a new issue if you'd prefer me doing it that way.

[2019-05-23 05:32] beutlich commented on #2945
OK, I got it.

[2019-05-26 13:54] christiankral commented on #2936
This solution is not working. I tested it in Dymola and OpenModelica.

My conclusions: In case of having the cage not present, the connection
[code]
is removed and there are then no equations for the determineation of `ir[2]`...

[2019-05-26 18:39] sjoelund commented on #2936
Oh yeah, I guess both need to have the same if condition...

[2019-05-27 06:56] AHaumer commented on #2936
In Modelica.Electrical.Machines.BasicMachines.SynchronousInductionMachines.* and Modelica.Magnetic.FundamentalWave.BasicMachines.SynchronousInductionMachines.* we have the same problem: The DamperCage is continitional. Nevertheless we want to have an information about the DamperCage currents (if the DamperCage is present), and we need them for initialization (if the DamperCage is present). The sol

[2019-05-27 07:15] sjoelund commented on #2936
[code]
You are allowed to use bindings for `irRMS`. So both being conditional should work. In SMEE_DOL the source code says the cage is always present though, and should work without that if-condition.

The problem is if you want to use that irRMS anywhere (requires other elements to use the same if condition).

[2019-05-27 18:16] beutlich commented on #1539
@sjoelund Can you please sum up what is left to do here?

[2019-05-27 18:53] sjoelund commented on #1539
The old way we used of generating those files seems to have disappeared, but I hacked up something similar. The following is a list of the classes not tested by any experiment in Modelica or ModelicaTest: https://gist.github.com/sjoelund/f5a215311f779783d8c192c0c0e66c6b

The script used to generate the list creates one big model containing all experiments, creates a total model of these and compar

[2019-05-27 19:00] beutlich commented on #1539
Oh dear, that is a huge number. 🔢

[2019-05-27 19:12] #2653 closed

[2019-05-27 19:15] sjoelund commented on #1539
It hasn't filtered out things like icons and documentation, but it's still somewhat large.

[2019-05-27 19:31] henrikt-ma commented on #2936
Are you really allowed to use the conditional `ir` in the binding equation of another component (conditional or not)?

[2019-05-27 19:41] beutlich commented on #2936
I doubt that @sjoelund's proposal is leagal since

[2019-05-28 05:01] sjoelund commented on #2936
So yes. Either my original proposal (which breaks the model if the examples are extended to not use the damper cage anymore). Or add an additional connector in base model with `if not useDamperCage` that sets it to some predefined value...

[2019-05-28 14:52] HansOlsson commented on #1539
Yes, that was so troubling that I thought it best to have double-check that to be sure - and Dymola gave a similar result(*), and found another number class coverage is at **71.5%**.

Unfortunately that number is not huge.

*: Except that we don't include functions in this list yet; on the other hand it remove documentation and icons - except for Modelica.Fluid.Dissipation.Utilities.Icons, and it

[2019-05-28 16:40] #2705 closed

[2019-05-28 16:42] #2207 closed

[2019-05-28 16:42] #682 closed

[2019-06-02 02:31] mestinso opened #2952 "CODATA 2018 Update (Big G)"
Big G was updated with the latest CODATA 2018 release. This was missed in the recent 2017 CODATA/SI change.

See NIST reference here: [Newtonian Constant of Gravitation](https://physics.nist.gov/cgi-bin/cuu/Value?bg#mid)

[2019-06-02 09:08] AHaumer opened #2953 "PowerConverters DC/DC"
I'd recommend to enhance the DC/DC-examples of Modelica.Electrical.PowerConverters:
- add inductor and smoothing capacitor to StepDown
- delete example StepDown_RL
- change default parameterization of StepDown and StepUp
This makes the examples more realistic and comparable:
- StepDown results in 60 V -> 12 V / 1.2 A
- StepUp results in 60 V -> 75 V / 1.2 A

[2019-06-02 18:13] AHaumer commented on #2940
see PR #2954

[2019-06-02 18:13] AHaumer commented on #2953
see PR #2955

[2019-06-03 10:21] HansOlsson commented on #2952
As far as I understand it wasn't "missed" - it was deliberately skipped as "G" isn't used in the redefinition of the SI-system.

However, I don't see a good reference for the new value - I would assume codata 2018 will be published similarly as codata 2014 - but that hasn't happened yet as far as I can tell, and https://physics.nist.gov/ seems to regularly go down.

[2019-06-03 19:04] AHaumer opened #2957 "Implement idealized battery"
I would like to implement an idealized battery with no-load voltage dependent on state of charge and inner resistance. Such a simple model is used over and over again in (simple) models of electric vehicles. Furthermore, it could be a trigger to start developemnt of more advanced battery models with effects like:
- temperature dependency
- self-discharge
- RC-elements to model dynamic response on

[2019-06-03 19:15] AHaumer commented on #2957
For many tasks such a simple model would be sufficient, especially for teaching.
I've attaches small lib (still based on 3.2.3) to give an idea.
[Battery.zip](https://github.com/modelica/ModelicaStandardLibrary/files/3249094/Battery.zip)

[2019-06-03 19:20] AHaumer commented on #2957
To start the discussion early ;-) with a positive argument:
Yes even such small enhancements and new models attract new users, helping them to solve their problems with low effort using Modelica (and nothing like M**b/S**k, ...). It also supports teaching and students working on their thesis. Therefore I don't judge such implementations as "contaminating the MSL with applications specific models".

[2019-06-04 03:32] MrMatt2532 commented on #2952
Yes, I only meant it was "missed" in the sense that this new recommended value appears to have come into effect on the same date as the new SI changes (May 20th). With that said, yes I agree it looks like the published reference isn't available yet. Likely in the coming months...

[2019-06-04 18:15] AHaumer commented on #2936
Just a question: As far as I see we should apply the same solution to maint/3.2.3 - right?

[2019-06-04 18:35] AHaumer commented on #2936
See PR #2958 (issue #2936 same changes for maint/3.2.2 as PR #2956 for master)

[2019-06-04 19:03] christiankral commented on #2957
I am very much in favor of having simple battery models in the Modelica Standard Library (MSL). The proposed model is based on a table based OCV versus SOC curve. This makes a lot of sense for many applications. However, over and under charging the battery (SOC > 1 and SOC < 0) shall somehow be handled with asserts.

Additionally an even much simpler battery model might be included in the MSL, bas

[2019-06-04 21:02] AHaumer commented on #2957
@christiankral the purely linear OCV versus SOC is included in the table based model; just specify two points for the table {0, 0; 1, 1}
The asserts should be triggered by the table, but you're right asserts with more specific text are helpful!
Battery overcharged (SOC > SOCmax) - Battery exhausted (SOC < SOCmin)

Where to place:
1. `Modelica.Electrical.Analog.Sources` is questionable if we get so

[2019-06-06 08:03] AHaumer commented on #2957
see PR #2959

[2019-06-06 19:49] AHaumer opened #2960 "import Modelica.SIunits"
In my opinion, the usage of `import SI=Modelica.SIunits;` at some place in a sublibrary to shorten parameter definitions is really bad style:
- hard to read: Where is the import statement located?
- If you copy a model out of the MSL, the import gets broken.
Much better style would be: `import Modelica.SIunits.*;` _in every model_.
- easy to read: The import statement is in the model I'm looking a

[2019-06-06 20:22] christiankral commented on #2960
I think this is a **very good idea!** I am in favor of improving the quality of the Modelica Standard Library that way!

[2019-06-06 20:24] AHaumer opened #2961 "Feature creep"
I hate the discussions about "feature creep" - we have them again and again ...

I have a rather clear opinion, we have 2 cases:

1.  A whole new library, maybe in a new domain, maybe for a type of application.
We should discuss whether to include this library as a new sublibrary in the MSL, or to have a new companion library of the MSL - under the same rules of quality assurance.

2. New models o

[2019-06-06 20:42] AHaumer commented on #2960
Compare 3 styles:
1. `parameter Modelica.SIunits.Mass m=100 "Total mass";`
Clear but not elegant.
2. `parameter SI.Mass m=100 "Totoal mass";`
`import SI=Modelica.SIunits` elsewhere
Neither Clear nor elegant.
3. `parameter Mass m=100 "Totoal mass";`
`import Modelica.SIunits.*` just above
Clear and elegant.

[2019-06-07 05:53] dietmarw commented on #2960
Sorry, but **NEVER EVER** use wildcard imports. We even write in the specs to not use them as they are dangerous since there is a huge danger of variable collision. So for imports only ever use implicit imports. They are simply bad programming style.
As for `import SI=Modelica.SIunits ` this is something that is down to taste. I use this, and like this, extensively together with `import C=Modelica

[2019-06-07 06:16] KooJagun opened #2962 "Inquiries about C_outflow in the FluidPort"
Hi, i'm noob for modelica and developing the Heat Exchanger model.
I encountered some errors like captures below.
![2](https://user-images.githubusercontent.com/13636830/59084345-d321f200-8935-11e9-9967-7b0ddde2431f.jpg)
![1](https://user-images.githubusercontent.com/13636830/59084350-d61ce280-8935-11e9-9d0f-07a483958c12.jpg)

First, i don't know what is the physical meaning of C_outflow. I could

[2019-06-07 07:35] dietmarw commented on #2962
The issue tracker is for issues regarding the development of the MSL. For modelling help you should use: https://stackoverflow.com/tags/modelica

[2019-06-07 07:35] #2962 closed

[2019-06-07 17:01] AHaumer commented on #2960
What about copy a model out of the MSL for applying own changes?

[2019-06-08 18:43] AHaumer opened #2964 "Triac model"
I do not understand the `Modelica.Electrical.Analog.Ideal.IdealTriac`:

Both thyristors are fired by the same boolean signal?
Shouldn't they get fired by 2 boolean signals with 180° (1/2 period) delay in between?
Does the model rely on the fact that the positive thyristor that is fired during the negative halfwave, too, wont start conducting since voltage is in reverse direction, and for the negat

[2019-06-10 08:04] HansOlsson commented on #2960
I see three possible solutions:

- Use a tool that automatically handles this when copying.
- Always use full path, e.g., Modelica.SIunits.Mass
- Have `import SI=Modelica.SIunits;` in every model. I find that solution tedious.

[2019-06-10 17:01] AHaumer commented on #2964
To describe the triac on an abstract level, the fire signal has to have 3 values:
fire = 0 stay in blocked condition (no one of the thyristors fired).
fire = +1 fire the "positive" thyristor, current starts to flow in positive direction if voltage is positive.
fire = -1 fire the "negative" thyristor, current starts to flow in negative direction if voltage is negative.
The triac returns to blocked

[2019-06-11 23:07] dietmarw commented on #2960
The solution would definitely be on the tool side in this case. And Dymola does this already by recognising the imported definitions and replacing them by full qualified class names upon duplication. So it really is a non-issue. And if it is then it is a missing tool issue. I know that OpenModelica for example doesn't even recognise relative name lookup on duplication at the moment. But they are w

[2019-06-12 07:31] AHaumer commented on #2960
ok you're right

[2019-06-12 07:31] #2960 closed

[2019-06-12 10:58] beutlich commented on #2960
The recommendation is to use unnamed import statements, i.e.,

[code]

[2019-06-12 12:03] christiankral commented on #2957
On my opinion it makes sense to have an additional model for the linear case. We also have a voltage source model for constant, step and ramp voltages, even though the a ramp model covers all three cases.

In order to avoid parameterization errors for new Modelica users the linear model shall have the addition parameter `Vmin` and the model could internally propagate `{[0, Vmin / V0; 1, 1]}` with

[2019-06-12 13:34] maltelenz opened #2968 "Missing reference results"
All of the below concerns version 3.2.3.

These models do not seem to have any reference results in the reference results repository (or traces that one was attempted). They all have experiment annotations though:

- ModelicaTest.Math.TestMatricesExamplesSolveLinearEquations
- ModelicaTest.Tables.CombiTimeTable.Test85
- ModelicaTest.Tables.CombiTimeTable.Test86
- ModelicaTest.Utilities.TestExample

[2019-06-12 13:38] maltelenz opened #2969 "Reference result with "nan" for kc_roundTube"
The csv file `ModelicaTest/Fluid/Dissipation/Verifications/HeatTransfer/HeatExchanger/kc_roundTube/kc_roundTube.csv` in the reference result repository contains a `nan` in the first row of data.

Is this expected? What should it be interpreted as?

[2019-06-12 16:03] beutlich commented on #2936
Resolved in master and maint/3.2.3 branches.

[2019-06-12 16:03] #2936 closed

[2019-06-12 16:06] #2945 closed

[2019-06-13 09:44] AHaumer commented on #2957
ok implemented with Boolean parameter useLinearSOCDependency=true

[2019-06-13 13:50] beutlich commented on #2860
Resolved in master by #2916: The behaviour of And and Nand block was changed to return true on empty on non-connected input connector, respectively false. In that sense, it no longer is a pure documentation issue.

We could argue, that we might want to add All and Nall blocks rstoring the existing beahviour (and with conversions And->All and Nand->Nall applied to not break compatibility).

@HansOl

[2019-06-13 13:50] #2860 closed

[2019-06-13 16:27] AHaumer opened #2971 "Conversion/Renaming Machines"
@christiankral @beutlich @dietmarw @HansOlsson
For a long time we did wait for a release with conversion script for a bunch of renaming, especially AsynchronousInductionmachine -> InductionMachine and SynchronousInductionmachine -> SynchronousMachine.

I've attached a conversion script, i.e. conversion of user models shouldn't be a problem.
Renaming with a smart tool should fix the instatntions wi

[2019-06-13 16:29] AHaumer commented on #2971
One more question: Are wildcards allowed in the conversion script?

[2019-06-13 17:18] beutlich commented on #2971
I guess you address #733 with your conversion.

Manually. For that reason (of depending changes) it is recommended to have not too many PRs open and to review PRs in time.

See also #2914 for a major renaming task.

[2019-06-14 08:58] dofware opened #2972 "Cubic interpolation Moody diagram"
Dear all,
we have an issue about the interpolation cubic spline expression at the following modelica standard fluid library line:

https://github.com/modelica/ModelicaStandardLibrary/blob/e2dafbe029f7171130f46800077251834a40e716/Modelica/Fluid/Pipes.mo#L2930

We are not able to obtain the same "Re" expression as the one implemented. In particular the "c3" coefficient in the expression multipies th

[2019-06-14 09:14] beutlich commented on #2972
@casella @thorade Can you please have a look at it.

[2019-06-14 11:44] dietmarw commented on #2971
If you want to rename all child classes of a parent class then you simply rename the parent class. So that would be the equivalent of the wildcard you are asking about.

Could we close this issue here and continue on the original #733 perhaps to not digress too much?

[2019-06-14 11:50] dietmarw opened #2973 "Rename MultiPhase to Polyphase"
This is a follow-up on https://github.com/modelica/ModelicaStandardLibrary/issues/1865#issuecomment-330878902 and also related to #733 and also #2971.

We should correct the multi-phase terms (and their spelling variants) to `Polyphase`. Mind no camel case since it was agreed that the correct to be used term is "polyphase" and not "poly-phase" or "poly phase".

[2019-06-15 18:56] christiankral commented on #2971
I propose to go one step ahead considering #2973:

Change in [ConvertMachines.txt](https://github.com/modelica/ModelicaStandardLibrary/files/3287148/ConvertMachines.txt):

[code]

to:

[code]

[2019-06-15 21:09] christiankral opened #2974 "MSL 4.0.0, package management and new features"
MSL 4.0.0 allows conversion scripts. This gives us the opportunity to think about the restructuring of the MSL in a greater way. I think we should therefore use this opportunity to improve the MSL. Otherwise it may take another ten or 20 years before the next chance comes along.

In some previous discussions there have been objections on getting new features / libraries into the MSL. From my under

[2019-06-15 21:33] christiankral opened #2975 "Proposal to split MSL into single files"
Whenever I visually inspect a pull requests (PR) on GitHub I very much dislike that I have no orientation on what Modelica class the actual PR refers to. For example [PR #2956](https://github.com/modelica/ModelicaStandardLibrary/pull/2956/files/99980a36153da3ba9d05dd35e81b436499c4006c) shows that lines 4058 to 4061 are affect. What models was the change made at? I have no idea at all. OK, I could

[2019-06-15 23:19] dietmarw commented on #2975
I'm totally support the one file per model. I do this in all my other projects but would like to know if there are arguments to NOT do it this way. The released version could after all be shipped as a simple .mo file (since we still don't have a proper standardised archive format like for example OpenModelica offers).

[2019-06-16 04:28] sjoelund commented on #2975
There are some reasons against it, but they are mainly Windows maximum path limitations (when using the standard C interface) and I think you might only hit these limitations if you also kept resources at the same location as the files (but we have them in Resources now, which should be fine).
There are also limitations on maximum number of open files in Linux/Windows if you try to parse all of th

[2019-06-16 09:07] beutlich commented on #2971
We can rename example models as we like. There is no need to have conversion scripts for them.

[2019-06-16 09:11] beutlich commented on #2975
I remember a SimulationX benchmark, where loading the MSL with all records/functions/models as single files took twice as long as the current structure. In the end, it is about finding a good compormise on loading performance and PR convenience.

[2019-06-16 09:21] sjoelund commented on #2975
That's interesting. In OpenModelica, it is always faster to load multiple files in parallel than a single file for the whole of MSL (using 2 threads is slower than using 1, but even using a single thread to load the full MSL in a single file is slower than loading multiple small files in series)...

[2019-06-16 09:35] beutlich commented on #2974
@christiankral I see your concerns. But for MSL v4.0.0 we already discussed and decided the scope of its changes in many meetings. You can find the meeting minutes in
* https://trac.modelica.org/Modelica/browser/ModelicaDesign/trunk/MeetingMinutesMaterial/min96_2018_Oberpfaffenhofen/Slides-and-Documents/Modelica_Library_Meeting_Notes.pdf
* https://trac.modelica.org/Modelica/browser/ModelicaDesign/

[2019-06-16 12:26] #2906 closed

[2019-06-16 12:30] christiankral commented on #2519
Triggered by #2909 I recalled that there is an alternative implementation based on HTLM5.

@tobolar Shall we include `<figure>` as an additional way of including figures? I would not replace the table implementation, however. Otherwise we invalidate MSL documentation by introducing a new rule.

[2019-06-16 12:31] christiankral commented on #2519
Is `<p>` and `</p>` actually required here...? Does anybody know?

[2019-06-16 12:34] beutlich commented on #2519
The `figure` tag should be placed outside the `p` tag.

[2019-06-16 12:51] christiankral commented on #2944
I checked the master branch and found

[code]

@beutlich Is there anything left to do?

[2019-06-16 13:02] beutlich commented on #2944
Yes, this issue is on the conversion (and removal) of the misspelled types FirstOrderTemperaturCoefficient and SecondOrderTemperaturCoefficient (note, the missing **e**). I created #2930 for this, but you questioned if they are in the right package: NonSIunits or SIunits. #2930 was straight forward, but now I longer know, how to convert these two misspelled types.

[2019-06-16 13:16] christiankral commented on #2908
For some reason it's already included in the MSL master of `Modelica.Electrical.Machines.Utilities.TerminalBox` and `Modelica.Electrical.Machines.Utilities.MultiTerminalBox`:

[code]

I think the text is sufficient and does not require the proposed and redundant information that the star point is only there, when the terminal box uses a star connection.

[2019-06-16 13:17] #2908 closed

[2019-06-16 13:22] christiankral commented on #2636
Done from my side.

[2019-06-16 14:45] christiankral commented on #2478
Unified colors of ComplexBlocks are discussed in #2833 and handled in #2977.

[2019-06-16 17:28] christiankral commented on #2628
I totally agrree. We need to come up with a decision. The majority of sensors in the MSL places a black label of the quantity next to the output(s) of the sensor. Personally I am used to indicate an Ampere meter by "A" not "i". For the sake of consistency I have no issue to switch to "i".

@AHaumer Do you have any objections against "i" for an Ampere meter?

[2019-06-16 17:33] christiankral commented on #2628
Onve we come up with a decision we need to write it down in `Modelica.UsersGuide.Conventions.Icons`

[2019-06-16 17:40] beutlich commented on #2908
Looks like a tool issue that `<>` is considered as empty HTML tag wehen rendering the rool tip:

![grafik](https://user-images.githubusercontent.com/14896695/59567477-8db89f80-906e-11e9-9f8c-70bac12f3a6e.png)

[2019-06-16 17:43] beutlich commented on #2636
Only Fluid and Media left to do, right?

[2019-06-16 17:52] christiankral commented on #2478
I guess the original intention of this ticket is covered by now.

The "only" missing thing is the improvement of the icons of `Modelica.Blocks`. Probably we should create a new ticket based on the conclusions of this ticket:

- `Modelica.Blocks.Icons.PartialBooleanBlock` shall be renamed; however, I do not understand what the difference of `Blocks.Icons.PartialBooleanBlock` and `Blocks.Icons.Boole

[2019-06-16 21:03] christiankral commented on #2636
I missed `Modelica.Magnetic.FluxTubes` previously; now covered by #2980.

Otherwise, Fluid, Media and Math are missing.

[2019-06-17 06:38] bilderbuchi commented on #2975
To approach the root request here:

The bit of text you see at the start of a diff section is called a "hunk header". There are a couple of predefinied ones, but Modelica is not part of those. See [here](https://stackoverflow.com/questions/28111035/where-does-the-excerpt-in-the-git-diff-hunk-header-come-from) for some more info--it is possible to add a custom detection regex to obtain a more meani

[2019-06-17 06:53] bilderbuchi commented on #2975
Note that by using a [global attributes file](https://stackoverflow.com/a/56465691/599884) in connection with the above, you should be able to implement this for all your modelica repos without any changes in the repos themselves, which would be convenient.

[2019-06-17 07:47] HansOlsson commented on #2975
Some minor comments:

- We cannot assume that everyone uses SSD for MSL. I don't think my work computer (from last year?) is unique in having both an SSD and normal 7200rpm drive.
- Depending on file size and file system there is also be an extra overhead for having a large number of files; I don't know how significant that is - but I have seen that it sometimes lead to strange results (almost dou

[2019-06-17 09:01] henrikt-ma commented on #2975
Any tools with functionality to search for classes in enabled libraries will need to know the contents of all libraries as soon as this search is used.  Hence, without a caching scheme to support searching for classes without loading all enabled libraries, the loading time for entire libraries remains important.

Henrik

[2019-06-17 13:04] christiankral commented on #2975
My summary from this discussion:

- From the tool vendors point of view there seems to be no significant objection against splitting up everything one file per Modelica class. Once done, the tool vendors still have the option to re-structure the Modelica files and directories of the MSL to increase their tool performance, if required.
- Windows maximum path limitations seem not be relevant due to

[2019-06-17 14:33] christiankral commented on #2944
Do I understand correctly:

- [x] The misspelled units `FirstOrderTemperaturCoefficient` and `SecondOrderTemperaturCoefficient` are fixed.
- [x] The non SI units are replaced by SI units, as `degC` is replaced by `K` and `degC2` is replaced by `K2`.
- [x] The two units are moved from `NonSIunits` to `SIunits`.
- [ ] We are currently only missing a conversion script but the question is what is the

[2019-06-17 14:36] christiankral commented on #2519
OK thanks. So the correct syntax is

[code]

[2019-06-17 15:28] max-privato commented on #2908
Ah, ok. The thing is that OM presently shows conditional connectors. It shouldn't and there are plans to correct this, so I agree with leaving the short descriptive text.

[2019-06-17 15:33] sjoelund commented on #2975
That's not really going to help. You can easily merge files if you both work on different parts of the file; usually this is even done automatically.

[2019-06-17 15:42] christiankral commented on #2968
@GallLeo Can you more or less create the test results automatically by reading the model experiment annotation in an automated way, if I provide the proper list of variables in a file named `comparisonSignals.txt`?

[2019-06-18 09:31] beutlich commented on #2944
See https://github.com/modelica/ModelicaStandardLibrary/pull/2930/files#diff-a8803965a30a4c681f147defe8b74ab7. Beside the conversion we also need to remove the misspelled types and require a conversion test model. Can you please revisit #2930 again.

[2019-06-18 10:01] beutlich commented on #2975
My idea would be to find a good compromise, e.g., one file per package, instead of choosing one or another extreme, i.e., one class per file or one file for all classes, respectively. I also prefer if tool vendors distribute their MSL in the same file structure as the officially released MSL for the sake of comparison, though they are free to restructure for sure.

Can one of the grammar experts (

[2019-06-18 10:38] sjoelund commented on #2975
You have to add that hunk header to your git config. As for as I could tell, GitHub will not use it which will not make it great for PR preview.

[2019-06-18 11:37] christiankral commented on #2975
I think the file structure of the MSL hosted on GitHub shall support the library officers and Modelica code developers and maintainers as tight as possible. To me this ticket is mainly about improving the workflow when developing and maintaining the MSL.

@beutlich Why do you think that a compromise with one file per package is "better" than one file per class. I host all my other projects with on

[2019-06-18 13:13] HansOlsson commented on #2975
I tried to see if it were possible to construct "hunk header" and I believe the following handles most cases when using `git diff -W .`
in .gitattributes: `*.mo diff=mo`
in .git/config
[code]
But I haven't investigated how to turn it into a PR, or how it would work on GitHub.

The second part is designed to handle Modelica.Media without tripping on local classes.

[2019-06-18 13:27] dietmarw commented on #2974
@christiankral I'd like to address your questions regarding impact.

Impact has been developed as a test implementation to demonstrate what is possible. Similar approaches haven been done by other software projects, including Julia. So solutions are out there but the critical point is adoption. So far both Mike and I have had minimal response from tool vendors as to further develop a package manag

[2019-06-18 19:48] beutlich commented on #2975
I asked the GitHub support team for their support. Let's see.

[2019-06-19 10:02] AHaumer commented on #2628
I dislike "i" for Amperemeter - lots of electrical engineers won't understand. They're used to read "A".

[2019-06-19 10:05] dietmarw commented on #2628
So we should probably unify it to have the **unit** displayed in the icon? T

[2019-06-19 11:41] #940 closed

[2019-06-19 18:14] #2944 closed

[2019-06-20 08:00] beutlich commented on #2975
Here's their reply:

Does someone feel comfortable to contribute the Modelica hunk header definition to git? Thanks.

[2019-06-20 09:36] HansOlsson commented on #2975
I can take a look next week, if no-one else volunteers.
BTW: I realized that the pattern above missed "redeclare replaceable" for Modelica.Media so it needs a slight update.

[2019-06-20 10:25] christiankral commented on #2628
So the SI unit is also OK to me.

If we speak of unifying it, is it meant to unify it in all sensors of the MSL? Or do we mean only the electrical sensors?

There are yet some other open questions we shall agree on when unifying the sensors.

A. What color shall the unit have? We have nothing on this question in the icon guidelines yet.

  1. Black color
  2. Gray color (e.g. {192,192,192} or {128

[2019-06-20 14:36] dietmarw commented on #2076
So is the conclusion we leave it as is and allow "var" and "VA" etc?

[2019-06-20 15:50] christiankral commented on #2923
There are always other options to design icons. One big achievement of in the icon design guidelines was to always have the connector on the same place and to have the component name and possible parameters at the same place. This enables a unique look and unique design of models. Since we agreed on all these design guidelines I would definitely not like to change these guidelines, as this would e

[2019-06-20 15:55] christiankral commented on #2076
I guess we shall leave "var" and change "VA" to "V.A" as this is in line with the convention of specifying units.

[2019-06-20 16:03] christiankral commented on #2968
Refs https://groups.google.com/forum/#!msg/map-lib/jDbvOWGbQNY/klMtdIgHAgAJ

[2019-06-20 16:12] beutlich commented on #2076
Can you create a prull request for it then? Thanks.

[2019-06-21 08:55] christiankral commented on #2899
Having a closer look:

[2019-06-21 08:55] christiankral commented on #2899
## Diodes in `Modelica.Electrical.Analog.Semiconductors`

`Diode` | `Diode2` | `HeatingDiode` | Description
--------- | ----------- | ------------------- | --------------
-- | -- | `EG` | Activation energy
`Ids` | `Ids` | `Ids` | Saturation current
`Maxexp` | `Maxexp` | `Maxexp` | Max. exponent for linear continuation
-- | `N` | `N` | Emmision coefficient
`R` | -- | `R`| Parallel ohmic resistance

[2019-06-21 09:44] christiankral commented on #2899
## NMOS and PMOS in `Modelica.Electrical.Analog.Semiconductors`

A comparison of the PMOS and NMOS models shows many equally named parameters. The following tables shows only the parameters which are not present in each of the four models:

 `NMOS` and `PMOS` | `HeatingNMOS` and `HeatingPMOS` | Description
--------------------------- | ----------------------------------------------  | ------------

[2019-06-21 09:55] christiankral commented on #2899
## NPN and PNP in `Modelica.Electrical.Analog.Semiconductors`

I guess the situation is similar to that of the diodes. The two model types `ǸPN` (and `PNP`) differ from `HeatingNPN` (and `HeatingPNP`) in such way that some parameters do not overlap. So possibly these models have be kept separately due their different operational behavior. I suspect that the "Heating" of this model shall be replace

[2019-06-21 10:53] christiankral commented on #2899
## Resistors in `Modelica.Electrical.Analog.Basic`

The two resistor models `Resistor` and `HeatingResistor` have the very same operational behavior but different parameter names of the reference resistance at the reference temperature.

 `Resistance` | `HeatingResistance` | Description
--------------------------- | ----------------------------------------------  | -------------
`R` | -- | Resista

[2019-06-21 11:22] beutlich commented on #2899
Yes, sounds reasonable.

[2019-06-21 13:53] christophclauss commented on #2899
Converting the HeatingResistor as you suggested should work. It is o.k. to me.
For checking the Diode, MOS as well as Bipolar models I need some time. Possibly simplifications can be done. First I will look at the equations.

[2019-06-21 13:54] christophclauss commented on #2899
Sorry for closing!

[2019-06-21 14:25] beutlich commented on #2899
Can you estimate how long it will take as I do not want to see the current momentum stopping again? Thanks.

[2019-06-21 18:34] beutlich commented on #2534
@tobolar I suggest you go ahead with the clean separation of BaseClasses and Unterfaces for MultiBody.

[2019-06-21 20:05] #194 closed

[2019-06-21 20:32] christiankral commented on #2974
@beutlich and @dietmarw: Thanks for replying to my questions. My intention when writing this ticket was to get a better understanding on what the actual status of the planned package management is and what implications it on the MSL 4.0.0 development process has. From your conclusions I learn that there are way too many open issues and questions to get a package management system implemented befor

[2019-06-21 21:11] #2833 closed

[2019-06-21 21:15] beutlich commented on #2972
@wischhusen I noticed that the aboved mentioned function Modelica.Fluid.Pipes.BaseClasses.WallFriction.PartialWallFriction.massFlowRate_dp.interpolateInRegion2 is a duplicate of Modelica.Fluid.Dissipation.Utilities.Functions.General.CubicInterpolation_Re (previously named CubicInterpolation_DP) and Modelica.Fluid.Pipes.BaseClasses.WallFriction.PartialWallFriction.pressureLoss_m_flow.interpolateInR

[2019-06-21 21:34] #2076 closed

[2019-06-22 08:31] christiankral commented on #2694
How do you spell?

sub-package | subpackage | sub package

In the MSL I found sub-package and subpackage.

[2019-06-22 08:48] beutlich commented on #2694
[subpackage](https://en.wiktionary.org/wiki/subpackage)

[2019-06-22 08:58] christiankral opened #2990 "Missing User's Guides"
I suppose that each Modelica package shall have a User's Guide

* to give a short introduction into the package,
* to host contact information,
* to host the revision history,
* and summarize all literature references.

Such a User's Guide is currently missing in the following packages:

* Blocks
* Electrical.Analog
* Thermal.HeatTransfer
* Math
* ComplexMath
* Icons already provides the informati

[2019-06-22 12:03] christophclauss commented on #2899
I also do not like stopping the current initiatives. I will do it within the next 14 days, starting with the diodes.

[2019-06-22 12:11] beutlich commented on #2971
I started to work on it. It is getting massive.

[2019-06-22 12:11] beutlich commented on #2973
I started to work on it. It is getting massive.

[2019-06-22 12:13] beutlich commented on #2971
Closing in favour of #733.

[2019-06-22 12:13] #2971 closed

[2019-06-22 13:09] mtiller commented on #2974
My only comment here is that every modern language I can think of comes, out of the box, with a package manager.  The current emphasis on having your code in the standard library is primarily driven by the fact that the standard library is sure to be installed on all machines.

There are, in my view, a few pre-requisites to creating a package manager that we'd need to address first:
  1. Marking v

[2019-06-22 19:02] beutlich commented on #2226
Resolved by #2891 in master.

[2019-06-22 19:02] #2226 closed

[2019-06-22 19:32] christiankral commented on #2479
I agree, we shall move the partials one level up and keep the names as they are. I will prepare a PR.

[2019-06-22 20:21] christiankral commented on #496
I will create a PR to remove Partial from the names and fix the naming issue with of the TwoPorts.

[2019-06-23 08:33] beutlich commented on #2953
After closing #2955 w/o merge, is this now covered by #2970?

[2019-06-23 08:40] beutlich commented on #2760
Since Modelica.Media.Examples.TestOnly will be removed by #2996, only ModelicaTest is relevant.

[2019-06-24 07:06] maltelenz commented on #2628
With regards to the coloring (point A), I'd prefer if we used a dark gray, for example {64, 64, 64}. It's easy to see, without being glaring (like black and blue is).

(Just as a side note, in the MSL we ship in Wolfram SystemModeler, we change all label colors, including %name and parameters, into {64, 64, 64}, because we consider the current default coloring to ugly and unprofessional.)

[2019-06-24 08:24] HansOlsson opened #3002 "Purpose of Modelica.Math.Vectors.Utilities.{householderVector, householderReflection)?"
Based on looking at PR #2986 I noticed these two functions that are not used anywhere in MSL.

Both of them also contain odd statements, that indicate that some additional documentation is needed - in particular:
* householderReflection sets small element to zero. I don't know why; and I don't believe that to be usual. It could be that it is relevant for some application, but there is no indicatio

[2019-06-24 08:27] beutlich commented on #3002
They are used in ModelicaTest at least.

[2019-06-24 10:35] christoff-buerger commented on #2923
Maybe I should clarify that I did not open this issue just because I dislike the new icon. I got issues because the new icon can result in misguiding rendering of existing model-diagrams if they are not manually adjusted (thus, it can "visually mess up existing user models" in a subtle way).

The scenario I had was the following MSL 3.2.2 diagram (excerpt):

<img width="151" alt="correct-MSL-3 2 2

[2019-06-24 14:05] d94pn opened #3003 "ModelicaInternal_fullPathName truncates trailing '/' on Linux"
The function ModelicaInternal_fullPathName truncates trailing '/' on Linux, but not on Windows.
The truncating behavior in the Linux realpath needs to be compensated for, by checking for existing trailing '/' in the input argument and then add this later to the resulting fullName if needed.

[2019-06-24 14:12] christiankral commented on #2923
First, I agree that `signalVoltage2` is the best choice. However, for newly designed models it is not issue to flip and rotate the model. But existing models may be messed up, e.g. `Modelica.Electrical.Analog.Examples.GenerationOfFMUs`:

![image](https://user-images.githubusercontent.com/4184218/60025055-2667a480-9699-11e9-8490-d517d382440c.png)

Second, for the example you presented:

![image](ht

[2019-06-24 15:05] beutlich commented on #3003
This is due to realpath behaving differently than _fullpath.

During test, I also discovered another issue (of uninitialized memory returned by ModelicaAllocateString) in the _POSIX_ branch. This also is addressed by #3004.

[2019-06-24 20:19] henrikt-ma commented on #3002
I would be in favor of removing this sort of functions from MSL.  I don't really see how they fit into the world of Modelica model computations.  I do see how they fit in a surrounding scripting environment, but in my mind, the MSL shouldn't be a container for scripting environment functions.  I also see how Householder reflections play a role in numeric solving of equation systems, but then the u

[2019-06-24 20:40] beutlich commented on #3002
Yes, we could move these two functions to ObsoleteModelica4 and completely get rid of Modelica.Math.Vectors.Utilities if we also move Modelica.Math.Vectors.Utilities.roots to Modelica.Math.Polynomials.

[2019-06-26 09:03] beutlich commented on #813
See the [wiki](https://github.com/modelica/ModelicaStandardLibrary/wiki/Changes-targeting-MSL-v4.0.0-requiring-conversion) on how to remove/convert obsolete classes for MSL v4.0.0.

[2019-06-26 14:03] HansOlsson commented on #2975
Seems I was more busy than I thought, so it will be next week.

[2019-06-27 06:51] #2112 closed

[2019-06-27 06:51] #2113 closed

[2019-06-27 09:19] christophclauss commented on #2899
To diodes:
HeatingDiode and Diode are very similar, we can combine both models to the model calls Diode. Diode2 should remain as it is.
I suggest the following:
Within the MSL
1) The Diode model is deleted.
2) The HeatingDiode model gets a further parameter:
Boolean DependsOnTemperatureOfHeatPort, which is false by default. If this parameter is false, the temperature T of the heat port is not used

[2019-06-28 07:42] beutlich commented on #2899
I also checked the current behaviour of both Diode and HeatingDiode.

* A Diode can be **exactly** modelled by a HeatingDiode, **only** if useHeatPort=false (and N=Diode.Vt*q/k/T, EG=0, XTI=0).
* A Diode cannot be exactly modelled by a HeatingDiode if useHeatPort=true, since the diode current (HeatingDiode.id) depends on the temperature, whereas it is does not for the Diode.
* Therefore, as you pr

[2019-06-28 07:42] beutlich commented on #2899
@christophclauss Can you please analyze the NMOS, PMOS and NPN, PNP conversion next. Thanks.

[2019-06-28 09:03] beutlich commented on #2899
@christophclauss To save you some work I created a draft PR #3010 with the actual equationsleft to do.

[2019-06-29 11:12] beutlich commented on #2628
Since there haven't been any objections (neither other proposals), I propose to move on with the following suggestions.

 - A: Use textColor={64,64,64} for the SI unit in sensors (as proposed by @maltelenz and also is used for the sensor arrows).
- B: Single-sensors have the SI unit displayed in the circle.
- C: Multi-sensors have the Si units displayed next to the output connector.
- E: Not relev

[2019-06-30 12:45] #2892 closed

[2019-06-30 13:13] beutlich commented on #2776
Reading section 3.10.6 of the Dymola 2020 Release Notes, I see that you meanwhile worked on this issue.

@GarronFish @mdempse1 @Claytex Do you think you could contribute to the MSL this time and provide this enhanced function implementation (either as PR or as code snippet)? Thank you.

[2019-06-30 21:09] christiankral commented on #2628
I will prepare a PR -- I suppose for all packages of the MSL. This will hopefully not cause any conflicts as there may be some open PRs.

Additionally, I will create a PR adding the applied rules to the MSL User's Guide.

[2019-06-30 21:19] beutlich commented on #2628
Thanks.

Conflicts mainly occur in ModelicaTestConversion4.mo or ConvertModelica_from_3.2.3_to_4.0.0.mos which are easy to handle in case of additions.

[2019-07-01 06:39] GarronFish commented on #2776
Happy to.  I'm not sure how this function would be backwards compatible as the derivatives of the n_x and n_y are required in the calculation.  I was thinking that the user would supply the derivatives n_x_der, and n_y_der (what is the MSL convention for the naming the derivatives of signals?).

When would you like the update by?

[2019-07-01 06:56] beutlich commented on #2776
I thought it would be possible like

[code]
Don't you think so?

Anytime soon. 😄

[2019-07-01 07:05] beutlich opened #3015 "Questionable conversion proposition in Spice3.Internal.MOS2"
When trying to remove the obsolete variables icqmGB, icqmGS, icqmGD, vDS, qm and cc_obsolete from Modelica.Electrical.Spice3.Internal.MOS2 I stumbled accross the following comment

https://github.com/modelica/ModelicaStandardLibrary/blob/58a9d22ed2bb8431f2ebc4985e13ee6668231818/Modelica/Electrical/Spice3.mo#L4601-L4606

What exactly is the conversion proposition? I believe it is impossible to conv

[2019-07-01 07:13] GarronFish commented on #2776
Unfortunately the derivatives of the axes have to be calculated to determine R.w, this requires derivative information.

I'm unfamiliar with Git which would be a slowing factor.  I could send the function by Wednesday, not sure how long it would take for me to put it into the MSL Git repository, probably by next Monday.  I'd be interested to learn this though.

[2019-07-01 07:15] beutlich commented on #3015
We simply could add min/max attributes and avoid the whole conversion hassle (since it also is not implemented yet).

[code]

[2019-07-01 07:43] beutlich commented on #2776
Hm, can't the derivatives be calculated within the function or provided as optional arguments, too?

Regarding git we collected some information in our wiki:
* https://github.com/modelica/ModelicaStandardLibrary/wiki/GUI-Clients-for-Windows
* https://github.com/modelica/ModelicaStandardLibrary/wiki/Git-issues-from-svn-perspective
* https://github.com/modelica/ModelicaStandardLibrary/wiki/Reference

[2019-07-01 07:51] GarronFish commented on #2776
It is not legal to use der() inside a function.

Thanks I'll have a look at those links.

[2019-07-01 12:50] beutlich commented on #967
@hubertus65 Can you please elaborate what exactly is to be done and how expensive it is to do after all? Thank you!

[2019-07-01 14:20] #2152 closed

[2019-07-01 19:22] christiankral commented on #2492
I guess we should go with the first possibility, as a real signal unit may be modified by `unit` as well.

[2019-07-01 19:27] beutlich commented on #2492
Agreed.

[2019-07-02 07:17] christiankral commented on #2157
I will move `ComplexBlocks.Sources.LogFrequencySweep` to `Blocks.Source`, as it is a signal source: this is where it belongs to.

[2019-07-02 07:24] beutlich commented on #2157
Havea look at https://github.com/modelica/ModelicaStandardLibrary/pull/2158/files. Might save you some typing.

[2019-07-02 09:05] christiankral commented on #2975
One more argument in favor of the a one file per Modelica class approach: In each Modelica class it is possible to a revision history. For example, `Modelica.Electrical.Analog.Examples.Rectifier` shows only the creation date and that's the entire history of the model:

![image](https://user-images.githubusercontent.com/4184218/60499108-1ca4f900-9cb8-11e9-9b27-80b49a83d32f.png)

So the feature of u

[2019-07-02 15:13] christophclauss commented on #2899
To PMOS
The PMOS model can be easily merged with the HeatingPMOS model if the following steps are done:

Within MSL:
1. The PMOS model is deleted.
2. The HeatingPMOS model gets further parameter useTemperatureDependency like in the Diode model, which is false by default. If this parameter is false, the temperature of the heat port is not used, the HeatingPMOS behaves like the former PMOS model. If

[2019-07-02 19:21] AHaumer opened #3021 "Power equations"
A question to @christiankral , @dietmarw , @beutlich ,  @HansOlsson :
Could we replace the power equations in Modelica.Electrical.QuasiStatic.SinglePhase.Interfaces.TwoPin as shown here
[power.txt](https://github.com/modelica/ModelicaStandardLibrary/files/3351976/power.txt), with the following changes for users, but increasing clarity:
S -> abs_S
P -> S.re
Q -> S.Im
This is not backwards compatibl

[2019-07-03 12:56] christiankral commented on #2492
The units of the Analog sensors use (for example):

[code]

The sensors of the machines use the `quantity` and the `final` attribute:

[code]

My preferences actually are:

* Only use `y(unit = "V")` but no quantity
* Do not use the `final` attribute

In this case I would also change the `Modelica.Electrical.Machines.Sensors`.

@beutlich Any objections?

[2019-07-03 13:26] christiankral opened #3022 "Unify names of sensor signal outputs"
In the different domains we have different names of the signal output connectors. For example, the voltage sensor:

Sensor | Output connector name | Comment
---------- | ------------------------------ | --------------
`Analog.Sensors.VoltageSensor` | `v` | Instantaneous voltage, lower case
`Machines.Sensors.VoltageQuasiRMSSensor` | `V` | Quasi RMS voltage, upper case
`QuasiStatic.SinglePhase.Senso

[2019-07-03 18:10] hyumo opened #3023 "Uppercase first letter for fullrobot and oneAxis"
According to `Modelica.UsersGuide.Conventions.ModelicaCode.Naming`,
[code]
The following classes are not following this rule:
-`Modelica.Mechanics.MultiBody.Examples.Systems.RobotR3.oneAxis`
-`Modelica.Mechanics.MultiBody.Examples.Systems.RobotR3.fullRobot`

It might be good to fix them in MSL 4.0 when backward compatibility could be ignored.

[2019-07-04 13:55] HansOlsson commented on #2975
I have now investigated three parts:

- What type of change is needed. It turns out that built-in patterns are written in C, so it seems best to copy an existing case: https://github.com/git/git/commit/d74e78602e3d562f5db64d553d4be21c201ef7b3#diff-a05a7b02fcc0bb763698006f4b43d758
- The desired change. The above indicates that we need xfuncname, wordregex, and **test-cases** - and on the other hand

[2019-07-04 17:43] AHaumer commented on #2975
To be honest, I think to search for a workaround to see to which file the comparsion (of PRs) belongs to is not an optimal solution.
It would be much much better if the libraries would be split up into single files. It is much easier to track in which file which changes have been applied.
I strongly vote for splitting up the libraries into files - if no tool vendor has onjections. e.g. from dramat

[2019-07-04 17:54] AHaumer commented on #3022
We can discuss whether to use an uppercase V for RMS voltage output.
But @christiankral is right, "y" should be "v".
And I think we should add units!

[2019-07-04 17:55] AHaumer commented on #3022
@christiankral  I vote for proposal 1.

[2019-07-04 18:00] AHaumer commented on #3021
The proposal handles (complex) power the same way as voltages and currents.
Could please anyone give a hint whether the above mentioned changes can be handled by a conversion script?

[2019-07-04 18:13] AHaumer commented on #3021
In case of polyphase, we would use ComplexApparentPower S[m] and S_total, i.e.
S[m] -> abs_S[m]
P[m] -> abs_S[m].re
Q[m] -> abs.S[m].im
S_total -> abs_S_total
P_total -> S_total.re
Q_total -> S_total.im

[2019-07-04 18:50] AHaumer commented on #2492
@beutlich and @HansOlsson - could give us some hints please:
What does a tool check - quantity or unit?
What are the advantages of using quantity AND unit? Are there disavantages?
What are the disadvantages of using final?

[2019-07-04 18:55] AHaumer commented on #2492
Do we have to expect problems if the signal is fed to a block input?
We have problems in blocks, too: Consider Blocks.Sources.PTP
"Position" has unit "1".
"Velocity" has unit "1", should have "unit of Position"/s.
"Acceleration" has unit "1", should have "unit of Position"/s2.
Remember: Position could be an Angle, too.

[2019-07-04 20:26] christiankral commented on #2964
The triac model `Modelica.Electrical.Analog.Ideal.IdealTriac` is on my opinion not an **ideal** model as it also has a resistor and a capacitor parallel connected to the thyristors to eliminate disturbances.

![image](https://user-images.githubusercontent.com/4184218/60686476-3194ae80-9ea9-11e9-85db-edabf126bec1.png)

As this capacitor may interfere with other components of an electric circuit it

[2019-07-05 06:54] bilderbuchi commented on #2975
This is not intended to identify the _file_ a certain diff hunk belongs to (this already exists now in the Github interface), but to identify the _class_ it belongs to, which directly addresses the issue you reported, i.e.

[2019-07-05 07:05] bilderbuchi commented on #2975
@HansOlsson I think the first step would be to [write to the mailing list](https://git-scm.com/community):

There is a document about [submitting patches](https://git-scm.com/docs/SubmittingPatches/).

It seems there is an [easy way](https://git-scm.com/docs/SubmittingPatches/#travis) to get automated tests/compilation going via Travis if you clone the git/git repo on Github - this probably would

[2019-07-05 07:16] HansOlsson commented on #2492
Primarily unit.

Note that when doing operations - like multiplying signals - we can only check the units.

When directly connecting we also check quantities for connected variables, in general the reasons is that there can be different quantities that don't mix - and in addition we use the quantity to check
However, this is not as reliable as quantity-names are not well-defined - and there are ca

[2019-07-05 07:17] HansOlsson commented on #2492
To me the solution is to not specify unit in these cases, i.e. remove unit="1".
A tool can then automatically deduce all of the above.

[2019-07-05 10:42] christiankral commented on #2492
To me this sounds like that

[code]

is be solution to go:

* As `quantity` is not standardized, the is no strict need for it
* The `final` attribute gives the sensor models a stricter physical behavior which is OK
* In case that a user model already uses a modification of the output signal we could run into a conflict but the risk seems to be really minor

Are there objections?

[2019-07-05 10:59] christiankral commented on #2975
During the discussion it turned out more and more that this is not only an issue of pull requests (PRs). Getting information on what Modelica class the change of a PR refers to is finally only one aspect in this discussion.

It is also a lot easier to track and to reproduce changes of any Modelica class of the MSL when splitting up the MSL into single files per class: I think this is a very import

[2019-07-05 16:42] #147 closed

[2019-07-05 16:53] #2157 closed

[2019-07-05 19:09] beutlich commented on #2975
I am not in favour of splitting Modelica.Media.IdealGases.Common.SingleGasesData in 1241 files. This is an overkill. My proposal would be to first try one file per package and maybe one file per example model.

[2019-07-06 08:53] beutlich commented on #545
@thorade Do you think you could provide a PR for adding the missing units? Thanks!

[2019-07-06 09:47] beutlich commented on #2492
OK for me, except that removing the final breaks backwards-compatibility. Thus, I propose to not remove the final qualifier from signals where it is currently set.

[2019-07-06 09:52] christiankral commented on #2492
So for compatibility reasons you prefer to keep `final quantity="ElectricPotential"`. That's OK.

[2019-07-06 09:54] beutlich commented on #2492
Yes, kepp it where it alreadyis set. But do not add new quantityattributes or new final qualifiers.

[2019-07-06 09:56] christiankral commented on #2492
So use `RealOutput y(unit = "V")` instead of `RealOutput y(final unit = "V")` for all new output units?

[2019-07-06 10:02] beutlich commented on #2492
Actually, I have no strong opinion. Previously, in https://github.com/modelica/ModelicaStandardLibrary/pull/2197/files#diff-42a3cb78f53b2034a06e53baf19cae1a I added the final qualifier only for signals where it is not in SI unit, e.g., for degC or bar.

[2019-07-06 10:43] christiankral commented on #2492
OK, I will then go for `RealOutput y(final unit = "V")` for all new SI unit outputs and omit the `final` for non SI unit outputs (such as angles).

[2019-07-06 10:54] beutlich commented on #2492
Which is exactly the other way round as I did previously. 😕

[2019-07-06 12:22] christiankral commented on #2492
Hmmm... But why are non SI units `final` in your proposal, and the SI units are not `final. Can you explain your arguments?

[2019-07-06 13:23] christiankral commented on #2975
1. I made an attempt to save the MSL with Dymola in a directory structure. Surprisingly the package `Modelica.Media.IdealGases.Common.SingleGasesData` was saved as one file by Dymola. However, this is what my disk analysis tool shows, sorted by the number of items:

![image](https://user-images.githubusercontent.com/4184218/60756745-b98dcc00-a001-11e9-9cd0-5803ac01e5e8.png)

2. Considering the lib

[2019-07-06 16:56] beutlich commented on #2975
OK, fine for me after all.

However, we must merge **all** PRs first before restructuring the packages. Otherwisewe run into massive conflicts.

[2019-07-06 17:03] beutlich commented on #2492
My thought was that signals are always in SI units. For that reason you can change the unit afterwards (i.e., non final). On the other side, that signal that are uses as non-SI unit in calculations must not be changed in unit (i.e., final). Not sure if this is right at all.

[2019-07-07 10:28] #415 closed

[2019-07-07 15:36] beutlich commented on #2953
I believe it is resolved by #2970. Please reopen otherwise.

[2019-07-07 15:36] #2953 closed

[2019-07-07 16:12] beutlich opened #3028 "Missing descriptions for Modelica.Electrical.PowerConverters.Examples.ACDC.RectifierBridge2Pulse.ThyristorBridge2Pulse_DC_Drive.{w, tau}"
Please add descriptions for the output variables w and tau of Modelica.Electrical.PowerConverters.Examples.ACDC.RectifierBridge2Pulse.ThyristorBridge2Pulse_DC_Drive.

[2019-07-08 06:39] GarronFish commented on #2776
Sorry I'm going to be quite a while, work has just got hectic.  I can provide you with the models soon, if you want to put them into push these onto the Modelica Library.  Otherwise it could be a few weeks before it gets loaded up.

[2019-07-08 07:09] maltelenz commented on #2975
Aren't all the things in `Modelica.Media.IdealGases.Common.SingleGasesData` just components (not classes), which is why they end up in the same `package.mo`?

I'm strongly in favor of fully splitting into one file per class.

[2019-07-08 07:10] maltelenz commented on #2975
Accidentally closed, reopening...

[2019-07-08 08:05] HansOlsson commented on #2975
I tried to save MSL 3.2.3 on disk as separate files (as much as possible) and it was
13.5MB but 21MB on disk (without Resources) - that difference is the overhead due to small files, and will depend on the type of hard-disk etc. Currently the size on disk is about 14.3MB and Resources is 29/31MB.

And, `Modelica.Media.IdealGases.SingleGases` - was stored as 37 separate folders, one for each packag

[2019-07-08 09:57] #1159 closed

[2019-07-08 09:58] #813 closed

[2019-07-08 10:15] beutlich commented on #3021
@HansOlsson Is such kind of renming possible by convertClass?

[2019-07-08 10:21] HansOlsson commented on #3021
To clarify: You mean that this applies to any index 'm', right?

[2019-07-08 10:26] beutlich commented on #3021
Hm, I tought that array component P should get renamed to abs_S.re.

[2019-07-08 10:29] HansOlsson commented on #3021
Except that as I understand it abs_S is the new array.

[2019-07-08 10:52] beutlich commented on #3021
Yes, basically it is deleting and adding variables. Is that possible by conversion support?

Old:
[code]

New:
[code]

abs_S is Real, right?

[2019-07-08 11:40] christiankral opened #3030 "Remove obsolete FundamentalWave cage models"
The obsolete cage models introduced in #1536 shall go to `ObsoleteModelica4.mo`.

[2019-07-08 11:41] christiankral commented on #3030
Applies to
* `Modelica.Magnetic.FundamentalWave.BasicMachines.Components.SymmetricMultiPhaseCageWinding_obsolete`
* `Modelica.Magnetic.FundamentalWave.BasicMachines.Components.SaliencyCageWinding_obsolete`

[2019-07-08 11:58] christiankral commented on #3030
Instead the following models shall be used:

* `Modelica.Magnetic.FundamentalWave.BasicMachines.Components.SymmetricMultiPhaseCageWinding`
* `Modelica.Magnetic.FundamentalWave.BasicMachines.Components.SaliencyCageWinding`

[2019-07-08 12:07] HansOlsson commented on #3021
I thought that in the example above the idea was to convert `P[m]` to `X[m].re` and in general any element of this array in this way, since P was removed. However, I might be mistaken, so it would be good to have it clarified.

[2019-07-08 12:23] beutlich commented on #3021
As I understood it, at least for the single-phase case:
   - Remove Reals P, Q and S.
   - Add Reals abs_S, arg_S and Complex S.
This means that the type of S changes from Real to Complex.

[2019-07-08 16:36] christiankral commented on #2492
I am now a little undecided on how to proceed...

@HansOlsson How would you do it?

[2019-07-09 13:39] tobolar commented on #2975
@christiankral

This would also be the case for `Modelica.Icons` with several icons being of "package" class.

[2019-07-09 14:00] tobolar commented on #2519
@christiankral

This would be reasonable to me. I have used \<div\> until now but  \<figure\> is definitely the right choice. And it is aline with \<figcaption\>, both being introduced in HTML5

Would you prepare the update of `Modelica.UsersGuide.Conventions` considering this? Provided there is no concern about using HTML5 in MSL.

[2019-07-09 14:28] tobolar commented on #2534
@beutlich
Unfortunately, not so far - see https://github.com/modelica/ModelicaStandardLibrary/pull/2997#issuecomment-509642149

[2019-07-09 16:54] thorade commented on #545
Yes, I can submit a PR, in two weeks, after vacation and a conference!

Thomas Beutlich <notifications@github.com> schrieb am Sa., 6. Juli 2019,
10:53:

[2019-07-10 09:53] HansOlsson commented on #2492
As far as I understand changing the unit in this declaration doesn't change the sensor value - and thus I don't see the benefit of allowing changes (even if non-SI), **and would thus always make the unit final.**

If we add some complex logic to allowing switching unit - and compute values in that unit, then that unit-expression will be complicated - but still final.

[2019-07-10 20:47] christiankral commented on #2492
@HansOlsson Right, changing the unit does not change the sensor value. Your suggestion sounds reasonable to me and making every output quantity final is close to the physical nature of a sensor: The output of a voltage sensor is a voltage (in the SI unit Volt) and nothing but that.

So I suggest to go for this proposal and make every SI unit final and omit the quantity. I actually do not see any s

[2019-07-11 15:17] HansOlsson commented on #3021
It should be handled, and **ideally** it shouldn't matter that both are called 'S'.

However, in case of incorrect implementation (and/or confused users) the conversion may run more than once and that will cause a completely mess - so there is a minor advantages in having different names. Thus if we can find a more descriptive new name than 'S' I would think that is good.

[2019-07-11 15:37] christiankral commented on #2603
On one hand I understand this argument very well, as I think that the user does not need to stumble into directories and files if there is no need for it. On the other hand it does make sense to have all the resources in one place in order to avoid copy + paste and file sync work which is always fault prone and -- finally unnecessary work.

The actual structure of the ModelicaStandardLibrary repos

[2019-07-12 06:42] max-privato opened #3034 "A reactive power sensor"
I think the availability of a good reactive power sensor would be very useful for analysing single-phase quasi-sinusoidal circuits.
I've a simple component ("QSensor") that I created several years ago and I've been using since then satisfactorily. In the enclosed zip I've put this component and a simple circuit for testing it. The two models contain some description (Documentation annotation) alre

[2019-07-12 07:02] christiankral commented on #3034
So the proposed model is based on the a `FixedDelay` block:

![image](https://user-images.githubusercontent.com/4184218/61108831-b40e0700-a483-11e9-9e89-0c7b2fbbb4e0.png)

[2019-07-12 15:37] christiankral opened #3035 "Change parameter freqHz to f"
The parameter `freqHz` of the sinusoidal voltage sources of

* `Modelica.Electrical.Analog.Sources`
* `Modelica.Electrical.MultiPhase.Sources`

shall be changed to `f`

[2019-07-12 15:39] christiankral commented on #3035
Before doing this ticket, #2973 shall be done.

[2019-07-12 19:10] #3030 closed

[2019-07-12 19:13] AHaumer commented on #3034
Sorry, I'm **strictly against** using a delay. Delay might cause problems in some tools. Are events also delayed? It's a similar problem as with the mean-block (which also has a delay).
Both solutions depend on a **fixed** frequency. If you have a system with variable frequency, you're lost.
I know that the solution for polyphase systems is easier, and it seems that you want to have a single-phase

[2019-07-12 20:54] christiankral commented on #3034
All the electrical sensor of the Modelica Standard Library contain no signal processing and therefore the sensor output signals have no time delay at all. Some sensor may contain calculations, but they all rely on on instantaneous calculations. I am therefore also not in favor of including such reactive power sensor.

Instead I provide a small Modelica library [ElectricalSignalProcessing](https://

[2019-07-12 21:45] max-privato commented on #3034
_Both solutions depend on a fixed frequency. If you have a system with variable frequency, you're lost._
Yes. Indeed I evidenced the fixed frequency in the icon exactly because of this.
Before proposing this sensor I've been using it for years for teaching, and I really found it useful. It works only within fixed frequency electric circuits.

_I know that the solution for polyphase systems is easi

[2019-07-12 21:58] max-privato commented on #3034
_All the electrical sensor of the Modelica Standard Library contain no signal processing and therefore the sensor output signals have no time delay at all. Some sensor may contain calculations, but they all rely on on instantaneous calculations. I am therefore also not in favor of including such reactive power sensor._
If this is the philosophy, obviously my proposal is against it. I made my propo

[2019-07-13 14:32] beutlich commented on #2108
Not a relevant issue.

[2019-07-13 14:32] #2108 closed

[2019-07-13 15:05] beutlich commented on #608
Also addressed by #3017.

[2019-07-13 15:22] beutlich commented on #825
I believe this still is not possible by Modelica Specification 3.4. Therefore I propose to move the milestone. Do you agree @christophclauss ?

This seems to be missed out.

[2019-07-13 15:24] beutlich commented on #814
@christophclauss What is your proposal for MSL v4.0.0?

[2019-07-13 16:31] AHaumer commented on #3035
In favour!

[2019-07-13 16:34] AHaumer commented on #3034
If we deal only with fixed frequency:
Why not choose Electrical.QuasiStationary (renamed in MSL 4 to QuasiStatic)?
Reactive power Q is well defined ...
In case of a transient simulation (like starting an induction machine), I wonder what the Q-sensor delivers.

[2019-07-13 16:44] AHaumer commented on #2957
I'm glad that we have these few models in MSL 4.
However, I got some result of two Master thesis at my University, and this ends in a meaningful extension of the battery model.
I would like to incorporate these extensions, too. However, now it seems to make sense to split off the Battery package from Analog and shift it (with the extensions) to Electrical.Batteries.
I'll come up with a PR.

[2019-07-13 17:13] #733 closed

[2019-07-13 17:13] #2973 closed

[2019-07-13 17:16] beutlich commented on #3035
Merged.

[2019-07-13 18:49] beutlich commented on #2485
@tobolar I set the milestone to MSL4.0.0 in case we want to do some renaming. Can you please propose your changes fixing the "mistakes" in the MultiBody lib?

[2019-07-13 18:53] beutlich commented on #291
I'll care for a PR renaming Mechanics -> Mechanical (but not now).

[2019-07-13 19:11] beutlich commented on #3023
This actually is a duplicate of #2431, but I'll care for it separately by #3041, such that #2431 can deal with the remaining renaming issues (of underscores in non-example class names).

Backwards-ompatibility is never an issue for example models.

[2019-07-13 21:02] #3028 closed

[2019-07-15 05:23] christophclauss commented on #2899
To NPN
Also the NPN model can be merged with the HeatingNPN model by the following steps:

Within MSL:
==========

    The NPN model is deleted.
    The HeatingNPN model gets the further parameter useTemperatureDependency like in the Diode model, which is false by default. If this parameter is false, the temperature of the heat port is not used, the HeatingNPN behaves like the former NPN model. If

[2019-07-15 08:14] wischhusen commented on #2972
Yes, it should be possible by calling the function from Fluid.Dissipation.Functions.General. But I have to admit, that this particular function is undocumented, too. It seems that we picked it from the Modelica_Fluid package of Summer 2006. I am not sure, who implemented the original code but it must have been from the people that created the predecessor of the Modelica.Fluid library. Eventually,

[2019-07-15 08:14] christiankral commented on #3035
This issue also affects the following components in `Modelica.Blocks.Sources`

* `Sine`
* `Cosine`
* `ExpSine`

[2019-07-15 13:47] beutlich commented on #143
@AHaumer More than 10 years later: Is is still relevant? If yes, do you plan to add new models in Modelica.Electrical.Machines.BasicMachines.Transformers or convert the existing ones?

[2019-07-15 13:53] beutlich commented on #282
@AHaumer This is of low priority though it was considered to be dealt with rather soon. I also doubt that you intend to move the current FluidHeatFlow to ObsoleteModelica. Thus, after all, is this still a feasible goal for MSL v4.0.0 with about 6 months before feature freeze?

[2019-07-15 14:02] beutlich commented on #85
@hubertus65 @thorade This is the oldest open issue targeted for MSL 4.0.0. Can it be covered by conversion? Is it still a feasible goal for MSL v4.0.0 being about 6 months before feature freeze?

[2019-07-15 14:35] beutlich commented on #778
@AHaumer @christiankral @dietmarw Should we do the renming as propposed by @ceraolo?

- IdealCommutingSwitch -> IdealSelectorSwitch
- ControlledIdealCommutingSwitch -> ControlledIdealSelectorSwitch
- IdealIntermediateSwitch -> IdealReversingSwitch
- ControlledIdealIntermediateSwitch -> ControlledIdealReversingSwitch

[2019-07-15 16:31] AHaumer commented on #282
In the meantime I changed my mind: FluidHeatFlow should keep using semiLinear instead of the stream concept. Therefore closing the ticket.

[2019-07-15 16:31] #282 closed

[2019-07-15 16:35] AHaumer commented on #143
Yes please keep this ticket opne, it is still relevant.
To summarize the problem:
Best solution would be to add magnetizing current (i.e. a main inductance) to the models.
Drawback: Transformers have a very small manetizing current, i.e. a very high main inductance.
It takes a rather long time until initial transients vanish - this is the case in real life.
In simulations this is in many cases not

[2019-07-15 16:49] AHaumer commented on #199
Seems to be already done - I can't remember who, I can't remember when.
If nobody contraditcs, we should close this ticket.

[2019-07-15 16:57] AHaumer commented on #289
After PR #3045 (thanks to @beutlich ) is merged, we plan to move Machines.BasicMachines.Components.{PartialAirGap, PartialAirGapDC, PartialCore} to Machines.Interfaces.
@christiankral should we have a sub-library BaseClasses, keeping in Interfaces only {SpacePhasor, FlangeSupport, ThermalPort$, PowerBalance$}?

[2019-07-15 17:06] beutlich commented on #199
Resolved by #2929.

[2019-07-15 17:06] #199 closed

[2019-07-15 17:23] beutlich commented on #2438
I started to have a closer look at the conversion effort :sweat: and noticed that we already have names like R_gas and R_s for the specific gas constant. Should we rename all such variables to R_specific or just the misleading ones where we currently have R only as ident?

[2019-07-15 18:44] AHaumer commented on #778
To be honest: "Commuting" is wrong.
to commute = German "pendeln", ie. travel from home to work and back.
commutate = German "wenden, umpolen" - this is used in a DC machine,
I'd propose: Commuting -> TwoWay or ChangeOver (German "Wechselschalter")
Intermediate is correct (German "Kreuzschalter"),
The alternative TwoWayDoublePoleRevesing is clumsy.

[2019-07-15 18:51] beutlich commented on #778
@harmanpa Can you please help out on this language issue? Thanks.

[2019-07-15 18:54] christiankral commented on #778
* SelectorSwitch seems to cover the type of switch we are taking about, but to me the affected model is a special selector switch whith just two switching positions. Selector switch sounds to me like having more than two switching positions. I am in favor of this proposal if some other native speakers agree to it.
* ReversalSwitch seems the right term to me.

[2019-07-15 19:42] #2765 closed

[2019-07-15 19:54] jbgohl opened #3050 "Error reading mat file in Modelica.Blocks.Tables.CombiTable1D"
The attached mat file "my_test.mat" was created using the attached Python script "test_scipy.py" using Anaconda python and scipy version 1.2.1.  When I try to simulate the attached model "test3.mo" I get the following error during initialization:

    InflateFieldNames: inflate returned stream end

I've tested that I get the same error in Dymola 2018 FD01 (Modelica version 3.2.2, 2016-04-03, build

[2019-07-15 20:04] AHaumer commented on #778
I have the same opinion as @christiankral regarding "Selector", but I don't understand "Reversal" = "umkehren"? I did look up in "Langenscheidt", finding the terms mentiones by my previous post.
I would keep "Intermediate" = "Kreuzschalter", but change "Commuting" to "TwoWay" = "Wechselschalter",

[2019-07-15 20:09] beutlich commented on #3050
Can reproduce with matdump 1.516. Looks like an upstream issue for matio.

Can you please attach the MAT-file created in MATLAB by

[code]

[2019-07-15 20:14] jbgohl commented on #3050
Here are the versions created with both v6 and v7.
[my_test_v67.zip](https://github.com/modelica/ModelicaStandardLibrary/files/3394009/my_test_v67.zip)

[2019-07-15 20:34] beutlich commented on #3050
Thanks. Files my_test_v7.mat differs from my_test.mat (from scipy) starting at byte 290. If I load and save the my_test_v7.mat directly in matio, it also is different again from byte 290. The issue is in reading the field name length of struct1.test4 (being a struct itself and last in the file). Need to analyze the stream inflation in detail and compare why it works for the files saved in MATLAB o

[2019-07-15 21:24] beutlich commented on #3050
I'd also need the MAT-file save in scipy with `do_compression=False`, since the stream issue just is a subsequent error (of the orignal data). Thanks again.

[2019-07-15 21:32] beutlich commented on #3050
Just installed scipy 1.3.0 and create it on my own.

[2019-07-15 21:37] jbgohl commented on #3050
Here are the versions created with scipy 1.2.1, both uncompressed (..._u.mat) and compressed (..._c.mat).
[my_test_uc.zip](https://github.com/modelica/ModelicaStandardLibrary/files/3394308/my_test_uc.zip)

[2019-07-15 21:56] beutlich commented on #3050
OK, I now know what the problem is. The MAT-file specification optionally enables storage optimization for variable names if they fit within 4 bytes. In your file, this is the case for the field names a and b of struct1.test4 and scipy uses this kind of optimization when saving to v5 MAT-file (no mater if compressed or not). This optimization is not (yet) supported for field names of structs by fu

[2019-07-15 22:09] jbgohl commented on #3050
Confirmed.  Increasing the name from "a" and "b" to "a1" and "b1" worked.  Thanks!

[2019-07-16 07:38] beutlich commented on #3035
Resolved by #3046.

[2019-07-16 07:38] #3035 closed

[2019-07-16 08:19] beutlich commented on #496
Reopen since #2998 did not address Magnetic-FluxTubes.

[2019-07-16 15:03] christiankral commented on #2975
When switching to single files we shall also unify the order of sub-packages according to https://github.com/modelica/ModelicaStandardLibrary/pull/3051#pullrequestreview-262438409 and `Modelica.UsersGuide.Conventions`

![image](https://user-images.githubusercontent.com/4184218/61305666-814d7100-a7eb-11e9-9b55-36d635da8ba2.png)

which needs some more clarification as follows:

* User's Guide
* Exam

[2019-07-16 15:33] #2813 closed

[2019-07-16 15:43] #289 closed

[2019-07-16 15:44] christiankral commented on #143
Yes, I agree, we shall keep this ticket open.

[2019-07-16 16:08] christiankral commented on #2957
Yes, I think it is good that with some more elaborated models the package moves from `Electrical.Analog.Batteries` to `Electrical.Batteries`.

[2019-07-17 08:36] christiankral commented on #3022
I started to work on the changes introduced by proposal 1 and ran into some issue I have no solution currently for. Consider the partial sensor model of the quasi-static single-phase library, which at the end relies on the partial model `Modelica.Electrical.QuasiStatic.SinglePhase.Interfaces.TwoPin`. In this model partial model a lot of characteristic quantities are defined, including the voltage

[2019-07-17 08:53] christiankral commented on #3022
**Note 1.** To my knowledge, we currently have in the MSL two ways of how sensor outputs are named. These two ways are summarized by proposal 1 and 2 in the first entry of this ticket (https://github.com/modelica/ModelicaStandardLibrary/issues/3022#issue-463752572).

* **Proposal 1** will always be more difficult to be implemented as partial models cannot simply be re-used. However, I am still in

[2019-07-17 09:23] AHaumer commented on #3022
Just a remark to uppercase and lowercase, e.g. V and v:
Normally in Modelica we use uppercase for parameters and lowercase for time varying variables.
In Engineering we use uppercase for constant values or processed values e.g. RMS and lowercase for time varying variables.

As a consequence, if a sensor output is an unprocessed time signal, it should be lowercase.
If a sensor output is a processed

[2019-07-17 10:16] #2116 closed

[2019-07-17 11:21] AHaumer opened #3055 "update Labels"
@beutlich Shouldn't we update Labels at GitHub?
Electrical.QuasiStationary -> Electrical.QuasiStatic
Electrical.MultiPhase -> Electrical.PolyPhase
I know the old terms are used in 3,2,3 but shouldn't we switch to the new terms?
I'm pretty sure I forgot some Labels ...
Furthermore, wouldn't it be usefull to have "top level" Labels like "Blocks", "Electrical", ...

[2019-07-17 11:22] AHaumer commented on #3055
Maybe for some time we use
Electrical.QuasiStatic/QuasiStationary
Electrical.PolyPhase/MultiPhase

[2019-07-17 12:14] beutlich commented on #3055
I already thought about it. The issue is that I generate the ResolvedGitHubIssues.html from the closed issues and sort by labels. If I do it for MSL v3.2.3+build.3 I still need the old labels. Thus I have no real idea and left it as is.

[2019-07-17 14:44] AHaumer commented on #3055
Is using old and new labels in prallel the solution?
Old labels -> 3.2.3, new labels -> >4.0.0

[2019-07-17 14:46] #2479 closed

[2019-07-17 14:58] christiankral opened #3056 "Remove obsolete drawings shown in diagram layer"
In the MSL there exist many Modelica classes which show a drawing the diagram layer. These drawings are obsolete according to the guidelines of the User's Guide `Modelica.UsersGuide.Conventions.Icons`:

![image](https://user-images.githubusercontent.com/4184218/61385256-524e0280-a8b2-11e9-8c12-7cd57dc8db03.png)

There are still plenty of Modelica classes in the MSL which do obey this rule. Diagram

[2019-07-17 15:11] AHaumer opened #3057 "Coding / Naming guidelines"
There's a lot of discussion about coding and naming guidelines.
Just a question:
How to represent a variable from a textbook with an underscore as a Modelica variable?
Widely used for Complex variables.
![grafik](https://user-images.githubusercontent.com/6900273/61386781-2da75a00-a8b5-11e9-9d4b-84c8e964b28b.png)
How to represent a variable with a line as accent ("upperscore", I don't know the righ

[2019-07-17 15:28] christiankral commented on #3057
This topic is related with https://github.com/modelica/ModelicaSpecification/issues/2357

[2019-07-17 15:40] beutlich commented on #3055
That would work out (and keeps me busy with relabeling).

[2019-07-17 15:51] beutlich commented on #3055
Done. Added new labels and relabeled all open and closed issues/PRs w.r.t. the new labels.

[2019-07-17 15:51] #3055 closed

[2019-07-17 15:58] beutlich commented on #3057
I think the issue is not feasible for MSL v4.0.0 at all.

I also think that modelica/ModelicaSpecification#2357 is the right space to discuss it together with the Wolfram guys (@henrikt-ma, @maltelenz) who do it right in Mathematica.

[2019-07-17 16:03] beutlich commented on #3056
What is your plan for MSL v4.0.0 actually? Do you want to check all classes manually and compare if the diagram layer duplicates the icon layer?

[2019-07-17 16:41] christiankral commented on #3056
Is there a better way to do that? For sure there is a better way, but this is some programming effort, I suppose: Detect which diagram annotations contain line elements.

I guess we shall create PRs for each sub-package to make small step improvements.

[2019-07-18 13:30] AHaumer opened #3060 "Code / Formatting guidelines checker"
In a discussion the idea came up to have tool independent checker for coding and formatting.
I know that some parts of such a thing exist in some tools, but it would be nice to have a tool independent solution (like the regression check!).
Let the tool run through all models of a library, getting a list of things tho improve, like:
parameter description missing, icon color is wrong, name in icon l

[2019-07-18 19:55] AHaumer commented on #3057
appended to modelica/ModelicaSpecification#2357

[2019-07-18 19:55] #3057 closed

[2019-07-18 20:01] AHaumer commented on #2990
I support this idea, But I don't understand:
"Icons already provides the information does not host it in a subpackage User's Guide"
I suppose those parts should be included in a UsersGuide?

One more question:
Should the parts of a UsersGuide be stord as one file or in a diretcory strudcture as single files?
Personally, I prefer the second one.
I strongly dislike the style that UsersGuide and/or E

[2019-07-18 20:11] AHaumer commented on #2975
I would go for a pragmatic solution: Split into single files, except when this is overkill or unfeasible which is probably the case only in one spot: 1241 gases.
I started to split the sublibraries (where I'm Library officer) that won't cause problems with open PRs:

- Electrical.PolyPhase
- Electrical.PowerConverters
- Electrical.QuasiStatic
- Thermal.FluidHeatFlow
- Thermal.HeatTransfer

I plan

[2019-07-18 20:54] #340 closed

[2019-07-19 07:13] thorade commented on #85
There are maybe some small modifications that could be done for MSL v4, but a complete redesign of the media interface would probably need a 3-year research project with input from all companies that offer commercial fluid properties libraries.

[2019-07-19 07:59] beutlich commented on #85
OK, removng milestone then.

[2019-07-19 08:14] christiankral commented on #2990
My point is: every sub-library has a `UsersGuide` which contains at least `Contact` and `ReleaseNotes`. The `UsersGuide` explains what the sub-library is good for, `Contact` contains the library officers and their contact information, `Release Notes` contain...

We do not have such a structure in the `Icons` sub-library. The point of discussion is: Shall we also include a real `UsersGuide` -- not

[2019-07-19 08:31] beutlich commented on #966
@rfranke Modelica.Fluid.Interfaces.PartialPressureLoss uses the names `d_a`, `d_b`, `eta_a` and `eta_b`. Same idents are also used in Modelica.Fluid.Fittings.BaseClasses.Bends.CurvedBend.{massFlowRate, pressureLoss},  Modelica.Fluid.Fittings.BaseClasses.Bends.EdgedBend.{massFlowRate, pressureLoss} and Modelica.Fluid.Fittings.BaseClasses.Orifices.ThickEdgedOrifice.{massFlowRate, pressureLoss} as fu

[2019-07-19 08:47] beutlich commented on #2990
I'd prefer to have UsersGuide.mo as single file. For examples it might be preferrable to have each model as extra file.

[2019-07-19 12:14] MartinOtter commented on #3002
Just for information: The purpose of the numerical functions in Vectors and Matrices is to use them in a controller that is used in a model (so it is part of model and therefore post-processing functionality does not help here). For example, one could design a Riccati controller at every sample point. I do not recall why householderVector and householderReflection are in MSL. The intention was to

[2019-07-19 12:31] MartinOtter commented on #2934
I have no strong opinion. Having PowerLoss at the top level has the slight advantage to have it on top level in the variable list (instead of hiding it in a large number of variables). The goal was to show the effect of the efficiency factor in component "gear" (so not the losses of the complete gear box that includes the bearingFriction). The implementation shows that the loss power computed inte

[2019-07-19 12:38] beutlich commented on #3002
So you you agree to move householderVector and householderReflection to ObsoleteModelica4 (as they are still available from Modelica_LinearSystems2.Math.Vectors)? I'd also like to move Modelica.Math.Vectors.Utilities.roots to Modelica.Math.Polynomials then.

[2019-07-19 14:31] AHaumer commented on #3002
I would leave it to @MartinOtter @DrMartinKuhn and (I believe) @tobolar - AFAIK they know Modelica_LinearSystems2 best - to move those functions to Modelica_LinearSystems2 to avoid broken models.

[2019-07-19 14:51] AHaumer commented on #1942
This is still an issue. Well in the meantime I have my own implementation but I'd like to see a clean implementation by womeone who's really capable of C-programming.

1. The file should be closed after reading.
2. It should be a user's choice whether the parameters are read during translation or during execution.

[2019-07-20 08:12] AHaumer opened #3064 "Singular inconsistent scalar system for SaturatingInductor"
I found the above mentioned bug, when current through the saturatingInductor goes rather smoothly and slowly through zero - see enclosed example.
[TestSaturatingInductor.zip](https://github.com/modelica/ModelicaStandardLibrary/files/3413347/TestSaturatingInductor.zip)
Investigating the problem, I don't think this is a tool issue, it's a problem of the implemenation. Well I have to admit I implemen

[2019-07-20 10:12] beutlich commented on #3064
The TestSaturatingInductor runs nicely in SimulationX 4.0.2 with both DAE or ODE solver.

![grafik](https://user-images.githubusercontent.com/14896695/61577447-9c6bf980-aae7-11e9-824a-0b1af6639b24.png)

[2019-07-20 11:34] beutlich commented on #3064
Since we do not have a detailed git branching model, no commits should go to maint\3.2.3 while MSL v3.2.3+build.3 is not yet relased, i.e., no commits before 2019-09-18. You still can create PRs though,

[2019-07-20 15:03] AHaumer commented on #3064
The bugfix should definitely go to the next release ...

[2019-07-22 14:16] MartinOtter commented on #1942
Why C? The example implementation is in Modelica (not in C).

Yes. Just add Streams.close(fileName) at the end of the function.

By purpose, function readRealParameter(..) was placed under Examples to demonstrate the concept. Sure, whenever something is not possible in current Modelica, one can implement this in C. But then there are a lot of issues with regards to support of different operating s

[2019-07-22 14:23] MartinOtter commented on #3002
Fine for me (I have no strong opinion).

[2019-07-23 05:02] AHaumer commented on #1942
@MartinOtter
I have to admit that I didn't look into that functions for some time ...
In the past, the bug was buried in readLine:
 external "C" string = ModelicaInternal_readLine(fileName,lineNumber,endOfFile) annotation(Library="ModelicaExternalC");
To be concise, I have my own clumsy C-implementation of readLine (without "cache").

Maybe the "close" is fixed now. The question is whether the fil

[2019-07-23 12:22] #2109 closed

[2019-07-23 12:25] #2905 closed

[2019-07-23 12:25] #3050 closed

[2019-07-23 12:42] wischhusen commented on #2770
I would propose the following solution. We do not need regularization since the argument of sqrt contains the constant term (b/(2*a))^2:

       if b>0 then
         M_FLOW := IN_var.rho*(if a>0 then (-b/(2*a) +
                sqrt((b/(2*a))^2 + (1/a)*dp)) else b*dp);
       else
         M_FLOW := IN_var.rho*sqrt(1/a)*
                Modelica.Fluid.Dissipation.Utilities.Functions.General.Smooth

[2019-07-23 12:47] beutlich commented on #2770
Hm, we already have a PR #2782 addressing this issue. 😕

[2019-07-23 12:49] wischhusen commented on #2770
Hm, but there is a flaw in that pull request. Shall I put the code there as well?

[2019-07-23 12:54] beutlich commented on #2770
It really is hard to tell or reproduce for outsiders without a [SSCCE (Short, Self Contained, Correct (Compilable), Example)](http://sscce.org/).

You still can update this PR by pushing to the issue2770 branch.

[2019-07-23 14:15] #3003 closed

[2019-07-23 16:46] AHaumer commented on #2975
done:

- Electrical.{PolyPhase, PowerConverters, QuasiStatic}
- Magnetic.*
- Thermal.*

Planned to do when open PRs are merged:

- Electrical.Machines
- Mechanics.{Rotational, Translational}

[2019-07-23 17:11] #3023 closed

[2019-07-23 17:40] #2541 closed

[2019-07-23 20:59] #2760 closed

[2019-07-24 14:19] #2868 closed

[2019-07-24 14:19] #2872 closed

[2019-07-24 14:19] #2874 closed

[2019-07-24 16:05] #1513 closed

[2019-07-24 18:44] #608 closed

[2019-07-24 18:44] #784 closed

[2019-07-24 18:57] beutlich commented on #2870
@thorade This is still open, right?

[2019-07-24 19:00] beutlich commented on #2921
@thorade Can you please have a look here please? Thanks.

[2019-07-25 08:49] thorade commented on #2921
These derivatives might have been called explicitly somewhere in the past, maybe mixtures, similar to the situation with `h_Tlow_der`:
https://github.com/modelica/ModelicaStandardLibrary/pull/2919#issuecomment-490215734

But today, searching for `h_TX_der` in the library gives zero results, they are just not used anywhere, and I assume it is safe to delete them.

[2019-07-25 22:45] dietmarw commented on #3021
@AHaumer  I'd say the new way would confuse the user more than using S, P and Q? Could you explain why you think that using the complex parts would make it easier to understand the equations? I'd have thought the opposite.

[2019-07-26 05:57] AHaumer commented on #3021
@dietmarw
If you consider extending the implementation to harmonics (LTI-system), you get in troubles with variable names. It would be much clearer to have Complex apparent power per harmonic (i.e. an array), knowing that the imaginary part is reactive power due to phase shift of the reactive harmonic.
Total apparent power is the complex sum of the array of apparent powers related to the harmonics

[2019-07-26 07:12] #1909 closed

[2019-07-26 07:12] #2870 closed

[2019-07-26 07:43] beutlich commented on #2438
@thorade Do you have any proposals?

[2019-07-26 07:46] beutlich commented on #712
@dietmarw @HansOlsson @tobolar Shall we call a web-meeting how to go on here?

[2019-07-26 08:18] beutlich commented on #2974
There will not be a dedicated MAP-Lib session at the 100th MD meeting.

[2019-07-27 09:53] beutlich commented on #2519
I created a [test class](https://gist.github.com/beutlich/0dd78940243c41a6dc39c37f90ea6749) to test HTML features in different Modelica environments.

* In Dymola: `figcaption` is supported by the external Info window, but not in the internal Documentation view panel.

![grafik](https://user-images.githubusercontent.com/14896695/61992869-32fa6680-b064-11e9-8e7c-0acece2d7cac.png)

* In SimulationX:

[2019-07-27 21:06] #2468 closed

[2019-07-28 13:01] christiankral opened #3075 "Change FundamentalWave stray reluctance to permeance models"
This isse affects the following models:

* `Modelica.Magnetic.FundamentalWave.BasicMachines.Components.SinglePhaseWinding`
* `Modelica.Magnetic.FundamentalWave.BasicMachines.Components.SymmetricMultiPhaseWinding`
* `Modelica.Magnetic.QuasiStatic.FundamentalWave.BasicMachines.Components.SymmetricMultiPhaseWinding`

The stray reluctance models shall be replaced by equivalent permeance models. This i

[2019-07-29 06:34] Daiwen opened #3076 "Invalid call to exp in Modelica.Math.Matrices.integralExpT"
In `Modelica.Math.Matrices.integralExpT` line 19, there is a call to `exp` which takes two arguments.
The only built-in function `exp` defined in the specification expects only one argument. I think the intent was to reference `Modelica.Math.Matrices.exp`. My understanding of name lookup is that built-in constructs have priority over contextual names.

If I am correct, I suggest we change the orig

[2019-07-29 09:27] sjoelund commented on #3076
There is no priority of built-ins being looked up before other names. The following should work in any Modelica tool:
[code]

There are rules for some built-in names, but they are only Real, Integer, String, Boolean as far as I remember.

[2019-07-29 09:28] beutlich commented on #3076
Hm, the following test model runs in Dymola, SimulationX and Wolfram SystemModeler.

[code]

[2019-07-29 09:47] Daiwen commented on #3076
I see, I didn't double check how `Modelica.Math.exp` was implemented and I thought there was a conflict.

[2019-07-29 09:47] #3076 closed

[2019-07-29 14:29] beutlich commented on #3002
When working on this issue, I noticed that the mentioned functions from Vectors.Utilities are referenced from the documentation of Modelica.Math.Matrices.Utilities.householderReflection and Modelica.Math.Matrices.Utilities.householderSimilarityTransformation. Should these two functions also be moved to ObsoleteModelica since they are nowhere used and still available from  Modelica_LinearSystems2?

[2019-07-29 18:40] christiankral opened #3079 "Change of DC machine record dialog"
Changes of #3072 shall also be applied to the parameter records of the DC machines.

[2019-07-29 21:04] beutlich commented on #3079
As a hint - since you self-assigned this issue: It would be OK to only create the PR w/o creating a connected issue first.

[2019-07-30 09:00] christiankral commented on #3079
Thanks for the hint. I would usually create just a PR for small issues. Yesterday I had no time to perform the PR even though it's not much work. I yet wanted keep the information somewhere.

[2019-07-30 09:17] christiankral commented on #2975
I also agreed with @christophclauss to switch

- [ ] Electrical.Analog

to single files.

[2019-07-30 14:28] #3079 closed

[2019-07-30 15:26] beutlich commented on #545
@thorade Have also a look at https://github.com/ORNL-Modelica/TRANSFORM-Library/blob/master/TRANSFORM/Units/MolePerMass.mo

[2019-08-04 15:48] christophclauss commented on #287
The remaining time to MSL4.0.0 seems to be too short for me. I'd like postpone this issue.

[2019-08-04 15:51] christophclauss commented on #694
I'd like solve this issue in connection with #694, therefore postpone it beyond MSL4.0.0.

[2019-08-04 15:55] christophclauss commented on #2053
T'd like to postpone this issue after MSL4.00, since I expect some basic consideration to be necessary which take me too much time now.

[2019-08-04 15:57] christophclauss commented on #2058
A lot of tests are necessary to solve this issue, I'd like postpone it after MSL4.0.0 to get enough time.

[2019-08-04 15:59] christophclauss commented on #2089
This issue need  digging into the SPICE sources, therefore I'd like to postpone it beyond MSL4.0.0

[2019-08-04 16:01] christophclauss commented on #2302
The last comment was wrong. I do no more believe in solving this issue before MSL4.0.0.

[2019-08-04 16:05] christophclauss commented on #2347
I'd like to postpone beyond MSL4.0.0 this issue since it needs more than trivial considerations.

[2019-08-04 16:07] christophclauss commented on #2348
This issue needs a model revision to use these parameters. Since it will be time consuming I'd like to postpone this issue beyond MSL 4.0.0.

[2019-08-04 16:12] christophclauss commented on #2964
The considerations sound o.k. Nevertheless, I need the original source on which the actual model is based on.  Possibly we should offer an additional model, an advanced one. It seems to take too much time to at the moment, therefor I'd like postpone this issue after MSL4.0.0

[2019-08-04 16:59] beutlich commented on #2974
@christiankral Can we close this issue then?

[2019-08-04 17:36] beutlich commented on #2961
This always has been discussed controversially in the past. We have seen good and bad examples with the inclusion of new sub-libraries in the MSL. For that reason people tend to be either inclusive or exclusive. Personally, I would be more than happy if we really manage to add the main new feature libraries [Clocked](https://github.com/modelica/ModelicaStandardLibrary/issues/2862), [Electrical.Bat

[2019-08-04 17:42] beutlich commented on #1491
Closing, since brain-stormin stopped about 4.5 years ago.

[2019-08-04 17:42] #1491 closed

[2019-08-04 17:45] beutlich commented on #1489
There are already some relevant points here. @dietmarw Should we create wiki for it, finally?

[2019-08-04 20:42] dietmarw commented on #2058
@christophclauss Could you be more specific as to what "more" time means. I mean there is still at least 6 month of development time for 4.0.0. Dismissing this already now makes it sound like a bad excuse to not deal with the issue at all. This also applies for the others. So could you please evaluate again if you really think that there is no time to do this within about a  6 month window?

[2019-08-05 10:54] AHaumer opened #3081 "ModelicaServices: machine constants"
I know that ModelicaServices are "models and functions used in the Modelica Standard Library requiring a tool specific implementation".
Nevertheless, is it desired that machine constants depend on the tool and/or the computer where a model is simulated?
Do we get results that can be compared (if the models uses machine constants to prevent from overflow or underflow)?
Does it make sense to provide

[2019-08-05 12:22] AHaumer commented on #3081
Sorry for opening a new issue: compare #2056

[2019-08-05 12:53] #3081 closed

[2019-08-05 14:49] AHaumer commented on #2056
see #3081 for further remarks

[2019-08-05 17:42] #2974 closed

[2019-08-06 08:35] dietmarw commented on #712
Since @christiankral and @MartinOtter are the library officers of `Modelica.SIunits` they should be included here.

For MSL4.0.0 maybe we can address the main points:
 1. Update the name from `SIunits` to `Units` since the current class name structure includes strange constructs (see above https://github.com/modelica/ModelicaStandardLibrary/issues/712#issuecomment-272611734 ) which basically means

[2019-08-06 11:32] beutlich commented on #2964
Is there a chance you can get the original source from @kristinmajetta ?

[2019-08-07 07:09] MartinOtter commented on #712
There are several main unit systems:
- SI (International System of Units) (meter-kilogram-second-ampere-kelvin-mole-candela)
- FPS (foot-pound-second)
- MKS (meter-kilogram-second)
- CGS (centimeter-gram-second)
- EMU (Electromagnetic) (centimeter-gram-second-abampere)
- ESU (Electrostatic) (centimeter-gram-second-abcoulomb)

The purpose of Modelica.SIunits are units based on  (meter-kilogram-seco

[2019-08-07 07:15] christiankral commented on #712
I agree, SIunits shall not be changed.

[2019-08-07 07:17] sjoelund commented on #712
Is it really that much of a change to add a single `.` compared to right now if `Units.SI` was used instead? I see `import SI = Modelica.SIunits` a lot anyway, so it seems to be what people want:
[code]

[2019-08-07 07:19] dietmarw commented on #712
Noted.
So what about 2 and 3?

[2019-08-07 07:25] christiankral commented on #712
https://github.com/modelica/ModelicaStandardLibrary/issues/2960#issuecomment-501223526

[2019-08-07 07:29] sjoelund commented on #712
Indeed. So if it was renamed to `Modelica.Units.SI`, you could do the recommended style `import Modelica.Units.SI` and use `SI.Voltage` like many people seem to prefer.

[2019-08-07 07:30] beutlich commented on #712
Which perfectly fits to having `import Modelica.Units.SI`.

[2019-08-07 07:50] MartinOtter commented on #712
I quickly inverstigated. There are about 14 chapters of ISO80000 (e.g. Part 4: Mechanics). Every part costs about 120 CHF, so the whole standard > 1000 Euro. I have no access to it. Even if someone has access, one would have to inspect > 500 definitions in Modelica.SIunits and ISO80000 and update correspondingly. This is a lot of work. Could be probably made by paid work (MA backoffice?). In my op

[2019-08-07 09:15] MartinOtter commented on #712
Rethinking about various options:

1. Modelica.Units and in the description state that these are SI units and contains conversions to non-SI units.

2. Modelica.Units.SI: Drawbacks: We should not support other unit systems and therefore only one sub-package under Units, which seems to be over-structured. The Modelica package avoids abbreviations in package names and this would be an abbreviated pa

[2019-08-09 07:24] AndreaBartolini opened #3082 "download broken link in https://www.modelica.org/libraries"
The MSL download link in the  Modelica Association download web page (https://www.modelica.org/libraries) is broken.

[2019-08-09 11:14] beutlich commented on #1489
Thanks. There now is a bullet list available in the [wiki](https://github.com/modelica/ModelicaStandardLibrary/wiki/Requirements-and-Review-of-candidates-for-MSL).

[2019-08-09 11:14] #1489 closed

[2019-08-09 11:34] beutlich commented on #2901
As discussed in #1147, it is not legal (or desired?) in MSL to provide constant zero derivative functions for (potentially) discontinuous functions (as is the case with cubic Hermite C1 splines).

#3083 introduces the second derivative functions consistently. Note, that no time events are introduced for the case of a discontinous second derivative of a CombiTimeTable.

[2019-08-09 13:24] beutlich commented on #2785
I did some compile tests in VS2010 of a SimulationX-exported Modelica model consisting of a CombiTimeTable where the table is defined by the model (i.e., not read from file).

| Preprocessor define | File size of executable in bytes |
| :-- | --: |
| `/O1` `/MD` | 522'752 |
| `/O1` `/MD` `/DHAVE_ZLIB=1` | 653'312 |
| `/O1` `/MD` `/DHAVE_ZLIB=1` `/DHAVE_HDF5=1` | 2'583'552 |
| `/O1` `/MD` `/DNO_FIL

[2019-08-09 13:24] #2785 closed

[2019-08-09 13:34] beutlich commented on #1339
For me this looks like a specification issue of the conversion scripts: With Modelica spec. 3.4 resource files cannot be renamed nor moved w/o breaking compatibility.

Changing milestone then.

[2019-08-09 13:36] beutlich commented on #1724
My proposal #2886 was rejected by @MartinOtter .

@AHaumer @MartinOtter Please provide an alternative fix!

[2019-08-09 17:30] JoeRiel commented on #1724
On Fri, 09 Aug 2019 06:36:14 -0700
Thomas Beutlich <notifications@github.com> wrote:

Hmm.  The original is definitely wrong and completely non intuitive.
I understand the reluctance to change a model, as doing so will definitely
change any models that use it, but suspect it was never/rarely used
given its weirdness.   Maybe name the fixed model LinearDependent, or
TwoInputLinear, or something lik

[2019-08-09 20:12] beutlich commented on #2820
Seehttps://htmlpreview.github.io/?https://github.com/modelica-tools/ModelicaSyntaxChecker/blob/master/Grammar.html for the grammar.

[2019-08-10 10:49] beutlich commented on #1724
#3088 is my second attempt to fix this issue.

[2019-08-10 11:40] beutlich opened #3089 "Future of Modelica.Mechanics.MultiBody.Visualizers.Internal"
Since the earliest days of Modelica.Mechanics.MultiBody (MSL v2.1, ee9a1a29568c2815a0e568719f25482a50d388c7) the comment description  of Modelica.Mechanics.MultiBody.Visualizers.Internal claims that visualizers willl be improved in the future

https://github.com/modelica/ModelicaStandardLibrary/blob/d5327d08e485d06bb7eab90bd9641c2a50fb782c/Modelica/Mechanics/MultiBody/Visualizers.mo#L2605-L2606

L

[2019-08-10 11:52] beutlich commented on #2434
Parameter height is used to display the height of the box.

[2019-08-10 11:52] #2434 closed

[2019-08-12 13:04] HansOlsson commented on #3056
I have two problems with understanding this guideline that was added 2017-04-18.
What does "Icons drawn in the Diagram layer" mean? To me "Icon" means icon of a component, but I assume it means something else here, and that should be made clearer.
Why was it added?

Is the intention to avoid something like Modelica.Blocks.Discrete.Sampler (etc) where both diagram and icon layer graphically represe

[2019-08-12 13:20] HansOlsson commented on #3056
If the above represents the intent I would propose to rephrase it, perhaps as:

The diagram layer is intended to contain the graphical components, and if there are no graphical components it can be left empty. In particular do not make the diagram layer a copy of the icon layer. Graphical illustrations shall not be added in the diagram layer, but can be added in the HTML documentation.

[2019-08-13 07:48] henrikt-ma commented on #3056
I was going to say that mentioning `preferredView` would also make sense in case of empty diagram layers, but to my great surprise, `"icon"` isn't a valid setting according to the `preferred-view-annotation` rule in 18.2 _Annotations for Documentation_…

[2019-08-13 15:39] dietmarw commented on #712
I'd like to discuss option 2 a bit further as I think that would actually allow us to solve issues like the ambiguity of the current characterisation of SI and nonSI and also of having nonSI units inside the current SIunits. OK let me explain how I think this can be solved rather elegantly and also "fixing" the import issue that came up.

Currently (as of 3.2.3) the strurcture looks as follows:

-

[2019-08-14 09:30] HansOlsson commented on #3056
I agree that lack is a bit odd.

However, I don't think that preferredView="icon" would be good for these cases; I think the text- or documentation-layer is more appropriate to understand how the model behaves. Showing the icon doesn't give any new information, and it is too subtle in my opinion.

[2019-08-14 12:36] henrikt-ma commented on #3056
In my workflow, I'm almost always thrown off by documentation opening up by default, but I agree that opening the text view would be even better than the icon.

For classes that only serve to provide an icon, however, it would still be useful to set `preferredView="icon"`.

[2019-08-15 11:15] thorade commented on #2590
@beutlich
https://help.github.com/en/articles/about-duplicate-issues-and-pull-requests
Duplicate of #2226

[2019-08-15 11:17] beutlich commented on #2590
I did so at 2018-10-26.

[2019-08-15 11:19] thorade commented on #2590
You marked it manually, and now you also used github special syntax to mark it as duplicate

[2019-08-15 12:25] Ciobrelis opened #3094 "Heat exchanger example - Heat conduction through the wall"
Hello,
I am not sure if it is a mistake or it should be this way for some reasons, but in

both equations include multiplication by **2**.

`heatPort_a[i].Q_flow=2*k_wall/s*(Ta[i]-T[i])*area_h/n;`
`heatPort_b[i].Q_flow=2*k_wall/s*(Tb[i]-T[i])*area_h/n;`

If it is not a mistake, could anyone explain why it is there?

[2019-08-15 12:28] beutlich commented on #3094
See #1633. Does this help to answer your question?

[2019-08-15 12:33] Ciobrelis commented on #3094
Yes, thank you.

[2019-08-18 10:34] beutlich commented on #559
Ok.

[2019-08-18 10:34] #559 closed

[2019-08-18 11:20] beutlich opened #3096 "Invalid reference to T_heatPort in line models"
The three line models Modelica.Electrical.Analog.Lines.{OLine, M_OLine, ULine} mention `T_heatPort` in their parameter descriptions and documentation though there is no such variable.

[2019-08-19 07:31] henrikt-ma commented on #1741
Regarding `AmplifierWithOpAmpDetailed`, I'd be curious to hear more about that numeric ill-conditioning, as it's not something I'm able to reproduce.

Would it make sense to open a separate issue for the problems with this example, similar to what I did for `RobotR3`?

[2019-08-19 07:35] henrikt-ma commented on #1741
Never mind, there is already #1131 for `AmplifierWithOpAmpDetailed`.  However, the last comment on that dates 2017-01-14, which pre-dates this issue.  Is it this issue or #1131 that should be updated?  For what it's worth, I still find the example extremely troublesome.

[2019-08-21 05:46] mestinso opened #3098 "Nonphysical pump behavior vs gravity change"
The current behavior found in Modelica.Fluid.Machines.BaseClasses.PartialPump exhibits non-physical behavior vs. changes to gravity.

While "head" should change when gravity changes, the flow rate itself should not change if you change the system gravity but otherwise keep the pump boundary conditions the same. Currently, the flow rate will change vs. changes in gravity!

Example cases where this

[2019-08-21 05:58] beutlich commented on #3098
@casella @rfranke Can you please have a look at it, Thanks.

[2019-08-21 20:56] hubertus65 commented on #2438
I's say: bite the bullet now and update all places. It could make sense to document such naming conventions at one place per sublibrary and make sure they are followed in commit audits. I have no strong opinion re R_s or R_specific.

[2019-08-23 10:55] maltelenz opened #3099 "Non-identical declarations in Media.Air.MoistAir"
In the class `ModelicaTest.Media.TestAllProperties.MoistAir`, `ModelicaTest.Media.TestAllProperties.PartialMediumFunctions` is extended, redeclaring the Medium `Modelica.Media.Interfaces.PartialMedium` to `Modelica.Media.Air.MoistAir`.

`Modelica.Media.Air.MoistAir` has the function `specificInternalEnergy`, with the declaration:

`output SI.SpecificInternalEnergy u "Specific internal energy"`

wh

[2019-08-26 13:49] christiankral commented on #2460
My opinion is that it does not make sense to have the word `Sensor` twice in the full qualified class name, e.g. `Modelica.Electrical.Polyphase.Sensors.VoltageSensor`. It yet makes sense to have `sensor` in the instance name.

### Example

![image](https://user-images.githubusercontent.com/4184218/63695376-dd5ada80-c818-11e9-8940-f5741b3705cc.png)

We rename `Sensors.VoltageSensor` to `Sensors.Vol

[2019-08-26 13:52] christiankral commented on #2460
@tobolar Do you think a formal broad agreement within MAP-LIB is needed here? Shall we make a poll instead using :+1: and :-1: on this comment?

[2019-08-26 14:49] christiankral commented on #712
Option 2a makes sense to me and I am in favor of it. I do, however, not understand what

means. As I have also no access to the ISO 80000 standard, I am not sure how I exactly stick to the standard. Or does that mean that we strictly keep only SI units in this package?

[2019-08-26 14:56] dietmarw commented on #712
That is of course a problem. In practice it probably means unless somebody with access to the ISO standard can document that a unit is SI then it can be added there otherwise it simply is added to `Modelica.Units.Other`. This probably means that the content of `Modelica.Unitis.SI` will stay as it is as per today.

[2019-08-27 13:53] beutlich commented on #3082
Resolved finally.

[2019-08-27 13:53] #3082 closed

[2019-08-28 11:10] Ciobrelis opened #3102 "Fluid Examples. HT wall model."
I have tried to reuse the wall HT model that is provided in the fluid examples. In the scenario that I have 5 volumes and I enable temperatures values at the start, I get an error.

![image](https://user-images.githubusercontent.com/34867742/63849458-6cd7c900-c992-11e9-8a5f-87b0aca5f129.png)

### **Error:**
![image](https://user-images.githubusercontent.com/34867742/63849645-ccce6f80-c992-11e9-90f

[2019-08-28 12:13] beutlich commented on #3102
This is not specific to your application. Consider
[code]
You cannot pass a scalar to p, but need to provide a vector in all cases, for example using fill. So it either is a specification issue (if we allow assignments between arrays and scalars) or a tool issue (to better guide you in modeling comfort).

[2019-08-29 09:34] #2440 closed

[2019-08-29 13:57] #2429 closed

[2019-08-30 13:19] tobolar commented on #291
@MartinOtter Any concerns abot that renaming of Mechnics?

[2019-08-30 13:22] tobolar commented on #2975
@ahaumer

      - Mechanics.{Rotational, Translational}

Maybe it would be less effort to first rename the library Mechanics (see #291) and then to split it up.

[2019-09-02 09:10] tobolar commented on #2460
This could be reasonable if we want to establish this as a common rule for developers. Imagine how this could simplify e.g. the following path: `Modelica.Electrical.Machines.BasicMachines.SynchronousMachines.SM_PermanentMagnet` to `Modelica.Electrical.Machines.Basic.Synchronous.SM_PermanentMagnet`. ;-)

[2019-09-02 10:01] tobolar opened #3103 "Annotations 'tab' and 'group' in Camel Case"
Text indicated by the annotation **tab** is in some components Camel Case (e.g. _Internal Interface_ for `Medium` in `Modelica.Fluid.Machines.BaseClasses.PumpMonitoring.PumpMonitoringBase`), in some not (e.g. _Nominal resistances and inductances_ for `Lrsigma` in `Modelica.Electrical.Machines.BasicMachines.InductionMachines.IM_SlipRing`).

Similar mixing holds probably for the annotation **group**

[2019-09-02 12:03] MartinOtter commented on #712
Option 2a looks good and is fine for me.

However, since this influences practically every existing model, other people of the MAP lib group and the tool vendors should give their opinion (especially regarding issues with automatic conversion).

[2019-09-02 13:04] #1724 closed

[2019-09-03 12:37] tobolar opened #3104 "Icon of Modelica.Mechanics.MultiBody.Joints"
Based on comments in #3087 on icon for `Joints` package, here is a concluded suggestion: model `IconForJoints.Joints4a` in https://gist.github.com/tobolar/95e62615d30ed5931cfd94c245040756

In Dymola:
![jointsIcon_dymola](https://user-images.githubusercontent.com/9588978/64173612-fa665d80-ce57-11e9-8e9c-cab9795badd4.png)

@maltelenz @henrikt-ma @beutlich: Please check if acceptable rendering can be

[2019-09-03 13:00] beutlich commented on #3104
Here's the screen shot from SimulationX

![grafik](https://user-images.githubusercontent.com/14896695/64175320-57afde00-ce5b-11e9-8b0d-8f1b17fd2866.png)

But there is a typo rotatio -> rotation in line 9. And there is invalid inheritance in Joints4a and Joints7.

[2019-09-03 13:03] HansOlsson commented on #712
I understand the general direction, but the concrete details seem doubly problematic:

- The existing Modelica.Units.SI likely contains some units that shouldn't be there (or with wrong name); having some special preference for them seems odd.
- Even if someone has access to the ISO 80000 standard I doubt that they are allowed to just copy every definition of the standard.

I'm also unsure if ISO

[2019-09-03 13:38] tobolar commented on #3104
I will fix it eventually for PR.

[2019-09-03 14:02] maltelenz commented on #3104
SystemModeler:
![Screenshot_20190903_160114](https://user-images.githubusercontent.com/329963/64179898-2be52600-ce64-11e9-9622-2967a6c45681.png)
OpenModelica:
![Screenshot_20190903_160142](https://user-images.githubusercontent.com/329963/64179910-31db0700-ce64-11e9-96aa-157828423a9c.png)

[2019-09-03 14:06] tobolar commented on #2934
@MartinOtter

Such check would probably be better for some example in "ModelicaTest" library. Since the variable PowerLoss brings no additional benefit, I would prefer to delete it. This is also consistent to `LossyGearDemo3` where no such variable exists.

[2019-09-03 14:11] maltelenz commented on #3104
And for good measure, WL/Mathematica:

![image](https://user-images.githubusercontent.com/329963/64180643-6d2a0580-ce65-11e9-9999-e7e083197c42.png)

[2019-09-03 14:21] tobolar commented on #2628
@christiankral Shall I proceed with `Modelica.Mechanics.MultiBody` or are you working on it? Consequently, the descriptive text of a single output shall be removed, e.g. "force" in `Modelica.Mechanics.MultiBody.Sensors.CutForce`. The text by multiple outputs shall be changed to units.

[2019-09-03 14:23] dietmarw commented on #712
@HansOlsson So you suggest to check the content of SIUnits against the freely accessible SI-Standard (do you have a link?) or what is it you are suggesting should be done?

[2019-09-03 14:29] tobolar commented on #2474
@beutlich
Can I prepare a PR for this? In MSL, it is still stated: It is fully compliant to Modelica Specification Version 3.2 Revision 2 ...

[2019-09-03 14:31] tobolar commented on #712
@dietmarw Do you mean https://www.bipm.org/en/measurement-units/ ?

[2019-09-03 14:33] dietmarw commented on #712
I'm just trying to find a solution as to what our claim should be. Just the 7 Base SI units can not be the answer.

[2019-09-03 14:42] tobolar commented on #3104
OK, I think the tools render well the variants with contours. I will prepare PR with Joints4a icon.

[2019-09-03 15:00] tobolar commented on #712
There are also some derived and non-SI units to be found in the [SI broschure](https://www.bipm.org/utils/common/pdf/si-brochure/SI-Brochure-9-EN.pdf). But I understand. We need more.

[2019-09-03 18:31] beutlich commented on #2474
Yes, pleasego ahead.

Right, this was not yet updated.

[2019-09-03 18:32] beutlich commented on #2934
Please prepare a PR for it.

[2019-09-04 04:49] christiankral commented on #2628
@tobolar Please go ahead with `Modelica.Mechanics.MultiBody`. I will have little time resources to work on this anytime soon.

[2019-09-04 08:37] HansOlsson commented on #712
True, one possibility is that we allow other derived units as long as they are derived SI-units (without prefixes). That seems to be what we already do - but it is clearly ad-hoc.

[2019-09-04 09:53] henrikt-ma commented on #712
Option 2a+"Other" is fine with Wolfram (SystemModeler).

[2019-09-04 11:14] Ciobrelis commented on #3094
Sorry, to bother you again with this thread. But I still think that there is a problem with the multiplication by 2.
In the entire code, the wall thickness s is assumed as a whole thickness, not as half.
Therefore, multiplication by 2 essentially makes that the wall thickness is twice the real one instead of half.

`heatPort_a[i].Q_flow=2*k_wall/s*(Ta[i]-T[i])*area_h/n;`
 ` heatPort_b[i].Q_flow=2*

[2019-09-04 11:17] #3094 closed

[2019-09-04 11:31] #3104 closed

[2019-09-04 12:17] tobolar commented on #2628
@christiankral
I'm not satisfied with different text size used within the Rotational and Translational sensors, see image below.
Also, the connection lines shall be interrupted where there is a text, as indicated in `Modelica.UsersGuide.Conventions.Icons`:

I suppose we could apply this rule to another text in icons as well.

So I'm going to adapt the icons accordingly provided you have no objecti

[2019-09-04 12:44] tobolar commented on #2628
This is how it will looks like (Dymola 2020):
![iconsSensorsRotTranslNew](https://user-images.githubusercontent.com/9588978/64255822-71682880-cf22-11e9-84c6-1efce508ba1c.png)

[2019-09-04 15:26] beutlich commented on #3103
Any preferences? I'd prefer to change "Internal Interface" to "Internal interface".

[2019-09-04 15:48] DagBruck commented on #3103
Not the biggest problem in the world, but my #1 preference is consistency.

I think most design guidelines I have seen suggest writing it as a normal sentence, i.e. "Internal interface".

[2019-09-05 08:24] tobolar commented on #3103
That's the point of this issue.

I have _slight_ preference to use Came Case in tabs and "sentence-like" style in groups.
Tab's text is mostly short, containing just a guide word(s). I've check in web some screenshots of other software and my impression is that this is handled quite differently:
https://docs.microsoft.com/en-us/windows/win32/uxguide/ctrl-tabs
https://www.trueos.org/blog/lumina-scr

[2019-09-05 08:29] DagBruck commented on #3089
The biggest concern should be any use outside of MSL, which might be affected. However, your proposal to just move it would not (yet) permanently remove any functionality.

[2019-09-05 08:34] beutlich commented on #3089
Thanks for feedback @DagBruck . Indeed moving both types to to ObsoleteModelica4 now, will not lose functionality of 3D font visualization.

@MartinOtter @tobolar What do you think on removing the axisShowLabels parameter from MultiBody?

[2019-09-05 08:46] DagBruck commented on #3103
But that reference actually recommends "Use sentence-style capitalization", see the section Labels near the end. And their example follow that.

[2019-09-05 08:51] tobolar commented on #3089
I agree the current hack is odd but it is reasonable to have some axes description for visualization. If it would be moved to ObsoleteModelica4, I guess there shall be at least some idea what to use instead. Otherwise we indicate to remove the element in the future without having a better option.
How is the chance to handle a 3D text visualization within Modelica Langugage Specification?

[2019-09-05 08:57] tobolar commented on #3103
Fine to me. Their guidelines are quite clear and comprehensive so we could simply adopt it.

[2019-09-05 09:00] beutlich commented on #3089
If I am not wrong, nothing happened in the last 15 years. Thus there simply was not enough pressure to enforce any improvements ofiicially.

This also means (as of now) that the current comment on the Visualizers.Internal is misleading.

[2019-09-05 09:02] christiankral commented on #2628
@tobolar OK, I am fine with all your proposals.

[2019-09-05 09:05] beutlich commented on #2627
@christiankral @tobolar Is this issue also considered by your changes for #2628?

[2019-09-05 11:38] HansOlsson commented on #3089
We would first need to figure out what we need.
Texts in 3D animations could be:

- Texts on the sides of objects in 3D (they can be part of textures).
- Texts with possible depth in 3D that rotate with the rest of the 3D. (As these labels.)
- Textual labels in 3D-space that are always turned towards the viewer (and sometimes the entire label also moves in other ways). (This is more normal for lab

[2019-09-05 12:46] tobolar commented on #2627
Yes for mechanical sensors. I've ticked it accordingly in my comment above.

[2019-09-05 12:58] tobolar commented on #3089
Rethinking about this issue, I guess we can split it into two parts:
1. An object for visualization of a coordinate frame incl. axes description. I'm not sure but maybe we just need a visualization object here which can be simply handled by the tools' visualizers (as SimulationX does).
2. A generic 3D animation of a text, enabling far more options.

I suppose this issue is more about 1. If I'm rig

[2019-09-05 13:02] tobolar commented on #2628
@christiankral Please add your review on #3107. The changes there comply with the picture above.

[2019-09-05 15:11] max-privato opened #3108 "Text size of icon variable"
Not the biggest problem in the world, but...
I found an inconsistency in Electrical.QuasiStationary.Basic models.

Namely, the inductance value of the inductor is much smaller than the other values in similar components (resistor, capacitor, conductor.)

In the Inductor I read:
 Text(extent={{150,-50},{-150,-80}}, textString="L=%L"),

while in the Resistor, Capacitor, Conductor I read:
 Text(exten

[2019-09-05 15:13] MartinOtter commented on #291
Its not really clear to me why package Mechanics should be renamed to package Mechanical.

"Mechanics" is the **field** to which the package provides components. For example, if you look for books, it is typical to find titles such as "An Introduction to Mechanics", "Principles of Quantum Mechanics", "The Variational Principles of Mechanics". It is much less common to use "mechanical" in the titel

[2019-09-05 15:21] dietmarw commented on #291
The why is pretty much explained in https://github.com/modelica/ModelicaStandardLibrary/issues/291#issuecomment-272586999 and following. All by *native* speakers.

The strong reason is really "consistency" which also reflects on the quality of the content.

[2019-09-05 15:58] svorkoetter commented on #291
While we native speakers agree there's an inconsistency, from rereading the comments (including my own) it also seems that we feel the inconsistency is in the English language, not in the naming convention. I think Martin makes a strong case for NOT changing it, and I now feel that changing it would not be a good idea. The inconsistency is not serious enough to reflect on the quality IMHO.

Aside

[2019-09-05 17:47] beutlich commented on #3108
Thanks for reporting anayway.

[2019-09-05 19:08] beutlich commented on #3002
@MartinOtter Any feedback?

[2019-09-05 19:11] beutlich commented on #545
Friendly reminder. :bell:

[2019-09-05 19:15] beutlich commented on #2556
@tobolar This is labeled "high" and orginated from https://github.com/modelica/ModelicaStandardLibrary/pull/2529#issuecomment-392700692. Do you think you can provide a fix for MSL v4.0.0?

[2019-09-05 19:21] beutlich commented on #291
Clsoing it then as wontfix. No more need to argue here. Let's please concentrate on the more relevant issues.

[2019-09-05 19:21] #291 closed

[2019-09-06 06:12] #1988 closed

[2019-09-06 08:00] #3089 closed

[2019-09-06 08:46] tobolar commented on #3089
Even if #3111 is fine, I don't believe it really closes this issue as the title is "Future of ...". It actually could only be closed if there is another corresponding issue on 3D text in Modelica Spec.

[2019-09-06 18:44] thorade commented on #545
After re-reading this ticket, I suggest to add the following
new types:
[code]

new display unit conversion scripts:
[code]
But before actually submitting that as PR, I would like to have feedback on the names - is there a naming scheme for the types?
For the defineUnitConversion it seems these are not stored in this repo, so I cannot submit a PR for it. Are they stored anywhere or should they be

[2019-09-06 18:49] thorade commented on #2377
Note: The longer term ticket for naming is #2438

[2019-09-06 18:53] thorade commented on #2438
I agree with Hans and Hubertus to use R for universal gas constant and R_s or R_specific for the gas specific gas constant, so that
[code]
I would prefer R_s because it is shorter in equations, and is also in line with what I have seen in text-books, but this is not a strong preference either.

[2019-09-06 19:33] beutlich commented on #545
defineUnitConversion is Dymola specific. Not sure about the `µ` prefix either.

We already have (introduced by 53cce7f3e574ad179ac707bdbdc6effdb1949c7d)

[code]

and (introduced by e2676d3ae248c1811a90ba0ffbc41d3d4b4f17f9)

[code]

and since 7366c28985d642838fadbe8fae46305e9c62b98f

[code]

I guess we can close this issue then, except if you want to add a new short type definition for IonicStrengt

[2019-09-06 19:36] beutlich commented on #545
Otherwise, could be, that@hubertus65 meant proper support of molar units in Modelica.Media as this issue's actual topic.

[2019-09-06 20:11] casella commented on #3098
@mestinso the reason why we used head instead of specific energy is that manufacturers of pumps usually provide data in terms of head vs. volumetric flow curves, so the most convenient way to parameterize the component is to use that.

Unless of course you are talking about pumps which are employed aboard missiles, but then you need completely different hydraulic models also for other components,

[2019-09-07 07:47] casella commented on #3102
This is not a problem with the Modelica Standard Library, but rather a missing feature of OpenModelica, which has no way to add the `each` prefix to specify parameter arrays by just giving one value which is used for all elements of the array.

Please follow [#5405](https://trac.openmodelica.org/OpenModelica/ticket/5405) on the OpenModelica trac.

[2019-09-07 07:47] #3102 closed

[2019-09-07 16:30] #3103 closed

[2019-09-08 10:17] beutlich commented on #3089
From a library point of view I am fine with the current change (disclaimer: was my own PR). Regarding the actual promise of supporting fonts/text in 3D visualization I'd like to ask @TorstenBlochwitz (as MA technology officer) to join the discussion and open a new spec ticket if applicable. Thanks.

[2019-09-09 08:06] HansOlsson commented on #545
The specification says that you should use "u" instead of "µ".  (And I haven't checked whether the latter is micron-symbol or greek mu.)

However, tools are encouraged to use the proper symbol when displaying that  - as discussed in https://github.com/modelica/ModelicaSpecification/issues/2142

And since Dymola 2019 the need for
`defineUnitConversion("kg/mol", "g/mol", 1e3, 0);`, is reduced, as we

[2019-09-09 08:26] #2770 closed

[2019-09-09 09:38] thorade commented on #545
OK, so unit conversion will not be handled here, instead conversions could be suggested to tool vendors.

I think we could have molar units more or less complete by adding molar entropy:
[code]
and also the short type definition `type MolePerMass = IonicStrength;`

And then close the ticket.

[2019-09-09 10:03] beutlich commented on #545
It already is there. Have a look at

https://github.com/modelica/ModelicaStandardLibrary/blob/1897ca82d47bb48d33af5d8ac96efb1c4d73050d/Modelica/SIunits.mo#L1365-L1366

(different unit though).

[2019-09-09 10:04] HansOlsson commented on #545
Should we add MolePerMass or https://en.wikipedia.org/wiki/Molality ?

I would also propose to have that as the base-class (with definition) and IonicStrength equal to that; the effect is the same - but it makes more sense to me.

[2019-09-09 13:21] thorade commented on #545
That is the correct unit, I forgot the parantheses.

I agree with Hans' proposal of adding molality and having IonicStrength as alias!

[2019-09-10 06:08] beutlich opened #3115 "Derivative of step signal by CombiTimeTable"
Discontinous signals can/should **not** be differentiated:

[code]

This has been considered in #1147 when implementing the constant interpolation of CombiTimeTable:

[code]

However, using linear interpolation of CombiTimeTable and duplicated sample points we successfully can model a discontinuous signal and get its derivative.

[code]

This seems inconsistent, if not even wrong. Since linear int

[2019-09-10 10:06] casella opened #3117 "trac.modelica org is obsolete and should be brought offline"
The migration from trac to github took place over two years ago. As far as I remember, all the tickets were imported into github.

Yet, [https://trac.modelica.org](https://trac.modelica.org) is still online, and it contains pages such as this [wiki](https://trac.modelica.org/Modelica/wiki) which are obsolete and confusing.

I would propose to take [https://trac.modelica.org](https://trac.modelica.

[2019-09-10 10:47] #3108 closed

[2019-09-11 08:23] MartinOtter commented on #3115
In Modelica it is possible to model a discontinuous signal and then differentiate it as shown in your example M1. The differentiation of a table is in a similar spirit. In general, it seems hard (impossible) to detect such issues at compile time and therefore this needs to be detected during simulation. This in turn means that this is a tool issue (if a differentiation would lead to a Dirac impuls

[2019-09-11 18:10] beutlich commented on #3115
Yes, Dymola simulation fails for models M1 and M2 at time 0.5s. With the knowledge of #1147 this is as expected. However, M3 models the same step signal using the same block (CombiTimeTable) but shows different behaviour when differentiating. I'd like to fix it (or at least document it) if @HansOlsson and @MartinOtter also think that is misuse of the linear interpolation with duplicated sample poi

[2019-09-15 15:38] chrbertsch commented on #2974
I still see the need for a package manager and do not understand why we have closed this issue.

Currently - at least in my company - Modelica-tools are "exotic" in terms of number of users compared to other tools. We as MA do not yet make good advantage of the "Modelica eco-system" with a huge number academic institues, induviduals and companies providing Modelica libraries. MA should provide an

[2019-09-15 15:58] beutlich commented on #2974
This issue was closed since we only focused on the upcoming MSL v4.0.0 milestone (in roughly six months) where it simply is not feasible. But the general issue is not forgotten at all. See https://github.com/modelica/ModelicaStandardLibrary/issues/2974#issuecomment-503134827 and the 7+ issue links mentioned there.

[2019-09-16 09:10] #3002 closed

[2019-09-18 14:34] joehenning opened #3121 "Null Pointer Dereference on Error in ModelicaIInternal_readDirectory"
I found this with a static analysis tool while troubleshooting an unrelated bug. I think that practically speaking, it would be really rare to come across this problem.

In ModelicaInternal.c:
[code]

If ModelicaAllocateStringWithErrorReturn were to return an error, pName would be NULL and the code would go down the error handling code branch, which logs an error. After the error handling branch,

[2019-09-18 14:44] HansOlsson commented on #3121
But this is not actually an issue, since ModelicaFormatError triggers error handling, and thus the code should not continue to the following lines in that case.

I don't know if there are some "annotations" missing on ModelicaFormatError for the C-code analysis.

[2019-09-18 15:33] HansOlsson commented on #3098
I would say a more mundane similar example of varying "gravity" would be a car when braking (or accelerating) heavily.

That may be about 1g, but vertical - not horizontal and the fluid systems are designed to handle that (however, it would be good to be able to verify that in a simulation).

(And acceleration and gravity are just the same according to general relativity.)

[2019-09-18 16:36] joehenning commented on #3121
Ahh, both myself and the tool overlooked the `exit(1)` in the definition of ModelicaFormatError. Thanks for the prompt reply. I will close the issue.

If I can trouble you for a further question though, does this mean exported models will sometimes close the process that's running them? For example, will an application running an FMU unexpexctedly close whenever ModelicaFormatError is called? That

[2019-09-18 16:36] #3121 closed

[2019-09-18 22:25] casella commented on #3098
@HansOlsson I completely agree. In any case, handling that case requires a different library, because the acceleration is time-varying, so it's beyond the scope of Modelica.Fluid.

[2019-09-20 19:21] beutlich commented on #359
Removing milestone for reasons given in https://github.com/modelica/ModelicaStandardLibrary/pull/3097#issuecomment-522327170.

[2019-09-21 10:26] christiankral opened #3122 "Possibly switch Modelica documentation from HTML to Markdown"
The creating of HTML documentation in any Modelica library is very fault prone (e.g. https://github.com/modelica/ModelicaStandardLibrary/pull/3054/commits/5ae807340a533535d6733b39edffca1b63883817) as most documentation is created manually. Therefore, we continuously run into wrong or missing tags. Writing documentation in Markdown format is lot easier, faster and less fault prone.

So in the long

[2019-09-21 14:56] sjoelund commented on #3122
It would be very easy to swap the libraries to markdown since markdown allows you to mix html and markdown (as long as tags are closed, etc)

[2019-09-21 19:09] dietmarw commented on #3122
In don't think this is a question for the library but first of all of tool support. Should tools support be in place then I'm all for it. We had something similar regarding MathJax support. Which is no problem in OM for example but not in other tools.

[2019-09-21 19:22] christiankral commented on #3022
Having an awkward name such as `out_v` or `v_out` in a sensor does not convince me. Unfortunately we do not have any alternative proposals to be considered. Therefore, for the easiness of implementation the simplest way may be to go for proposal 2:

- Simple Modelica implementation
- Easy to understand even for Modelica beginners
- Easy nomenclature for the naming of signal outputs: the name is al

[2019-09-21 19:39] christiankral commented on #3122
One way to go could be to have something like a Modelica Markdown editor and viewer (plugin or whatever) which can be used from all tool vendors. This Modelica Markdown editor/viewer should then be open source and the initial version may even be paid work financed by the Modelica Association. From such an initial version of this editor/viewer the tool vendors could improve and maintain the editor/

[2019-09-23 08:03] HansOlsson commented on #3122
One could argue that we planned ahead for this by having `<html></html>` surrounding the current documentation.

I don't see that as a good idea for several reasons: different tools have different plugin-capabilities, and tools also want the documentation editor to have the same look-and-feel as the rest of the GUI that will require substantial configuration possibilities in the plugin, which make

[2019-09-23 13:42] henrikt-ma commented on #3122
This feels related to our ongoing work with the prototype for predefined plots.  As we will show at the upcoming design meeting, our current prototype doesn't make use of HTML for several reasons, which I'm sure lead to discussions giving us the chance to explain in more detail next week in Lund.

[2019-09-23 14:20] beutlich commented on #3122
It would be incredibly helpful if we could validate the HTML in a CI job.

[2019-09-24 14:04] mestinso commented on #3098
@casella Maybe I shouldn't have led with my space examples. That is neither my primary use case or my primary concern. Though I still think it's a valid concern at least in an academic sense. Also, to clarify, I'm not suggesting simulations with varying g over the course of the simulation. I was suggesting situations where the pump might be parameterized with one g and used at another g.

My prima

[2019-09-26 19:35] beutlich commented on #2820
@dietmarw @HansOlsson Do you think you can manage to update the ModelicaReference?

[2019-09-26 19:44] beutlich commented on #1898
@casella @HansOlsson @christiankral @AHaumer Unfortunately the discussion was stopped after valuable analyses. Could you please decide how to proceed and if MSL v4.0.0 seems possible?

[2019-09-27 09:03] dietmarw commented on #2820
@svorkoetter Could you provide the updated "Modelica Grammar" also including fixes to HTML issues that were mentioned earlier. Feel free to submit it as PR to https://github.com/modelica-tools/ModelicaSyntaxChecker (including updated moparser binary if you got them). Thanks.

[2019-09-27 09:22] dietmarw commented on #2820
@HansOlsson since you are working most intense with the Specs I wonder if you can list the new/changed parts from Spec 3.2 to 3.4 that are relevant for Modelica Refernece. Otherwise I need to go through the documents with revision marks and chances are I might miss some central items/changes.

[2019-09-27 11:17] HansOlsson commented on #2820
I will try to do it, I just started with looking at Modelica-Compliance (well, after looking at issues for the specification itself).

[2019-09-27 11:51] casella commented on #1898
Do you mean getting this resolved in v4.0.0?

[2019-09-27 12:44] svorkoetter commented on #2820
Will do. Just so I'm sure to get the right grammar, what's the official source of the up-to-date spec?

On Fri, 27 Sep 2019 02:03:17 -0700
Dietmar Winkler <notifications@github.com> wrote:

--
Stefan Vorkoetter
Senior Architect
Maplesoft

[2019-09-27 14:15] beutlich commented on #1898
Exactly.

[2019-09-27 16:05] HansOlsson commented on #2820
Do you mean https://github.com/modelica/ModelicaSpecification
which has links to PDF and HTML-versions, both for master-branch and 3.4.

[2019-09-27 16:08] svorkoetter commented on #2820
@HansOlsson, has the grammar changed since the time that I already uploaded the requested files?

[2019-09-27 20:26] tamer3DS opened #3124 "Possible discrepancy between parameter values in reference book vs function implementation in Modelica.Fluid.Dissipation.PressureLoss.Bend.dp_edgedOverall_DP"
In reference to function **dp_edgedOverall_DP**
SOURCE_1: Idelchik, I.E.: HANDBOOK OF HYDRAULIC RESISTANCE, 3rd edition, 2006

In line 67: Real B=24.8
    "Coefficient considering effect of Reynolds number on zeta_TOT";

And In line 69:   Real exp=0.263
    "Exponent for Reynolds number correction in laminar regime";

But according the textbook (image attached), the coefficients were expected to b

[2019-09-30 02:25] max-privato commented on #2397
I've seen that in Modelica 3.2.3 an Aron sensor has appeared.
Although the implementation is different, the derivation is evidently from my proposal.
I would have liked to be mentioned in the info of that component.

[2019-09-30 07:08] bilderbuchi commented on #3124
Without having the source available (and thus the geometry in question), one thing that jumps out to me is that the data in the screenshot you give is valid for Re>=1e4 (which sound like in the turbulent regime to me), but the comment in the source speaks about "laminar regime".

[2019-09-30 07:46] max-privato opened #3125 "Connector appearance and naming harmonisation in MS 4.0"
if I understand well, in the upcoming MSL 4.0 it will be allowed to insert non-backward compatible enhancements.
It this is true, this is an opportunity to add some changes that in principle improve the library, but in practice are impossible in 3.x releases to avoid breaking existing models and libraries.

In this context, I have a few considerations and a proposal.

There is an important analogy

[2019-09-30 08:20] max-privato commented on #3125
OOPS! Sorry for the mistake.
Hope the ticket will get attention.

[2019-09-30 12:59] tamer3DS commented on #3124
I am sorry I didn't make my question clear.
**The image attached is from page 365 from "source 1: Idelchik, I.E.: HANDBOOK OF HYDRAULIC RESISTANCE, 3rd edition, 2006"** --> I could not find the source for the values used in the function starting line 66
`//SOURCE_1: p.365: Correction w.r.t effect of Reynolds number in laminar regime`
`Real B=24.8`
    `"Coefficient considering effect of Reynolds n

[2019-10-01 09:05] tobolar commented on #3125
See
#2481 for more connectors` discrepancies and
#2997 for "analogy between the electrical component OnePort and mechanical (translational and rotational) component PartialCompliant".

Concerning __mechanical components__, I suppose a typical user's approach is to think in real mechanical dimensions. No potential, no energy flow. If there is a spring, it could be easily interpreted that frame_a is

[2019-10-01 09:23] tobolar commented on #3022
This will definitely concern also other domains. In this case, more library officers shall be involved.

[2019-10-01 13:02] carlj-w opened #3127 "Wrong unit in ModelicaTest.Fluid.Dissipation.Verifications.PressureLoss.Bend examples"
In ModelicaTest.Fluid.Dissipation.Verifications.PressureLoss.Bend.dp_curvedOverall_DPMFLOW we have this line:
`parameter Modelica.SIunits.Conversions.NonSIunits.Angle_deg delta[3] = {30, 45, 90} * Modelica.Constants.pi / 180 "Angle of turning";`
and in ModelicaTest.Fluid.Dissipation.Verifications.PressureLoss.Bend.dp_edgedOverall_DPMFLOW this line:
`parameter Modelica.SIunits.Conversions.NonSIunit

[2019-10-02 10:46] wischhusen commented on #3127
Correct. Should be SIunits.Angle.

[2019-10-02 14:28] dietmarw commented on #3127
@wischhusen If you do not mind then I like to use the opportunity of this trivial bug to create a screencast of how to fix issues in the MSL and how to submit a PR. So simply leave this to me :-)

[2019-10-02 19:10] beutlich commented on #2743
No, it was copied from IdealGasH2O.

[2019-10-03 06:54] beutlich commented on #967
Once again, @hubertus65 Can you please elaborate what exactly is to be done and how expensive it is to do after all? Thank you!

[2019-10-03 06:55] beutlich commented on #2304
I prepared #3131 for it.

[2019-10-04 10:48] christoff-buerger opened #3132 "Inconsistencies between engines of Mechanics.MultiBody.Examples.Loops"
At the Modelica conference this year I presented a language extension for non-monotonic modeling (cf. [Modelica language extensions for practical non-monotonic modelling: on the need for selective model extension](https://modelica.org/events/modelica2019/proceedings/html/papers/Modelica2019paper3B1.pdf)). One of its running examples are the `Engine1a`, `Engine1b` and `Engine1b_analytic` models of

[2019-10-04 10:49] christoff-buerger commented on #3132
I will provide a consistent modeling from my MSL fork via a pull request.

[2019-10-04 10:58] christoff-buerger commented on #3132
Added respective pull request #3132.

[2019-10-04 11:43] dietmarw commented on #3132
Just for the future. It is not necessary to open up an issue in addition of a PR. The PR can be discussed in the PR itself while keeping the number duplicate issue numbers down.

[2019-10-05 07:22] beutlich commented on #2397
@max-privato Feel free to provide the appropriate pull request. Thank you.

[2019-10-05 07:54] beutlich commented on #545
Nothing more to be expected.

[2019-10-05 07:54] #545 closed

[2019-10-05 07:56] beutlich commented on #143
Is this feasible for MSL v4.0.0?

[2019-10-05 19:17] beutlich commented on #966
No reply from libray officers -> removing milestone.

[2019-10-05 19:19] beutlich commented on #283
Not feasible for MSL v4.0.0 and of low prio -> removing milestone.

[2019-10-05 19:23] beutlich commented on #1752
Backwards compatibility is not an issue for MSL v4.0.0 if a conversion can be provided.

@christiankral @AHaumer Do you think you can fix it for MSL v4.0.0? If not, please remove the milestone.

[2019-10-05 19:48] chrbertsch commented on #1516
I would agree to these arguments, if we had a  package manager for 3rd party Modelica libraries well  integrated in all Modelica tools ...
So either MA should work in that direction (couldn't this be payed work to provide the framework), or we need nd-tables in the MSL ...

[2019-10-05 20:40] beutlich commented on #1516
Nothing happend on ND-tables since 2016-04-06 (see https://github.com/modelica/ModelicaStandardLibrary/issues/1153#issuecomment-272639534) when we got lost on the requierements for the file format(s).

Since this issue is closed, please use #1153 for your updates/requirements on ND-tables. Thank you.

[2019-10-05 20:55] beutlich commented on #1575
Though the prerequisites have changed with the Modelica specification v3.4 allowing mixed
Real and non-Real record derivatives (MCP-0028), this issue with TestDifferentiation failing to simulate still is apparent in current MSL (both maint/3.2.3 and master) and current Modelica tools.

@hubertus65 @thorade @wischhusen @jwindahlModelon Do you think you can fix it for MSL v4.0.0?

[2019-10-06 07:31] beutlich commented on #3099
@hubertus65 Why are there two different types Modelica.Media.Interfaces.Types.SpecificEnergy and Modelica.SIunits.SpecificInternalEnergy? Why are they used inconsistently?

[2019-10-06 07:44] beutlich commented on #2972
Unfortunately nobody is able to recall why it is like this since the first addition of Modelica_Fluid. There is some commit https://github.com/modelica-deprecated/Modelica_Fluid/commit/0e76ac5f2b523786daa2d09016ee462bdc186e30 by @dietmarw where the equation `Re := Re1*(lambda2/lambda2_1)^(1 + dx*(c2 + dx*c3));` was added to the StreamConnector branch. Having no access to http://groups.google.com/g

[2019-10-06 07:57] beutlich commented on #1575
Here's what I tried so far.

Changing Modelica.Media.R134a.R134a_ph.setState_phX to

[code]

does neither help to simulate the TestDifferentiation model in Dymola 2020 or SimulationX 4.0.

However, changing state.phase to always be zero leads to successful simulating model in SimulationX 4.0, whereas Dymola 2020 still gives the same error as before.

[2019-10-06 12:46] harmanpa commented on #778
I'd favour the suggestion from @ahaumer of TwoWaySwitch, it is clear and easier to spell than Commutating!

[2019-10-06 13:08] beutlich commented on #778
So it will be:

- IdealCommutingSwitch -> IdealTwoWaySwitch
- ControlledIdealCommutingSwitch -> ControlledTwoWaySwitch
- IdealIntermediateSwitch: keep as is
- ControlledIdealIntermediateSwitch: keep as is

[2019-10-06 15:29] max-privato commented on #2397
_Feel free to provide the appropriate pull request. Thank you._
I will do.
I will also propose to correct the comment technically: It currently says that
_This device works only for sinusoidal voltages and currents in threephase systems without neutral._
in reality this is valid also for non-sinusoidal quantities.

[2019-10-06 16:03] beutlich commented on #2941
@MartinOtter @tobolar The issue #1741 from @frenkelj on FullRobot initialization is open for more than four years with a detailed analysis provided. Please let me know when you think you can provide a fix for it!

[2019-10-07 16:18] christiankral commented on #3022
I agree that we should discuss this on a broader level as it makes sense to implement the unification for all MSL packages.

[2019-10-07 16:33] christiankral commented on #2519
Works in the Documentation Browser of OpenModelica:

![image](https://user-images.githubusercontent.com/4184218/66330576-f767fc80-e930-11e9-8822-343d35d8ec7c.png)

[2019-10-07 20:49] christiankral commented on #3021
I have no strong opinion on this subject. I think that both ways on spelling active, reactive apparent power have pros and cons. However, I think that new Modelica users find it easier to understand `P`, `Q` and `S` instead of `S.re`, `S.im` and `abs_S`.

[2019-10-07 21:17] dietmarw commented on #3021
So I'd suggest to leave them as S, P and Q, especially for beginner's sake. Is that OK for you @AHaumer? In which case we could close this?

[2019-10-08 05:45] henrikt-ma commented on #2519
SystemModeler:
<img width="462" alt="figcaption-SystemModeler" src="https://user-images.githubusercontent.com/25294143/66370184-8a3f8000-e99f-11e9-8197-00e2f547fbbc.png">

[2019-10-08 08:20] HansOlsson commented on #2455
I don't see any major problem with supporting this, but the real problem is to support it with minimal impact - and that will require more thought.

I don't see a need for a specification change, as the specification doesn't say anything special about variables of simple types in this context (i.e. "Complex c" and "Real x" have the same type of documentation strings).

[2019-10-08 12:40] AnHeuermann opened #3140 "Initialization of BranchingDynamicPipes with homotopy methods failing"
While changing the way OpenModelica initializes when the homotopy-operator is used inside a model we noticed that `Modelica.Fluid.Examples.BranchingDynamicPipes` behaves not as expected and is triggering a bunch of asserts.

When using homotopy method for the initialization problem (`Advanced.OnlyUseHomotopyMethod = true` in Dymola or `-homotopyOnFirstTry` in OpenModelica) we get an initialization

[2019-10-08 13:13] HansOlsson commented on #3140
I believe the homotopy used in the flowModel should revised - or removed.

The reason is that the model has the settable parameters dp_nominal, m_flow_nominal and the computed parameter dp_fric_nominal (which doesn't seem important).

They are (almost) only used for homotopy as far as I can see, and people not using homotopy (as in this case) will not set them to good values (because they don't ma

[2019-10-08 20:21] #2028 closed

[2019-10-09 09:40] HansOlsson commented on #3140
To clarify I see three possibilities for correcting this general issue for the flowModel (assuming I have understood it):

- Just remove the homotopy-part.
- Replace the homotopy-specific parameters with existing parameters in some way.
- Add a "parameter Boolean activateHomotopyParameters=false;" and make the previously mentioned parameters conditional enabled on this one, and only use the homoto

[2019-10-09 13:52] #778 closed

[2019-10-09 13:54] #3096 closed

[2019-10-09 14:39] #3015 closed

[2019-10-09 14:49] beutlich commented on #3060
We can discuss it at the scheduled MAP-Lib strategy meeting in Nov 2019.

[2019-10-09 15:13] #3132 closed

[2019-10-09 15:52] #2743 closed

[2019-10-10 14:33] adrpo opened #3143 ".Modelica.Utilities.System.getTime() returns bad year"
Running this model:
[code]
with OpenModelica on Windows will give you `year=10` and on Linux will give you `year=9`.
With Dymola 2019 on Windows ill give you `year=10`.

The code for the external C is here:
https://github.com/modelica/ModelicaStandardLibrary/blob/master/Modelica/Resources/C-Sources/ModelicaInternal.c#L1264
I haven't looked in detail into it, maybe somebody can spot the problem.

[2019-10-10 14:34] adrpo commented on #3143
Reference: https://stackoverflow.com/questions/58320730/modelica-print-current-time/

[2019-10-10 15:07] beutlich commented on #3143
Hm, only for Win32 we increment the month

https://github.com/modelica/ModelicaStandardLibrary/blob/master/Modelica/Resources/C-Sources/ModelicaInternal.c#L1306

[2019-10-10 18:11] beutlich commented on #2820
@svorkoetter Can you please create a PR updating the grammar to specification 3.4. See https://specification.modelica.org/v3.4/A2.html#grammar for the reference to take it from.

[2019-10-10 18:14] beutlich commented on #2820
Yes, it did. Take the pure/impure class-prefixes as example.

[2019-10-10 18:16] beutlich commented on #2820
@HansOlsson Should the clocked/synchronous language elements also be added to ModelicaReference?

[2019-10-11 07:29] HansOlsson commented on #2820
I believe so, especially since we are adding Modelica.Clocked.
Note that the state-machine part can be skipped at the moment.

Adding sample, hold etc in the list of operators would be straightforward; but it is not clear if we should add a general overview - and if so how detailed. If we add it my preference would be to keep it very short - so just a one (or two) paragraph summary, since it is co

[2019-10-11 07:32] sjoelund commented on #3143
I guess the problem with easily assigning to the bad value is due to not returning enumeration (or wrapping it into a record).

[2019-10-11 07:40] HansOlsson commented on #3143
Wrapping it into a record seems the most logical.

Alternatively I think that the risk would have been less if we had used the same order as IS 8601 and reversed the output order to return year, month, ... (but changing it now would be too confusing).

[2019-10-11 07:51] adrpo commented on #3143
Could we change it to a record for 4.x?

[2019-10-11 07:56] sjoelund commented on #3143
I think there might be a possibility to rename getTime() to Internal.getTime() or something with the same interface. And then create a new getTime() that works by calling that function and creating a record on top of it.

[2019-10-11 10:11] casella opened #3145 "Change name to loadResource"
The choice of name of the `Modelica.Utilities.Files.loadResource` function is a bit misleading, since the function does not load anything anywhere, but simply converts a `modelica://` URI into a string an absolute file path, that can be used as an input to the numerous functions that require a `fileName` input string.

As we have a once-in-a-lifetime opportunity to improve lame naming, I would pro

[2019-10-11 10:26] thorade commented on #3143
+1 on ISO 8601 for dates everywhere.
https://en.wikipedia.org/wiki/ISO_8601
Would such a breaking change be allowed for MSL 4.0?

[2019-10-11 16:06] beutlich commented on #3145
ModelicaServices.ExternalReferences.loadResource maps to Modelica.Utilities.Files.fullPathName by default. That's what I'd propose: fullPathName should consider modelica:// or file:// URIs.

[2019-10-11 18:54] #3143 closed

[2019-10-11 20:35] beutlich commented on #2820
Yes, please!

[2019-10-11 21:39] svorkoetter commented on #2820
That was already there. The only changes seem to be the missing closing `</p>` tags, and the change from `annotation` to `annotation_comment`.

[2019-10-15 10:09] henrikt-ma commented on #3145
I've always found it strange that `loadResource` isn't part of the language.  Rather than just renaming the MSL function, I would suggest moving it to the specification as in this [MCP suggestion](https://github.com/modelica/ModelicaSpecification/pull/2387#issuecomment-522744853).  There, the language construct is called `resolveURI`.

[2019-10-15 14:26] perost opened #3150 "Invalid modifiers in Modelica.Magnetic.QuasiStatic.FundamentalWave examples"
The following modifications of `m` are invalid, because `m` in [`DQToThreePhase`](https://github.com/modelica/ModelicaStandardLibrary/blob/4a45701108d2343ea0a90c5b68c0e0f53f790c07/Modelica/Electrical/Machines.mo#L17218) is declared as a constant, whereas the `m`:s declared in these two models are declared as parameters:
https://github.com/modelica/ModelicaStandardLibrary/blob/4a45701108d2343ea0a90

[2019-10-15 17:29] beutlich commented on #3150
This bug was introduced as side-effect of 891d6c34087cc20954c6c8a6b331341e5aece90f for #3058. Instead of renaming also the variability of `m` was changed.

[2019-10-15 19:55] beutlich commented on #2934
OK, #3153 resolves it as discussed.

[2019-10-15 20:37] beutlich commented on #2752
@tobolar Seems accepted.

1. Can you please update the conventions! Thanks.
1. Do we also want to fix it in current MSL for v4.0.0?

[2019-10-15 20:48] beutlich commented on #2686
@casella Any feedback?

[2019-10-16 14:37] MartinOtter commented on #2934
I have re-inspected LossyGearDemo1/2 and changed my mind:

Internally, variable "tau_loss" is computed in a non-trivial way and from this variable the loss power is computed (tau_loss*w_a). It is easy to have an error in the computation of "tau_loss" and then also the loss power and the whole component is wrong.

I recall that I introduced the loss power computation on the top level to check that

[2019-10-16 15:22] #2616 closed

[2019-10-16 15:23] #2807 closed

[2019-10-16 15:28] MartinOtter commented on #2941
locked is declared as:
[code]
Therefore, the start value is well-defined (= false) and the iterative algorithm has to start with this value.

[2019-10-16 15:44] MartinOtter commented on #3022
I did not try out, but it should be possible to redeclare the declaration of "v" or "i" in TwoPin by adding a prefix output, something like (maybe @HansOlsson can help with the exact syntax):
[code]

[2019-10-17 09:29] henrikt-ma commented on #2941
How does this answer the following statement in #1741?

[2019-10-17 09:55] HansOlsson opened #3155 "Spelling of Modelica.Magnetic.FundamentalWave.Examples.BasicMachines.SnychronousMachines"
I could not see this reported for **Snychronous**Machines

[2019-10-17 11:59] henrikt-ma commented on #3150
In my opinion, the correct way to solve this is not to change constants to parameters, but rather the opposite; all the `m` involved here should be declared `constant`.  This makes it clear that they are not intended for change after translation, and variability rules are respected.

[2019-10-18 07:24] beutlich commented on #2934
Reassigning to @MartinOtter to improve the documentation of these examples as proposed.

[2019-10-18 11:33] otronarp opened #3157 "Confusing description of angles_start in Modelica.Mechanics.MultiBody.Parts.Body"
The description for `angles_start` in `Modelica.Mechanics.MultiBody.Parts.Body` reads:

``` "Initial values of angles to rotate frame_a around 'sequence_start' axes into frame_b"```

Which is a bit confusing since there is no `frame_b` in `Modelica.Mechanics.MultiBody.Parts.Body`.

That description is also propagated to `angles_start` in `BodyShape`, `BodyBox` and `BodyCylinder`. Which is even mor

[2019-10-18 11:48] otronarp opened #3158 "FixedRotation uses the non SI unit Angle_deg"
`Modelica.Mechanics.MultiBody.Parts.FixedRotation` uses the non SI unit `Angle_deg`:
[code]

Using non SI units in the interface is bad practice since it spreads to the rest of you your model if you want to propagate the parameter from a higher hierarchical  level.

[2019-10-18 12:49] MartinOtter commented on #2934
tau_loss is a central variable from which other variables are computed. Only if all variables are computed, the simple loss-power formula can be used.

[2019-10-18 13:15] MartinOtter commented on #2941
Sorry, your answer is too short and I do not get your argument. Please, give more explanations (it is standard, that you start in a nonlinear equation system with a guess value and then iterate until convergence is reached. There might be multiple solutions and typically the solution closes to the guess value is selected, but this is not guaranteed).

[2019-10-18 13:36] HansOlsson commented on #2934
Both of the given formulas are fairly simple so I don't know which you mean "simple loss-power formula"; and we are as far as I know computing all variables.

However, as indicated above the `PowerLoss` formula would lack a term if `support` weren't attached to `fixed`, and to me one major reason for writing `gear.lossPower` in such a complicated way is exactly that it handles the `support`-case -

[2019-10-20 10:12] MartinOtter opened #3162 "Unusual Constant Source Voltage icon in MSL 3.2.3"
In MSL up to version 3.2.2, the icon for a constant source voltage was at it is standard in the electrical community:
![image](https://user-images.githubusercontent.com/7248038/67157977-a72a6a80-f332-11e9-96bc-209e33339bd0.png)

In MSL 3.2.3 the icon was changed to the non-standard form:
![image](https://user-images.githubusercontent.com/7248038/67157983-c4f7cf80-f332-11e9-9186-85996aee9de3.png)

[2019-10-20 13:14] beutlich commented on #3162
See #2718.

[2019-10-20 13:15] beutlich commented on #3162
See #2186.

[2019-10-20 21:14] #2901 closed

[2019-10-20 21:22] #3155 closed

[2019-10-20 22:00] #3064 closed

[2019-10-21 11:09] beutlich opened #3163 "Modelica.Media.R134a problem"
**Reported by CTG on 15 Oct 2019 07:56 UTC**

Although it is not an OpenModelica related problem, I would like to share the following experience.
While checking my own media libraries compatible with Modelica.Media, I have found what I think is a bug in the Modelica.Media.R134a package. The calculation fail is shown in the attached file. Coming from a density between bubble and dew densities, it f

[2019-10-21 11:39] HansOlsson commented on #3163
The bug-report lacks two parts:

- The actual error messages.
- The desired result. In this case the goal seems to be to get a specific density and temperature, and I don't know if it is achievable.

[2019-10-21 11:54] beutlich commented on #3163
True. Hopefully @wischhusen has enough information for an analysis.

[2019-10-21 12:09] wischhusen commented on #1575
I tried to define a dummy derivative function getPhase_ph_der (always returning 0) of getPhase_ph as a test. Dymola always warns about incompatible types for the outputs (which is Integer in both cases). Changing the output type of phase and phase_der to Real is accepted. Would it not make sense to symbolically substract Integer inputs from the list of derivatives (when differantiating functions)

[2019-10-21 12:37] HansOlsson commented on #3163
As for the desired result I believe that it can be computed as follows:

[code]

[2019-10-21 12:47] wischhusen commented on #3163
These are the functions:

function getPhase_ph "Number of phases by pressure and specific enthalpy"
  extends Modelica.Icons.Function;
  input AbsolutePressure p "Pressure";
  input SpecificEnthalpy h "Specific enthalpy";

  output Integer phase "Number of phases";

protected
  SaturationProperties sat(psat=p, Tsat=0)
    "Saturation temperature and pressure";
  Modelica.SIunits.SpecificEnthalpy h

[2019-10-21 13:17] tobolar commented on #2752
You mean to go through all &lt;pre&gt;s?

[2019-10-21 13:36] tobolar commented on #3158
@MartinOtter  Any concern to change this?

[2019-10-21 14:47] #2304 closed

[2019-10-21 14:48] beutlich commented on #2752
Yes.

[2019-10-22 09:21] christiankral commented on #3162
Some simulators, e.g. LTSpice,

![image](https://user-images.githubusercontent.com/4184218/67272976-de795280-f4bd-11e9-8b94-2fcf9f6baab4.png)

only use the circular symbol, so on my opinion the change is OK.

[2019-10-22 11:02] sergniko opened #3164 "Add an arrow to icon of SweptVolume?"
Is it a good idea to add an arrow to **Fluid.SweptVolume** as for most of **Translational.Components**?
In class documentation it is said: "The force of the flange results from the pressure difference between medium and ambient pressure and the cross sectional piston area". But nothing about sign convention.
For me, as a new user, it took a lot of time to understand why the force is negative while

[2019-10-22 11:29] beutlich commented on #3164
@christiankral As we no longer have active library officers for Fluid and as @sergniko referred to Mechanical.Translational, could you please take care of it? Thanks a lot.

[2019-10-22 14:52] beutlich commented on #3163
@wischhusen How does your reply connect to the author's issue? Should it have been gone to #1575 instead?

[2019-10-22 15:07] beutlich commented on #2636
@casella Reminder: Can you please update the description comments in Fluid as reported?

[2019-10-22 15:15] beutlich commented on #1516
@GallLeo That site no longer exists.

[2019-10-22 15:15] beutlich commented on #1516
For cross-reference, see also https://stackoverflow.com/q/55162261/8520615

[2019-10-22 15:25] max-privato opened #3165 "Wrong position of fire input in GTO"
The GTO fire input should be placed in contact or very near the actual gate wire. The present switch, instead, has the fuchsia fire input too far from the gate blue indicator: see the image below.

<img width="1152" alt="Immagine" src="https://user-images.githubusercontent.com/37046832/67302172-c66ef680-f4f0-11e9-8343-e0c67434970f.png">

[2019-10-22 15:34] dietmarw commented on #3165
Just as a comment this position was probably chosen by design. Also present in `IdealThyristor`.
Other components that have a firing signal (e.g., `SimpleTriac`) also route it to the corner. Though they draw also a connection line on the icon. So I would be careful calling this "wrong" but rather discuss if it should be improved or not.

[2019-10-22 17:43] max-privato commented on #3165
I totally agree with @dietmarw position.

I opened this ticket not because I thought something was wrong with the symbol.
Instead, I just evaluated the actual effectiveness of the diagrams.
Consider for instance the following diagram: I think that a connection of the fuchsia line to the gate would surely significantly enhance the diagram appearance and quality.
If we don't want to modify the posit

[2019-10-23 05:05] henrikt-ma commented on #3150
As this was closed via #3152, can you please confirm that it was intentional to resolve this in a way that works poorly with tools that don't eagerly evaluate parameters?

**Quick background for anyone who hasn't been following related issues and pull requests:** The treatment of Modelica parameters in SystemModeler is basically different from the treatment of Modelica constants in the same way as

[2019-10-23 06:19] beutlich commented on #3150
Yes, it was closed intentionally since it was a side-effect regression by 891d6c34087cc20954c6c8a6b331341e5aece90f when implementing #3058. And it resolves the @perost's primary request to fix the invalid modifier.

What you prefer is clearly an enhancement as @AHaumer tried to do in his commit inconsistently. I am all in favour to get this resolved in a clean way. Please open a new issue for it a

[2019-10-23 06:19] #3150 closed

[2019-10-23 06:58] wischhusen commented on #3163
True, sorry.

[2019-10-23 06:59] wischhusen commented on #1575
These are the functions:
[code]
[code]
The error message received from Dymola 2020 is:
[code]

[2019-10-23 07:43] dietmarw commented on #3165
What I could think of is adding a dashed line so these would look like:
![image](https://user-images.githubusercontent.com/9332/67369522-70926100-f579-11e9-845e-23627e9d7818.png)
Without changing  the position of the connector.
What do you think?

[2019-10-23 07:49] henrikt-ma commented on #2941
The point of this issue is that the way this model tries to initialize is not standard.

I think it has been established that Modelica models can have equation systems that pass through numerical singularities, and this is generally not a big problem when solving the equations if it only happens during integration at isolated points in time.  It is a bigger problem if numeric singularity happens d

[2019-10-23 07:59] dietmarw commented on #3165
One thing I *did* notice is that the symbol of the thyristor is actually that of a GTO, i.e. the bar across should not be there. Here is what I would change the symbols to so that they actually are more correct and clean:
![image](https://user-images.githubusercontent.com/9332/67370860-bf40fa80-f57b-11e9-8dd1-f518141cc324.png)
Again, what do you think?

[2019-10-23 08:22] HansOlsson commented on #1575
The underlying problem are expressions that are differentiated as part of index reduction that also have discontinuities (in the original expression). For these cases an integer-expression can only change discontinuously and since it is the phase it seems likely that it actually changes.

So, having getPhase_ph_der does not seem good.

However, it may be that the original problem can be avoided -

[2019-10-23 09:25] beutlich commented on #1575
Who can do it? @HansOlsson @wischhusen @hubertus65 @thorade ?

[2019-10-23 09:34] beutlich commented on #2032
Since MSL v4.0.0 is based on Modelica language specification version 3.4 the issue is clarified.

[2019-10-23 09:34] #2032 closed

[2019-10-23 09:50] beutlich opened #3168 "Missing concept for handlig the initial conditions of capacitances"
See https://github.com/modelica/ModelicaStandardLibrary/issues/2146#issuecomment-387703451.

[2019-10-23 09:52] beutlich commented on #2146
The short-term issue was resolved by 5eaf686e024d61533d1095b421fbaeddb084f385, aa6b3d0b66c5bad8d15d86981b691ec34c941618 and 68f6be7ed9dd65c8fffe7e4e0d85c58e69f37640 already for MSL v3.2.3.

The long-term issue will be considered in #3168. It is unlikely that it will be resolved for MSL v4.0.0.

[2019-10-23 09:52] #2146 closed

[2019-10-23 09:55] beutlich commented on #1906
@HansOlsson Since MSL v4.0.0 comes with a conversion script, could you please continue the started work. Thanks a lot.

[2019-10-23 09:57] beutlich commented on #1913
@hubertus65 @thorade Can you please comment on @HansOlsson's analysis? Thanks a lot!

[2019-10-23 10:03] wischhusen commented on #1575
@HansOlsson For calculating the derivatives of the states we do not need the derivative of "phase". I did not find a better way to introduce the dummy function to make it clear.

And yes, the number of phases only change on the phase boundaries.

Well, the solution could be to introduce function setState_phX_der? And use noDerivative on state.phase, right?

[2019-10-23 10:24] max-privato commented on #3165
I agree with both your proposals: the connecting lines for thyristor and GTO form me are ok.
I also agree that the thyristor symbol with the bar across is that of a GTO and therefore should be corrected.

[2019-10-23 10:32] dietmarw commented on #3165
PR created that changes the design to the following:
![image](https://user-images.githubusercontent.com/9332/67384289-2f0db000-f591-11e9-80a5-0c35f3b5ef8e.png)

[2019-10-23 10:39] wischhusen commented on #1575
Here is what I tried to do:

function setState_phX_der
  "Set state for pressure and specific enthalpy (X not used since single substance)"
  input AbsolutePressure p "Pressure";
  input SpecificEnthalpy h "Specific enthalpy";
  input MassFraction X[:]=reference_X "Mass fractions";
  input FixedPhase phase=0
    "2 for two-phase, 1 for one-phase, 0 if not known";
  input Real p_der;
  input Real h

[2019-10-23 11:09] beutlich commented on #671
@HansOlsson Beside the inconsistent appearance in current MSL, there are so many valuable proposals and use-cases on connect lines and connector icons that this issue rather belongs to the Modelica language specification.

[2019-10-23 13:22] HansOlsson commented on #1575
First a general observation: writing smoothOrder in the setState-function should ideally suffice. There should not be a need for the user to write derivatives if they can be auto-generated. That could fairly easily be supported (well, at least in updated tools), but it uncovers a worse problem.

The worse problem is that:
The phase-handling in the Media-libraries doesn't really work in Modelica, s

[2019-10-23 14:28] wischhusen commented on #1575
I think there is no essential reason, why we see phase in the state record. Actually, it is just an informational output. In contrast to the other thermodynamic states it can not be used to calculated other state variables from it. Thus it would be sufficient to place and calculated it in the BaseProperties model. But this change would be non-backward-compatible.

Funny side finding:
state.phase :

[2019-10-23 15:06] tobolar commented on #2752
OK, I will look over it.

[2019-10-24 12:39] eshmoylova opened #3172 "Undefined name in annotation in Mechanics.MultiBody.Visualizers.Torus"
In Modelica.Mechanics.MultiBody.Visualizers.Torus in the following annotation `multiColoredSurface` is used. The name is not defined in the model or in the class from which it extends.
https://github.com/modelica/ModelicaStandardLibrary/blob/6e6180f71adeaeb6257081f226034dff92963848/Modelica/Mechanics/MultiBody/Visualizers.mo#L868-L869

[2019-10-24 13:24] eshmoylova opened #3173 "Negative radius in Mechanics.MultiBody.Visualizers.VoluminousWheel"
The default value for `ri` parameter in Modelica.Mechanics.MultiBody.Visualizers.VoluminousWheel is negative:
https://github.com/modelica/ModelicaStandardLibrary/blob/6e6180f71adeaeb6257081f226034dff92963848/Modelica/Mechanics/MultiBody/Visualizers.mo#L969

Given the default values of other parameters, the value for `ri` is -0.05. Modelica.SIunits.Radius has `min = 0`. `ri` is supposed to be used

[2019-10-24 13:28] eshmoylova commented on #3172
The example model Modelica.Mechanics.MultiBody.Examples.Elementary.Surfaces fails in Dymola pedantic mode due to this unresolved name. Note that the example also uses VoluminousWheel component that has issue #3173 and should fail in the pedantic mode until that issue is fixed.

[2019-10-24 13:29] HansOlsson commented on #3172
This is similar to #2004 but for a different visualizer.

[2019-10-24 17:51] beutlich commented on #3173
@dzimmer @MartinOtter How is it supposed to work?

[2019-10-24 18:24] #3172 closed

[2019-10-25 08:06] GallLeo commented on #1516
I think that has been replaced by https://github.com/ScientificDataFormat

[2019-10-25 13:07] tobolar commented on #3173
Negative values for `ri` shall be enabled. It is just a virtual radius. Proposal: use `SI.Length` instead of `Radius`.

[2019-10-25 13:08] beutlich commented on #3173
OK. Can do.

[2019-10-25 13:13] tobolar commented on #3173
@beutlich PR is yet ready. :-)

[2019-10-28 13:23] eshmoylova opened #3177 "Confusing names for torus parameters"
Modelica.Mechanics.MultiBody.Visualizers.Advanced.SurfaceCharacteristics.torus ans Modelica.Mechanics.MultiBody.Visualizers.Torus use confusing names for the description of the parameters: `ri` and `ro`.
Visualizers.Torus defines:
https://github.com/modelica/ModelicaStandardLibrary/blob/491ccf7885b8c23ba94dda5c9cba61b26b2a932d/Modelica/Mechanics/MultiBody/Visualizers.mo#L857-L858

And SurfaceChara

[2019-10-28 19:17] beutlich commented on #967
Removing milestone after missing feedback.

[2019-10-28 19:20] beutlich commented on #814
Removing milestone after missing feedback.

[2019-10-28 19:22] beutlich commented on #1954
removing milestone

[2019-10-28 20:55] beutlich commented on #2972
I tested it with the following two test models.

[code]

gives the blue curve in

![grafik](https://user-images.githubusercontent.com/14896695/67716696-97fb8a80-f9cc-11e9-834a-76d9b00832cf.png)

and

[code]

gives the red curve. This matches the descriptions and diagrams in [Modelica.Fluid.UsersGuide.ComponentDefinition.WallFriction](https://doc.modelica.org/Modelica%203.2.3/Resources/helpDymola/M

[2019-10-29 11:20] christiankral commented on #3168
The title of this ticket suggests that we have a general problem with initialization of capacitors. I suppose this is not the case. How I understand the ticket, this issue is related with the NPN transistor models in the package `Analog.Semiconductors`.

@beutlich Is this correct? If yes we may consider to update the title of this ticket.

[2019-10-29 13:08] christiankral commented on #2146
I have some more comments on this issue here as #3168 seems (from the title) not the be right place to put them:

1. The NPN model contains the following parameters:

[code]
The parameter description string of `IC` states `Initial value` but it is not clear which quantity this value refers to. Reading the code the initial value `IC` is the potential of the collector, `C.v`.

2. I find it strange t

[2019-10-29 13:14] dietmarw commented on #2146
I agree with @christiankral  that the implicit earthing of the component makes no sense unless it has an additional connector that can be set to a certain potential. I suggest to open a new ticket for this.

[2019-10-29 13:17] christiankral commented on #2146
The included test model is available as [Transistor2.mo](https://gist.github.com/christiankral/d226a3657583cd434264cedab635832c)

[2019-10-29 13:45] beutlich commented on #2146
It is also odd that UIC/IC are only present in NPN, but not in HeatingNPN. I suggest to remove it then from #3178 where I explicitly added it for backward compatibility yesterday.

[2019-10-29 15:44] christiankral commented on #2146
I fully agree. Even the NPN and PNP model are not implemented in the same way as only the NPN includes an initial condition. Yet, I think we shall just go ahead with #3178 and merge and then create a different PR handling

- the initial conditions
- the substrate connector

[2019-10-29 16:27] christiankral opened #3179 "Change parameters of battery models"
As discussed with @AHaumer, from the currently implemented parameter records some parameters shall be removed in order to use only physical parameters in the physical models. This change allows the strict separation of physical parameters and auxiliary calculation records which may be available from data sheets of batteries. Such an approach is already used in:

- `Modelica.Electrical.Machines.Uti

[2019-10-29 18:40] #2899 closed

[2019-10-29 18:43] #3165 closed

[2019-10-29 18:53] beutlich commented on #2146
OK, #3178 is merged with only NPN/PNP left to consider.

[2019-10-29 21:30] christiankral commented on #3056
OK, it makes sense to me to to clarify the wording of the MSL User's Guide. Saying this, we posiibly leave the MSL models as they are, except there is a clear reason to remove some obsolete graphics from the diagram layer.

[2019-10-29 22:11] christiankral commented on #3022
I tried a couple variants but could not find a proper solution. @HansOlsson do you have an idea how this could be implemented?

[2019-10-29 22:41] beutlich commented on #2972
We could also utilize the Modelica.Fluid.Utilities.cubicHermite function in the interpolation functions for the modified wall friction coefficient lambda2 and the Reynolds number. Though it gives less optimized code, it is easier to comprehend. Here is the full example which gives the identical result as above.

[code]

I also recapped and confirmed the interpolation formula for lambda2 as questio

[2019-10-30 10:44] MartinOtter commented on #3158
I agree that it would be better to have  SI units in the interface of FixedRotation (the component uses deg instead of rad, because when it was introduced, tools did not support automatic conversion to from deg to rad and it was annoying to always introduce the conversion manually).

However, I do not think that it is possible to provide a conversion script in a way that existing models are still

[2019-10-30 10:54] HansOlsson commented on #3022
I can't find one either, I can only see one possible legal one - which is messier than the ideas above, but will need to investigate more (and it is anyway not fully implemented in Dymola).

It would still not be intuitive, and I would instead propose that we instead improve the situation in another way: TwoPin contains too much in my opinion, and it would be helpful to have a minimal TwoPin that

[2019-10-30 11:07] HansOlsson commented on #3158
I don't see the problem with a conversion script multiplying a parameter by pi/180.

When converting Modelica.Mechanics.MultiBody from version 2 to 3 this was done for the parameters for setting start-values in several components (Rotor, Revolute) etc.

However, in that case the parameter-name was sort of changed as well. And we could explicitly change the parameter-name as well here, since any mi

[2019-10-30 12:41] HansOlsson commented on #671
Ok, but I don't see that we will be able to handle them quickly. Note that we also must consider the user-interaction in these cases; even if the output connector isn't drawn you should still be able to connect as if it were there (connecting to the existing connection line is a possibility in e.g. Dymola; but it is not as convenient).

[2019-10-30 12:48] HansOlsson commented on #1575
Even if non-backward-compatible it may be the best solution. The question is how large impact it would have, i.e. whether users use `phase` from this record.

BTW: I noticed that phase seem different for this media compared to how I thought 2-phase water operated, and I would say that it is number of phases - not the phase.

[2019-10-30 13:56] beutlich commented on #3168
https://github.com/modelica/ModelicaStandardLibrary/issues/2146#issuecomment-387703451 from @kristinmajetta reads:

To me it sounded that it is a rather general issue.

[2019-10-30 15:41] HansOlsson opened #3181 "Problems with conversions"
Trying to convert ModelicaTestConversion4 in current master gives problems in Blocks and Electrical:

ModelicaTestConversion4.Blocks.Issue813:
  Classes are converted to ObsoleteModelica4.Blocks.Interfaces.Adaptors but ObsoleteModelica4.Blocks seems to be missing.

ModelicaTestConversion4.Blocks.Issue2441 lacks connections to the inputs of the tables (or make it a partial model).

ModelicaTestConv

[2019-10-30 19:11] svorkoetter opened #3184 "Questionable display unit for Modelica.SIunits.Pressure"
The display unit for `Modelica.SIunits.Pressure` is currently "bar". My colleague points out that:

Should the display unit perhaps be changed to "Pa"?

[2019-10-30 19:28] christiankral commented on #3022
So it seems we can only have either one or the other option:

**Option 1:** Modular concept with output `y` (proposal 1)
**Option 2:** Far less modular concept (proposal 2) where we re-write the following equations for each sensor:

[code]

I have, however, to admit that, for example, the current sensor does not have to calculate the magnitude and the angle of the complex voltage or the complex ap

[2019-10-31 07:38] bilderbuchi commented on #3184
Hm, the same article also says

The bar has been legally recognised in countries of the European Union since 2004.

so opinions seem to be split.

Also

and from my practice I can confirm both statements. In fact, the primary issue I experience is that one really has to be careful about clarifying which of `bar(g)` and `bar(a)` is used.

Another point is that, for ease of plotting, I try to make i

[2019-10-31 09:03] HansOlsson commented on #3184
I don't think we should try to invent a new standard for pressure, but adapt to existing practice - and unfortunately that is a bit of a mess. And the problem with MPa is that normal atmospheric pressure is around 0.1 MPa which is slightly awkward.

And bonus fact for the mathematicians:
Bar pressure is also used within the world of coffee in almost all espresso machines, where nine bars of pressu

[2019-10-31 09:09] HansOlsson commented on #3022
To me the voltage-sensor becomes easier to understand if we remove the unnecessary variables (like magnitude, angle, apparent power etc).

One of the issues is that we stuff so much functionality into the components that it may create a barrier for new users.

[2019-10-31 14:08] bilderbuchi commented on #3184
yeah, but 1e5 Pa seems even more awkward, no? 😄

[2019-10-31 14:17] HansOlsson commented on #3184
True, but there is also 100 kPa; but that isn't popular either.

[2019-10-31 15:04] svorkoetter commented on #3184
My vote would be for kPa. That is how weather is reported here anyway. 100kPa isn't that far away from unity.

[2019-10-31 21:14] dietmarw commented on #3184
Given that this ticket was originally about the concern "bar" no longer being allowed as SI unit and this actually not being the case I would be very careful changing the default display. In the engineering domain "bar" is still extremely common used unit. Changing this would have a negative impact in my opinion.

[2019-11-01 10:56] wischhusen commented on #1575
Good question ... . I think, most users would use the functions and not the record. Thus, we need to convert these calls.

From the developers point of view we could substitute state.phase by evaluating input states like p, h, d, T in order to find out wether one is in one-phase or two-phase. I think that the idea was to get rid of these evaluations requiring some calls of saturation property func

[2019-11-02 08:52] beutlich commented on #2961
Seems to have been clarified for upcoming MSL v4.0.0.

[2019-11-02 08:52] #2961 closed

[2019-11-02 08:56] beutlich commented on #2478
OK. Thanks.

[2019-11-02 08:56] #2478 closed

[2019-11-02 08:57] beutlich commented on #2083
Not feasible for MSL v4.0.0 -> removing milestone.

[2019-11-02 08:58] beutlich commented on #2633
Not feasible for MSL v4.0.0 -> removing milestone.

[2019-11-02 09:00] beutlich commented on #1808
@JoeRiel Do yo think you could provide a pull request? I can take care of the conversion and test afterwards. Thanks you.

[2019-11-02 09:00] beutlich commented on #1410
Not feasible for MSL v4.0.0 -> removing milestone.

[2019-11-02 09:05] beutlich commented on #2946
@MartinOtter @tobolar Any feedback?

[2019-11-02 09:07] beutlich commented on #2717
@casella Is this a shortcoming or rather an enhancement?

[2019-11-02 09:08] beutlich commented on #2692
@HansOlsson Friendly reminder.

[2019-11-04 07:05] beutlich commented on #2820
The syntax of the keywords, e.g. in [ModelicaReference.'import'](https://doc.modelica.org/ModelicaReference%203.2.3/Resources/helpDymola/ModelicaReference.html#ModelicaReference.'import') is

* a partial duplication of the [Modelica Grammar](https://doc.modelica.org/ModelicaReference%203.2.3/Resources/helpDymola/ModelicaReference.html#ModelicaReference.ModelicaGrammar)
* outdated, since it still i

[2019-11-04 08:30] HansOlsson commented on #3181
I realized that it was best to directly check the conversions in more detail and found:

- [ ] The conversion is to `ObsoleteModelica4.Blocks.Interfaces.Adaptors.X` but the classes are named `ObsoleteModelica4.Blocks.Interfaces.X`. I don't which name is best.
- [ ] There is a conversion to `Modelica.Magnetic.FundamentalWave.Interfaces.BaseClasses.Machine` but the new class is called `Modelica.Magn

[2019-11-04 11:00] christoff-buerger commented on #2923
I would vote for `signalVoltage2 `; but as you say, it likely requires adjustment of existing models, where its applications have to be flipped once (for example vertically in your example).

If I am the only one annoyed by the new unconnected icon design, then I guess, it's as you say: leave everything as it is. Considering the little response so far, I say just close the ticket.

It would be nic

[2019-11-04 19:35] beutlich commented on #3181
#3198 fixes all but the third case.

As for the third case, I explicitly tested that the mentioned conversion rule

[code]

has to be present. See our previous conversation in https://github.com/modelica/ModelicaStandardLibrary/pull/2898#issuecomment-504945873.

[2019-11-04 20:40] beutlich commented on #2672
Removing milkestone after missing feedback from library officers.

[2019-11-04 20:46] beutlich commented on #2474
@tobolar What is your time schedule regarding MSL v4.0.0?

[2019-11-04 20:51] beutlich commented on #609
I believe we cannot get this sorted out for MSL v4.0.0. Therefore, removing milestone.

[2019-11-04 20:54] beutlich commented on #2259
Removing milestone after missing feedback from library officer.

[2019-11-04 20:56] beutlich commented on #2574
Removing milestone since it is not clear yet if and how to fix.

[2019-11-05 09:50] Ciobrelis opened #3199 "Accessing parameters in other models"
It is rather a general question and hopefully someone could help me.

I have a parameter under section _protected_ that is needed for further calculations:
`parameter Integer Ns = integer(ceil(L / dx))`
It shouldn't be modified that's why I placed it there.
However, I want to access this parameter while building my general model. Something like:
`componentName.Ns`

But as it is under protected sec

[2019-11-05 09:59] dietmarw commented on #3199
This issue tracker is for issues regarding the Modelica Standard Library and not for general support questions. For those you should post your question on https://stackoverflow.com/tags/modelica and people will help you.

[2019-11-05 09:59] #3199 closed

[2019-11-05 10:33] hhammondscott opened #3200 "Need to normalize vector in"

[2019-11-05 10:34] #3200 closed

[2019-11-05 11:03] hhammondscott opened #3201 "Need to normalize input vectors to Modelica.Mechanics.MultiBody.Parts.FixedRotation if vector length small"
One of our customers reported this issue to us. They were creating a inboard anti-roll bar model from components in the Modelica standard library. To get the mechanism to initialise in the correct arrangement they needed to normalize the vector inputs, **n_x** and **n_y**, to the Modelica.Mechanics.MultiBody.Parts.FixedRotation named **blade_frame_b** in the mechanism. The customer believe that th

[2019-11-05 12:43] dietmarw commented on #2820
I agree. Instead of listing the syntax we should simply point to `ModelicaRerence.ModelicaGrammar`.  In a addition the example should be changed since it demonstrates the usage of wildcard imports, something that we at the same time emphasise to not use.

[2019-11-05 18:33] beutlich commented on #3201
I can reproduce with MSL v3.2.3. As already reported, it all boils down to that the created orthogonal system in Modelica.Mechanics.MultiBody.Frames.TransformationMatrices.{from_nxy, from_nxz} (even if the input vectors are already orthogonal) does not correctly consider the vector length.

[code]

Again, as reported, the workaround is to always have normalized vectors as inputs to from_nxy and fr

[2019-11-06 15:42] thorade commented on #3099
As both variables are named `u` I would assume they really should both use SI.SpecificInternalEnergy.
https://en.wikipedia.org/wiki/Specific_internal_energy
Using a different type seems to have no benefit, and it is OK to change it to be consistent. I assume it was just not noticed because Dymola did not complain.

So, the real question here is not about thermodynamics, but about the language spec

[2019-11-06 16:06] HansOlsson commented on #3099
I thought both should use the Media-package specific SpecificInternalEnergy (and not SI.) - since I thought the intent was to use them to allow different scaling.

I agree that they don't seem identical and we should detect that. I believe the issue may be related to the redeclare extends.

[2019-11-06 16:11] maltelenz commented on #3099
So we agree the model as it stands is illegal?

[2019-11-06 16:12] HansOlsson commented on #3099
Yes, as far as I can see.

[2019-11-06 21:01] beutlich opened #3205 "Update Modelica.Media.Common.OneNonLinearEquation?"
@HansOlsson When [Modelica.Media.Common.OneNonLinearEquation](https://doc.modelica.org/Modelica%203.2.3/Resources/helpDymola/Modelica_Media_Common_OneNonLinearEquation.html#Modelica.Media.Common.OneNonLinearEquation) was invented some 15 years ago, there have been a lot of restrictions on both Dymola and the Modelica language.

https://github.com/modelica/ModelicaStandardLibrary/blob/1ddb4fb2fb32a

[2019-11-06 21:12] beutlich commented on #3205
Got it, [Modelica.Math.Nonlinear.solveOneNonlinearEquation](https://doc.modelica.org/Modelica%203.2.3/Resources/helpDymola/Modelica_Math_Nonlinear.html#Modelica.Math.Nonlinear.solveOneNonlinearEquation) (introduced by 613505fc410ca1ef604892a6c29298c740bc3dca for MSL v3.2) is the way to go.

[2019-11-07 17:16] #2692 closed

[2019-11-07 17:25] #3181 closed

[2019-11-07 22:01] #3099 closed

[2019-11-07 22:19] beutlich commented on #3205
Addressed by #3207.

[2019-11-08 07:51] #3075 closed

[2019-11-08 09:31] #2438 closed

[2019-11-08 10:28] HansOlsson opened #3210 "Modelica.Electrical.Spice3.Internal.MOS2 lacks equations"
When checking #3190 I noticed that Modelica.Electrical.Spice3.Internal.MOS2, Modelica.Electrical.Spice3.Semiconductors.M_NMOS2, Modelica.Electrical.Spice3.Semiconductors.M_PMOS2 lacked 22 Real equations.

I believe the reason is that Modelica.Electrical.Spice3.Internal.Mos.mos2CalcNoBypassCodeRevised was changed to not return some internal variables (like qm); but those variables are still declare

[2019-11-08 17:02] beutlich commented on #3210
Confirmed. This was overlooked when merging #3017.

[2019-11-08 18:07] #3210 closed

[2019-11-11 07:05] AHaumer opened #3218 "Improvements of FluxTubes"
Using FluxTubes to prepare examples of magnetic cricuits for teaching the basics of electrical engineering, I found some improvements:
- [x] Improvement of documentation and reference arrows of ElectroMagneticConverter (should be electric current and magnetic voltage resp. mmf) - see #3220
- [x] Include a hint that correlation between electric and magnetic values is according to a "right-hand scre

[2019-11-11 08:44] AHaumer commented on #3218
@christiankral should'nt we apply the same improvements to QuasiStatic.FluxTubes?

[2019-11-11 11:34] HansOlsson commented on #2934
I tried to add the sensors as above and the result was:

![LossyGearDemo1](https://user-images.githubusercontent.com/13217430/68584300-7cd65380-047f-11ea-883c-9dc1779a5797.png)

[code]
Would this be ok as a PR? (And similarly for LossyGearDemo2?)

[2019-11-11 15:23] d94pn opened #3221 "ModelicaInternal.c and NO_FILE_SYSTEM"
Hello,
The majority of the file inclusions are guarded by the preprocessor variable NO_FILE_SYSTEM.
However, lines such as:

124: #include <string.h>
131: #include <unistd.h>

..are not. Is this on purpose?

[2019-11-11 18:57] #3205 closed

[2019-11-12 20:38] #3221 closed

[2019-11-13 10:41] #1861 closed

[2019-11-13 17:44] MartinOtter commented on #2934
This is the code to compute tau_loss and I consider this not a simple formula:
[code]
Once tau_loss is computed, the loss power is simply computed by `lossPower = tauLoss*w_a;`. If there is a bug in the code for tau_loss, then the lossPower will be wrong. To check the correctness, the loss power is computed in the examples by the sum of the powers over all connectors. This computation is only poss

[2019-11-13 17:50] MartinOtter commented on #2934
When improving the model in this respect, the difference with the internally computed loss power should be added and explaining that this should be close to zero.

[2019-11-13 18:35] MartinOtter commented on #3177
Simplest probably to change the description texts.

- ri: Distance from the center of the tube to the center of the torus,
- ro: Radius of the tube.

Would be good to add a figure to make this clear.

I agree, the naming of the parameters could be better. However, names such as major/minor radius are also not completely obvious.

[2019-11-13 20:45] beutlich commented on #3168
I believe, the unused parameter `UIC` of Modelica.Electrical.Spice3.Basic.C_Capacitor also belongs here.